[2016-03-15 22:00] moollaza commented on #2584
@fzzr- thanks for the link -- it looks like the issue may actually be related to the favicon for the domain. That appears to be taking 2.0s for me and we're waiting that whole time to render the result.

This may actually be an internal issue if that's the case. I'm going to have the team take a look..

[2016-03-15 22:08] moollaza commented on #2584
I just noticed that the IA Page and `name` in the JS don't match. We should switch these over to `Answer`. I suspect that will solve the problem. It's not switching to the correct tab because it's trying to open a "Currency" but the IA specified "Bitcoin Block", which doesn't match.

[2016-03-15 22:17] MrChrisW commented on #2584
@moollaza I've seen issues with the response time of the upstream IA before.

I'll make the above fix. Unfortunately I think the API may be to blame.

[2016-03-15 22:20] moollaza commented on #2584
@MrChrisW i've just made a fix^

[2016-03-15 22:31] #2584 closed

[2016-03-16 17:30] b2ddg opened #2591 "Movie: relevancy change"
I think something changed with relevancy based on the upstream response. Linking a commit here to demonstrate the change, https://github.com/duckduckgo/zeroclickinfo-spice/commit/aa184b2a176b43fbc35b1905badced65bd2707ff

------
IA Page:  http://duck.co/ia/view/movie
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @moollaza

[2016-03-16 19:06] zachthompson opened #2593 "Yoga Asanas: Broken display"
All postures from ashtangayoga.info displaying as "(transitional)".

------
IA Page:  http://duck.co/ia/view/yoga_asanas
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @zachthompson

[2016-03-16 19:07] #2593 closed

[2016-03-17 01:33] #2591 closed

[2016-03-17 11:23] MrChrisW opened #2594 "Public Holidays: Merge duplicate date/events"
Events on the public holidays IA are repeated several times when the only change in data is the region.

This is due to the API returning the same event with a new id and new ` "states"` -  [api response](https://gist.github.com/MrChrisW/36f6a27e7d4e52be9305#file-json-L288). Maybe we can merge these events into a single item on the table?

Examples:

https://beta.duckduckgo.com/?q=public+holidays+

[2016-03-17 15:02] moollaza commented on #2594
@MrChrisW good catch! -- For some reason I don't see Cesar Chavez day at all for the first link. However with the recent updates to this IA (adding local holidays) I see duplication in the results:

https://beta.duckduckgo.com/?q=public+holidays+in+united+states&ia=answer&iax=1

[2016-03-17 18:17] moollaza opened #2595 "ProductHunt: Tiles have inconsistent height"
It looks like we need to set the `tileTitle` variant to `"2line"` so that the card height is consistent.

------
IA Page:  http://duck.co/ia/view/product_hunt
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @sevastos

[2016-03-17 19:22] DarthKriss opened #2596 "Videos:"
------
IA Page:  http://duck.co/ia/view/videos
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @bsstoner

[2016-03-17 20:51] #2572 closed

[2016-03-17 20:51] jagtalon commented on #2572
thanks, @marianosimone!

[2016-03-18 00:26] zachthompson commented on #2596
@DarthKriss was there a real issue here or just a mistake?

[2016-03-18 02:54] MrChrisW commented on #2594
@moollaza

Yup, I was testing it out on BETA! :wink:

[2016-03-18 03:12] #2596 closed

[2016-03-18 21:31] jagtalon commented on #2503
This has been implemented! https://duck.co/blog/post/291/directions

[2016-03-18 21:31] #2503 closed

[2016-03-18 23:50] mattr555 commented on #2552
Should be good to go now, the data needed to be updated. Automatic downloads of the transit data is something I really want, but the process is pretty arcane (you need to log in with an account). Would definitely help to increase the [bus factor](https://en.wikipedia.org/wiki/Bus_factor) :wink:

[2016-03-18 23:50] #2552 closed

[2016-03-19 07:05] rasikapohankar commented on #2595
@moollaza : Hi! I tried fixing this. Adding tileSnippet to the list of variants is making the heights consistent, since it was the product description that had a different number of lines for some of the tiles, tried with both tileSnippet as small and large,  What do I do next? How to verify that this will work for all kinds of queries?

[2016-03-19 11:18] sekhavati commented on #2594
@MrChrisW Thanks for pointing this out. Please assign this issue to me and I'll fix it. Looks like the API is returning multiple objects for the same holiday with a differing set of `states`. Each have the same `id` though so I think it should be fairly straight forward to fix this.

[2016-03-19 15:08] fzzr- opened #2599 "Cryptocurrency: "1 Eth" should show conversion, not Wikipedia info"
For example:
- [1 Ltc](https://duckduckgo.com/?q=1+ltc&ia=cryptocurrency) - OK.
- [1 Eth](https://duckduckgo.com/?q=1+Eth&ia=cryptocurrency) - **NOT** (Wiki)

---

IA Page:  http://duck.co/ia/view/cryptocurrency
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @claytonspinner

[2016-03-19 20:09] #2595 closed

[2016-03-19 20:25] #2594 closed

[2016-03-20 01:12] MrChrisW commented on #2594
@sekhavati Thanks for the quick fix. It's great to see the holidays IA continually improving! :+1:

[2016-03-20 02:39] jagtalon opened #2603 "Currency: Regression: Flags are too big on mobile"
https://duckduckgo.com/?q=9000+php+to+usd&ia=currency

![image](https://cloud.githubusercontent.com/assets/81969/13902562/6d8b17e2-ee23-11e5-9904-883ad28cb5ee.png)

---
IA Page: https://duck.co/ia/view/currency
Maintainer: @MrChrisW

[2016-03-20 02:42] jagtalon opened #2604 "ProductHunt: Tile sizes are inconsistent"
![image](https://cloud.githubusercontent.com/assets/81969/13902571/c49a6628-ee23-11e5-9982-45221e6f746f.png)

The sizes sre different for some of the tiles. They should all have the same size.

[2016-03-20 14:59] moollaza opened #2605 "ExpandURL: API Gone offline - Update to new API: ExpandURL.com"
It looks like http://longurl.org is offline -- For now I've turned off this IA. We need to determine if the API is offline permanently and if so, find an alternative or remove the Instant Answer until we have an API.

------
IA Page:  http://duck.co/ia/view/expand_url
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @adman

[2016-03-20 15:07] moollaza commented on #2605
It looks like there is another free API we can use, aptly named, ExpandURL:

http://expandurl.com/api.php

Anyone interested in porting this IA?

[2016-03-20 15:49] levaly commented on #2581
@moollaza I will add support for these cases in the coming days.

[2016-03-20 23:53] mattr555 commented on #2604
@jagtalon should have been closed in #2598.

[2016-03-21 12:36] #2604 closed

[2016-03-21 12:36] moollaza commented on #2595
It looks like it's been merged, so I'd say give yourself a pat on the back! Thanks again for fixing that bug!

[2016-03-21 12:42] MrChrisW commented on #220
This can be fixed by adding support for IDN within the regex query https://github.com/duckduckgo/zeroclickinfo-spice/blob/master/lib/DDG/Spice/IsItUp.pm#L8

[2016-03-21 13:04] rasikapohankar commented on #2595
@moollaza : Thanks for the encouragement! :smile:

[2016-03-21 13:58] jagtalon commented on #2604
Oh, I missed that! Thanks @mattr555!

[2016-03-21 13:59] jagtalon opened #2609 "Dictionary: "define fungi" shows two play buttons"
And they're in the subtitle--it should be right beside the title.

https://duckduckgo.com/?q=define+fungi&ia=definition
![screen shot 2016-03-21 at 9 58 58 am](https://cloud.githubusercontent.com/assets/81969/13920893/9bd1080e-ef4b-11e5-8b73-34fb90a685aa.png)

---
https://duck.co/ia/view/dictionary_definition
Maintainer: @jagtalon

[2016-03-21 14:30] moollaza opened #2611 "Time: Off by 1-hour for DST affected locations"
DST has taken affect and so times have shifted by 1 hour. It looks like we're not using the API's results but instead we're using Moment.js to parse the timezone -- this is leading to incorrect information.

When I inspect the results from the API everything looks correct. Similarly, a new JS Date object also has the correct info.

We should trust the API when the location is deemed relevant. I do

[2016-03-21 14:30] moollaza commented on #2611
/cc @duckduckgo/community-leaders -- we need to fix this ASAP if someone is available.

[2016-03-21 14:49] MrChrisW commented on #2611
Can you provide some example queries?

[2016-03-21 14:55] moollaza commented on #2611
@MrChrisW it turns out the problem isn't really with the IA, it's with the anonymized location our Location API gives for my IP. It's giving a location 1200KM away which happens to be in the next time-zone over, so the IA is working correctly.

@MrChrisW I think what we'll want to do is trust the API if we deem the location to be relevant, instead of using DDG's `$loc`

[2016-03-21 15:04] MrChrisW commented on #2611
@moollaza :+1: Right... These changes were introduced in #2357

You want to check the relevancy of the location returned by DDG `$loc` with the API response and present a result? However that won't fix any issues if the provided `$loc` is incorrect.

[2016-03-21 15:23] moollaza commented on #2603
@jagtalon what width are the images supposed to be?

[2016-03-21 15:25] moollaza commented on #2599
@fzzr- I'm a little unclear -- are you saying you're not seeing the currency IA for that query and you'd like to?

I'm seeing the currency IA first which seems correct to me.

[2016-03-21 17:53] fzzr- commented on #2599
@moollaza Yes. Last time it was not.

Now I see "Cryptocurrency". I'm not sure in the correctness of this behavior. Focus I didn't change.

* ![screen shot 2016-03-21 at 20 49 11](https://cloud.githubusercontent.com/assets/888526/13928379/d0f3a678-efae-11e5-8152-78c37c533404.png)
* ![screen shot 2016-03-21 at 20 48 55](https://cloud.githubusercontent.com/assets/888526/13928389/db5431be-efae-11e5-9

[2016-03-21 23:54] moollaza commented on #2611
@MrChrisW yeah you're right, I'm not sure what I was thinking -- I think we need to update our GeoIP Database :+1:

[2016-03-22 08:16] ScreapDK commented on #2583
Sorry, if this is the wrong place to report (separate issue?):
Searching for

[2016-03-22 13:37] MrChrisW commented on #2583
@ScreapDK Looks like the same issue - Upstream API is broken
http://www.brainyquote.com/api/ddg?q=about%20motivation

[2016-03-22 19:27] moollaza commented on #2583
I believe the API they provided to use was only intended to be used for quotes by a named author. Getting support for topics would be nice though

[2016-03-22 19:57] jagtalon commented on #2603
@moollaza It should be like this:

![](https://cloud.githubusercontent.com/assets/81969/4762660/1bc2622e-5b05-11e4-9f97-a43365d309d2.png)

![](https://cloud.githubusercontent.com/assets/81969/4762661/1bc44242-5b05-11e4-97d9-8beaa2fa53cb.png)

[2016-03-22 19:58] moollaza commented on #2609
Hey @duckduckgo/duckduckhack-active-contributors! Anyone interested in fixing this issue?

It'll require a bit of JS knowledge. We had made some changes the the DDG Playbutton for the [Forvo Spice](https://duck.co/ia/view/forvo) and I think this IA will need some adjustments as a result.

A good place to start looking is here: https://github.com/duckduckgo/zeroclickinfo-spice/blob/master/share/spi

[2016-03-22 20:16] moollaza commented on #2603
@duckduckgo/duckduckhack-active-contributors anyone interested in tackling this?

Please leave a comment to let us know!

The issue here is that the image needs to have a fixed size so that on retina screens we're rendering the 2x sized image at the original size, instead of at 2x the size.

[2016-03-23 09:59] MrChrisW commented on #2583
@moollaza Interesting, the example triggers contain `quotes about motivation` - https://duck.co/ia/view/brainy_quote

[2016-03-23 12:35] mintsoft commented on #2583
@MrChrisW I'm pretty sure it worked at some point. Same as feynman; I'm 90% sure I've used it in the last 2 years!

[2016-03-23 13:05] MrChrisW commented on #2583
@mintsoft :+1: Definitely!  - Topics should work, see the original MR https://github.com/duckduckgo/zeroclickinfo-spice/pull/340

[2016-03-23 13:30] moollaza commented on #220
@duckduckgo/duckduckhack-active-contributors anyone interested in tackling this?

As @MrChrisW mentioned, the required fix is updating the regex linked above to be a little more unicode friendly. Right now it limits the accepted URLs to those which contain `a-zA-Z0-9`

[2016-03-23 18:34] #1305 closed

[2016-03-24 02:02] altern8tif commented on #220
@moollaza will work on this.

Also noticed that the [newer TLDs](https://www.wikiwand.com/en/List_of_Internet_top-level_domains#/ICANN-era_generic_top-level_domains) don't work with this Spice.

[2016-03-24 02:15] MrChrisW commented on #220
@altern8tif - I think we should move to using something like [`Domain::PublicSuffix`](http://search.cpan.org/dist/Domain-PublicSuffix/lib/Domain/PublicSuffix.pm) and avoid using Regexp to phrase domains.. which is generally a bad idea.

See an example usage in Whois:
https://github.com/duckduckgo/zeroclickinfo-spice/blob/master/lib/DDG/Spice/Whois.pm#L16-L17

@moollaza Would it be possible to keep

[2016-03-24 20:42] EpicWolverine opened #2621 "Forvo: Layout breaks with long words on small screens"
Search results with long words/phrases break the layout on small screens where the result must take up more than one line. For example, searching "pronounce cheese" on the iPhone 6 returns "Peter Anderson cheese [en]", which wraps and takes up two lines in portrait. This causes all of the genders, nationalities, and flags on the right to be offset down by almost a line.
![asset](https://cloud.gith

[2016-03-25 20:06] Feral2k commented on #2513
@theaverageguy Thanks so much for fixing this issue. Have you made a pull request yet? I've been looking but maybe it went under my radar.

[2016-03-25 21:46] moollaza commented on #2548
@xaviervalarino apologies for the delay and thanks for the excellent work! This is really awesome.

I'm not sure I love adding the additional links into the subtitle because we purposely chose to only put Twitter and GitHub there before (we were getting too many links in the subtitle and it didn't look great).

However removing them altogether and not displaying them seems sketchy.

I think for no

[2016-03-26 02:54] John-O-Really opened #2623 "Currency: Default conversion is to Euro, not local currency if location is given"
This is a suggestion, if possible it would make a ton of sense if the default conversion used the local currency.
Here's an example.

Currently searching for "$10" will respond with the conversion in euros. To change it to GBP I have to suffix the figure with "in GBP". I've given DuckDuckGo my region information for relevant results. Ideally this could be used for the default conversion. So search

[2016-03-26 08:20] kanishkablack opened #2624 "Currency: Indian numbering system"
Support of Indian numbering system

https://en.wikipedia.org/wiki/Indian_numbering_system

------
IA Page:  http://duck.co/ia/view/currency
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @MrChrisW

update: added wiki

[2016-03-26 09:41] MrChrisW commented on #2527
@Co2p Thanks you for the suggestion, this is currently being addressed in #2069 - although there's not much process at this stage. I'll close this as a duplicate.Thanks!

[2016-03-26 09:41] #2527 closed

[2016-03-26 09:41] MrChrisW commented on #2623
@John-O-Really Thanks you for the suggestion! this is currently being addressed in #2069 - although there's not much process at this stage. I'll close this as a duplicate.Thanks!

[2016-03-26 09:41] #2623 closed

[2016-03-26 09:42] MrChrisW commented on #2074
@unhammer Thanks you for the suggestion! this is currently being addressed in #2069 - although there's not much process at this stage. I'll close this as a duplicate.Thanks!

[2016-03-26 09:42] #2074 closed

[2016-03-26 09:42] MrChrisW commented on #2069
@moollaza Any update on exposing the `DDG.settings.region` setting?

[2016-03-26 09:45] MrChrisW commented on #2624
@kanishkablack Thanks for your suggestion, currently we're focused on English based instant answers until localization is improved.

[2016-03-26 09:48] MrChrisW commented on #2599
I think this is just a race condition based on which `duckbar` tab is loaded first. I've attempted to replicate this and am unable.

[2016-03-26 18:56] thistleBgood opened #2625 "Timer: continues to wiggle after alarm sound has been dismissed"
Had multiple instant answer timers open at once, only one counting down. When it ran out, it did the usual notification of making a trilling sound and wiggling back and forth. I think I clicked somewhere in the instant answers area, somewhere within the red box shown on the attached image. When I did so, the sound stopped and it reverted to the display shown in the picture, but it continued wiggli

[2016-03-26 19:00] GuiltyDolphin commented on #2625
@thistleBgood I noticed this once when adding a countdown to the tab name... Never saw it happen since. Have you managed to reproduce the behavior?

[2016-03-26 19:44] flygeneticist commented on #2603
Hi @moollaza, I'll try and take a shot at this!

[2016-03-26 22:22] thistleBgood commented on #2625
Unfortunately not. I was surprised to encounter it, and wasn't paying attention to where I was clicking, hence the imprecise boundaries of the box in the screenshot. I tried to get it to work with other timers in other tabs but they behaved properly every time I did.

[2016-03-27 04:06] xaviervalarino commented on #2548
@moollaza I can implement your feedback on Monday and then create a PR. Would it be best to use the `zci__links` class?

[2016-03-27 08:55] GuiltyDolphin commented on #2625
@thistleBgood Hmm... Are you at all versed in JS? If so, the appropriate code (I believe) is the [shake function](https://github.com/duckduckgo/zeroclickinfo-spice/blob/master/share/spice/timer/timer.js#L94). I'll have a peer myself and let you know if I spot anything weird.

[2016-03-27 20:01] valvin1 opened #2629 "Forecast: Weather translation and country selection"
When I'm searching the weather forcast for my country (France) I'm searching "météo CITY_NAME" "météo" is the french translation of "weather" which is the current keyword to trigger this Instant Answer.

1/ is it possible to trigger this IA with this french translated keyword ? maybe it concerns other languages ?

"CITY_NAME" is a the city name (in french) located in France. I am using DDG without

[2016-03-28 06:13] azurely opened #2630 "Forvo: inconsistent results"
When triggered with searches such as `pronounce duck` or `how to say electrophotomicrographically`, it works as expected.

Sometimes only one trigger works:
- [x] `pronounce Ralph Fiennes`
- [x] `how to pronounce ralph fiennes`
- [x] `ralph fiennes how to pronounce`

(sorry ralph)

------
IA Page:  http://duck.co/ia/view/forvo
Maintainer: @alexbaforvo

[2016-03-28 14:05] moollaza commented on #2625
@thistleBgood @GuiltyDolphin It looks like clicking outside the tile stops the animation but doesn't reset the tile from the "completed" state (green checkmark).

Definitely an issue around the click handler

[2016-03-28 20:12] zekiel commented on #220
@MrChrisW are you able to assign to @altern8tif  if you want to pass along? Just curious if that works since you have commit access (also, if you want to hold on to the task).

[2016-03-28 20:16] zekiel commented on #2603
@moollaza please assign to @flygeneticist  when you're able. I just sent an invite.

Thanks again @flygeneticist !

[2016-03-28 22:05] MrChrisW commented on #220
No problem @zekiel - I'm unable to assign to @altern8tif his name does not appear in the list. Can you confirm?

[2016-03-29 00:21] altern8tif commented on #220
@zekiel @MrChrisW sorry guys... Just realised I might be really busy over the next 3 weeks.  Might be better to let someone else in the community take this up instead.

[2016-03-29 14:48] moollaza commented on #2582
@gvanwaelvelde @rasikapohankar thanks for tackling this!

It looks like you both have made nearly identical pull requests though to solve this?

@rasikapohankar's pull request technically came first but I prefer @gvanwaelvelde's

Next time, please comment on the issue to let us know you want to work on it. If you've joined the DuckDuckHack Contributors Team then we'll be able to assign you the iss

[2016-03-29 14:58] moollaza commented on #2582
@rasikapohankar I'd like to give you the decisions because your PR was made first.

If you'd like to update your PR to look like @gvanwaelvelde's I'll merge yours. Alternatively, we can close your PR and merge @gvanwaelvelde's, once the maintainer approves it.

[2016-03-29 15:52] rasikapohankar commented on #2582
@moollaza : You can close the other PR and merge @gvanwaelvelde's.

[2016-03-29 18:38] spagy opened #2631 "AlternativeTo: Add more triggers"
It looks like you have to type "alternative to foo" in order to trigger this IA.

It would be useful if "foo alternative" and "foo alternatives" also worked.

---

IA Page:  http://duck.co/ia/view/alternative_to
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @vikashvverma

[2016-03-30 01:23] vikashvverma commented on #2631
I'm not well right now. Will start working after two weeks

[2016-03-30 03:11] moollaza commented on #2631
@vikashvverma very sorry to hear that. Please take all the time you need to get better!

FWIW you don't necessarily have to do the work, you can let others do it and weigh in on their PR :+1:

Hope you get better soon!

[2016-03-30 03:18] moollaza commented on #2069
Nothing yet. Will post here when I have something :+1:

[2016-03-30 03:31] moollaza commented on #2629
Thanks for this suggestion. For now we're using English trigger words until we have a plan for translation and localization of Instant Answers.

This is a neat idea, but we don't currently have a way to do this. We'd need to be able to determine the language and infer a country.

The Forecast API quite simple though: it takes a location string as input and gives us a list of potential matches. Thi

[2016-03-30 03:35] vikashvverma commented on #2631
@moollaza sure

[2016-03-30 19:17] doebi opened #2634 "XKCD: Cached comics are outdated"
The ZCI shows another comic than the website. It is not up to date.
Didn't check the source, but it seems as if it is not able to update properly.

------
IA Page:  http://duck.co/ia/view/xkcd
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @sdball

[2016-03-30 19:20] sdball commented on #2634
What other comic are you getting? It seems to be working fine to me.

<img width="566" alt="ddg_xkcd" src="https://cloud.githubusercontent.com/assets/45837/14154538/f234b826-f68a-11e5-9776-d0b5be0387c2.png">

[2016-03-30 19:26] doebi commented on #2634
Yeah right. i also get "Podium". but the latest one is "Jack and Jill", isn't it?
What i see:
![2016-03-30-212341_1920x1080_scrot](https://cloud.githubusercontent.com/assets/1591457/14154675/0f0036aa-f6be-11e5-800c-bf37c08605d1.png)

[2016-03-31 00:36] sdball commented on #2634
Ahh by "different comic" I thought it was returning something other than XKCD entirely.

[2016-03-31 01:05] mattr555 commented on #2625
Definitely hard to track this one down! I'll try to fix this one and another bug I found (timer starts automatically if you close all timers and open another, with a specified time in the query) early next week.

[2016-03-31 01:33] mattr555 commented on #2634
Spices are cached for [24 hours by default](http://docs.duckduckhack.com/backend-reference/api-reference.html#caching). Setting a `spice proxy_cache_valid` attribute would fix it.

[2016-03-31 02:19] moollaza opened #2635 "Beta Instant Answers (Internal): CSS Should be Namespaced"
The CSS rules for IA's must be prefixed with `.zci--<id>` to ensure that the CSS rules do not affect other elements on the page.

This IA should have it's CSS updated so that it only applies to the `.zci` container for its tiles.

------
IA Page:  http://duck.co/ia/view/experimentalia
Maintainer: @vikashvverma

[2016-03-31 02:25] moollaza commented on #2635
@duckduckgo/duckduckhack-contributors Anyone willing to help us? We need someone to fix this bug.

You'll only need a basic understanding of CSS to tackle this. Looking at any other CSS files in the repo should indicate how the CSS rules here should look.

As well, seeing as this IA was just open-sourced today, _**it is in need of a maintainer**_. Anyone interested?

----

There is one other notic

[2016-03-31 02:33] moollaza opened #2636 "Flights by Route: Should not trigger on "KL617 ams to ist""
The Flight Route IA is capable of overlapping with the Flights IA for this query: https://duckduckgo.com/?q=KL617+ams+to+ist&iai=1&ia=route

![flights-vs-route](https://cloud.githubusercontent.com/assets/873785/14163833/412648aa-f6c7-11e5-9b1d-463e4e5489dd.png)

Flights is triggered here based on the organic links, but Routes.pm triggers because of the query. The first portion of the query though

[2016-03-31 02:48] vikashvverma commented on #2635
@moollaza I am willing to be a maintainer

[2016-03-31 06:43] lxndio commented on #2635
@moollaza I'd also maintain if more than one person is needed.

[2016-03-31 06:54] marianosimone commented on #2609
@moollaza: I'd love to take a look. However, it seems like in my dev environment only 1 play button is shown (working from codio, with latest duckpan installed)

[2016-03-31 10:32] Edvac commented on #2635
Count on me too!

[2016-03-31 10:54] GuiltyDolphin opened #2637 "Beta Instant Answers (Internal): Modified time incorrect"
I consistently get incorrect times for the 'Last Updated....' field, it was 5 hours behind during EST and switched to 4 hours behind after the switch to EDT, my TZ is currently BST (though was GMT until a few days ago).

![screenshot from 2016-03-31 11 48 49](https://cloud.githubusercontent.com/assets/8598426/14173659/34d300fa-f737-11e5-98f7-7940b1b619ff.png)

------
IA Page:  http://duck.co/ia/vi

[2016-03-31 13:21] moollaza opened #2638 "Thesaurus: "similar looking flags" shows synonyms of "looking""
We need to ensure the remainder of the query doesn't contain multiple words.

Right now any query that starts with similar will trigger a search for synonyms of the second word in the query, regardless of what the rest of the query is

------
IA Page:  http://duck.co/ia/view/thesaurus
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @lactose

[2016-03-31 13:24] sdball commented on #2634
Hey that sounds right, thanks @mattr555! I'll get that changed to something shorter.

[2016-03-31 14:49] rasikapohankar commented on #2635
Hi! I don't know this code but was looking through it for the Unicode bug and found that the answer gets its results from https://beta.duckduckgo.com/installed.json and in this JSON, the example query for Emojipedia is incorrect.
![c44404](https://cloud.githubusercontent.com/assets/8025692/14179557/24839d04-f77d-11e5-8406-ebf24c48788d.png)
So maybe we will have to check the part where the JSON get

[2016-03-31 16:21] jdorweiler commented on #2635
@rasikapohankar thanks, I'll fix that.

[2016-03-31 17:33] gvanwaelvelde opened #2641 "Astrobin Apod: Suggestion: Clicking on the picture shows full picture instead of redirecting to AstroBin page"
If a user clicks on the astronomy picture that appears on the Instant Answer, she is redirected to the AstroBin page that contains that picture (e.g. http://www.astrobin.com/242917/ ). It might be more useful to redirect to the picture itself (like this http://www.astrobin.com/full/242917/0/ ), as I suspect that when a user clicks the image she want to see a larger version of the picture to see it

[2016-04-01 12:25] zekiel commented on #2630
@alexbaforvo there seem to be a collection of issues w/ Forvo right now. Do you want to take a pass at updating?

[2016-04-01 12:25] zekiel commented on #2630
@azurely  Ralph approves http://media.riffsy.com/images/b8bb3c3b9c50ff594dea56fb7e76aa5f/raw

[2016-04-01 19:17] zekiel commented on #2168
@jdan  do you want to revisit this or close it out? Not sure it's best suited as an issue.

[2016-04-01 19:20] zekiel commented on #2160
closing for #2602 2602

[2016-04-01 19:20] #2160 closed

[2016-04-01 19:22] zekiel commented on #2196
@moollaza  what was the result of investigation here?

[2016-04-01 19:25] zekiel commented on #1838
can we close or take action on this @amoraleda ?

[2016-04-01 19:28] zekiel commented on #220
np! thanks for the heads up @altern8tif  we'll be here when you get back but hopefully someone will address it by then.

@MrChrisW I realize now that @altern8tif  wasn't apart of https://github.com/orgs/duckduckgo/teams/duckduckhack-contributors at the time so couldn't be assigned. Supposing it doesn't matter now tho lol

[2016-04-01 19:46] jdorweiler commented on #2635
@vikashvverma thanks, I set you as the maintainer.

[2016-04-02 01:37] moollaza commented on #2630
@azurely I'm seeing results for all of those queries?

https://duckduckgo.com/?q=pronounce+Ralph+Fiennes&ia=answer

https://duckduckgo.com/?q=how+to+pronounce+ralph+fiennes&ia=answer

Please confirm that they're still not working for you. The trigger's can't be "selective" so, they're either working for all queries, or they should be working for none.

[2016-04-02 08:00] amoraleda commented on #1838
I wasn't aware of this issue but could be fixed easily. I'm on it!

[2016-04-02 10:22] tsl143 commented on #2621
can we use `css property - ellipsis` to solve this?
also can anyone guide me how to start ?

[2016-04-03 14:36] jdan commented on #2168
@zekiel Probably best to close it out :) I'll have to get a new environment set up and everything.

[2016-04-03 14:43] #2168 closed

[2016-04-04 12:26] moollaza commented on #2609
@marianosimone it looks like we're making a secondary API call in production for `fungus`. We should probably add a check that if a player exists on the page, we shouldn't add another?

[2016-04-05 04:40] tagawa opened #2651 "Holiday: False trigger"
This IA shouldn't be triggered on the following query:
[when is california primary 2016](https://duckduckgo.com/?q=when+is+california+primary+2016&ia=answer)

As [reported on Twitter](https://twitter.com/xarph/status/717064457227112448).

------
IA Page:  http://duck.co/ia/view/holiday
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @sekhavati

[2016-04-05 12:17] moollaza opened #2652 "BBC: API Deprecation Warning -- Need to update for new API"
The API has started serving 404 errors and indicates that it will soon be deprecated.

http://www.bbc.co.uk/bbcone/programmes/schedules/london/2016/4/5.json

---

IA Page:  http://duck.co/ia/view/bbc
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): _**Maintainer Needed!**_

[2016-04-05 12:44] MrChrisW commented on #2652
Looks like we'll need to wait for the BBC developer site to open registrations for API use. - https://developer.bbc.co.uk/user/register

[2016-04-05 12:58] moollaza commented on #992
This AI is breaking again today, showing an empty space where he comic would be.

@duckduckgo/duckduckhack-contributors anyone interested in investigating a better way to handle they interactive comics?

We should at least provide a message that explains we can't display the comic so the user understands what's going on.

[2016-04-05 13:24] riqpe commented on #992
I gave it a quick look, and some of those issues could be solved quite easily.
No image happens when the JSON returned by xkcd contains img url without actual image (commonly just "http:\/\/imgs.xkcd.com\/comics\/", simple to catch and inform the user.
Unfortunately for some of the cases xkcd will return a link to an actual placeholder image, as is the case with Landing comic [1446](https://duckdu

[2016-04-05 13:32] prasadram commented on #992
Hi All,
I am interested

On Tue, 5 Apr 2016 18:54 Riku-Pekka Silvola <notifications@github.com>
wrote:

[2016-04-05 14:07] philipmiesbauer commented on #992
How about framing the image of to show that the picture is there but white?

On Tue, Apr 5, 2016, 14:33 prasadram <notifications@github.com> wrote:

[2016-04-05 14:13] riqpe commented on #992
@philipmiesbauer I took that approach on another project displays images from multiple sources, but while it makes it easier to see that the image "exists", this really adds little value as the blank image is not what the artist meant to publish. In addition, adding visual frames can have a negative effect on what the artist wanted to convey with the image. Consider comics where the 4th wall is ph

[2016-04-05 15:14] EpicWolverine commented on #992
Just a note: 1335 is already hard-coded to be static, despite the xkcd JSON API returning the correct current comic (`http://imgs.xkcd.com/comics/now.png`, which always redirects to the current one).

In xkcd_display.js:

While hard-coding placeholders (or even working versions for comics like 1335 and 1331) of all the dynamic or interactive comics is not ideal, it may be a good temporary solution

[2016-04-05 15:46] riqpe commented on #992
I'd say a combination of these would be the best option. Naturally when the img url is obviously incorrect, such as linking just to https://imgs.xkcd.com/comics/, or missing completely, some indication could be shown to the user, as proposed in the original issue.
However, the link being invalid can't be assumed to mean that the corresponding comic is interactive. Having a proper indicator for thi

[2016-04-05 16:27] soleo commented on #992
According to https://keybase.io/davean, This(https://github.com/davean) is hime

[2016-04-05 20:13] moollaza commented on #2463
@duckduckgo/duckduckhack-contributors we could really use a lot of help over here too. This is a fairly easy, but very important task.

We didn't always have JS available to Goodies and so we have a few "Spice" Instant Answers that don't actually use APIs and they should really be converted to Goodies with JS (like the 2048 Game).

There are still 4 IA's left to convert!

[2016-04-05 20:14] moollaza commented on #2463
@theaverageguy are you still interested in converting FlashVersion? If so don't forget to mention this issue in your PR so everyone else knows it's been fixed!

[2016-04-06 01:59] mattr555 commented on #2625
@thistleBgood @GuiltyDolphin sorry, I still can't reproduce this. The idea is to stop the sound and shaking when there is a click on the screen, but keep the checkmark until the user explicitly clicks on that. If this bug is rare can we tolerate it?

[2016-04-06 09:30] GuiltyDolphin commented on #2625
@mattr555 My DuckPAN is being a bit off lately and I can't reproduce it on production.

I'm happy to have it `Tolerated` - at least for now (it isn't a huge issue); if we get more reports we can look into it further - my guess is it might be managing to click at the same time as a loop starts/stops? Something difficult to do.

[2016-04-06 14:23] jdorweiler commented on #2635
The unicode bug seems to be fixed.
![selection_313](https://cloud.githubusercontent.com/assets/1882892/14320038/8d4a8a9c-fbe1-11e5-9cf1-ea71c93bb5a2.jpg)

[2016-04-06 15:36] vikashvverma commented on #2637
@GuiltyDolphin @moollaza I'm not able to run the trigger for this IA locally, Can you help me out?

[2016-04-06 15:54] jdorweiler commented on #2637
@vikashvverma with duckpan?  Try this `SHOW_IA_TESTING=1 duckpan server`.  It triggers on all queries so I have it disabled unless you set an environment variable.
https://github.com/duckduckgo/zeroclickinfo-spice/blob/master/lib/DDG/Spice/Experimentalia.pm#L15

[2016-04-06 16:04] vikashvverma commented on #2637
@jdorweiler I did that still it says, `Sorry, no hit for your instant answer`

[2016-04-06 16:13] jdorweiler commented on #2637
@vikashvverma can you post your output from running that?

[2016-04-06 20:06] fzzr- opened #2655 "Cryptocurrency: Ethereum isn't currency - it's a protocol, network, platform."
Request [`1 etherium in btc`](https://duckduckgo.com/?q=1+etherium+in+btc) should be not valid because Ethereum isn't a (crypto)currency - it's a protocol, network, platform. Official description is "Ethereum is a decentralised platform that runs smart contracts" [here](https://www.ethereum.org).

But on the Ethereum platform we have couple of buildin currencies:
- Ether (ETH)
- Finney
- Szabo
- W

[2016-04-06 20:47] sdball commented on #992
Five years ago I was a front end developer and wrote the first spice PR to add xkcd comics to DDG. It was a fun project and I'd love to continue maintaining it (although it's changed quite a bit since 2011). Unfortunately I simply don't have the time to volunteer. I'm going to unplug from this.

[2016-04-06 20:49] sdball commented on #2634
Unfortunately I just don't have the available time to volunteer for maintain this awesome plugin. https://github.com/duckduckgo/zeroclickinfo-spice/issues/992#issuecomment-206559354

I'm not sure what the process is for switching maintainers, but from the looks of these threads there's no shortage of qualified folks. :smile:

[2016-04-06 20:50] sdball commented on #2196
This is a great, fun plugin to work on but I [don't have the time to volunteer](https://github.com/duckduckgo/zeroclickinfo-spice/issues/992#issuecomment-206559354).

[2016-04-07 01:26] vikashvverma commented on #2637
@jdorweiler I'm trying to access it at this url http://localhost:3000/?q=testing&t=h&ia=iatesting, duckpan server is running  on port 3000

[2016-04-07 05:37] MrChrisW commented on #992
No problem @sdball, thanks for letting us know!

We're in the process of pinging the creators of various IA's to see if people would like to continue maintaining them, if not someone else will jump on board!

Thanks for your original contribution (5 years ago) - I'm sure this IA will continue to be improved by the DDG community. :+1:

[2016-04-07 06:09] MrChrisW commented on #992
Ultimately this needs an upstream API change to indicate if the comic is dynamic or not, as suggested by several members.

As a workaround I'd suggest we check the `title` value matches the filename of the image returned in the `url` value, this will resolve issues with the returning the previous comic [1350](https://duckduckgo.com/?q=xkcd+1350) and with displaying a placeholder [1446](https://duc

[2016-04-07 10:29] zgrep commented on #992
Unfortunately, that workaround would fail for earlier comics such as [1](http://xkcd.com/1/), [2](http://xkcd.com/2/), [3](http://xkcd.com/3/), etc.

[2016-04-07 10:51] Mylainos commented on #2571
I would like to take this one please ;)

[2016-04-07 12:51] jdorweiler commented on #2637
@vikashvverma is your repo up to date?  Try setting the environment variable with  `export SHOW_IA_TESTING=1` and then run duckpan.

[2016-04-07 13:15] jdorweiler commented on #2637
Or if that fails you could just manually set this value to `1`.
https://github.com/duckduckgo/zeroclickinfo-spice/blob/master/lib/DDG/Spice/Experimentalia.pm#L15

[2016-04-07 13:47] vikashvverma commented on #2637
@jdorweiler It works now, one of the dependency was not installed. Thanks

[2016-04-07 14:28] vikashvverma commented on #2637
@GuiltyDolphin the problem is because `moment.js` is giving relative time based on timezone,  I will work on this

[2016-04-07 15:15] MrChrisW commented on #992
@zgrep You're correct! I manged to get past the matching of comics 1,2 & 3 (with some [painful code](https://gist.github.com/MrChrisW/0d752f951142fcbad92dbd71df9f9e86#file-xkcd_read-js-L25-L45))  -Unfortunately there's a few more `titles` that [don't match the `url` filename at all](https://gist.github.com/MrChrisW/081b03d6be2011b36da7488d9fe78f67) so this isn't a solution, it also feels like an a

[2016-04-07 15:19] edgesince84 opened #2659 "Indeed Jobs: Over-triggering when other job site names are in query"
A user on DuckDuckGo reported that this IA is over-triggering. The IA shouldn't display when another job engine is specified in the query (monster, careerbuilder, totaljobs, etc.)

---

IA Page:  http://duck.co/ia/view/indeed_jobs
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @tagawa

[2016-04-07 15:49] edgesince84 opened #2661 "GoWatchIt: Feedback from user"
A user on DuckDuckGo reported poor relevancy for this Instant Answer.     The links provided were for similarly-named movies, but none for the exact match.

---

IA Page:  http://duck.co/ia/view/go_watch_it
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @plexusent

[2016-04-07 17:16] fzzr- opened #2662 "Haxelib: Data Source not provided"
Currently on the [IA-Page](https://duck.co/ia/view/haxelib)

But needed mention data-source-server. I think it should be something like "lib.haxe.org with adapter haxelib-json.herokuapp.com". Please correct my wording if I wrong.

------
IA Page:  http://duck.co/ia/view/haxelib
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @TomBebbington

[2016-04-07 18:55] EpicWolverine opened #2663 "XKCD: Unicode characters in titles are not displayed correctly"
https://duckduckgo.com/?q=xkcd+1137&t=ffab&ia=comics

The title returned by the JSON API is `\u00e2\u0080\u00aeLTR`, which should display as "RLT" but instead displays like this for me (Firefox 45.0.1 on Windows 10 and Safari on iOS 9.3.1):

![firefox_2016-04-07_14-49-58](https://cloud.githubusercontent.com/assets/2897970/14363008/11838b44-fcd0-11e5-8377-6c1e75b61fe6.png)

[2016-04-07 22:34] azurely commented on #2630
Nope, still not working for me. Just video results.
Several of the (broken) examples I was going to use started working while I was testing them!

[2016-04-07 23:02] mattr555 commented on #2463
I'll port the stopwatch and color picker, as those are my other JS-only spices (I tend to make a bunch of those)

[2016-04-08 09:45] claell opened #2666 "Add internationalization to instant answers"
I requested an instant answer to be localized for Germany https://duck.co/forum/thread/19943/wheather-instant-answer-is-not-localized-for-germa

I was told that the current approach is to try to use some method working for all answers or translate all answers at once: https://github.com/duckduckgo/zeroclickinfo-spice/pull/1703#issuecomment-87703743

So since there is no issue regarding this (at le

[2016-04-08 12:56] zekiel commented on #2463
You are my hero @mattr555

[2016-04-08 13:34] zekiel commented on #2196
@sdball  you are too kind! We'll update the IA and open it up for adoption so that you're not pinged for XKCD as maintainer.

[2016-04-08 14:49] tagawa commented on #2599
I get the same as @fzzr- - the Wikipedia infobox.

[2016-04-08 19:06] GuiltyDolphin commented on #2599
@tagawa @fzzr- For me it is showing Cryptocurrency... Hmm.. Wait a second...

With region set to UK it shows Cryptocurrency, with no region set it shows Wiki:

Region UK:

![screenshot from 2016-04-08 20 05 10](https://cloud.githubusercontent.com/assets/8598426/14394662/3e92e17a-fdc5-11e5-9950-f77d119f7a44.png)

Region Off:

![screenshot from 2016-04-08 20 05 20](https://cloud.githubusercontent.co

[2016-04-08 19:30] spagy opened #2668 "XKCD: Feature: Show comic based on title"
It would be cool if this IA triggered when comic titles where searched for.

E.g. searching `xkcd time travel` would have the same result as `xkcd 630`

---

IA Page:  http://duck.co/ia/view/xkcd

[2016-04-09 00:26] tagawa commented on #2599
Strange, I get the wiki whether I set the region or not. Maybe it's the wiki IA that's at fault then, being too aggressive.

[2016-04-09 07:51] bkayaarda commented on #2652
Look at this http://www.bbc.co.uk/developer/technology/apis.html
This API beta release

[2016-04-09 09:08] GuiltyDolphin commented on #2599
@tagawa Weird... @MrChrisW Are you able to reproduce the issue with setting region? (I.e, the `Globe`).

[2016-04-09 18:15] gaulrobe commented on #2668
@Spagy unfortunately the XKCD API doesn't support searches by titles.

https://xkcd.com/json.html

[2016-04-09 18:26] gaulrobe commented on #2634
@sdball I took a stab at this in #2670! I'd also be more than happy to maintain this :smile:

[2016-04-09 18:29] GuiltyDolphin commented on #2634
Ping @zekiel.

[2016-04-09 18:34] GuiltyDolphin commented on #2668
Herum, there's always http://imgs.xkcd.com/comics/..., so we could *try* that link if they provide words.

[2016-04-09 18:42] gaulrobe commented on #2668
@GuiltyDolphin nice idea! Looking at XKCD API results a bit more and I noticed that the image extension can be different (http://xkcd.com/100/info.0.json shows .jpg for example). Don't want this ending up being a lot of guesswork in order to make the call...

[2016-04-09 18:44] GuiltyDolphin commented on #2668
@gaulrobe There's a [lovely long list](http://www.explainxkcd.com/wiki/index.php/List_of_all_comics_%28full%29) that does indeed show some are JPEG and some are PNG.

[2016-04-09 19:34] gaulrobe commented on #2668
@GuiltyDolphin those image links don't quite match up with what the API returns (http://xkcd.com/1335/info.0.json shows `now.png` while that link shows `now.gif`). Probably don't want to rely on the Explain site for these assets.

It might be worth reaching out to the API maintainer to see if some kind of fuzzy matching search could be implemented to help us out here?

[2016-04-10 00:41] #2634 closed

[2016-04-10 03:46] gaulrobe opened #2674 "XKCD: Maintainer Request"
I would like to become the maintainer for this! Thanks!

------
IA Page:  http://duck.co/ia/view/xkcd

[2016-04-10 08:55] GuiltyDolphin commented on #2668
@gaulrobe Sure - it'd be a pretty nifty feature.

I'll ping @moollaza and ask if he can have a look into it, feel free to try and contact them yourself!

[2016-04-10 18:23] itsrachelfish opened #2675 "Color Picker: Inconsistent behavior when searching for "color picker" and "colorpicker""
When you search for "color picker" your search string is populated as the default: https://duckduckgo.com/?q=color+picker+%23af0eff

But when you search for "colorpicker" your search string is ignored and you get a random color: https://duckduckgo.com/?q=colorpicker+%23af0eff&ia=colorpicker

---

IA Page:  http://duck.co/ia/view/color_picker
[Maintainer](http://docs.duckduckhack.com/maintaining/gu

[2016-04-10 23:13] gaulrobe commented on #2668
@GuiltyDolphin @moollaza

I've reached out to XKCD about this, if I hear back I'll let y'all know! :grinning:

[2016-04-11 02:58] claytonspinner commented on #2599
I get the Wiki IA regardless of region setting as well. I'll take a look at it

[2016-04-11 03:05] claytonspinner commented on #2655
@fzzr- Thanks for catching this. I'll update it so it triggers on `ether` but not `etherium`.

[2016-04-11 06:03] MrChrisW commented on #2599
@GuiltyDolphin Region changes the result, I think this is internal
![region](https://cloud.githubusercontent.com/assets/5282264/14418048/13812688-ffee-11e5-9608-d2f7e9bf7f34.gif)

[2016-04-11 07:24] Bitsnoxx opened #2676 "Gravatar: Encoding bug"
Im not sure exactly what the issue is;
If you search up Gravatar x@gmail.com and you have & in your bio is displays as &amp; .

------
IA Page:  http://duck.co/ia/view/gravatar
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @adman

[2016-04-11 11:50] MrChrisW commented on #992
Ok... After some more testing I think the best way to processed as a **temporary solution** (in the absence of an API update) is to create a `blacklist.txt` file with a list of dynamic/non-working comics, we can then avoid triggering the IA or display a message as suggested by @zgrep if a comic id is found in the blacklist.

Current comics that cannot be displayed/are dynamic

+ [1331](https://duc

[2016-04-11 13:22] GuiltyDolphin commented on #2599
@MrChrisW We could try setting `signal` to `"high"`; might do the trick.

[2016-04-11 14:16] vikashvverma commented on #2549
@moollaza sure, let's see what @josephwegner says

[2016-04-11 14:24] zgrep commented on #992
According to @davean, the API is in the process of being rewritten, along with the website itself. Hopefully a more permanent and supposedly better solution will present itself in the future.

I also asked if it was possible to add a "dynamic" part to the current JSON API. The answer is, of course, that it's possible. But, it turns out that any comic that changes the page around it would be consid

[2016-04-11 15:14] moollaza commented on #2599
As of this morning, I'm now seeing the About tab instead of the Spice.

@mrshu this behaviour seems a little odd -- is this happening because of a regional Wiki? When I switch to any region it seems that Wiki result is suppressed.

[2016-04-11 17:06] fzzr- commented on #2599
I guess it depends on the download speed and order of requests.
Why the change affects the region?
\- Perhaps because of regional settings depends to which server answers or its response speed/latency.
In the [GIF from MrChrisW](https://cloud.githubusercontent.com/assets/5282264/14418048/13812688-ffee-11e5-9608-d2f7e9bf7f34.gif) the Cryptocurrency tab anyway exists. It's not first & open but exist

[2016-04-12 20:31] sekhavati commented on #2638
@moollaza This is already fixed in #2450

[2016-04-12 20:59] zekiel commented on #2674
thanks @gaulrobe! This is now official: https://duck.co/ia/view/xkcd  Please check out the [maintainer guidelines](http://docs.duckduckhack.com/maintaining/guidelines.html) and ask if you have any questions at all!

[2016-04-12 20:59] #2674 closed

[2016-04-13 13:36] moollaza opened #2681 "WordMap: Needs to ensure remainder is only 1 word, or remove "similar to" trigger"
This instant answer triggers on any query that starts with "similar to" and often returns irrelevant results for queries that aren't searching for words/terms.

We need to reduce the IA to only working on single word queries or tighten the triggering to queries that more clearly indicate they're looking for similar _words_.

e.g. https://duckduckgo.com/?q=similar+to+invisible+fence+collar&ia=answe

[2016-04-13 14:55] #2637 closed

[2016-04-13 19:44] gaulrobe commented on #2663
@EpicWolverine thanks for finding this issue! I've created a fix for this in #2682.

[2016-04-14 16:19] GuiltyDolphin opened #2685 "Spice for movie cast"
None of the existing Spice seem to handle `cast of X` for movies. We should either 'upgrade' one of the existing Spice to allow this, or implement one from scratch.

@duckduckgo/duckduckhack-contributors Anyone interested in tackling this?

[2016-04-14 16:22] vikashvverma commented on #2685
@GuiltyDolphin I'm interested

[2016-04-14 16:23] vikashvverma commented on #2685
Is there any API available?

[2016-04-14 16:30] MariagraziaAlastra opened #2686 "Time: shows wrong location and hour is off"
It should say "Italy", not "United States". The time is affected too:
![screenshot-duckduckgo com 2016-04-14 18-28-16](https://cloud.githubusercontent.com/assets/3652195/14535590/c75f74de-026e-11e6-9e30-a5dc2cb976a8.png)

---

IA Page:  http://duck.co/ia/view/time
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @MrChrisW

[2016-04-14 16:33] vishivish18 commented on #2685
Interested !

[2016-04-14 16:34] fzzr- commented on #2685
* [The Open Movie Database API](http://omdbapi.com)
* [The Movie DB API](https://www.themoviedb.org/documentation/api)

[2016-04-14 16:34] gaulrobe commented on #2685
http://developer.rottentomatoes.com/

This one seems pretty good, especially given Rotten Tomatoes status in this department. Looks like you'd have to search for the movie, get its ID, and then hit up another endpoint for the cast info.

https://www.themoviedb.org/documentation/api

This one seems more straightforward to use, but I'm not sure about its reputation...

[2016-04-14 16:35] GuiltyDolphin commented on #2685
There's a few API's available; it might be worth checking out https://www.themoviedb.org/documentation/api

[2016-04-14 16:40] GuiltyDolphin commented on #2686
@MariagraziaAlastra Just out of curiosity - if you do `time now` and switch to the `Answer` tab, does that display the correct time?

[2016-04-14 17:28] moollaza commented on #2685
We already get this info via the Movie IA which uses Rotten Tomatoes, we're just not showing it for those queries.

Should be able to improve this IA to better handle queries like "movie cast x", "movie cast for X", etc

[2016-04-14 17:38] GuiltyDolphin commented on #2685
@vikashvverma I've just had a chat with @moollaza and it looks like we can use the rotten tomatoes API for this (and extend the functionality of https://duck.co/ia/view/movie).

@moollaza Do you reckon we could display images of the cast (in place of movies) when searching for `cast of X`?

[2016-04-15 01:00] vikashvverma commented on #2685
@moollaza @GuiltyDolphin Should I improve existing IA to include this or create a new IA.

Also we need movie id instead of movie name in these APIs, that means two API call

[2016-04-15 03:57] gautamkrishnar commented on #2685
Hey themoviedb looks cool <3

[2016-04-15 12:51] GuiltyDolphin commented on #2685
@vikashvverma I'd suggest trying to extend the existing IA - most of the work has already been done so it is just a matter of adding the additional features.

If you run into issues with that, just update us here and we can discuss whether or not we wish to use a separate IA/API.

@gautamkrishnar Yeah, looks quite nice. It might be worth trying to use it in the future for more complex answers or a

[2016-04-15 17:59] moollaza commented on #2685
Yes I think that could look good.

[2016-04-15 18:01] #412 closed

[2016-04-15 18:38] MariagraziaAlastra commented on #2686
@GuiltyDolphin yeah, that displays the correct time

[2016-04-16 08:05] GuiltyDolphin commented on #2685
@moollaza Yeah - I've had a look at the result from the Rotten Tomatoes response, and I can't find any images of the cast? It looks like they provide the 'main' actors in that response, and I believe they have [another, fuller cast API](http://developer.rottentomatoes.com/docs/read/json/v10/Movie_Cast). Images would be useful for recognizing the cast from other movies (faces are sometimes easier t

[2016-04-16 08:11] vikashvverma commented on #2685
@GuiltyDolphin TMDb provide picture of the cast as well

[2016-04-16 08:19] GuiltyDolphin commented on #2686
@MariagraziaAlastra Okay, awesome.

Perhaps we should just have a Goodie with some JS for these sorts of queries then? I don't see *why* we need to make any API calls.

[2016-04-16 14:17] hackerone1 opened #2689 "Games"
------
IA Page:  http://duck.co/ia/view/images
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @jagtalon

[2016-04-17 18:29] mattr555 commented on #2689
Hi @hackerone1, is there an issue with an instant answer you would like to report? You can reply back to this with an email.

[2016-04-18 22:32] Rava77 opened #2692 "Videos: Why only youtube results"
When limiting a search for the type of "Videos" only results from youtube are shown, I never see any results from other video sharing sites, e.g. vimeo, to name just one.
Why is that? And what  can be done to change that behaviour to include all known video sharing sites?
Or is that behaviour set somewhere I am not aware about and that "setting" can be changed?

Cheers

---

IA Page:  http://duck.

[2016-04-19 12:49] moollaza commented on #2676
@Bitsnoxx do you have a real example we can investigate?

[2016-04-19 16:25] nningego opened #2694 "Time: Time does not work certain cities. example: time in Chicago, time for New York"
<img width="788" alt="screen shot 2016-04-19 at 17 20 57" src="https://cloud.githubusercontent.com/assets/856416/14646947/6c9446fe-0653-11e6-84fa-e435ad3af242.png">

<img width="794" alt="screen shot 2016-04-19 at 17 21 15" src="https://cloud.githubusercontent.com/assets/856416/14646994/a35afec6-0653-11e6-8cec-7681ef34d9c7.png">

------
IA Page:  http://duck.co/ia/view/time
[Maintainer](http://doc

[2016-04-19 21:26] MrChrisW commented on #2694
@nningego Thanks for reporting this issue. Currently we're tracking a number of triggering issues with the time IA in #1730 - I'll update that issue with the `Chicago` and `New York` triggers and close this one :+1:

[2016-04-19 21:26] #2694 closed

[2016-04-20 05:06] Bitsnoxx commented on #2676
Yes!
[Here you go](https://duckduckgo.com/?q=gravatar+simonfolde%40gmail.com&ia=avatar), [Gravatar profile](http://nb.gravatar.com/bitsnoxx)

[2016-04-20 11:36] levaly commented on #2581
Hi,

I added support for the following type of queries
integral of x^2
integrate x^2
integration of x^2
antiderivative of x^2
derivative of x^2
derive x^2
differentiate x^2
derivation of x^2

all of the above also work if you insert a function of the forms:
f(x)=x^2, i.e integral of f(x)=x^2
y=x^2

I also updated the unit tests to reflect the changes.

This feature is not yet available in symbolab

[2016-04-20 15:22] moollaza commented on #2581
@levaly thank you very much!

[2016-04-21 03:35] vikashvverma commented on #2685
@GuiltyDolphin @moollaza We are already using `TMDb` in movie spice to fetch movie image. I think it would be wise to use `TMDb` to fetch cast info instead of using `RottenTomatoes`

[2016-04-21 14:13] GuiltyDolphin commented on #2685
@vikashvverma Depending on whether or not we want to extend the existing Spice we could just do the same for cast (use Rotten Tomatoes to get cast then use TMDb for images).

@moollaza Thoughts? Do you want to keep the movie searching within one IA, or are you happy with a new IA for cast?

[2016-04-21 18:32] rasikapohankar commented on #2298
Helloo! I was wondering if it might also be possible to add a 'Repeat Song' button? Would be great to have this control!

[2016-04-22 05:43] jkrobles commented on #2692
YouTube is the only provider since the videos IA is using https://duckduckgo.com/v.js to get the results. That looks like an internal script, someone who has access to it can change it to include other sources.

[2016-04-22 06:18] marianosimone commented on #2156
Quick update: The people behind the data feeds for CitiBike NYC (and many other bike sharing services) released a new format called [GBFS](https://github.com/NABSA/gbfs), and they won't be adding features/fixing the legacy ones anymore.

- The good news is that the new format handles dates better (using Posix timestamps)
- The bad news is that they splitted the feed in two parts (actually, many mo

[2016-04-22 08:21] tagawa commented on #2659
Just remembered this - thanks.
Wondering about the best approach. Probably just hard-coding large job sites (such as the ones you mentioned) into the regex so the query is ignored.

[2016-04-22 11:26] andrey-p opened #2699 "Statista: Bad dates showing"
![screenshot_2016-04-22_12-24-52](https://cloud.githubusercontent.com/assets/1431577/14740238/5bf915f2-0885-11e6-9eaf-f5964ad5c878.png)

---
https://duck.co/ia/view/statista
Maintainer: @statista

[2016-04-22 11:29] tagawa commented on #2662
Well spotted @fzzr-
I've just added the source. I think that field is supposed to have a single URL so I just used lib.haxe.org

[2016-04-22 11:29] #2662 closed

[2016-04-22 11:49] tagawa commented on #2340
@moollaza Just to clarify - do you mean the regular expressions in this part of the code? https://github.com/duckduckgo/zeroclickinfo-spice/blob/master/share/spice/go_watch_it/go_watch_it.js#L318

[2016-04-22 17:55] fzzr- commented on #2662
Thank you, @tagawa.

[2016-04-23 04:42] vikashvverma commented on #2510
@moollaza I would work on this

[2016-04-23 04:46] vikashvverma opened #2701 "Forecast: Wrong result due to timezone"
My timezone is IST and the IA is giving forecast of `Phoenixville, PA` which is wrong.

See the snaps below:

<img width="1436" alt="screen shot 2016-04-23 at 10 09 00 am" src="https://cloud.githubusercontent.com/assets/915277/14759309/3a005caa-093c-11e6-86e0-09ef0d20d7d7.png">

<img width="734" alt="screen shot 2016-04-23 at 10 11 59 am" src="https://cloud.githubusercontent.com/assets/915277/1475

[2016-04-23 15:18] kirllos opened #2704 "SoundCloud: Text overflows from box"
![1](https://cloud.githubusercontent.com/assets/17005305/14762300/8deaa7d6-0990-11e6-8fb3-0a1f0be23cad.png)
![2](https://cloud.githubusercontent.com/assets/17005305/14762301/8def545c-0990-11e6-846d-36b07e560dee.png)

------
IA Page:  http://duck.co/ia/view/sound_cloud
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @jdan

[2016-04-23 16:56] marianosimone commented on #2567
What's specially interesting about moment's timezone is that it keeps track of DST shifts, which are usually a pain to handle.

Regarding @moollaza's concern about the size, we could consider what amount of the data they offer we really need (maybe in a IA by IA basis), as it seems like they do provide a subset, so we could create our own (for example, some IAs only need the information for the cu

[2016-04-23 17:03] GuiltyDolphin commented on #2567
If we do move away from using an API for Time (which I personally think would be best - it is a very simple task we could handle without the dependency) we should move it over to Goodies.

We don't even need to use `moment.js` for the TZ AFAIK - we can just pass it from the Perl (Perl has great libraries for CLDR support, as well as a library dedicated to Time Zones).

I think the best approach wo

[2016-04-23 23:49] marianosimone opened #2707 "Generalize NYC BikeSharing IA and add more cities"
Given that CitiBike NYC is using the new [GBFS](https://github.com/NABSA/gbfs) format for its feeds, it would be interesting to try to generalize its [Bike Sharing IA](https://duck.co/ia/view/citi_bike_nyc) and make it useful for other cities. A full list of available cities can be found [here](https://github.com/NABSA/gbfs/blob/master/systems.csv) (at this time, there are 19 systems that we could

[2016-04-24 19:27] levaly commented on #2581
a PR is ready for review

[2016-04-25 13:51] #2651 closed

[2016-04-25 14:15] moollaza opened #2709 "Statistics: API Format Changes -- IA Requires Updates"
It looks like the API URL Format has changed so this IA broke. We've taken it offline for now. Once repaired we can re-launch this.

@statista can you please update the code accordingly?

------
IA Page:  http://duck.co/ia/view/statista
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @statista

[2016-04-25 15:38] edgesince84 opened #2710 "Kwixer: feedback from user"
A user on DuckDuckGo sent us feedback regarding the IA missing some high-profile movies for popular actors and actresses.

------
IA Page:  http://duck.co/ia/view/kwixer
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @rodrigue-h

[2016-04-25 20:32] edgesince84 opened #2711 "Advanced Calculator: feedback from user"
A user on DDG reported that the calculator IA wasn't triggering for a problem that includes square roots.

ex:
sqrt(5+exp(5+exp(5))+5)

------
IA Page:  http://duck.co/ia/view/symbolab
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @levaly

[2016-04-26 00:33] rodrigue-h commented on #2710
Hello,
Unfortunately we started shutting down Kwixer as a whole (which is why
we're not grabbing/ updating new movies)
I suggest we remove the Kwixer IA ?
Thanks,
Rod

On Mon, Apr 25, 2016 at 11:38 AM, Bill <notifications@github.com> wrote:

--
--
Best Regards,
Rodrigue H.
http://www.twitter.com/rodrigue_
http://www.rodrigueh.com

[2016-04-26 14:42] moollaza commented on #2710
@rodrigue-h I'm sorry to hear that, but thanks for letting us know. I'll make a task to remove the Instant Answer.

[2016-04-26 14:42] #2710 closed

[2016-04-26 14:43] moollaza opened #2712 "Remove Kwixer Spice: Service shutting down"
As mentioned here: https://github.com/duckduckgo/zeroclickinfo-spice/issues/2710#issuecomment-214572239 Kwixer is shutting down, and has stopped updating their data.

We should remove the code from the repo.

https://duck.co/ia/view/kwixer

[2016-04-26 14:44] moollaza commented on #1573
Closing. Kwixer is being shut down. If anyone knows of an alternative data source perhaps we can create a new Instant Answer for this query space.

[2016-04-26 14:44] #1573 closed

[2016-04-26 14:46] moollaza commented on #2712
If anyone knows of an alternative data source for this information, we can hopefully create a new Spice to handle this query space.

/cc @duckduckgo/duckduckhack-contributors

[2016-04-26 16:08] levaly commented on #2711
Currently implementation requires inserting the keyword "solve" or "calculate" or "compute.
Here is a link for the above query https://duckduckgo.com/?q=solve+sqrt(5%2Bexp(5%2Bexp(5))%2B5)&ia=calculator

[2016-04-26 16:25] moollaza commented on #2583
We've spoken to the BrainyQuote team. They're going to update the IA to add support for topic searches. The explained that they only support some searches for an author's last name. In the case of Feynman their API doesn't seem to detect that Feynman implies Richard Feynman. If you do the query with his full name the Instant Answer works:

https://duckduckgo.com/?q=richard+feynman+quotes&ia=quotat

[2016-04-26 17:47] GuiltyDolphin commented on #2711
@edgesince84 @levaly These sorts of queries should be handled by the Goodie calculator - not the Spice. The Spice should be used for things the Goodie doesn't handle (such as calculus).

[2016-04-26 17:52] moollaza commented on #2567
@altern8tif we're not only showing results for the locations in Capitals.yml though -- we also use a Deep trigger to get results for other locations like https://duckduckgo.com/?q=time+in+marseille+france&ia=time

AFAIK there's no easy way for us to do that without an API. A pure Perl route would require a DB of all places + logic to figure out the best candidate for a search query -- too much eff

[2016-04-26 19:41] GuiltyDolphin commented on #2567
@moollaza True, I keep thinking we have a Perl package for looking up countries! Lets hope the CLDR builds a map of geographical locations!

[2016-04-26 19:54] mintsoft commented on #2712
@moollaza what about https://www.themoviedb.org/ or http://thetvdb.com/

[2016-04-26 19:57] moollaza commented on #2712
Looks like those could work!

[2016-04-27 04:04] whalenrp commented on #2712
Has anyone started this yet? I'd be interested in picking it up if not.

On Tue, Apr 26, 2016 at 12:57 PM, Zaahir Moolla <notifications@github.com>
wrote:

[2016-04-27 04:33] vikashvverma commented on #2631
@Spagy @moollaza It seems those triggers are already there but it does not seem to trigger for queries like:

https://duckduckgo.com/?q=notepad+alternatives

[2016-04-27 04:39] tagawa commented on #2712
I don't think so @whalenrp so please go ahead! And of course, ping us anytime here or in the Slack channels if you need a hand.

[2016-04-27 23:12] russellholt commented on #2686
The api handles other locations, all the special cases, and we don't have to maintain it.

[2016-04-28 08:28] tagawa opened #2716 "RubyGems: Showing identical repeated results"
With this search - https://rubygems.org/api/v1/search.json?query=blacklight - here's what's happening:
<img width="400" alt="ddg-rubygems-blacklight" src="https://cloud.githubusercontent.com/assets/94173/14879800/5bbfe3f0-0d66-11e6-8ccd-ad0adb9f52d4.png">

It looks like the source API is the cause: https://rubygems.org/api/v1/search.json?query=blacklight

------
IA Page:  http://duck.co/ia/view/ru

[2016-04-28 15:00] GuiltyDolphin commented on #2686
@russellholt Yea, true.

@MariagraziaAlastra Does it display the correct time if you have the region set to Italy?

[2016-04-28 15:52] brson opened #2718 "Rust Cargo Packages: Add fuzzy search"
Cargo package search would be more useful if the match was not exact. crates.io search is notoriously terrible, so it would be great if ddg made up the slack. The current IA for cargo search only shows something if there's an exact match (and maybe that's the purpase of ddg ia), but e.g. if I search for `cargo package errors` what I want to find is either the `error-type` or `quick-error` packages

[2016-04-28 20:02] lambda opened #2719 "Rust Cargo Packages: should accept the term "crate""
The unit of compilation in Rust is a crate, and packages can only contain a single library crate, so when searching, people are frequently going to want to search for a "rust crate" or "cargo crate". You should be able to use "cargo crate time" in the same way you would use "cargo package time".

------
IA Page:  http://duck.co/ia/view/rust_cargo
[Maintainer](http://docs.duckduckhack.com/maintaini

[2016-04-28 20:04] edgesince84 opened #2720 "Rust Cargo Packages: triggering feedback from Reddit user"
A Reddit user left feedback on this IA [here](https://www.reddit.com/r/rust/comments/4gujbf/help_improve_duckduckgos_rustrelated_searches/d2l45d5):

------
IA Page:  http://duck.co/ia/view/rust_cargo
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @TomBebbington

[2016-04-29 09:33] tagawa opened #2722 "Holiday: Taken Offline -- Triggering Needs Overhaul for Improved Relevancy"
It works fine on beta.duckduckgo.com but is not appearing on the live server: https://duckduckgo.com/?q=when+is+christmas

------
IA Page:  http://duck.co/ia/view/holiday
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @sekhavati

[2016-04-29 09:35] tagawa opened #2723 "Holiday: Give answers for Mother's Day, Father's Day, etc."
Following a [suggestion on Twitter](https://twitter.com/daytonlowell/status/725342856852824066), it would be helpful if this triggered on things such as `when is mothers day`. This changes depending on country, however, so would probably need to incorporate locale detection as well.

---

IA Page:  http://duck.co/ia/view/holiday
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html

[2016-04-29 19:25] MonoMonkey opened #2724 "Currency: Too few decimals for XBT"
When calculating any currency into Bitcoins, there are too few decimals (at least for small amounts).
If I enter 0.20 EUR in XBT the answer is 0.00 XBT.

---

IA Page:  http://duck.co/ia/view/currency
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @MrChrisW

[2016-05-01 17:53] iambibhas commented on #2724
That's because Bitcoin's price is too high for 0.20 Euro to calculate. Same with any high value currency. E.g. 0.20 INR = 0.00 USD. I think it's a design decision if we want to show more than 2 decimal places.

[2016-05-01 19:45] iambibhas commented on #2722
@tagawa This seems like a triggering issue on the server side. The spice JS is not even being called. Maybe check with someone who can debug it from backend?

[2016-05-01 19:51] iambibhas commented on #2716
Looks like it's fixed?

![](http://storage7.static.itmages.com/i/16/0501/h_1462132249_9322131_141fe8eabf.png)

[2016-05-01 20:14] iambibhas commented on #2712
themoviedb.org doesn't return any result when I search for `films with with Tom Cruise and Emily` or `Tom Cruise and Emily` or `Tom Cruise, Emily`. It only returns result for `tom cruise` or `emily`, but the results are Person type and not movie type. They have a `/find` method, but that requires IMDB ID of the people or movies.

thetvdb.com only returns TV series results. No movie results.

[2016-05-02 14:12] koosha-- commented on #2716
Apparently, it is fixed as pointed out by @iambibhas.

[2016-05-02 18:38] tagawa commented on #2716
@iambibhas @koosha-- Oh yes, looks fine now. Thanks for checking.

[2016-05-02 18:38] #2716 closed

[2016-05-02 18:48] tagawa commented on #2722
Thanks for checking @iambibhas. I'll check with the backend devs.

[2016-05-02 20:21] MonoMonkey commented on #2724
Maybe it would also help to somehow add the possibility to see the result in mXBT somehow?
That way, we might not even need any more decimal places.
Just throwing out suggestions.

[2016-05-03 07:09] iambibhas commented on #2724
We can probably add millibitcoin as a currency. But is it a standard?

Need community input on that.

[2016-05-04 11:30] rasikapohankar opened #2726 "BaconIpsum: Does not give an answer on live server"
The IA is not triggering on the live server but gives an answer on the beta server: https://beta.duckduckgo.com/?q=baconipsum+4&ia=baconipsum
Its in the docs as an example of text template group.

------
IA Page:  http://duck.co/ia/view/bacon_ipsum
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @puskin94

[2016-05-04 16:53] marti1125 commented on #2624
Hi @MrChrisW how I can spanish translation for this IA ?

[2016-05-06 05:13] MrChrisW commented on #2624
@marti1125 This is currently not possible until DDG integrates Instant answer translations.

[2016-05-06 14:15] zekiel opened #2727 "DNS: Not currently working"
Example queries on IA page do not result in the IA

e.g. https://duckduckgo.com/?q=MX%20records%20duckduckgo.com&ia=answer

---

IA Page:  http://duck.co/ia/view/dns
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @OndroNR

[2016-05-06 18:46] moollaza commented on #2685
If it's the same API and it isn't too hard to update the code to by dynamic, then keeping it as 1 IA is best. Otherwise 2 IAs is perfectly fine

[2016-05-07 01:32] gaulrobe commented on #2668
@moollaza @GuiltyDolphin I never heard back from XKCD about this :disappointed:

Should we close this issue for now?

[2016-05-07 01:36] gaulrobe commented on #2196
@moollaza @viluon

It looks like when `New Window` is ON only the `Explain it!` link opens in a new window. The other links that link back to another DuckDuckGo query remain in the same tab. Looks like there remains nothing else to do here? Can this issue be closed?

[2016-05-07 01:38] gaulrobe commented on #2196
@moollaza @viluon

Currently, when `New Window` is ON the behavior is that the `Explain it!` link opens in a new tab while the other links (that link back to DDG) remain in the current tab. Did this get fixed recently? If so, can this issue be closed?

[2016-05-07 01:43] gaulrobe commented on #2668
#992 implies that @davean is working on a new API for XKCD. We may want to wait and see what that looks like when the time comes to address this issue and 992.

[2016-05-07 07:51] mihaiolteanu opened #2731 "Advanced Calculator: Compute integral gives wrong result"
I've tried the sample search for "compute integral" but the result is a little bit off:

![duckduckgo_compute_intergral](https://cloud.githubusercontent.com/assets/8273519/15090925/0accde62-1441-11e6-88f1-7f48a0a48a3f.png)

Same with other powers apparently.
The result for x^a always seems to return x^(a+2)/(a+2).

------
IA Page:  http://duck.co/ia/view/symbolab
[Maintainer](http://docs.duckduckh

[2016-05-07 13:51] levaly commented on #2731
there seems to be a problem with the parser. I will fix asap.

[2016-05-08 19:33] OndroNR commented on #2727
In fact I wrote only original implementation, which @majuscule rewrote (#113).

[2016-05-09 18:59] moollaza opened #2734 "Zanran: Remove Instant Answer -- Website Offline"
It looks like Zanran has gone offline (www.zanran.com), we should confirm this and remove the Instant Answer if the website is offline permanently.

------
IA Page:  http://duck.co/ia/view/zanran
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @taw

[2016-05-10 15:56] moollaza commented on #2196
Looks like it!

[2016-05-10 15:56] #2196 closed

[2016-05-10 15:58] jashgala commented on #2699
I am unable to reproduce this.

[2016-05-11 15:28] maslic opened #2735 "Currency: Automatic currency depending on region"
Could the instant answer choose the default currency based on my region?
I'm in the Czech Republic, so if I enter **$6,5**, the result could be shown in CZK, instead of Euros.

Thanks

---

IA Page:  http://duck.co/ia/view/currency
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @MrChrisW

[2016-05-11 16:09] moollaza commented on #2631
@vikashvverma the triggers are there, but the regex in the `handle` prevents "foo alternative(s)" from triggering the IA.

[2016-05-11 18:00] AshiqueVlcy opened #2736 "Dictionary Definition:"
------
IA Page:  http://duck.co/ia/view/dictionary_definition
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @jagtalon

[2016-05-11 19:55] #2736 closed

[2016-05-11 19:55] GuiltyDolphin commented on #2736
@AshiqueVlcy Mistake?

[2016-05-11 19:57] GuiltyDolphin commented on #2685
@vikashvverma Status?

[2016-05-12 01:44] #2548 closed

[2016-05-12 02:33] tagawa opened #2737 "Tides: Needs more triggers"
This should trigger for things like "tides for 90210" and "tide in 90210", and perhaps "tide times in 90210".

------
IA Page:  http://duck.co/ia/view/tides
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @mattr555

[2016-05-12 03:13] vikashvverma commented on #2685
@GuiltyDolphin Will create a PR in a few days

[2016-05-12 03:13] vikashvverma commented on #2685
@GuiltyDolphin I will create a PR in a few days

[2016-05-12 03:15] vikashvverma commented on #2631
@moollaza I will look into it

[2016-05-12 17:09] levaly commented on #2731
this problem is now resolved. cheers!

[2016-05-12 17:16] #2731 closed

[2016-05-13 04:38] Asternitix commented on #2111
This problem is caused by not enough precision in the interpretation of the query. Adding a spell checker should solve this problem.

[2016-05-13 04:39] Asternitix commented on #2111
This problem could be solved with more precision in the interpretation. Adding a spelling check should solve this problem.

[2016-05-13 17:29] tagawa commented on #2630
All these queries are working for me, although the video tab takes priority - I need to click the "Answer" tab to see the pronunciation IA.

[2016-05-14 22:12] Asternitix opened #2738 "Time: Bad trigger"
This instant answer was triggered by the query: "Duration from Now to 4:15" and showed Athens, Greece.
------
IA Page:  http://duck.co/ia/view/time
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @MrChrisW

[2016-05-16 03:14] vikashvverma commented on #2685
@GuiltyDolphin @moollaza It seems same API return the cast info which can be used to display cast info based on original query. But Rotten Tomatoes does not provide picture of cast. I'm thinking of using `TMDb` for cast poster but that will involve network roundup for each cast

[2016-05-16 14:43] levaly commented on #2581
any idea when this feature will be pushed to production?

[2016-05-17 06:14] tagawa opened #2739 "DuckSay: Display width wrong with non-latin characters"
I'm not sure how easy this is to fix, but when using double-byte characters, e.g. Japanese, Chinese, Korean, etc., the speech bubble is not wide enough.

For example: https://duckduckgo.com?q=ducksay+ありがとうございます！&ia=ducksay

![ducksay-japanese](https://cloud.githubusercontent.com/assets/94173/15312804/ef56d6c0-1c41-11e6-8900-8bcde90c0c8b.png)

---

IA Page:  http://duck.co/ia/view/duck_say
[Maintai

[2016-05-17 11:55] tagawa commented on #2581
@levaly Now that your PR (#2708) has been merged, it should go live with the next release batch. Hopefully this will be in the next week or two. Thanks for your patience.

[2016-05-17 12:09] levaly commented on #2581
@tagawa thanks.

[2016-05-17 16:24] x-15a2 opened #2740 "Shorten: IA not functioning"
When using the Shorten IA, no IA interface is displayed, no shortened URL is provided. This was reported in the DDG subReddit and I have verified. The !ISGD !Bang is working correctly and provides a workaround.

------
IA Page:  http://duck.co/ia/view/shorten
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @danjarvis

[2016-05-18 12:48] edgesince84 opened #2741 "Indeed Jobs: overtriggering on "time in (city)" queries"
A DuckDuckGo user submitted feedback that this IA is triggering for searches about times in a specific city, such as "time in paoli." The results show part-time jobs.

---

IA Page:  http://duck.co/ia/view/indeed_jobs
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @tagawa

[2016-05-18 13:25] tagawa opened #2742 "Indeed Jobs: Show local time in the location"
As request by user.

------
IA Page:  http://duck.co/ia/view/indeed_jobs
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @tagawa

[2016-05-18 13:44] tagawa commented on #2742
Oops, duplicate.

[2016-05-18 13:44] #2742 closed

[2016-05-18 14:15] zekiel commented on #2685
@vikashvverma guessing the easier route is the best to start with. After it's on beta (or even live), it should make more sense when pictures would be useful. For example, my guess is that a list of Actors/actresses that link through to a search for them would be just fine for queries like `cast of x`

A 100% awesome API for movie information has always been an elusive beast :bear: but maybe Masha

[2016-05-18 14:16] GuiltyDolphin commented on #2685
@zekiel Images would be awesome - people sometimes know what the actor *looks* like - but not their name; so they search for `cast of X` to find the actor by face.

[2016-05-18 14:23] zekiel commented on #2630
@azurely these are all working for me as well but, as @tagawa said, the Answer tab where they appear is not coming up by default. I'm guessing it's do to with a slow response time so the tab falls back to images or videos to prevent the page from bumping:

https://duckduckgo.com/?q=pronounce+Ralph+Fiennes&ia=answer
https://duckduckgo.com/?q=how+to+pronounce+ralph+fiennes&ia=answer
https://duckduck

[2016-05-18 18:18] azurely commented on #2630
I am now seeing the answer tab in addition to videos! Should this issue be closed now, or is it useful as a reference for the video fallback dealio?

[2016-05-18 23:32] tagawa commented on #2630
Me too! The Answer tab is now taking priority. The devs made a little tweak to tabs a few hours ago so I reckon that's had an effect. Anyway, closing for now and we can re-open again if necessary.

Thanks for reporting and checking back @azurely.

[2016-05-18 23:32] #2630 closed

[2016-05-20 19:20] moollaza opened #2743 "Just Delete Me: Replace `string.includes()` with IE friendly function"
Our internal CasperJS tool failed when checking if this Instant Answers was online because of the `string.includes()` method which has been used, because it is not supported across all browsers.

We need to replace this with something that works in Chrome, Safari, FireFox and IE 9+

For now the IA has been disabled in Production

------
IA Page:  http://duck.co/ia/view/just_delete_me
[Maintainer](

[2016-05-20 19:24] moollaza opened #2744 "Shorten: API Redirecting to HTTPS, Code Update Required"
This IA has been taken offline because it started failing.

The API now redirects to HTTPS so we need to updated the `spice to` accordingly in order to get this IA online again.

------
IA Page:  http://duck.co/ia/view/shorten
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @danjarvis

[2016-05-20 19:31] moollaza opened #2745 "Bike Sharing New York City (Citi Bike): IA Disabled, API URL Changed?"
This IA has been taken offline because it started failing.

It looks like the URL for the API has changed and is now redirecting to a new subdomain. The `spice to` needs to be updated accordingly to get this IA online again

------
IA Page:  http://duck.co/ia/view/citi_bike_nyc
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @marianosimone

[2016-05-20 20:33] moollaza commented on #2709
@statista Ping! Would you be interested in fixing this Instant Answer so it will go live again?

[2016-05-21 03:48] appleiphonegodfather opened #2747 "Images: https://www.facebook.com/hieu.nguyentrong.10441?pnref=story#"
------
IA Page:  http://duck.co/ia/view/images
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @jagtalon

[2016-05-21 04:14] jwalantsoneji commented on #2225
now, not able to replicate this scenario because of "Web" being the first tab in the results and by default that being open for something not exactly asking for images.

Sometime back.......
###
Well, Its different behaviour on the mobile site.
here are steps to reproduce the issue:

Open ddg.gg in Firefox in your mobile
Search for anything which gets images tab.. may be like "duckduckgo"
The sear

[2016-05-21 07:15] tagawa commented on #2720
Looks like both these issues have already been reported, so closing this:
Add fuzzy search: https://github.com/duckduckgo/zeroclickinfo-spice/issues/2718
Add "crate" trigger: https://github.com/duckduckgo/zeroclickinfo-spice/issues/2719

[2016-05-21 07:15] #2720 closed

[2016-05-21 07:17] tagawa commented on #2699
Me too, I can't get the statistics Instant Answer to trigger at all.

[2016-05-21 07:19] tagawa commented on #2681
Fixed by #2683

[2016-05-21 07:19] #2681 closed

[2016-05-21 23:14] marianosimone commented on #2745
@moollaza yes... that's why I created https://github.com/duckduckgo/zeroclickinfo-spice/pull/2706 a while ago

[2016-05-22 00:49] edgesince84 commented on #2225
@jwalantsoneji I'm trying to recreate your issue - are you referring to this kind of screen when you say "click on the tab button?" http://imgur.com/vlStiJr

[2016-05-22 01:41] jwalantsoneji commented on #2225
Yes. However, I had checked in Firefox.

रवि, 22 मई 2016, 6:19 am को Bill <notifications@github.com> ने लिखा:

--

Regards,
Jwalant Natvarlal Soneji (http://jwalantsoneji.com)

[2016-05-22 20:51] Naser88 opened #2753 "Dictionary Definition:"
------
IA Page:  http://duck.co/ia/view/dictionary_definition
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @jagtalon

[2016-05-23 03:35] #2719 closed

[2016-05-23 03:40] #2743 closed

[2016-05-23 03:42] tagawa commented on #2743
@moollaza This has just been fixed (and merged) by @riqpe so it should be OK re-enable the IA in production.

[2016-05-23 07:58] #2718 closed

[2016-05-23 14:55] #2753 closed

[2016-05-23 14:55] GuiltyDolphin commented on #2753
@Naser88 Accident?

[2016-05-23 14:55] moollaza opened #2755 "TVMaze Next Episode: IA Taken offline, No longer triggering correctly"
This IA has been taken offline because it stopped working correctly.

It is still live on Beta and the API response looks to be correct, but the format may have changed? I don't see any console errors, so a more in-depth look needs to be taken to see what's changed and how we can get this IA functioning properly again.

------
IA Page:  http://duck.co/ia/view/tvmaze_nextepisode
[Maintainer](http:/

[2016-05-23 15:05] GuiltyDolphin opened #2756 "Hackage Packages: Provide better information for 'hoogle' searches"
When I search for `hoogle a -> b` it would be nice if it displayed which package the function belongs to, as well as the type and short description.

Currently we just have the type and a block description:

![screenshot-2016-05-23-16 02 57_698_272](https://cloud.githubusercontent.com/assets/8598426/15475084/f3faa02c-20ff-11e6-8fc0-f64ff737507e.png)

---

IA Page:  http://duck.co/ia/view/hackage
[

[2016-05-24 13:14] GuiltyDolphin commented on #2704
Uhh, @tagawa this might be a separate issue (not relating to SoundCloud)?

[2016-05-24 13:38] tagawa commented on #2704
Thanks very much for reporting this @kirllos. It looks like it's something that affects the UI in general so I've moved the issue to our platform repository: https://github.com/duckduckgo/duckduckgo/issues/202
(and thanks for the ping @GuiltyDolphin)

[2016-05-24 13:38] #2704 closed

[2016-05-24 16:30] jonk1993 commented on #2727
It looks like the example queries trigger fine when running duckpan server on codio, what could cause it to not work on the actual site?

[2016-05-24 17:30] moollaza commented on #2747
@appleiphonegodfather is there an issue you wanted to report?

Please fill out the Issue Description with details if so. For now I'm closing this issue.

[2016-05-24 17:30] #2747 closed

[2016-05-25 21:02] ghost opened #2757 "Geometry: Improve triggering"
The geometry shapes should be triggered just by typing their name ex. Instead of "geometry square" it should trigger with "square" . Please fix it because many people complain about it.

---

IA Page:  http://duck.co/ia/view/geometry
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @pixunil

[2016-05-25 21:50] GuiltyDolphin commented on #2757
@DPAUTH could you link to some complaints (Twitter or some such)? It'd be interesting to see the feedback and specific requests.

[2016-05-25 22:58] moollaza opened #2758 "Quote Of The Day: Quote icon cut off on mobile devices"
On mobile devices the quote icon is clipped making it look broken.

We should fix or remove the icon on smaller screens

------
IA Page:  http://duck.co/ia/view/quote_of_the_day
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @pnpninja

[2016-05-26 07:40] tagawa opened #2759 "Time: Doesn't seem to trigger for US cities/states"
It's fine for "time in paris" or "time in berlin", but not for any US city or state. Have tried Florida, Orlando, Washington, Virginia, Chicago, Boston, Seattle, Maine.

[Reported on Twitter](https://twitter.com/asbradbury/status/735734267104239619)

------
IA Page:  http://duck.co/ia/view/time
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @MrChrisW

[2016-05-26 15:32] moollaza commented on #2722
This IA was shut off because it was over triggering. The triggers need to be reigned in using a list of holiday names instead of "when is XXXX" so we're absolutely sure we know when to trigger the IA

[2016-05-26 15:37] moollaza commented on #2722
@duckduckgo/duckduckhack-contributors would anyone be interested in tackling this?

@sekhavati had started down the path and might have some code available. Basically we need to scrape a big list of popular holiday names from the internet (Wikipedia and Timeanddate would be a good place to start) so that we can verify the query contains an actual holiday name in it before making an API call.

The

[2016-05-26 15:39] moollaza commented on #2723
This should hopefully be resolved when #2722 is fixed

[2016-05-26 15:45] moollaza opened #2760 "Color Picker: Use HSL/HSB instead of HSV"
Suggestion from @russellholt:

The color picker uses HSV whereas the Hex color code IA uses HSL: https://duckduckgo.com/?q=%23ccc&ia=answer

Additionally, Hex color code shows "CMYB"

Our design team mentioned they're more familiar with CMYK and HSB

@duckduckgo/duckduckhack-contributors @duckduckgo/community-leaders I know there are some designers and front-end developers amongst you! Any opinion

[2016-05-26 15:49] alohaas commented on #2760
I would advocate for CMYK and HSB. Both are valuable for non-digital designers as well!

[2016-05-26 16:00] NaveenKarippai commented on #2722
@moollaza what would be the preferred way to add scraped data - PR in a yml file?

[2016-05-26 16:19] mintsoft commented on #2760
@moollaza Just to chime in here; the hex colour code formats are valid CSS formats, that's why they were chosen :)

[2016-05-26 19:11] MrChrisW commented on #2759
Thanks @tagawa I'll add this to https://github.com/duckduckgo/zeroclickinfo-spice/issues/1730

[2016-05-26 19:11] #2759 closed

[2016-05-26 19:12] MrChrisW commented on #2738
@Asternitix This doesn't seem to trigger for me
![image](https://cloud.githubusercontent.com/assets/5282264/15586792/d88008b6-234b-11e6-83bf-60af3a647644.png)

[2016-05-26 19:27] moollaza commented on #2722
@NaveenKarippai yes I imagine a YAML or JSON file would be ideal, probably containing the normalized  names of holidays and any aliases. The most important part is updating the logic to check for the existence of a valid holiday name in the query. A list of the most popular 100 holidays would be a good place to start. TimeAndDate has pages on their site that could likely be scraped. They organize

[2016-05-26 20:09] GuiltyDolphin commented on #2722
@moollaza @NaveenKarippai You might be able to grab some quite easily from http://holidayapi.com/v1/holidays?country=US&year=2016 (http://holidayapi.com); you can do some GET requests to get some common holidays for different countries.

[2016-05-27 08:37] tagawa opened #2761 "Timer: Have option for alarm to be a quack"
For duck-lovers :-)

[Suggested on Twitter](https://twitter.com/xdesigns/status/735888671145132032)

---

IA Page:  http://duck.co/ia/view/timer
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @mattr555

[2016-05-27 10:42] tagawa commented on #2759
Thanks @MrChrisW. You must be busy so much appreciated. Hope things are going well for you by the way.

[2016-05-27 12:08] philipmiesbauer commented on #2760
I personally use only the hex colour code for android development. But I
can see the advantage of CMYK and HSB for designers. If we want DuckDuckGo
to be used by people other than programmers like us, I think adding those
codes is essential.

On Thu, May 26, 2016, 19:20 Rob Emery <notifications@github.com> wrote:

[2016-05-27 14:20] DPAUTH commented on #2757
@GuiltyDolphin Sorry for the late response. I was talking about this with other ducks but if you want to I can tell them to post something on twitter (we all have the same complaint).

[2016-05-27 15:03] RCMainak commented on #2760
Can we have all the color code formats? That way it'll be a general purpose thing and everyone can use it.

[2016-05-27 18:13] xaviervalarino commented on #2760
I actually did not realize there was a difference between HSV/B was HSL, until reading this issue!

(https://en.wikipedia.org/wiki/HSL_and_HSV)

For what it's worth, I usually use CMYK when designing for print and RGB(A) or HEX for web, and can't remember the last time I used HSB. That being said I know there are people who use it. We could potentially do both,  but I am concerned it has the poten

[2016-05-27 18:32] carolyz commented on #2621
Just submitted my attempt. This is my first time doing this so please give me a shout if there is anything out of place and I will be happy to fix it!

[2016-05-27 19:02] moollaza commented on #2722
@GuiltyDolphin thanks for that link. I think it would be ideal to get the Holidays listed on TimeAndDate.com, because their API will have results for those for sure. I'm also not sure if they have results for holiday names in other alphabets

[2016-05-28 08:51] tagawa commented on #2609
Fixed internally.

[2016-05-28 08:51] #2609 closed

[2016-05-28 10:12] matthewmorris085 opened #2764 "Rust Cargo Packages:"
------
IA Page:  http://duck.co/ia/view/rust_cargo
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @TomBebbington

[2016-05-28 10:35] matthewmorris085 opened #2765 "Jr.Devjobs:"
------
IA Page:  http://duck.co/ia/view/jr_devjobs
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @HunterMeyer

[2016-05-28 20:59] zekiel commented on #2765
@matthewmorris085 can you expand on these issues? There's no text and they appear to be working. For this, I noticed that there are multiple "Jobs" tabs so we could potentially rename the tab in this IA

[2016-05-28 21:00] zekiel commented on #2764
@matthewmorris085  As in #2765, can you please add some descriptive text on what issue you're encountering w/ this IA or what improvement suggestion you have?

[2016-05-29 10:32] sekhavati commented on #2722
@moollaza I should have some time tomorrow to pick up where I left off with #2678 which will resolve this case

[2016-05-29 10:37] sekhavati commented on #2722
@tagawa @moollaza @GuiltyDolphin Looks like I can't even trigger this IA on my local server, can you enable it on the back-end so I can test my changes otherwise I wont be able to get very far tomorrow

[2016-05-29 21:47] edgesince84 commented on #2722
@sekhavati someone should be able to address your issue shortly!  sorry for the delay

[2016-05-30 02:37] tagawa commented on #2722
Hi @sekhavati. This seems to be triggering for me, both with DuckPAN server in Codio and on the beta site: https://beta.duckduckgo.com/?q=when+is+christmas&ia=answer (although I had to click the Answer tab).

If you try with the query "when is christmas", is it still not triggering? If not, are you using Codio or a local installation of DuckPAN?

[2016-05-30 02:54] shd88 opened #2767 "Instant Answers on Beta:"
------
IA Page:  http://duck.co/ia/view/experimentalia
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @vikashvverma

[2016-05-30 10:48] sekhavati commented on #2722
@tagawa Apologies I think I must have tested on a tree with other changes that were preventing it triggering, its working for me now.

[2016-05-30 11:59] tagawa commented on #2722
@sekhavati Good to hear! Thanks for the confirmation.

[2016-05-30 13:02] alohaas commented on #2621
@carolyz awesome! taking a look.

[2016-05-30 13:37] moollaza commented on #2755
@duckduckgo/duckduckhack-contributors would anyone be interested in investigating the problem here?

It would be awesome to get this IA back online again!

[2016-05-30 13:52] NaveenKarippai commented on #2758
@moollaza I'm interested to pick up this issue. Could you please assign it to me.

[2016-05-30 14:03] moollaza commented on #2755
My mistake! It looks like this IA is now working again. The API must have been updated!

https://beta.duckduckgo.com/?q=the+big+bang+theory+next+episode&ia=entertainment

[2016-05-30 14:03] #2755 closed

[2016-05-30 14:09] moollaza commented on #2744
@duckduckgo/duckduckhack-contributors Anyone want to tackle this? The fix is super easy, all you need to do is change `http` to `https` in the `spice_to` string!

[2016-05-30 14:13] anthonyn60 commented on #2744
I can take it

[2016-05-30 14:19] #2156 closed

[2016-05-30 14:19] #2745 closed

[2016-05-30 14:25] moollaza opened #2771 "Airlines: IA Disabled in Production -- No longer triggering correctly"
This IA stopped working correctly and has been disabled in Production. It is still live on Beta though.

It looks like the API is still responding correctly, however there are no JS errors. Something has likely changed with the API response and so this needs further investigation to get it online again.

------
IA Page:  http://duck.co/ia/view/airlines
[Maintainer](http://docs.duckduckhack.com/mai

[2016-05-30 14:32] moollaza commented on #2709
@duckduckgo/duckduckhack-contributors anyone interested in investigating this?

It looks like the URL Format for the API has changed and so the `spice_to` needs to be updated.

The API Documentation is here: http://www.statista.com/download/Statista-API.pdf -- this should outline the new URL format.

[2016-05-30 15:15] moollaza commented on #2758
@NaveenKarippai assigned!

[2016-05-30 15:34] NaveenKarippai commented on #2709
@moollaza I'd like to tackle this. Please assign it to me, I can try!

[2016-05-30 15:38] moollaza commented on #2709
@NaveenKarippai thanks! Assigned to you.

[2016-05-30 17:31] debprasad commented on #2755
Hi,
I'm very interested to contribute. But I'm confused where to start. Can
anybody help me.

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virus-free.
www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DDB4FAA8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

On Mon, May 30, 201

[2016-05-30 17:33] zekiel commented on #2765
This Instant Answer is being addressed at: https://github.com/duckduckgo/zeroclickinfo-spice/pull/2523

[2016-05-30 17:57] zekiel commented on #2767
@shd88 can you please add some descriptive text on what issue you're encountering w/ this IA or what improvement suggestion you have?

[2016-05-30 18:07] vjo opened #2772 "Twitter: Add user id in IA Twitter"
Hello,

I believe adding the `user id` in the Twitter IA card would be useful and almost "free" since it comes in the API response.

I was looking to add it but DuckDuckGo is using a proxy `/tw.js` and it doesn't seems to be available on Github or anywhere else?

Any thoughts or interest in adding the `user id` in the proxy response?

See an example:
https://duckduckgo.com/tw.js?user=duckduckgo

T

[2016-05-30 18:29] rasikapohankar commented on #220
@MrChrisW  @moollaza Is this being worked on? If not, I'd like to try.

[2016-05-30 18:56] zekiel commented on #2772
@vjo  interesting suggestion! Would you use that to get a sense of their twitter join date? Just asking in case there's a better implementation for the info you're taking action on.

[2016-05-30 19:27] vjo commented on #2772
@zekiel, my use case is just to get `user id` - but maybe I'm the only one that need it from time to time.
To get the date the user joined Twitter, we can get it from the API response as well, using `created_at` field, see https://dev.twitter.com/rest/reference/get/users/show (assuming the proxy use this endpoint).

Ideally, `/tw.js` would proxy to the Twitter API but return all the fields so if w

[2016-05-30 20:17] moollaza commented on #2771
@duckduckgo/duckduckhack-contributors is anyone available to investigate this bug?

@amoraleda is currently busy and doesn't have the time to fix Airlines. This is a very important Instant Answer so getting it back online is a high priority!

I'm not sure how simple or complex the fix is, but the API is working so it may just be a simple JS fix.

[2016-05-30 20:55] tvdavid commented on #2755
Very strange! I'm pretty sure there haven't been any backwards incompatible changes since our API launched, but I can guarantee there haven't been any changes at all in the past weeks.

I think the more likely explanation is that a specific show/episode's generated a response that the code doesn't account for. If you see any problems, let me know the specific query that's causing it and I'll help

[2016-05-30 21:07] moollaza commented on #2755
Hey @tvdavid -- our testing system actually uses the example query from the IA Page, so before I changed it today, it was "the big bang theory next episode" which was definitely not working when I made the issue, but is totally working again now.

[2016-05-30 21:45] matthewmorris085 opened #2773 "XKCD:"
------
IA Page:  http://duck.co/ia/view/xkcd
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @gaulrobe

[2016-05-30 21:49] marianosimone commented on #2771
@moollaza just to be sure... this has nothing to do with this commit: https://github.com/duckduckgo/zeroclickinfo-spice/commit/b518fa3a5a5f13ead1cd2f6995faa96ae4aa6efd which effectively disables de IA, right?

I reenabled it, and it works just fine in my codio instance...

[2016-05-30 21:55] gaulrobe commented on #2773
@matthewmorris085 was this issue opened by mistake?

[2016-05-31 01:01] #2773 closed

[2016-05-31 01:02] #2765 closed

[2016-05-31 01:02] #2764 closed

[2016-05-31 01:23] MrChrisW commented on #220
@rasikapohankar This is not being worked on, feel free to take it up 👍

[2016-05-31 01:28] moollaza commented on #2771
Correct. This IA is triggered exclusively via our internal system which looks for certain websites in the link results to determine if the IA should be triggered.

In this case the issue isn't with the triggering, because we're making the client is making the API call. Something is breaking once the JSONP response comes back and the callback fires.

[2016-05-31 02:44] marianosimone commented on #2771
I did some manual testing, and I saw that the callback gets invoked twice: once with today's response (which works ok and shows the result), and once in yesterday's (which makes the spice call `Spice.failed('airlines')`

Internal triggering is a bit obscure to me, so I'm not exactly sure what's going on... but the fact that it's being called twice might be a hint for you guys

[2016-05-31 10:17] marcoslater commented on #2266
Any updates on this? Would love to see more countries then just the US being covered! 👍  😄

[2016-05-31 10:39] marcoslater opened #2774 "Minecraft Status: Use Mojang status API"
Hello,

It would be best to perhaps use a direct Mojang API to query for the status, to prevent misleading error messages in case your personal site may be having any issues.

You can try `https://status.mojang.com/check`, which Mojang use for the https://help.mojang.com/ site as well.

You can also query info of a specific service:
`https://status.mojang.com/check?service=sessionserver.mojang.com

[2016-05-31 11:17] navneetzz commented on #2266
Sorry guys for delay I will be Putting the PR probably this week.

[2016-05-31 13:09] destruc7i0n commented on #2774
I made my own API as I wanted to include the status of realms which is not available from this endpoint. I use one of [these](http://wiki.vg/Realms_API) endpoints, see if the endpoint works and then combine that with the data from the official endpoint.

[2016-05-31 18:23] moollaza commented on #2771
@marianosimone thanks for investigating -- I believe the secondary API call is made by the Spice's JS code. We wanted a wider flight window (the API only supports flights from the previous or future 24 hours) so it means we needed 2 calls to figure out if the flight requested is something that recently departed or is still going to depart.

However, with more testing I'm finally seeing an error on

[2016-05-31 18:34] moollaza commented on #2741
@tommytommytommy Can we address this in the deep trigger?

[2016-05-31 19:24] NaveenKarippai commented on #2758
@moollaza Please review PR https://github.com/duckduckgo/zeroclickinfo-spice/pull/2781

[2016-05-31 19:54] #2767 closed

[2016-05-31 19:55] zekiel commented on #2767
@shd88  would you be interested in helping DuckDuckGo get better at [programming-related searches](https://duck.co/blog/post/297/help-for-programmers)? I'd be happy to sync up w/ you and discuss how to get involved.

[2016-05-31 20:01] zekiel commented on #2772
@vjo  thanks for expanding! Sounds like we found three suggestions from this.

1. Add `user_id` to twitter IA to show that person's numerical twitter ID.
2. Add "joined on" via `created_at` to twitter IA to show when the person joined twitter
3. Reconfigure Twitter IA to return all fields available so that future updates have all available information.

I'm not sure why the current implementation

[2016-05-31 20:01] zekiel commented on #2772
@vjo  if @jagtalon  is willing to give up Maintainership of this IA, would you like to lead it instead?

[2016-05-31 20:42] vjo commented on #2772
@zekiel Thanks for summarizing.
On your 3rd point, I might be wrong but from my understanding, the proxy `/tw.js` is not really part of the IA but a DuckDuckGo owned service we can't access/modify for now. I guess @jagtalon would be able to give us context on it.

Once we figure out this point, I will be happy to help to add available information to the card such as `user_id` and `created_at`.

I

[2016-06-01 08:28] tagawa commented on #2068
Thanks for the ping @theaverageguy. Looks like the wording on this has changed so this is no longer an issue: https://beta.duckduckgo.com/?q=ua78&iai=1&ia=flights

[2016-06-01 08:28] #2068 closed

[2016-06-01 17:12] zekiel commented on #2772
thx @vjo  we'll need to think about how we can make this easier to contribute to. I've got an internal task open to evaluate and we'd love your help whenever it's possible.

[2016-06-02 21:00] GuiltyDolphin commented on #2761
@tagawa I'm just putting this on hold until we've sorted the port - we might want to move the issue to Goodies after that.

[2016-06-03 02:19] tagawa commented on #2761
Good idea @GuiltyDolphin

[2016-06-03 14:13] tagawa commented on #2638
Indeed it is - thank you @sekhavati 🍰

[2016-06-03 14:13] #2638 closed

[2016-06-03 14:17] tagawa commented on #2603
This looks good to me now. Thanks for the fix @flygeneticist!

[2016-06-03 14:17] #2603 closed

[2016-06-03 14:21] tagawa commented on #2499
Looks good now thanks to the fix from @Sayanc93 :-)

[2016-06-03 14:21] #2499 closed

[2016-06-03 14:26] tagawa commented on #2248
Works now

[2016-06-03 14:26] #2248 closed

[2016-06-03 14:29] tagawa commented on #2097
Closing this, as the IA has been updated to use the Deckbrew API.

[2016-06-03 14:29] #2097 closed

[2016-06-03 14:33] tagawa commented on #1636
Looks good to me now.

[2016-06-03 14:33] #1636 closed

[2016-06-03 14:34] tagawa commented on #1615
Looks like this IA is offline

[2016-06-03 14:38] tagawa commented on #1431
Seems to work for me, both the IA and the API directly. Also tried refreshing a few times.

[2016-06-03 15:03] jagtalon opened #2784 "CitiBike: Need to proxy .getJSON requests"
Running `$.getJSON("https://gbfs.citibikenyc.com/gbfs/en/station_status.json")` directly in the Spice is not allowed since it's a breach of privacy (it accesses a resource outside of DuckDuckGo). We need to proxy this.

How do we proxy?

See example proxy endpoints in the Dictionary Instant Answer here https://github.com/duckduckgo/zeroclickinfo-spice/blob/master/lib/DDG/Spice/Dictionary/Definitio

[2016-06-03 21:09] moollaza commented on #1615
@tagawa seems to be working fine? https://duckduckgo.com/?q=pill+red+round&ia=rxinfo

[2016-06-04 02:06] tagawa commented on #1615
@moollaza Ah, it was the original query that wasn't returning anything. My mistake.

Looks like this is still an issue, although now there's no image displayed, e.g. https://duckduckgo.com/?q=rxinfo%2068180-0481-01&ia=rxinfo

<img width="250" alt="rxinfo-no-image" src="https://cloud.githubusercontent.com/assets/94173/15796992/69c2263e-2a44-11e6-87e0-bbf64d53efea.png">

[2016-06-04 18:09] NaveenKarippai commented on #2701
@vikashvverma

[2016-06-05 12:27] #2663 closed

[2016-06-05 17:07] zachthompson commented on #898
@ghedo are you around and interested in maintaining this?

[2016-06-06 07:56] #2744 closed

[2016-06-06 14:20] moollaza opened #2788 "Playing cards: Triggers on Irellevant Queries -- Validation Regex Needs Improvent"
The query validation regex only requires there to be a number in the query, meaning any query that starts or ends with "deal" or "draw" and contains a number will trigger this Instant Answer:

Looking at the autocomplete, all the queries listed trigger and show a result and none of them are relevant. The regex needs to be improved to validate the whole query contains the words we expect, and nothi

[2016-06-06 14:28] moollaza opened #2789 "Shorten: Triggers on just "shorten" -- Need to check remainder length"
This IA is throwing some errors for queries that shouldn't be triggering or showing a result.

The query "shorten" triggers the IA and produces an error: "Use of uninitialized value $q in pattern match (m//) at lib/DDG/Spice/Shorten.pm line 17."

The same happens for "shorten url" and "shorten url for". We need to add more checks to the `handle` statement because it's assuming we have a valid quer

[2016-06-07 12:53] statista commented on #2709
sorry for the late answer from our side, we changed the API - so the IA should work again
@moollaza : could you doublecheck that?

[2016-06-07 12:54] statista commented on #2699
sorry for the late answer from our side, we changed the API - so the IA should work again

[2016-06-07 14:50] edgesince84 opened #2793 "DOTA 2 Heroes: "more at" link not always working"
When viewing the Queen of Pain IA, the "more at" link in the IA does not link to the directly Queen of Pain overview on dota2.com.  It brings you to the general "choose a hero" screen.  It links directly to other heros' profiles when viewing their IA and following the "more at" link.    Is there anything actionable there?  It might just be an issue with dota2.com

------
IA Page:  http://duck.co/i

[2016-06-07 15:03] gaulrobe commented on #2793
Looks like individual hero URL is now http://www.dota2.com/hero/Queen_of_Pain/.

No longer `heroes` in the URL. This should be fixable!

[2016-06-07 15:09] edgesince84 commented on #2793
@gaulrobe isn't it weird that other characters pages are working, though?  [Following this one](https://duckduckgo.com/?q=kunkka+dota+2&t=ffab&ia=games) still works, for example.

[2016-06-07 15:28] gaulrobe commented on #2793
@edgesince84 ah yes, that IS weird! Looks like the link for the Queen of Pain is showing up as https://www.dota2.com/hero/Queen_of%20Pain

That encoded space should be an underscore.

[2016-06-07 15:57] gaulrobe commented on #2793
From their endpoint:
[code]

Maybe, to make the URL we should use the `u` field instead of `dname` here https://github.com/duckduckgo/zeroclickinfo-spice/blob/master/share/spice/dota2/dota2.js#L200

[2016-06-07 16:17] edgesince84 commented on #2755
@debprasad can you shoot me an email?  I'd love to help you get started on something!  bill@duckduckgo.com 👍

[2016-06-07 16:23] moollaza commented on #2709
@statista thanks for getting back to us! I just tried some queries on beta.duckduckgo.com where it's still deployed but I'm not getting any API results back: https://beta.duckduckgo.com/js/spice/statista/fifa

[2016-06-07 17:33] moollaza commented on #2111
@slashbang are you seeing mostly irrelevant images? For me I only see about 2 or 3 images that aren't great, but the rest are pictures of France.

[2016-06-07 18:05] NaveenKarippai opened #2795 "Forecast: Add % precipitation to answer"
could show % precipitation to answer as this could be useful to some users.

------
IA Page:  http://duck.co/ia/view/forecast
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @himanshu0113

[2016-06-07 19:20] alohaas commented on #2266
@navneetzz how's it going? :)

[2016-06-07 19:24] alohaas commented on #2774
@marcoslater are you interested in trying out @destruc7i0n 's suggestion and making a PR? If not, we can see if other members of the community would like to take this on.

[2016-06-07 20:05] alohaas commented on #2757
@DPAUTH can you link us to those tweets. We'd like to improve triggering for this one if possible.

[2016-06-07 21:52] echosa commented on #2793
I didn't realize that `u` field was there. Provided it is consistent across all the heroes (it _should_ be), that's much better than manually using `name` and changing ` ` to `_`, as I did. :+1:

[2016-06-07 23:43] destruc7i0n commented on #2774
@alohaas I'm actually working on updating my version to be much faster and reliable, as my old version used some pretty outdated code. It would be at the same endpoint as well.

[2016-06-08 01:17] pnpninja commented on #2758
Thanks @NaveenKarippai

[2016-06-08 07:32] DPAUTH commented on #2757
Ok I will tell them to comment it on twitter and I will show the links.

[2016-06-08 12:29] tagawa commented on #2699
Thanks @statista. Looks like the issue this depends on (#2709) is still having problems so we'll wait for that to get sorted first.

[2016-06-08 12:40] alohaas commented on #2757
Thanks so much!

[2016-06-08 12:43] alohaas commented on #2774
Woohoo 🐎

[2016-06-08 12:52] navneetzz commented on #2266
@alohaas I'm going to Create PR in couple of days. Only problem is that the Breezometer is free only for 30 days, while I have API key which was generated when there was no Pricing policy. So, what you say? Should we go ahead with this?

[2016-06-08 13:55] moollaza commented on #2740
This IA is now live again 👍

[2016-06-08 13:55] moollaza commented on #2740
https://duckduckgo.com/?q=shorten+http%3A%2F%2Fwww.duckduckgo.com%2Fabout.html&ia=shortenedlink

[2016-06-08 13:55] #2740 closed

[2016-06-08 15:15] moollaza commented on #2266
@navneetzz looks like this API is no longer an option then -- you're correct that there's no free usage tier anymore 😞

[2016-06-08 15:15] #2266 closed

[2016-06-08 17:58] edgesince84 commented on #2676
@shashankgroovy wanted to tackle this one for his first DDG contribution 💃

[2016-06-08 18:01] Adman commented on #2676
@moollaza Sorry I haven't noticed this issue. Will fix that

[2016-06-08 18:10] GuiltyDolphin commented on #2757
@DPAUTH BTW this is being ported at the moment (https://github.com/duckduckgo/zeroclickinfo-goodies/pull/3181) - so we might have to wait for that to conclude before we can take *action* on this.

[2016-06-08 18:20] edgesince84 commented on #2758
Hey @pnpninja, good to see you around these parts again!  Anything new you're thinking of working on?

[2016-06-08 23:34] sahildua2305 commented on #1814
This may be my first contribution to this repo. Can I take this? @moollaza
Docs to get started please?

[2016-06-08 23:41] sahildua2305 commented on #988
@jdorweiler Can you please point me at an updated doc for Sorting block? The link you mentioned doesn't work now.

[2016-06-09 06:38] pnpninja commented on #2758
Hey there @edgesince1984. I'll try picking up some issues and new features from the list online.. We could extend the quote of the day spice - https://theysaidso.com/api/#qodcat

Showing the quote based on categories

[2016-06-09 06:39] pnpninja commented on #2758
Hey there @edgesince84. I'll try picking up some issues and new features from the list online.. We could extend the quote of the day spice - https://theysaidso.com/api/#qodcat

Showing the quote based on categories

[2016-06-09 07:02] rasikapohankar opened #2797 "SoundCloud: Unable to play audio"
On trying to play a song, it is showing a 403 Forbidden response from nginx. For example, https://duckduckgo.com/audio_redirect/https://cf-media.sndcdn.com/dddC2JyLfHDG.128.mp3. I wasn't sure if it is happening only for me but tried it for a number of songs since yesterday, its returning the same response.
@moollaza @GuiltyDolphin @tagawa

------
IA Page:  http://duck.co/ia/view/sound_cloud
[Maint

[2016-06-09 10:44] shashankgroovy commented on #2463
hey @mattr555 ! Are you still up for porting the color picker spice? If not I'd like to do it as my first contribution. And @GuiltyDolphin issue #2675 is pending for color picker - awaiting a better solution . so should we wait for it or can I fix that issue and port color picker together?

[2016-06-09 11:45] GuiltyDolphin commented on #2463
@shashankgroovy I think that solution won't be necessary as we'll be processing more of the queries in the Perl so I think it would be better handled in Perl as a Goodie (though I haven't familiarized myself with the workings of that IA).

What say you @mattr555 ?

[2016-06-09 12:05] asb opened #2798 "RedditSearch/Images: deficiency in triggering"
Behaviour here seems somewhat random. Sometimes searching for 'reddit doom glium' triggers the image instant answer instead of reddit, sometimes it doesn't. Same with 'reddit doom on glium'.

------

IA Page: https://duck.co/ia/view/reddit_search

[2016-06-09 13:21] jbarrett commented on #1814
I came across this IA when working on metacpan - overlapping trigger spaces! Noticed it was broken, cane looking for an issue :smile:

Thanks @sahildua2305! Docs for getting started with spice are here : http://docs.duckduckhack.com/walkthroughs/forum-lookup.html

[2016-06-09 13:40] edgesince84 commented on #2758
@pnpninja sounds good!

[2016-06-09 13:47] edgesince84 commented on #2797
I'm getting "stream unavailable" for everything I try, too.

[2016-06-09 13:57] edgesince84 commented on #2798
I'll test this out a few more times and see if I get anything different.

cc @mattr555 // @majuscule

[2016-06-09 14:00] rasikapohankar commented on #2797
Hey @edgesince84, yes its saying 'stream unavailable' and the Network tab in the developer console shows 403 Forbidden from nginx, there are 3 requests every time we press play button, two have 301, 302 response codes and the one with `https://duckduckgo.com/audio_redirect/...` is giving a 403 response code. I could not figure out anything more for now. How do I confirm if it is a problem in commu

[2016-06-09 14:14] edgesince84 commented on #2797
@rasikapohankar I'm bringing in some more eyes from our internal staff to look at this one.  thank you very much!

[2016-06-09 14:21] nilnilnil commented on #2772
I'm happy to add to the output. Can you be more explicit? I don't see any user_id field in the Twitter API output.

[2016-06-09 14:23] moollaza commented on #2798
I have found the Reddit API to respond quite slowly before. If it takes too long to respond, we'll show another Instant Answer instead of waiting (potentially forever...) to show the IA that has triggered. This may just be an issue we need to tolerate, unless we can get Reddit to improve their API's response time

[2016-06-09 14:29] asb commented on #2798
@moollaza That would explain the inconsistency. As a user, I find that behaviour unintuitive though. This perhaps isn't the right place for this discussion, but perhaps there could be a way of showing in the UI that another IA is currently loading? What is the current API timeout?

[2016-06-09 14:31] shashankgroovy commented on #2463
@GuiltyDolphin will the geometry and editor spices will also be rewritten in Perl as a goodie as well?
If not then I was hoping maybe I could pick up either one of them

[2016-06-09 14:31] moollaza commented on #2797
We've had problems with their API before, usually it's on their end. @jagtalon has fixed it previously and knows the most. @jagtalon can you please investigate?

I'm going to take this IA offline for now. It will still be available on Beta.

[2016-06-09 14:35] rasikapohankar commented on #2797
@edgesince84 That'd be great, thanks! I know a lot people who will be happy once this IA starts working again, including me! :smile:
@moollaza Ooh, I forgot to check if it's working on beta :anguished:

[2016-06-09 14:46] moollaza commented on #2549
This has been offline for a few months and the website seems to be gone as well. We should remove the IA and deprecate the IA page.

@josephwegner if you plan to get the API back online please let us know ASAP.

[2016-06-09 14:46] moollaza commented on #2549
@vikashvverma would you like to make a PR removing the code?

[2016-06-09 14:52] moollaza commented on #2797
Looks like this was the result of an Internal change. Ops team will be fixing shortly.

[2016-06-09 14:59] #2784 closed

[2016-06-09 15:02] moollaza commented on #2797
All fixed 👍  -- Going to reenable the IA in the Metadata

[2016-06-09 15:03] #2797 closed

[2016-06-09 15:03] edgesince84 commented on #2797
thanks again @rasikapohankar!

[2016-06-09 15:39] GuiltyDolphin commented on #2463
@shashankgroovy Geometry has a PR in progress (duckduckgo/zeroclickinfo-goodies#2675); but I don't think there's anything in progress for Editor yet - you can pick it up if you wish :heart:

[2016-06-09 16:03] moollaza commented on #988
@sahildua2305 please see http://docs.duckduckhack.com/frontend-reference/display-reference.html#sortfields-object-optional

Examples: https://github.com/duckduckgo/zeroclickinfo-spice/search?utf8=%E2%9C%93&q=sort_fields&type=Code

[2016-06-09 16:12] #2676 closed

[2016-06-09 16:41] rasikapohankar commented on #2797
Thank you for fixing it so quickly! :heart: :tada:

[2016-06-09 20:32] sahildua2305 commented on #988
@moollaza I started with `Detect Lang` and found that it's not necessary to use the sorting block in this case. The `data` it returns to the front end contains one object having two values each of which is an object. If we have to use sorting block here, that will change the entire structure of `content.handlers` as well as the data being sent to front-end. Let me know what you think about this. I

[2016-06-09 20:33] vjo commented on #2772
Assuming you are using [1.1/users/show.json](https://dev.twitter.com/rest/reference/get/users/show) the `user id` is actually name `id` (or even `id_str` to allow Javascript to deal with long) in the JSON payload.

I'm not sure what's the "integer ID".

On my side, from time to time, I have the need to get the `user id` of a Twitter handle and I figured out it could be nice to add it to your IA ca

[2016-06-09 22:16] sahildua2305 commented on #988
@moollaza Same goes for `DNS` as well. It's using template group `base` and it is sending a list of objects to the content handler. Using Sorting block doesn't work here because we actually want to sort the response.records not the response itself, that's being sent.

Please have a look and let me know if I am testing the changes correctly or not.
See here - https://github.com/duckduckgo/zeroclick

[2016-06-09 22:19] sahildua2305 commented on #988
@moollaza `Recipes` is already using the `sort_fields` as can be seen here - https://github.com/duckduckgo/zeroclickinfo-spice/blob/04aaf11a04664c390accb8d5676618eacfa4b950/share/spice/recipes/recipes.js#L142

[2016-06-09 22:26] sahildua2305 commented on #2605
@moollaza Still open?

[2016-06-09 23:01] sahildua2305 commented on #2605
I worked a bit on this one. @moollaza
It's returning `406 Not Acceptable` to API calls to http://expandurl.com/api/v1/?url=http://sahildua.com/&format=json&detailed=true which work otherwise in the browser.

Here - http://circus-theory.codio.io:5000/js/spice/expand_url/sahildua.com

[2016-06-09 23:04] sahildua2305 commented on #2605
I did some more research on this. 406 may be due to the response header type which is - `Content-Type:text/html`. Any idea how to make this work? Is this clear or should I put up a PR first to show the changes? @moollaza

[2016-06-10 01:22] mattr555 commented on #1431
@tagawa yeah, this is intermittent. With the traffic the IA gets we can probably close this for now and reopen if it gets bad. Thanks for the cleanup!

[2016-06-10 01:22] #1431 closed

[2016-06-10 13:33] moollaza commented on #988
@sahildua2305 it looks like you're correct here -- we're only returning 2 results instead of all of them. However, looking at this IA, the code is quite old and should be updated to match the format where the spice callback is defined inside a closure. As well, this IA is using the `Base` template, which isn't necessary given how simple the template logic is.

Would you be interested in updating t

[2016-06-10 13:37] moollaza commented on #2709
@statista it looks like our API calls are still going to a 404 page -- do any changes need to be made to the Statista Spice's code?

[2016-06-10 14:12] edgesince84 commented on #2755
@debprasad if you're still interested in getting started, please let me know!

[2016-06-10 14:23] tagawa commented on #1431
Sounds good to me - thanks @mattr555

[2016-06-10 14:25] moollaza commented on #2605
@sahildua2305 there's some discussion in #2610 -- it will require some internal investigation, or reaching out to ExpandURL to see why exactly they're sending us a 406

[2016-06-10 14:46] nilnilnil commented on #2772
Thanks for the feedback @vjo. I don't think the id is going to be useful for most people, and would result in clutter for the usual use cases. If there were particular fields that added to the overall experience of the IA, I think those are worth adding.

Closing for now as we're not going to add the ID number to the IA.

[2016-06-10 14:46] #2772 closed

[2016-06-10 14:55] tagawa commented on #2738
It triggers for me on that query, but it shouldn't do. Also, I can't find any of the words ("duration", "now") listed as triggers in https://github.com/duckduckgo/zeroclickinfo-spice/blob/master/lib/DDG/Spice/Time.pm so maybe it's something deeper down that's triggering it?

[2016-06-10 15:01] tagawa commented on #2652
Still seems to be for employees only: https://developer.bbc.co.uk/

[2016-06-10 15:22] statista commented on #2709
@moollaza : could you please doublecheck? Unfortunately you were right about this, but we fixed the issue

[2016-06-10 16:52] shashankgroovy commented on #2463
@GuiltyDolphin That'd be great. I'll take up the Editor. I will start working on it within the next 2 days.
I hope I can ask you for some guidance over email or slack as its it'd be my first contribution. Thanks!

[2016-06-10 17:31] edgesince84 commented on #2463
@shashankgroovy awesome!

[2016-06-10 17:52] GuiltyDolphin commented on #2463
@shashankgroovy Sure, feel free to ping me on Slack if you have any issues.

[2016-06-11 08:43] sahildua2305 commented on #988
Yes, I will be interested in doing so. Can you please point me to the new format and how to use the text template for I am new to this and don't really know about differences between the old and the new template?

[2016-06-11 13:02] NaveenKarippai commented on #2735
@moollaza I'm interested to tackle this issue. Could you please assign it to me.

[2016-06-11 16:15] busyintech commented on #2711
Some of the problems are solved through https://www.symbolab.com/ that seem to be possible using the advanced calculator itself. Maybe that needs to be modified
example: https://duckduckgo.com/?q=solve+5*exp6&ia=calculator

[2016-06-11 16:43] sahildua2305 commented on #988
I figured it out and have created this PR #2806 @moollaza
Please review.

[2016-06-11 19:13] sahildua2305 commented on #1814
If I understand it correctly, the javascript code needs an update right? I mean it needs to use closure, right? Does it need any other change? @jbarrett

[2016-06-12 12:00] MrChrisW commented on #2735
@NaveenKarippai 👍

[2016-06-12 13:40] mintsoft commented on #2735
Thanks @MrChrisW

[2016-06-12 14:18] NaveenKarippai opened #2807 "Random Words: show definition of result"
Could we also show [definition](https://wordnik.com/words/brangle) of (random word) result to the user? This might help the end-user to use `Random Words` IA for vocabulary improvement.

------
IA Page:  http://duck.co/ia/view/rand_word
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @hunterlang

[2016-06-12 20:56] GuiltyDolphin commented on #2711
@busyintech These should be handled fine by the rewrite. We're able to provide higher precision and more functionality (extensibility) *without* needing external API calls. The Spice provides support for calculus (and other operations) which will not be supported by the Goodie for the foreseable future.

[2016-06-12 23:47] alohaas commented on #2621
Hey @carolyz wondering if you saw my feedback on #2763 ? Let me know if you want some support.

[2016-06-12 23:54] carolyz commented on #2621
Thanks so much for the tip! This thread somehow ended up in the spam
folder. I'll get on it today. Thanks again!
On Jun 12, 2016 4:47 PM, "Olivia Haas" <notifications@github.com> wrote:

[2016-06-13 03:06] vikashvverma commented on #2549
@moollaza Do you have any website in mind?

[2016-06-13 07:14] tagawa opened #2809 "Bitcoin Addresses, Blocks: Reduce caching time"
It's [been pointed out](https://www.reddit.com/r/duckduckgo/comments/4nd0c7/spice_answers_outdated/) that information shown by the IA is sometimes out of date, probably because of caching, currently set at one day. The [Biteasy API limits](https://support.biteasy.com/kb/rest-api/rate-limiting) seem quite generous so could we try reducing it. Something like one hour perhaps?

---

IA Page:  http://

[2016-06-13 11:23] rasikapohankar commented on #220
Thank you @MrChrisW, I'll try to do this.

[2016-06-13 15:46] zachthompson opened #2811 "Just testing...ignore"
------
IA Page:  http://duck.co/ia/view/interactive_calculator

[2016-06-13 15:48] #2811 closed

[2016-06-13 16:09] #2621 closed

[2016-06-13 16:23] jagtalon opened #2813 "METAR Information: Issue with API"
This Instant Answer has been taken offline due to API issues.

Accessing http://avwx.rest/api/metar.php?station=ICAO&format=JSON&options=info,translate or http://avwx.rest/api/metar.php?station=KJFK&format=JSON&options=info,translate seems to time out.

@santigl would you be interested in contacting http://avwx.rest/ to see what the problem is?

Thank you!

[2016-06-13 16:32] santigl commented on #2813
Sure, I'm on it.

It seems like the website is loading slow and the API isn't responding, so its definitely on that end.

[2016-06-13 16:40] jagtalon opened #2814 "Drinks: Title link doesn't go anywhere"
We need to set the `url` attribute so that clicking on the title would go to TheCocktailDB.

<img width="572" alt="screen shot 2016-06-13 at 12 37 47 pm" src="https://cloud.githubusercontent.com/assets/81969/16015496/ecb9c31e-3163-11e6-9772-0e735ed07a43.png">

<img width="738" alt="screen shot 2016-06-13 at 12 40 01 pm" src="https://cloud.githubusercontent.com/assets/81969/16015506/f8e4bbda-3163-1

[2016-06-13 22:43] moollaza commented on #2798
Unfortunately that's not exactly an option, because there's the chance that once we received the API response, it may not be relevant and so the IA will choose not to show anything. If we told the user it was loading but then had nothing useful, that may lead to further confusion. In some cases, there are many IA's that trigger but only a few that show a result so it would be hard to handle. This

[2016-06-13 22:51] moollaza commented on #1814
@sahildua2305 I've left some comments for other required changes on your PR 👍

[2016-06-14 17:37] santigl commented on #2813
I exchanged emails with Michael, the API maintainer, and he told me that he had noticed the timeouts and scaled out the number of instances.

Making a request just now seems a bit slow to load, though it may be my own connection. Would it be possible to bring it back up to test what happens under traffic?

[2016-06-14 17:59] #2571 closed

[2016-06-14 18:24] rasikapohankar commented on #220
@MrChrisW @moollaza On changing the regex to https://github.com/rasikapohankar/zeroclickinfo-spice/blob/00161ffffac4e1eb1826337c6ecc8f04028b0ea5/lib/DDG/Spice/IsItUp.pm#L9, the Unicode characters match and it works with the current regular expression for `regex_domain`.
This does not work for the new TLDs as @altern8tif mentioned, so I tried to `use Domain::PublicSuffix` similar to Whois.pm. But `

[2016-06-14 19:12] sahildua2305 commented on #2814
@jagtalon I have created a PR to fix this. Please check, if I am missing anything related to the issue.

[2016-06-14 23:08] sahildua2305 commented on #2793
@echosa Hey! Please check the quick fix #2817

[2016-06-14 23:14] sahildua2305 commented on #2771
Did you get any more information on this? @moollaza

[2016-06-14 23:23] sahildua2305 commented on #2734
@moollaza It works now! Website is up again.

[2016-06-15 02:37] #2814 closed

[2016-06-15 02:41] jagtalon commented on #2813
@santigl Thank you! We'll re-enable the Spice.

[2016-06-15 02:44] jagtalon opened #2818 "Code Search: Change API Endpoint"
The Spice isn't working because the API endpoint has changed to:

`https://searchcode.com/api/jsonp_search_IV/?q=php&callback=myCallback`

from

`https://searchcode.com/api/jsonp_codesearch_I/?q=php&callback=myCallback`

Please double check if the data has changed, i.e., if the Spice is showing up properly or not as well!

Thanks!

---
Maintainer: @boyter
IA Page: https://duck.co/ia/view/code_sear

[2016-06-15 04:26] jagtalon opened #2819 "Last.fm Artist: Query "IT band" is triggering the IA"
Last.fm Artist triggers on the word "band" which can surface unrelated results such as "IT band" (if you notice the links at the bottom it's all related to one's anatomy). Find a way to reject these types of irrelevant results from coming up. It may be the case where we'd have to implement this on our end by using the result links as triggers, i.e., if last.fm comes up as one of the links, this IA

[2016-06-15 12:01] gaulrobe commented on #2818
@jagtalon @boyter Don't the `jsonp_search_IV` endpoint and the `jsonp_codesearch_I ` endpoint have two different use cases? Per https://searchcode.com/api/, using the `jsonp_codesearch_I` endpoint is still what we want to use in this IA, right?

[2016-06-15 12:09] tagawa opened #2820 "Bible: Add feature for random verse"
The API currently being used supports random bible verses using this URL:
http://labs.bible.org/api/?passage=random&type=json

It shouldn't be too difficult to add this so that it's triggered by the search queries `bible verse` or `random bible verse`.

(Idea by @pnpninja and @gaulrobe)

---

IA Page:  http://duck.co/ia/view/bible
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.ht

[2016-06-15 12:16] pnpninja commented on #2820
@MAMAMIA9 - lets start

[2016-06-15 14:09] #2605 closed

[2016-06-15 14:14] moollaza opened #2821 "ExpandURL: Update to use Built-in Template"
This IA is using the `base` template with handlebars to display a clickable URL.

We should be able to use the `info` template with a `title` and `url` to recreate this functionality.

As well we can provide a subtitle, like we usually do, to give some context. E.g. "Expanded URL: https://bit.ly/a"

------
IA Page:  http://duck.co/ia/view/expand_url
[Maintainer](http://docs.duckduckhack.com/mainta

[2016-06-15 16:09] edgesince84 commented on #2820
Welcome, @MAMAMIA9!  thanks for taking this on @pnpninja 🏆

[2016-06-15 17:18] tommytommytommy commented on #2741
Apologies for the delay, I've been out! I talked to @jagtalon about this, and there are a few changes that we can make. Assigning to him for follow up.

[2016-06-15 19:27] moollaza commented on #220
@rasikapohankar would using https://metacpan.org/pod/Net::IDN::Encode help? You could convert the input domain to ascii, which should then work with PublixSuffix, I think.

As well there's https://metacpan.org/pod/Net::Domain::TLD if we need to check for a TLD.

Most importantly, it doesn't look like this IA needs to be using a regex trigger. We can use `triggers end => "working", "up", "down" ...

[2016-06-15 20:37] Adman commented on #2821
@moollaza What do we want to put into title?

[2016-06-15 20:50] VeerpalBrar commented on #2807
I think this sounds like a good idea. I'd like to give this a shot if that's possible.

[2016-06-15 21:57] Petethegoat opened #2824 "Timer: Recognise 'hour timer' etc as a request for a 1 hour timer"
When the singular form of a unit of time is searched, that should be recognised as a timer.

For example:
`hour timer` -> `1 hour timer`
`minute timer` -> `1 minute timer`

---

IA Page:  http://duck.co/ia/view/timer
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @mattr555

[2016-06-15 21:59] sahildua2305 commented on #2818
@jagtalon @boyter I am working on updating this here - #2810
And @gaulrobe you're right. I checked both the endpoints while working on this.

[2016-06-15 22:02] boyter commented on #2818
That's correct. Originally there were two endpoints. The first doing
documentation search (I released that code as fathead so it's probably not
required anymore) and the second doing code search.

I'll try and scale up the endpoint soon as well towels with response times
on your end.
On 16 Jun 2016 7:59 am, "Sahil Dua" <notifications@github.com> wrote:

[2016-06-15 22:04] sahildua2305 commented on #2818
Thanks @boyter  :smile:

[2016-06-15 23:14] sahildua2305 commented on #2821
@Adman May be "Expand short URL"? (just a thought)

Also @moollaza it doesn't work for me at - https://duckduckgo.com/?q=http%3A%2F%2Fbit.ly%2Fa&ia=answer

[2016-06-15 23:25] sahildua2305 opened #2825 "Difference between SearchCode and CodeSearch IA"
I am confused about these Instant Answers. Both use the same API, same endpoint and have somewhat similar triggers as well.
@boyter

[2016-06-16 00:49] mattr555 commented on #2737
Fixed in #2803

[2016-06-16 00:49] #2737 closed

[2016-06-16 01:09] gaulrobe commented on #430
@moollaza looks like topical queries are working for this IA

https://duckduckgo.com/?q=physics+quotes&ia=quotations

Is there anything left to do here?

[2016-06-16 02:08] mattr555 commented on #2824
@Petethegoat Thanks for the suggestion! I'm going to put this on hold until duckduckgo/zeroclickinfo-goodies#2253 is merged. cc @GuiltyDolphin

[2016-06-16 03:48] boyter commented on #2825
One was documentation search the other code. They do look similar. The one
with codesearch in the url is the one to keep however as the other is all
available as fathead queries.

Forgive the brevity have spotty internet atm as in Fiji.
On 16 Jun 2016 9:25 am, "Sahil Dua" <notifications@github.com> wrote:

[2016-06-16 04:26] rasikapohankar commented on #220
@moollaza Yup, using `domain_to_ascii` from Net::IDN::Encode on the query works with PublicSuffix. I was happy and about to make a pull request when I realised it works only if the tld does not have unicode characters. The `tld_tree` that Domain::PublicSuffix makes from public_suffix_list.dat has names as `\x{...}` and so if we do domain to ascii, the tld as 'xn--' is not found. I was trying to se

[2016-06-16 11:58] sahildua2305 commented on #2825
@boyter Sorry, it's still not clear to me.
Can you please clarify which one is for documentation search and which one is for code search?

I am specifically confused because both the IAs use the same endpoint for codesearch. :confused:

[2016-06-16 12:07] pnpninja commented on #2820
@edgesince84 no problemo

[2016-06-16 14:15] moollaza commented on #2825
@sahildua2305 SearchCode is the original IA and is used to search through Documentation. It has some overlap with our Fatheads, but not entirely. Ideally Fatheads should be used to replace SeachCode, (docs lookup) because docs are mostly static and our Fatheads can be re-run yearly to keep them up to date.

CodeSearch is intended to search through code snippets to find example usages of a given fu

[2016-06-16 14:15] #2825 closed

[2016-06-16 14:22] #2793 closed

[2016-06-16 14:26] moollaza commented on #2821
@Adman the `title` should be the expanded url. Setting the `url` property to the same value will make the title a clickable link.

The subtitle should indicate that the result is the expanded form of the input url

[2016-06-16 14:26] moollaza commented on #2821
It's not yet live again in Production. Should be by tomorrow though. It's live on Beta: https://beta.duckduckgo.com/?q=expand+http%3A%2F%2Fbit.ly%2Fa&ia=answer

[2016-06-16 14:32] sahildua2305 commented on #2821
Doesn't work for me on beta either:
https://beta.duckduckgo.com/?q=expand+http%3A%2F%2Fbit.ly%2Fa&ia=answer

[2016-06-16 14:32] #2213 closed

[2016-06-16 15:44] jagtalon commented on #2813
Hey, @santigl! Would you be able to ask them if we can reduce the time to less then 5 seconds? It's a bit too slow and Nginx times out as a result. :)

[2016-06-16 18:20] sahildua2305 commented on #2340
@moollaza This should be closed now via #2823 ?

[2016-06-16 19:10] jagtalon commented on #2818
Thanks @boyter! That's my bad I misunderstood. :)

[2016-06-16 19:11] jagtalon commented on #2818
Thanks @gaulrobe @sahildua2305!

[2016-06-16 19:11] #2818 closed

[2016-06-16 20:27] jagtalon commented on #2771
This works now! Will get it released.
<img width="1230" alt="screen shot 2016-06-16 at 4 25 41 pm" src="https://cloud.githubusercontent.com/assets/81969/16131993/2f6bc734-33df-11e6-8bb0-cd81b1ed8fb6.png">

[2016-06-16 20:41] tsimonq2 opened #2827 "Forecast: Add support for the hourly forecast"
It would be very beneficial to support viewing of an hourly forecast instead of the generic weather IA. I typed [hourly forecast green bay wi](https://duckduckgo.com/?q=hourly+forecast+green+bay+wi) (the city that I live in) and I got a generic weather IA.

---

IA Page:  http://duck.co/ia/view/forecast
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @himanshu0113

[2016-06-16 21:24] Adman commented on #2821
@moollaza I cannot find `title` and `url` properties in documentation.

[2016-06-17 16:08] Adman commented on #2821
@moollaza could you please clarify a bit where to put those properties ?

[2016-06-17 18:56] santigl commented on #2813
I'll write back, @jagtalon. Meanwhile, I just checked, and I'm seeing up to 11 seconds. :(

[2016-06-17 22:27] sahildua2305 commented on #2821
@Adman You can try something like this
https://github.com/duckduckgo/zeroclickinfo-spice/blob/4c586975b008ad2d71afcdd45d314144e03b6f87/share/spice/emojipedia/emojipedia.js#L17

[2016-06-18 10:46] Adman commented on #2821
@sahildua2305 Feel free to do so.

[2016-06-18 11:17] sahildua2305 commented on #2821
@Adman Please review #2829 :smile:

[2016-06-18 23:11] santigl commented on #2813
Good news, Michael told me he has made some changes that should mitigate the delays. :D

From my end I'm now seeing 2 seconds on average to complete requests. Shall we give it another try?

[2016-06-20 19:21] moollaza commented on #2813
@santigl Thanks for the update! I've asked the team to re-enable this IA

[2016-06-21 15:08] moollaza opened #2831 "IsItUp: Simplify design, remove custom CSS"
The design on this IA no longer matches the look and feel of our other Instant Answers.

We should switch this to the text template, and use a `title_content` subtemplate to create the title and subtitle.

The result should look like this:
![is_duckduckgo_up__at_duckduckgo](https://cloud.githubusercontent.com/assets/873785/16234690/2418142c-37a0-11e6-9569-f882ea8f4e72.png)

`is_it_up.css` should b

[2016-06-21 15:30] sahildua2305 commented on #2831
I will take this up.

[2016-06-21 19:35] sahildua2305 commented on #2831
@moollaza Why not use `title` and `subtitle` only? How about not using `handlebars` at all?

`title` can be either -
[code]
or
[code]
depending upon the website status.

And similarly, the text that you suggested for `h4` tag can go in `subtitle`.

Let me know what you think about this.

[2016-06-21 19:58] #2712 closed

[2016-06-21 21:39] moollaza commented on #430
I don't think so!

[2016-06-21 21:39] #430 closed

[2016-06-21 21:41] #2734 closed

[2016-06-21 22:16] moollaza opened #2833 "Pokemon: Reign in triggering; Check query against list of Pokemon Names"
This IA is over triggering a **_lot_**, however thankfully it is not returning irrelevant result.

We should still avoid making unnecessary API calls and we have a simple way to handle it in this case.

We should copy the list of accepted Pokemon (available [here](https://github.com/PokeAPI/pokeapi/blob/master/data/v2/csv/pokemon.csv)) and use it to lookup the candidate Pokemon name. If it matches

[2016-06-21 22:40] #2473 closed

[2016-06-21 22:56] moollaza opened #2834 "ISBN: Triggering should ignore 10-Digit phone numbers"
This IA currently triggers on queries that match a standard North American 10-digit phone number patter:

i.e. `###-###-####` -- We should not trigger if the query matches that pattern!

Also it looks like there are some ISBN libraries on CPAN that could be used to simplify the code, e.g. `ISBN::Test`.

---

IA Page:  http://duck.co/ia/view/isbn
[Maintainer](http://docs.duckduckhack.com/maintainin

[2016-06-22 09:31] sahildua2305 commented on #2833
So basically including the list of accepted Pokemon in a YAML file and doing a lookup for the candidate Pokemon name should suffice.

[2016-06-22 11:43] mintsoft commented on #2834
@moollaza ISBN10 also has a check digit; if it's not valid it also shouldn't show!

[2016-06-22 12:19] gitaarik commented on #1730
It looks like most US cities I try don't work. How can this issue still be open for so long? Is it a hard problem?

[2016-06-22 12:20] sahildua2305 opened #2836 "YachtSpecs: Move skip words into Perl package"
As we can see that there are only [5 skip words](https://github.com/duckduckgo/zeroclickinfo-spice/blob/master/share/spice/yacht_specs/skipwords.txt), shouldn't we move these to the Perl module itself?

May be they are in a separate file to make sure it's easy to include more words?
<hr>
IA Page: https://duck.co/ia/view/yacht_specs
Maintainer: @elephantRunAway

[2016-06-22 13:52] GuiltyDolphin opened #2837 "IsItUp: Support 'is it down' forms"
I can never remember if its 'up' or 'down', so being able to type `is it down ...` would be mighty handy.

See, for example: https://duckduckgo.com/?q=isitdown+duckduckgo.com&ia=web

---

IA Page:  http://duck.co/ia/view/is_it_up
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @rasikapohankar

[2016-06-22 15:14] edgesince84 commented on #2837
I just tried "is spotify down" about an hour ago 😢

[2016-06-22 16:28] moollaza opened #2838 "Color Picker: Triggers on any query starting with "Colour Picker""
E.g. https://duckduckgo.com/?q=color+picker+download

We should verify any remainders match the name of a color, or the pattern of a color (e.g. #e0e0e0)

If the remainder _is_ a colour, then we should definitely set the color picker to that colour. Right now we pick a random colour so you get funny results like this:

![color_picker_blue_at_duckduckgo](https://cloud.githubusercontent.com/assets/8

[2016-06-22 16:40] moollaza commented on #2837
@edgesince84 that search should have surfaced a result...

https://duckduckgo.com/?q=is+spotify+down&ia=answer

[2016-06-22 16:59] sahildua2305 commented on #2837
The regex that's being used currently looks for this format:
`is <domain> (up|online|down|working|status)`

We will have to edit it to make sure it captures following as well:
`is (it)? (up|down|working|online) <domain`

Adding an entirely new regex using `|` is one idea, which is not something we would be looking for, right?

[2016-06-22 17:05] rasikapohankar commented on #2837
@edgesince84 Yes, `is spotify down` does give an answer.
@moollaza @GuiltyDolphin @edgesince84 I have fixed some few issues with others as maintainers, but its my first time as a maintainer :sweat_smile: What should I be doing next?

[2016-06-22 21:50] #2831 closed

[2016-06-23 02:18] tagawa opened #2839 "People In Space: Show previous people in space"
Not sure if this is possible with the current API, but it would be nice to see the list of people continued to show people who were in space, perhaps greyed out or otherwise de-emphasised.

---

IA Page:  http://duck.co/ia/view/people_in_space
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @elebow

[2016-06-23 03:03] rasikapohankar commented on #2837
To do this, we could use `triggers end => "up", "down", "working" ...` and `triggers start => "isitup", "isitdown" ...` and use the regex inside the handle function to check the domain, as @moollaza had suggested before.

[2016-06-23 11:08] pjhampton opened #2840 "Elm Spice"
I think it's maybe time to implement a spice for the Elm programming language since it is becoming very popular. It seems to have package manager, but I can't find the endpoint. Is there one @elm-lang/packages, and if so, can we use it?

If not, we can implement this as a FatHead granted their terms and conditions are fine.

cc / @evancz

[2016-06-23 11:46] tagawa commented on #2840
@pjhampton Good idea. I agree, there doesn't seem to be an API for the packages but the doc's package pages seem to have a nice set pattern. Should be OK to make as a fathead IMO.

[2016-06-23 11:53] gaulrobe commented on #2840
@pjhampton @tagawa saw this call being made: http://package.elm-lang.org/all-packages

Might be worth reaching out to see if we could use it? :)

[2016-06-23 12:04] pjhampton commented on #2840
Good find @gaulrobe! Hopefully someone from the elm packages team will get back to us. I'm sure you'll agree @tagawa that a Spice is more desirable that a Fathead in this case (due to maintainability, etc).

[2016-06-23 12:29] tagawa commented on #2840
Oh yes, @gaulrobe, nice find! Could do with a bit more data - proper description, example, etc. - but I'll try to contact them to see if we can use it.

[2016-06-23 12:38] pjhampton commented on #2840
Thanks Daniel 💜  💛  ❤️

[2016-06-23 13:25] #898 closed

[2016-06-23 13:46] #220 closed

[2016-06-23 13:49] moollaza commented on #2837
@rasikapohankar if you like the idea (which I believe you do!) you can say so and you're welcome to fix it yourself or leave it to the community. When the PR comes we'll ask for your input there as well.

[2016-06-23 19:38] #2821 closed

[2016-06-23 19:54] #988 closed

[2016-06-23 20:45] jrwren opened #2842 "Timer: count up"
---

IA Page:  http://duck.co/ia/view/timer
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @mattr555

[2016-06-23 21:57] jdorweiler opened #2843 "IA testing: combine fathead and longtail into api_result"
To have fathead and longtail PRs show up we need to also combine them into the `api_result`.
https://github.com/duckduckgo/zeroclickinfo-spice/blob/master/share/spice/experimentalia/experimentalia.js#L9

------
IA Page:  http://duck.co/ia/view/experimentalia
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @vikashvverma

[2016-06-24 06:52] dminca opened #2844 "Currency Conversion: not converting, not displaying conversion result"
The Currency Conversion IA **has a defect**, I did a conversion and it didn't work (ie. didn't convert or display anything). See photo below

![selection_005](https://cloud.githubusercontent.com/assets/5355219/16330328/1182c20a-39f1-11e6-89fb-aaf5e14e36ef.png)
![selection_006](https://cloud.githubusercontent.com/assets/5355219/16330444/d951434c-39f1-11e6-90ce-944ca7ecad2f.png)

------
IA Page:  ht

[2016-06-24 08:59] tagawa commented on #2813
Looks like this is back working again: https://duckduckgo.com/?q=metar%20KLAX&ia=weather
Thanks @santigl!

[2016-06-24 08:59] #2813 closed

[2016-06-24 11:32] marcoslater commented on #2844
Can also confirm, it does not appear to be working currently. Possibly due to the issues with xe.com after the UK EU referendum votes were announced?

[2016-06-24 12:07] dminca commented on #2844
First issue caused by the **BRexit** lol

[2016-06-24 13:31] jbarrett opened #2845 "MetaCPAN: Migrate to v1 API, make additional calls?"
Related: #898, #2794

When working on this, we used the v0 ES terms as they were in [metacpan-web](https://github.com/CPAN-API/metacpan-web). The MetaCPAN team have [recently announced v1 of their API](https://github.com/CPAN-API/cpan-api/wiki/MetaCPAN-V1-announcement-and-migration-plan). We should look into migrating to this soon to take advantage of new features and better hardware setup. Again,

[2016-06-24 13:54] edgesince84 opened #2846 "Amazon: overtriggering on currency search"
This IA was triggered when I was testing a currency search for "£1,099.00," and I was expecting the conversion IA.

---

IA Page:  http://duck.co/ia/view/products
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @bsstoner

[2016-06-24 15:34] moollaza opened #2847 "Kwixer: Remove Instant Answer Code"
This API is scheduled to go offline and the Instant Answer has now been replaced.

The code needs to be removed from the repo now.

------
IA Page:  http://duck.co/ia/view/kwixer
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @rodrigue-h

[2016-06-24 15:38] sahildua2305 commented on #2847
@vishivish18 Here!

This is a really low-hanging fruit that you were asking for. Just figure out the file structure of a spice and remove this IA. :smile:

[2016-06-24 15:50] tagawa commented on #2840
Good news! As long as we cache it, for example once a day, we're fine to use the JSON endpoint @gaulrobe posted above: https://twitter.com/elmlang/status/746337553222098944

We should let them know if/when we get something on beta to make sure they're happy.

[2016-06-24 16:07] pjhampton commented on #2840
I'll take this forward over the weekend @tagawa

[2016-06-24 16:08] tagawa commented on #2840
Great, thank you @pjhampton. If you need help (yeah, right!) or want to share the load, just shout.

[2016-06-24 16:31] moollaza commented on #2844
XE.had some downtime earlier so we had to take the Instant Answer offline. Now that it's working again I'll setup the IA to go live again 👍

[2016-06-24 16:55] dminca commented on #2844
Thanks @moollaza

[2016-06-24 17:21] tagawa commented on #2760
Looks like HSL has already been added to the IA but I think we should try added HSB as well, to see what it looks like.

[2016-06-24 17:39] #1814 closed

[2016-06-24 18:02] edgesince84 commented on #2844
Brexit! :shaking fist at sky:

[2016-06-24 18:03] edgesince84 commented on #2842
To elaborate - you'd like a counter that starts at zero and counts up, not just a countdown option? @jrwren

[2016-06-25 16:36] NaveenKarippai opened #2850 "Reddit Search: option to filter results - "top", "new", "relevance" reddit results"
Currently, IA shows results which are sorted according to "relevancy" by default (if I understood it correct). It would be awesome if we could make an option on IA results to sort according to "top", "new" reddit results.

---

IA Page:  http://duck.co/ia/view/reddit_search
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @mattr555

[2016-06-25 17:33] NaveenKarippai opened #2851 "Amazon: localised amazon results"
Currently, the results are returned from "amazon.com" (by default). It would be **useful** if we could return **localized results**. For example, the user located in Germany should see results from "amazon.de" instead of "amazon.com".

---

IA Page:  http://duck.co/ia/view/products
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @bsstoner

[2016-06-25 17:37] stevenmg commented on #2727
Works on beta: https://beta.duckduckgo.com/?q=mx+records+duckduckgo.com&ia=answer
Looks like something for DDG staff to look into internally?

[2016-06-25 17:39] stevenmg commented on #2726
Seems to be triggering fine: https://duckduckgo.com/?q=baconipsum+4&ia=baconipsum

[2016-06-25 18:17] dminca commented on #2844
Tested on Live, **defect is fixed** :white_check_mark:

[2016-06-25 18:17] #2844 closed

[2016-06-26 12:33] rasikapohankar commented on #2726
Yes! :confused: I had checked for two days and it wasn't working when I had made the issue. Sorry I didn't check again later on. Maybe it was temporary?

[2016-06-27 09:54] sahildua2305 commented on #2847
Due to lack of response, I'll get this done and submit a PR in a few hours. :)

[2016-06-27 13:17] jrwren commented on #2842
Yes, that is right.

I found it later, its !stopwatch.

It would be nice if there were a link to stopwatch from timer ;]

[2016-06-27 13:49] himanshu0113 commented on #2827
Thank you @tsimonq2 for bringing out this issue. But I am not sure if we can work on it. Maybe we can add an option there for someone who needs hourly forecast.
@moollaza can we do anything for it?

[2016-06-28 01:43] elebow commented on #2839
As far as I know, the upstream API doesn't provide this information. This might be a good feature to suggest to them, though. Then we'd be able to use it easily.

The question of presenting the additional information is nontrivial. Since the number of people that have ever been in space is [hopefully] unbounded, it will need to be scalable. I presume some sort of grid layout with pagination is bes

[2016-06-28 12:59] stefanopini opened #2858 "Localized Currency Names - Currency IA"
Consider to include international currency names into the currencyNames.txt list so it'll be possible to covert values writing the search query in a lot of different languages.
The most useful currency names dataset i found is this and covers European languages:
http://publications.europa.eu/mdr/resource/authority/currency/xml/currencies.xml
(From the EU Open Data Portal: http://data.europa.eu/euo

[2016-06-28 16:15] #2847 closed

[2016-06-28 17:34] rasikapohankar commented on #2635
@moollaza Can this be closed?

[2016-06-28 20:36] #2635 closed

[2016-06-28 20:42] moollaza commented on #2827
@himanshu0113 I'm totally surprised, but looking at the API response actually have `hourly` and even `minutely` data!

We could totally improve this IA to handle those kinds of queries!

@tsimonq2 thanks a lot for the suggestion 👍

[2016-06-28 20:43] moollaza commented on #2827
The fix may be as simple as replacing the title to indicate the hour, instead of the day, and of course using the hourly data in the API response.

[2016-06-28 23:01] h4ck3rm1k3 commented on #2760
Delivered-To: jamesmikedupont@gmail.com
Received: by 10.103.109.70 with SMTP id i67csp1077502vsc;
        Fri, 24 Jun 2016 10:21:43 -0700 (PDT)
X-Received: by 10.200.41.122 with SMTP id z55mr6129396qtz.34.1466788903315;
        Fri, 24 Jun 2016 10:21:43 -0700 (PDT)
Return-Path: <noreply@github.com>
Received: from github-smtp2b-ext-cp1-prd.iad.github.net
(github-smtp2-ext6.iad.github.net. [192.30.2

[2016-06-28 23:28] moollaza commented on #2760
@h4ck3rm1k3 it looks like you had accidentally posted the headers to your email notification here -- did you mean to leave a comment?

[2016-06-28 23:53] alohaas commented on #2858
@stefano-93 which IA are you referring to? we have a few:
https://duck.co/ia/view/currency_cheat_sheet
https://duck.co/ia/view/currency
https://duck.co/ia/view/currency_in

[2016-06-29 01:50] h4ck3rm1k3 commented on #2760
I am sorry, I was reporting a bug to github

On Tue, Jun 28, 2016 at 7:29 PM, Zaahir Moolla <notifications@github.com>
wrote:

--
James Michael DuPont
Kansas Linux Fest http://kansaslinuxfest.us
Free/Libre Open Source and Open Knowledge Association of Kansas
http://openkansas.us
Member of Free Libre Open Source Software Kosova http://www.flossk.org
Saving Wikipedia(tm) articles from deletion http:

[2016-06-29 09:18] stefano-93 commented on #2858
I'm referring to "Currency Conversion": https://duck.co/ia/view/currency
But it should be applied to "Currency Cheat Sheet" and to "World Currencies" to show a localized name too.

[2016-06-29 18:44] Troupal opened #2860 "AlternativeTo: Listen for license type in query"
Hello dear **devs**!

I think that's will be a good and great idea that we can make a search like that:

And the DuckDuckHack to make result for only open source alternative.

So think you for this wonderful DuckDuckHack!!!

---

PS: Sorry for my English, I'm French and I don't speak very well English… ^^'

---

IA Page:  http://duck.co/ia/view/alternative_to
[Maintainer](http://docs.duckduckhack.

[2016-06-29 21:10] #2577 closed

[2016-06-29 21:11] #2578 closed

[2016-06-29 21:16] moollaza opened #2861 "Zanran: IA Disabled -- Over triggering, Poor Relevancy, Paywalled Content"
This IA has been disabled due to sever over triggering. It has several hundred vague trigger words which is simply too much and too broad. Relevancy of the results is also not very good. It looks like the Zanran now requires the user to sign-up to view result on their site as well which is poor experience for our users.

This IA should be removed from the repo.

---

IA Page:  http://duck.co/ia/vi

[2016-06-30 03:24] vikashvverma commented on #2860
@Troupal I don't think many people will type such a long phrase.
The IA API does give us the license so we can filter out based on license.

@duckduckgo/community-leaders
@duckduckgo/duckduckhack-contributors  any input regarding effectiveness of this trigger

[2016-06-30 03:25] vikashvverma commented on #2843
@jdorweiler I will have a look in few days

[2016-06-30 07:00] Gaurav2728 commented on #2860
@vikashvverma new users often search using long keywords, they have not familar with how search engine work.  @Troupal request make sence.

[2016-06-30 11:27] tagawa commented on #2860
Bonjour @Troupal! Merci beaucoup pour la suggestion.
We can probably listen for keywords such as "open source", "commercial" or "freemium" in the query using regex, so it wouldn't matter if the query was a long or short phrase. If the API supports this, as @vikashvverma says, then your suggestion seems possible - and a good idea!

[2016-06-30 11:32] neilmacintyre opened #2863 "Amazon: Review Stars not appearing"
All of these have reviews on amazon but only one displays stars.

---

![screenshot from 2016-06-30 07 05 30](https://cloud.githubusercontent.com/assets/6704857/16486726/94050ace-3e94-11e6-932a-f64280472cd8.png)

IA Page:  http://duck.co/ia/view/products
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @bsstoner

[2016-06-30 14:06] jdorweiler opened #2864 "GitHub: doesn't support code searches"
We could do code searching through the api. https://developer.github.com/v3/search/#search-code

------
IA Page:  http://duck.co/ia/view/github
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @MrChrisW

[2016-06-30 15:17] himanshu0113 commented on #2827
@moollaza I don't know to implement these changes. Can you or anyone help me?

[2016-06-30 16:28] moollaza commented on #2827
@himanshu0113 at a high level, you'll need to check if the query contains "hourly" and if so, use the hourly data, instead of the weekly data.

@duckduckgo/duckduckhack-contributors would anyone be interested in working on these changes with @himanshu0113? This should only require changes to the JavaScript and possibly the template.

[2016-06-30 16:32] sahildua2305 commented on #2827
I can take this up. @moollaza

This is indeed a great suggestion. Thanks @tsimonq2

[2016-06-30 20:30] drewschaeffer opened #2865 "Amazon: Add shipping information"
The amazon product price shown does not include shipping. Add a separate shipping field?

ie.
https://www.amazon.com/dp/0545302021
9.49 + 5.49 shipping
------
IA Page:  http://duck.co/ia/view/products
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @bsstoner

[2016-06-30 21:00] #2833 closed

[2016-07-01 14:54] edgesince84 commented on #2865
If that information is available, it'd certainly be useful

[2016-07-01 18:02] NaveenKarippai opened #2867 "Places: show working time range"
Could we also show opening/closing time on queries like "McDonalds nearby".

---

IA Page:  http://duck.co/ia/view/maps_places
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @nilnilnil

[2016-07-01 20:39] drewschaeffer opened #2868 "Add Ships and Sold by info to amazon info"
An important piece of information when considering a product on Amazon is who is selling and shipping the item. For example, Amazon ships and sells many items and those tend to inspire more confidence (for those that are not Prime).

For example,

https://www.amazon.com/dp/0545302021
Ships and Sold by PBShop US.

https://www.amazon.com/Scholastic-Teachers-Friend-Counting-TF7102/dp/0545301939
Ships

[2016-07-02 05:09] vikashvverma commented on #2843
@jdorweiler I don't see longtail available in `api_result`

[2016-07-02 11:06] GuiltyDolphin opened #2870 "Time: Overtriggering on 'month'"
If I use the query ["month"](https://duckduckgo.com/?q=month&ia=time), it triggers this Instant Answer. Is this expected behavior? I feel it is overtriggering somewhat.

["week"](https://duckduckgo.com/?q=week&ia=answer) triggers an entirely separate Instant Answer (perhaps one that could handle the query of "month"?).

---

IA Page:  http://duck.co/ia/view/time
[Maintainer](http://docs.duckduckha

[2016-07-02 15:21] edgesince84 commented on #2865
This is a duplication of #2868 so I'm going to close this one

[2016-07-02 15:21] #2865 closed

[2016-07-02 15:27] edgesince84 commented on #2870
"month" does tell you the month, but not the same way "week" breaks it down ie "We are in the __th week of the year."

[2016-07-02 17:51] nilnilnil commented on #2867
Yes, this is a feature we plan on adding!

[2016-07-04 13:57] moollaza commented on #2838
@ManrajGrover were you still interested in working on this?

If not, would any of our awesome @duckduckgo/duckduckhack-contributors be interested?

This will require some Perl work to verify the query is valid for this Instant Answer

[2016-07-04 14:01] ManrajGrover commented on #2838
@moollaza I'll take this one up. Would love some pointers and links to similar `Spice` to this. :smile:

[2016-07-04 14:17] moollaza commented on #2838
@ManrajGrover the [Color Codes IA](https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/lib/DDG/Goodie/ColorCodes.pm) is somewhat similar, but it uses a regular expression trigger.

Currently this IA is doing _no_ relevancy checking against the query so I think we should start simple.

- If the query is just "color picker", "colour picker", etc., meaning the remainder is undefined, we s

[2016-07-04 14:42] rasikapohankar opened #2872 "Instant Answers on Beta: Display scrolls back to the first tile under the time frame"
If we click on an IA tile, the details are of that IA are shown and the display scrolls back to the first tile for that time frame. For example, if I click 'Political Polls' which is the last IA under 'Last 30 Days' currently, the display scrolls back to 'Ace Editor Cheat Sheet'. Was this intended?
People to notify: @jdorweiler

---

IA Page:  http://duck.co/ia/view/experimentalia
[Maintainer](htt

[2016-07-04 15:22] sbdchd opened #2873 "Tides: Problem Triggering"
As of roughly a few weeks or so, I have not been able to get the tides instant answer to trigger.

An example query:
https://duckduckgo.com/?q=tides+02210

------
IA Page:  http://duck.co/ia/view/tides
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @mattr555

[2016-07-04 17:45] GuiltyDolphin commented on #2838
@moollaza @ManrajGrover It's probably worth checking out `Color::Library` (Perl package) for checking names and getting Hex values.

[code]

[2016-07-04 17:51] moollaza opened #2874 "MetaCPAN: Add "mcpan" and "perl" as triggerwords"
@jbarrett I tried a search for "mcpan Color::Library" and noticed it didn't trigger the IA. Figured we should add "mcpan" and "perl" as trigger words?

------
IA Page:  http://duck.co/ia/view/meta_cpan

[2016-07-04 18:00] sahildua2305 commented on #2874
@moollaza Done ;)

[2016-07-04 18:42] sahildua2305 commented on #2873
It works on [Beta](https://beta.duckduckgo.com/?q=tides+02210&ia=tides&iax=1).

The changes aren't live yet, @mattr555 ?

[2016-07-04 18:47] sahildua2305 commented on #2860
Great idea!

I can take it up, if @vikashvverma is not in mood of working on this :stuck_out_tongue_winking_eye:

[2016-07-04 21:22] GuiltyDolphin opened #2877 "MetaCPAN: Poor relevancy on additional query words"
See: ["cpan Text::Trim"](https://beta.duckduckgo.com/?q=cpan+Text%3A%3ATrim&ia=software)

![screenshot-2016-07-04-22 21 02_743_289](https://cloud.githubusercontent.com/assets/8598426/16570049/112368bc-4236-11e6-857b-fdb8579120d1.png)

Vs. ["cpan Text::Trim install"](https://beta.duckduckgo.com/?q=cpan+Text%3A%3ATrim+install&ia=software)

![screenshot-2016-07-04-22 21 16_740_289](https://cloud.gith

[2016-07-04 21:38] sahildua2305 commented on #2877
@GuiltyDolphin How about removing `install` and more similar words from the query if present, to get the actual module name.

Can we use some regex to deduce only module name from the query?

[2016-07-05 05:18] laurenancona opened #2878 "Bike Sharing Philadelphia (Indego): Add triggers for official name"
I'm not super familiar with the way triggering works with places - whether any permuting of [keywords](https://github.com/duckduckgo/zeroclickinfo-spice/blob/master/lib/DDG/Spice/BikeSharing/IndegoPHL.pm#L5) + [place](https://github.com/duckduckgo/zeroclickinfo-spice/blob/master/lib/DDG/Spice/BikeSharing/IndegoPHL.pm#L11) triggers is happening under the hood or not - either way, this isn't trigger

[2016-07-05 10:08] jbarrett commented on #2877
I don't think we can filter out words like "install" - Module::Install springs to mind.

You also can't use '::' as a reliable indicator of module name, you miss out on single word modules such as JSON, Dancer, Catalyst... Relying on exact module names was one of the major issues with the previous version of this spice.

[2016-07-05 10:11] sahildua2305 commented on #2877
@jbarrett I meant to filter out words like install if they occur separated by a space in the query. In that case a query for `Module::Install` won't be affected. What do you think?

[2016-07-05 10:15] jbarrett commented on #2877
The result for ["cpan module install"](https://beta.duckduckgo.com/?q=cpan+module+install&ia=software) isn't amazing, but it would be worse if we lost "install" in this query.

[2016-07-05 10:16] sahildua2305 commented on #2877
Ah! Ok. Then for now I will just go ahead with `"perl module"`, `"perl dist"` and `"perl distribution"` trigger words instead of just `"perl"`. Please check #2874

[2016-07-05 10:18] jbarrett commented on #2874
@moollaza I questioned the value of adding just "perl" in #2877 - want to chime in over there? Thanks!

[2016-07-05 10:19] jbarrett commented on #2877
Thanks @sahildua2305! I think we should leave this open, as the triggering for this can definitely use work, I'm just not sure what sort of work right now :smile:

[2016-07-05 13:55] #2843 closed

[2016-07-05 14:52] edgesince84 opened #2880 "Ski Resorts: overtriggering"
A search for "[o'hare airport map](https://duckduckgo.com/?q=o%27hare+airport+map&ia=skiresort)" triggers the Ski Resort Åre in Sweden.

---

IA Page:  http://duck.co/ia/view/ski_resorts
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @felixpalmer

[2016-07-05 15:43] jbarrett commented on #2877
Thinking on this further... After [line 17](https://github.com/duckduckgo/zeroclickinfo-spice/blob/9121959/lib/DDG/Spice/MetaCPAN.pm#L17) we could so something like:

[code]

This should pull out the first thing that appears to be a module name (so in the "Text::Trim install" case you'd be left with "Test::Trim"), otherwise it leaves the query remainder untouched. It also means not curating a list

[2016-07-05 16:03] edgesince84 commented on #2872
That is weird, and I can't think of a reason why it'd be intentional.

[2016-07-05 17:45] #2874 closed

[2016-07-06 02:46] daylenca opened #2882 "Goodreads: IA not showing up"
When I performed a search the instant answer did not show up. I was using Microsoft Edge with DDG Beta. URL - https://beta.duckduckgo.com/?q=books+by+melanie+watt.
![2016-07-05_1935](https://cloud.githubusercontent.com/assets/10361755/16606006/10d51b90-42e9-11e6-92ac-412f7e40e6a0.png)

------
IA Page:  http://duck.co/ia/view/goodreads
[Maintainer](http://docs.duckduckhack.com/maintaining/guideline

[2016-07-06 04:18] tagawa commented on #2882
@daylenca Thanks for reporting. It seems the "goodreads" trigger word was not included in the example queries. I've added it so the beta server links should work now, e.g. https://beta.duckduckgo.com/?q=goodreads+books+by+cory+doctorow&ia=answer

[2016-07-06 04:18] #2882 closed

[2016-07-07 15:32] jdorweiler commented on #2872
Nope not intentional. I think this might be a bug with the template.

[2016-07-07 19:22] GuiltyDolphin commented on #2877
@jbarrett Looks pretty good.

If I notice any more issues I'll re-open this and we can discuss further.

[2016-07-07 19:22] #2877 closed

[2016-07-08 04:29] tagawa commented on #2860
@sahildua2305 Thanks for the offer! I think @vikashvverma is pretty busy at the moment so I've assigned it to you to have a go.

[2016-07-08 08:34] rasikapohankar commented on #2872
@edgesince84 @jdorweiler Yes, it seems to happen for this too: https://duckduckgo.com/?q=apple&ia=meanings, if we come back to the first results page after clicking on a tile. I found this example in the documentation for `minTopicsForMenu`. I tried to look for the cause but didn't find anything useful. Can you tell me where should I look for the javascript that gets executed when we click on the

[2016-07-08 12:35] jdorweiler commented on #2872
@rasikapohankar what browser and can you list the steps you took? I can't reproduce it.

[2016-07-08 12:44] rasikapohankar commented on #2872
@jdorweiler I was using Chrome, for https://duckduckgo.com/?q=apple&ia=meanings,
1. In the topics in `Meanings`, I went to `See Also` and clicked on the last tile under it.
2. It goes to a new page https://duckduckgo.com/d/Big_Apple?ia=meanings,
3. Then clicked the back button of the browser, the view scrolls. In this case the page itself changes when we click though, but I didn't find other examp

[2016-07-08 13:16] edgesince84 opened #2886 "Timer: Does not ringing when browser tab is unfocused"
A DuckDuckGo user has reported that the timer does not ring until the tab is in focus, using Ubuntu 14.04, Chromium XXX

---

IA Page:  http://duck.co/ia/view/timer
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @mattr555

[2016-07-08 15:39] bsstoner opened #2887 "Whois: JS Error"
Need to gracefully handle this and not throw an error:
[code]

------
IA Page:  http://duck.co/ia/view/whois
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @b1ake

[2016-07-08 18:15] ManrajGrover commented on #2838
@GuiltyDolphin I just checked and found that `Color::Library` doesn't have many color names as link shared by @moollaza has. I feel we should go with that link.

[2016-07-08 18:35] jdorweiler commented on #2872
@rasikapohankar thanks, I was able to reproduce that. I'm not sure if the code for the meanings template is opensource or not. @andrey-p do you know?

[2016-07-08 19:27] moollaza commented on #2880
An easy fix is to ignore any queries containing "airport map". A better fix is to do a relevancy check.

@felixpalmer would you be able to fix this? If not I can ask our community to help out 👍

[2016-07-09 11:05] yuwash commented on #1846
According to the [2013 BIS triennial central bank survey](http://www.bis.org/publ/rpfx13fx.pdf) (p. 12) SEK has consistently been the most traded of the three with 1.8 % daily global forex market turnover share in 2013, whereas 1.4 % for NOK and 0.8 % for DKK. The order has remained constant in every triennial figure since 1998. So if we choose a default for kr, SEK might be the most popular choic

[2016-07-09 11:43] andrey-p commented on #2872
@jdorweiler Yeah, that would be due to internal code. I guess we never noticed this problem on the Meanings IA since it redirects to a different page. Could you make an internal task for it?

[2016-07-09 13:13] GuiltyDolphin commented on #2838
@ManrajGrover `Color::Library` has over 10,000 colors - pretty comprehensive :wink:

Even `Color::Library::WWW` alone has 148 - more than the 140 on that site.

[2016-07-09 13:26] ManrajGrover commented on #2838
@GuiltyDolphin I had tried your code. I guess `HTML` has doesn't have that many. :worried:  Should I revert the `colors.yml` and add check for colors mentioned in `Color::Library` including sub-modules?

[2016-07-10 08:52] dreamtimemix opened #2888 "Airlines: no longer triggering"
Instant Answers Airlines broken on firefox mobile. No IA is displayed.

------
IA Page:  http://duck.co/ia/view/airlines
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @amoraleda

[2016-07-10 08:57] dreamtimemix commented on #2888
If i enter aa70 for example no airline ia is displayed on firefox mobile with duckduckgo as default search engine. Android 5.1.1/Firefox Mobile 47.0

[2016-07-10 08:58] dreamtimemix commented on #2888
![screenshot_2016-07-10-03-53-14](https://cloud.githubusercontent.com/assets/20379996/16712621/939b925e-4652-11e6-9e69-78932169f59e.png)

[2016-07-10 10:25] GuiltyDolphin commented on #2838
@ManrajGrover Oh, sorry, my bad - that was just an example of how you might use it.

You'll probably want to use `Color::Library::SVG` for starters (same as `Color::Library::WWW`) which has 148 colors; it combines some of the common sets w/ some extra.

If there's some positive response for duckduckgo/zeroclickinfo-goodies#3371 then I'll put some work into a Role for various color-related function

[2016-07-10 13:24] ManrajGrover commented on #2838
@GuiltyDolphin Sounds like a plan! (Counter Strike reference, sorry :wink: )  I'll delete the YML file and add `Color::Library::SVG` support for now. :smile: Also, if you could share some pointers on writing test files, that will help a lot! :smile:

[2016-07-10 13:59] GuiltyDolphin commented on #2838
@ManrajGrover Check out `perldoc Test::Tutorial` for a basic overview of testing in Perl; then we use `Test::Deep` for more advanced testing of structures. We have a few conventions and utility routines for writing ZCI tests - (using a `build_test` routine, the `test_zci` routine etc.) which should be present in a fair amount of existing test files.

[2016-07-10 14:03] ManrajGrover commented on #2838
@GuiltyDolphin Thank you once again! :smile: I'll check them out.

[2016-07-10 19:34] edgesince84 commented on #2888
Thanks for the details and screenshot @dreamtimemix!

[2016-07-10 19:46] edgesince84 commented on #1846
@yuwash thanks for the stats!

[2016-07-11 13:37] moollaza commented on #2836
@sahildua2305 I believe this is the reason. I think we can leave as-is?

[2016-07-11 15:02] sahildua2305 commented on #2836
Sure, let's leave it then.

[2016-07-11 15:02] #2836 closed

[2016-07-11 15:17] alohaas commented on #2858
Hey @MrChrisW if you're available, your feedback would be appreciated. If not, we can bring in others.

[2016-07-11 16:32] GuiltyDolphin commented on #2858
Related are:

https://github.com/duckduckgo/zeroclickinfo-spice/issues/2735
https://github.com/duckduckgo/zeroclickinfo-spice/pull/2805

[2016-07-11 20:58] sahildua2305 commented on #2860
@vikashvverma I just checked the functionality of the IA in a bit detail and looks like it already listens for the license type in query and filters out the results based on that license type.

For example - [this](https://duckduckgo.com/?q=open+source+alternative+to+notepad&ia=software) generates results only for open source alternatives.

Not sure what needs to be done regarding this issue :conf

[2016-07-11 21:40] Mylainos commented on #2860
Maybe put the license at the bottom of the items/cards ?

[2016-07-11 21:41] sahildua2305 commented on #2860
Good idea. I think it will make sense to put the license only when the search query is generic. Otherwise it would be obvious that the results must be according to the search query.

[2016-07-11 22:06] Mylainos commented on #2860
I'm not sure. I prefer if it's explicit.
(And it might be a good idea to put the number of likes, but that's for an other issue I guess)

[2016-07-12 05:40] rasikapohankar commented on #2726
It is working now, I'll close this.

[2016-07-12 05:40] #2726 closed

[2016-07-12 08:23] philipmiesbauer commented on #2860
I think it is better to be explicit as well. Otherwise people might not
understand why it is shown sometimes and other times not.

On Mon, Jul 11, 2016, 23:06 Hugo Thiessard <notifications@github.com> wrote:

[2016-07-12 08:36] sahildua2305 commented on #2860
Great! I will create a PR soon for mentioning the license type explicitly in the results.

[2016-07-12 16:17] moollaza commented on #2709
@statista everything looks good 👍

The Instant Answer is live again

[2016-07-12 16:17] #2709 closed

[2016-07-12 20:27] sahildua2305 opened #2893 "How does Twitter Spice work?"
I stumbled upon this amazing [IA](https://duck.co/ia/view/twitter) today. Looked into the code and found something strange [here](https://github.com/duckduckgo/zeroclickinfo-spice/blob/04aaf11a04664c390accb8d5676618eacfa4b950/lib/DDG/Spice/Twitter.pm#L7)

I am not sure how this Twitter account information is being extracted?

/cc @moollaza @GuiltyDolphin @tagawa

---
IA Page: https://duck.co/ia/vi

[2016-07-12 21:26] jagtalon commented on #2893
@sahildua2305 hey! So Twitter's API uses OAuth, and Spice doesn't support this.

So what we did is that we do the OAuth on our servers and sort of "proxy" the API through https://duckduckgo.com/tw.js

Twitter -> DuckDuckGo Processes OAuth -> You

Hope that helps!

[2016-07-12 21:26] #2893 closed

[2016-07-12 21:28] sahildua2305 commented on #2893
That's awesome!

However, doesn't Twitter API have API call rate limits? How do you go with that?

[2016-07-12 21:31] jagtalon commented on #2893
@sahildua2305 mostly mediated through caching. We haven't run into any problems yet.

[2016-07-12 21:32] sahildua2305 commented on #2893
That's crazy. Because the last time I checked the Twitter it had insane API call rate limits.

Anyway, I'd like to make a similar one for GitHub to cover the queries like `github sahildua2305`. Can you please share the tw.js code so that I can see if I get stuck doing the same thing?

[2016-07-12 21:46] jagtalon commented on #2893
@sahildua2305 I don't think the tw.js code will help because it's very different from a Spice and you wouldn't be able to test it. Maybe modifying https://github.com/duckduckgo/zeroclickinfo-spice/blob/820b42ee2164e4c93d347185c6de6af2afea04e2/lib/DDG/Spice/Github.pm to your needs will work--what do you think?

[2016-07-12 21:47] sahildua2305 commented on #2893
Modifying Spice code won't help here because what I plan to do for GitHub is also similar to what you did for Twitter. It will also require OAuth.

[2016-07-12 23:17] #2685 closed

[2016-07-12 23:27] moollaza opened #2894 "GoWatchIt: Should favour TV Show results if "show" is in query, or tv show is currently airing"
The query "[watch wrecked show](https://duckduckgo.com?q=watch+wrecked+show)" returns a result for a movie from 2011, however the API does provide a relevant result, for the new 2016 TV Show.

If "show" is in the query, we should check the show result for relevancy and use it if applicable.

In the case of ambiguity between a Movie or TV Show, we should probably favour whatever is more recent. For

[2016-07-13 17:50] jagtalon opened #2895 "CodeSearch: API Sending 500 Errors"
Hi, @boyter!

It looks like we're getting a 500 error when hitting https://searchcode.com/api/jsonp_codesearch_I/?q=lang%3Ajavascript%20console.log&callback=ddg_spice_code_search:

<img width="815" alt="screen shot 2016-07-13 at 10 48 46 am" src="https://cloud.githubusercontent.com/assets/81969/16813647/68dbc362-48e7-11e6-9e96-bec54d34b63d.png">

<img width="990" alt="screen shot 2016-07-13 at 10

[2016-07-13 18:35] moollaza opened #2896 "Create New CanIUse Spice"
## Background

Although the existing [CanIUse Fathead](https://duck.co/ia/view/caniuse) is capable of answering specific browser compatibility queries, we don't have a general reference for more generic queries. The CanIUse data is all available from a single JSON endpoint, and can be used to show a list of all browser features and their compatibilities.

### Objective

Use [the JSON data CanIUse

[2016-07-13 18:36] moollaza commented on #2896
@duckduckgo/duckduckhack-contributors would anyone be interested in making this CanIUse Spice?

It will require some Perl and JavaScript skills. Ideally we can use existing templates, but we may need a custom item_detail template

[2016-07-13 18:41] jagtalon opened #2897 "METAR Information: API Endpoint not working"
Requesting http://avwx.rest/api/metar.php?station=klax&format=JSON&options=info,translate fails to load. See what the problem is or contact avwx.rest.

Thank you!

------
IA Page:  http://duck.co/ia/view/metar
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @santigl

[2016-07-13 19:15] jagtalon commented on #2893
@sahildua2305 I'm sorry--there are no plans for supporting OAuth at the moment for open source. We're trying to minimize the services that we run ourselves as well so currently we have it limited to Twitter and Amazon.

[2016-07-13 19:18] sahildua2305 commented on #2893
Okay, makes sense! Thanks for answering my queries.

[2016-07-13 19:37] edgesince84 commented on #2266
hey @navneetzz I wanted to see if you still planned on working on finding a new API for this - we really appreciate your contribution and want to see this go live.

If you'd rather work on something new, we'd like to invite you to our [new forum](https://forum.duckduckhack.com/) to preview how we're improving programming-related searches. There are a lot of important tasks up for grabs that we'd l

[2016-07-13 19:37] edgesince84 commented on #2774
@destruc7i0n I wanted to see if you still planned on finishing this up - we really appreciate your contribution and want to see this go live. We're closing up old PRs in the next week, so let me know if I should leave this open for you!

If you'd rather work on something new, we'd like to invite you to our [new forum](https://forum.duckduckhack.com/) to preview how we're improving programming-rela

[2016-07-13 20:18] edgesince84 commented on #2772
hey @vjo thank you for your suggestions, we really appreciate it!  I'm reaching out to let you know that we recently launched a new forum with the initiative of improving programming-related searches, and I hope you'll [join us](https://forum.duckduckhack.com/)!

There are a lot of important tasks up for grabs that we'd like your help with, so feel free to and [jump in](https://forum.duckduckhack.

[2016-07-13 21:33] santigl commented on #2897
I'm on it, @jagtalon. It seems to be an API problem again.

[2016-07-14 01:32] rasikapohankar commented on #2896
@moollaza I would like to work on this.

[2016-07-14 13:59] zekiel opened #2898 "METAR Information: Not working"
@santigl this Instant Answer doesn't appear to be working. Can you investigate?

examples:
1. https://duckduckgo.com/?q=metar+KLAX&ia=weather
2. https://duckduckgo.com/?q=KJFK+metar&ia=weather

------
IA Page:  http://duck.co/ia/view/metar
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @santigl

[2016-07-14 14:01] zekiel commented on #2898
whoops i missed https://github.com/duckduckgo/zeroclickinfo-spice/issues/2898  Closing for that one.

[2016-07-14 14:01] #2898 closed

[2016-07-14 19:05] alohaas commented on #2827
Awesome @sahildua2305! We'll keep an eye out for your pull request.

[2016-07-14 20:01] moollaza commented on #2896
@rasikapohankar awesome! Thanks a lot for volunteering 👍

If you haven't already, please sign up on the [forum](https://forum.duckduckhack.com) and feel free to join in the discussions!

If you have any ideas for this Instant Answer we can  discuss them on the forum or here

[2016-07-16 06:53] Jordanhuang1987 opened #2901 "CodeSearch:"
------
IA Page:  http://duck.co/ia/view/code_search
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @boyter

[2016-07-16 06:53] Jordanhuang1987 opened #2902 "CodeSearch:"
------
IA Page:  http://duck.co/ia/view/code_search
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @boyter

[2016-07-16 07:48] Jordanhuang1987 opened #2903 "Search Code:"
------
IA Page:  http://duck.co/ia/view/search_code
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @sahildua2305

[2016-07-16 07:48] Jordanhuang1987 opened #2904 "Search Code:"
------
IA Page:  http://duck.co/ia/view/search_code
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @sahildua2305

[2016-07-16 10:34] boyter commented on #2895
Sorry I was literally in the middle of nowhere hiking. Im fixing it now. I am planning on moving over to newer more reliable servers soon which should resolve these issues for good.

[2016-07-16 10:35] boyter commented on #2895
There. Should be fixed. I think this should be ok to close now.

[2016-07-16 20:27] santigl commented on #2897
Unfortunately, the API has been getting overloaded. Michael, the API maintainer, has plans to do some architectural changes to mitigate them, but it is going to take a while.

He'll let me know and I'll let you guys know when they are implemented.

[2016-07-16 21:31] sahildua2305 commented on #2904
@Jordanhuang1987 can you please add what the issue is?

[2016-07-16 21:31] sahildua2305 commented on #2903
@Jordanhuang1987 can you please add what the issue is?

[2016-07-17 14:01] dreamtimemix commented on #2888
Any news on this issue? This problem has existed for several month now. I only made an issue out of it after seeing no fixes.

[2016-07-18 16:13] jbarrett opened #2905 "MetaCPAN: Provide more information in the IA by showing the synopsis from the API"
#2845 has been opened to track migration to [MetaCPAN API v1](https://github.com/CPAN-API/cpan-api/wiki/MetaCPAN-V1-announcement-and-migration-plan).

The current version of MetaCPAN spice was created basically as test load for [Spice POST support](https://github.com/duckduckgo/duckduckgo/pull/204) - it's not particularly advanced and doesn't offer a huge amount over organic search results.

Rathe

[2016-07-18 16:26] jbarrett opened #2906 "MetaCPAN: Update behaviour for an exact match to show a synopsis."
#2905 proposes expanding the behaviour of MetaCPAN to expand useful information upfront. We should probably consider triggering this behaviour upfront if the search remainder matches a module name exactly.

Since we're getting into areas of keyword triggering and relatively static data, should this be a fathead?

While we can get full pod and things like DESCRIPTION sections from the API, we then

[2016-07-18 20:10] #2582 closed

[2016-07-18 22:01] moollaza commented on #2771
@sahildua2305 this actually isn't working and was disabled again a while ago.

I messed around with it and I think I noticed some timezone issues, making the results to look like none of the flights were for the current day, causing no flights to be considered relevant.

This definitely needs some investigation. @duckduckgo/duckduckhack-contributors if anyone is interested in debugging some more a

[2016-07-18 22:45] sahildua2305 commented on #2880
@moollaza Let me know if @felixpalmer isn't in mood of fixing this one. :smile:

[2016-07-18 22:50] sahildua2305 commented on #2860
@vikashvverma the issue states that the IA should listen to license type in the query. Was that already handled in some PR? I think this issue needs to be closed and it's sort of misleading.
Your input requested.

[2016-07-19 04:21] tagawa opened #2908 "Actor Filmography: Examples not working"
For example: https://duckduckgo.com/?q=Movies%20with%20Keira%20Knightley&ia=movies

---

IA Page:  http://duck.co/ia/view/movies_filmography
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @whalenrp

[2016-07-19 05:55] tagawa commented on #2880
Thanks for the offer @sahildua2305. I think Felix is busy at the moment so feel free to have a go!

[2016-07-19 09:13] jbarrett commented on #2906
Scratch that, the API sends markup : https://fastapi.metacpan.org/v1/pod/JSON::MaybeXS so no need to handle POD.

[2016-07-19 14:38] whalenrp commented on #2908
@daxtheduck The same query seems to be working fine on the beta distribution: https://beta.duckduckgo.com/?q=Movies%20with%20Keira%20Knightley&ia=movies. Is it possible that our API key with TheMovieDb is hitting a rate limit? IIRC, the limit was fairly low.

@travisbell @moollaza -- Are either of you able to look into the state of our TMDb API key to see if this might be the case?

[2016-07-19 14:43] travisbell commented on #2908
Hi @whalenrp

Hmm, yes, that could be the case. The limits are enforced by IP address, not API key. It seems to me I remember you saying it is the DDG servers that proxy requests, correct?

Let me think about this for a moment...

[2016-07-19 16:22] travisbell commented on #2908
Just an update, I'm working with our ops team to figure out the best solution here. I'll post an update when we've figured out the plan.

[2016-07-20 03:43] vikashvverma commented on #2860
@sahildua2305 @Troupal Currently this IA is showing result based on your query. It shows only open source if you add `free` or `open source` in search query.
<img width="1439" alt="screen shot 2016-07-20 at 9 05 59 am" src="https://cloud.githubusercontent.com/assets/915277/16974357/789993de-4e59-11e6-9fce-c07cbf890015.png">

<img width="1440" alt="screen shot 2016-07-20 at 9 05 49 am" src="https:/

[2016-07-20 07:21] tagawa opened #2909 "ExpandURL: Expanded link doesn't work"
**Steps to reproduce:**
1. Go to https://duckduckgo.com/?q=expand+http%3A%2F%2Fbit.ly%2F29R4u4U
2. Click on expanded link in the IA box

**What should happen:**
The target web page should open.

**What actually happens:**
An error page appears because the link is broken. Using the browser debugger, it seems the link starts with `http://http//`

------
IA Page:  http://duck.co/ia/view/expand_url
[M

[2016-07-20 07:23] ManrajGrover commented on #2463
@GuiltyDolphin @edgesince84 @moollaza I can start porting `Editor` if @shashankgroovy is okay with it. :smile: Also, if there are more IAs to be ported, please mention them.

[2016-07-20 08:20] shashankgroovy commented on #2463
@ManrajGrover yep go ahead!

[2016-07-20 10:00] GuiltyDolphin commented on #2463
@ManrajGrover I haven't spotted any - though if you see one please comment here to let me know and I can add it to the list :heart:

[2016-07-20 10:57] rwakulszowa opened #2912 "Maps: more specific address search"
Hey, is it possible to search with more specific search queries, i.e. including an address?That would be much more useful than just a simple city name matching.

IA Page:  http://duck.co/ia/view/maps_maps
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @nilnilnil

[2016-07-20 16:13] #2909 closed

[2016-07-21 03:36] #2701 closed

[2016-07-21 13:12] nilnilnil commented on #2912
We are in the process of improving the maps functionality, and will take this into consideration. Thank you!

[2016-07-22 13:08] Troupal commented on #2860
**YEAH!!! That's perfect!!!**
The query ***open source alternative to google translate*** work perfectly!
Very nice job'! And thank you all for your work ans answers.

[2016-07-22 18:33] akanshgulati commented on #2675
@moollaza it should also be moved to goodies now.

[2016-07-23 01:43] vikashvverma opened #2916 "Word Of The Day: Maintainer Request"
------
IA Page:  http://duck.co/ia/view/word_of_the_day

[2016-07-24 03:57] bsstoner opened #2917 "Editor: Needs UX improvement"
User feedback: "The idea is great but... how can I run the python code? This is not intuitive at all."

---

IA Page:  http://duck.co/ia/view/editor
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @jmg

[2016-07-25 13:27] zekiel commented on #2916
thanks @vikashvverma Approved!

[2016-07-25 13:27] #2916 closed

[2016-07-25 17:52] #1838 closed

[2016-07-25 17:58] edgesince84 commented on #1990
this was addressed by https://github.com/duckduckgo/zeroclickinfo-spice/pull/2154 already.  thanks!

[2016-07-25 17:58] #1990 closed

[2016-07-25 18:03] edgesince84 commented on #2111
this one is showing very, very limited "breast" images, and nothing NSFW.  To put it in perspective, Google Images shows an equal amount of "breast" pics.  Closing this, thanks!

[2016-07-25 18:03] #2111 closed

[2016-07-25 18:20] edgesince84 commented on #2363
this issue is a duplicate of https://github.com/duckduckgo/zeroclickinfo-spice/issues/2362 and we'll be working toward addressing it!  thanks

[2016-07-25 18:20] #2363 closed

[2016-07-25 18:34] edgesince84 commented on #2370
If this is expected behavior, I'm going to close this one out!  thanks

[2016-07-25 18:34] #2370 closed

[2016-07-25 18:49] edgesince84 commented on #2537
we have multiple location-weather issues open right now, so I'm going to close this as a duplicate to https://github.com/duckduckgo/zeroclickinfo-spice/issues/2362

[2016-07-25 18:49] #2537 closed

[2016-07-25 18:53] edgesince84 commented on #2575
this issue is a duplicate of https://github.com/duckduckgo/zeroclickinfo-spice/issues/2362 and we'll be working toward addressing it!  thanks

[2016-07-25 18:53] #2575 closed

[2016-07-25 18:57] edgesince84 commented on #2581
can this be closed out by #2708 now?

[2016-07-25 19:02] edgesince84 commented on #2599
I'm getting the Crytocurrency tab on this - region off or set to US - both are Crytocurrency for me.

[2016-07-25 19:04] edgesince84 commented on #2624
Since we're not doing IA translations at this time, I'm going to close this one out!  thanks.

[2016-07-25 19:04] #2624 closed

[2016-07-25 19:06] edgesince84 commented on #2625
I'm also unable to reproduce this issue, so I'm going to close it out for now.  If anyone can reproduce it, feel free to open it back up.  thanks!

[2016-07-25 19:06] #2625 closed

[2016-07-25 19:11] edgesince84 opened #2921 "Astrobin Apod: not triggering"
the example query "astronomy picture of the day" isn't triggering for me.

---

IA Page:  http://duck.co/ia/view/apod
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @killerfish

[2016-07-25 19:13] edgesince84 commented on #2655
can this be closed out by #2698?