[2015-02-23 20:36] jagtalon opened #1563 "Conversions: Support for queries like "10 million usd to php""
https://duckduckgo.com/?q=10%2C000%2C000+usd+to+php&ia=currency works but this query doesn't. Similar ones are "10k usd to jpy"

https://duck.co/ia/view/currency

[2015-02-23 20:37] jagtalon opened #1564 "Currency: Numbers with spaces don't work"
"10 000 000 usd to php" don't work but "10,000,000 usd to php" does.

------

IA Page: https://duck.co/ia/view/currency

[2015-02-23 20:45] jagtalon commented on #1562
:+1: the snow oscillates pretty quickly as well. http://cl.ly/0J1J1K012L0v. Almost as if the snow flakes are shivering.

[2015-02-24 22:10] jagtalon commented on #1554
Could also help [seatgeek](https://github.com/duckduckgo/zeroclickinfo-spice/blob/b79c0b3a3eff33d2363dd4bb228d80430d47c51a/share/spice/seat_geek/events_by_artist/seat_geek_events_by_artist.js#L71)

[2015-02-24 22:58] abeyang opened #1569 "Replace Sony logos for GoWatchIt"
Previous logos were a bit too big; I've shrunken them.

Note: Alternate versions used to be called "sony1-alt"; I've changed them to just "sony-alt."

Assets (4 files in all):
http://cl.ly/3i3L0b0Q3T0i

[2015-02-25 10:10] killerfish opened #1571 "News: Text getting chopped off"
SS below
![newsproblem](https://cloud.githubusercontent.com/assets/1424236/6368636/689531c8-bd00-11e4-84d6-110a0b4fe246.png)

[2015-02-25 19:49] moollaza commented on #1571
@killerfish thanks for reporting this! It's actually an internal fix so I'll let the team know.

[2015-02-25 19:49] #1571 closed

[2015-02-26 20:08] moollaza opened #1573 "Kwixer: Should trigger on "movies""
Example:
https://duckduckgo.com/?q=adam+sandler+movies
vs
https://duckduckgo.com/?q=movies+with+adam+sandler&ia=movies

We should add "movies" to the triggers.txt file and it looks like we should probably be checking the relevancy of the query against the actor/director returned by the API.

A [relevancy block](https://duck.co/duckduckhack/spice_displaying#relevancy-blocks) would be good.

------

[2015-02-28 00:17] jagtalon opened #1577 "Add "is it raining?" back!"
We used to have an answer to "is it raining?" like https://duckduckgo.com/?q=is+it+snowing, but we no longer do. It would be cool if we can have that back again. It could probably use our existing Forecast IA as the source.

[2015-02-28 00:22] jagtalon opened #1578 "Snow: Hard to tell if the API is returning good results"
When we look at the endpoint of Snow in, say, https://duckduckgo.com/js/spice/snow/new%20york, we can't really tell if it's giving us the right location or not because the location is not in the API so we can't verify.

Is isitsnowingyet.org a good endpoint? Would using forecast.io (such as in the Forecast.pm IA) be better?

https://duck.co/ia/view/snow

[2015-02-28 00:29] jagtalon opened #1579 "Songkick: Would it be better to revive this or to use SeatGeek instead?"
We can answer questions like https://duckduckgo.com/?q=concerts+near+me&ia=concerts, so maybe Songkick is no longer needed--unless it can answer questions that SeatGeek can't.

[2015-02-28 01:08] moollaza commented on #1579
@jagtalon I think we should reduce the trigger to just "songkick" -- it doesn't look like this IA is live though?

[2015-02-28 01:10] moollaza commented on #1579
One benefit of Songkick::Artists is that it shows similar/related artists, but I suppose this functionality will also exist in LastFM

[2015-02-28 15:16] mrshu commented on #1175
I just tried the following query today and would assume some Currency Conversion IA to show up

https://duckduckgo.com/?q=AU+%2434.93+to+USD

@bsstoner told me to send this example here so that there are example to test any new improvements against.

[2015-02-28 16:15] MrChrisW commented on #1175
@mrshu Interesting example. Are you searching for AUD to USD?

AU isn't a recognised currency code, while the Currency Spice could be improved to trigger in this case, I'm not sure "AU $" is correct terminolog?

[2015-02-28 16:29] mrshu commented on #1175
@MrChrisW Yes, that's what I was searching for and that's a very good point. I think I saw that on eBay or somewhere like that and just copied it.

While I understand your point, that other big search engine does show some sort of currency IA which is what I would just expect to see for this query too.

That being said, feel free to ignore this example, I can see how difficult it is to account for

[2015-02-28 17:10] MrChrisW commented on #1175
@mrshu Don't want to ignore the example! It would be great to support they types of queries, it would just mean using the `Locale::Country` package or a list of two letter country and matching the query, definitely possible :smile:

Speaking of other search engines supporting these types of queries, I've checked and some of the results can be strange! https://duckduckgo.com/?q=BR+34.93+to+USD+!g :

[2015-03-01 01:00] ScreapDK opened #1581 "Keybase: Should provide info when no hit is found."
~~The [Keybase IA](https://duck.co/ia/view/keybase) when trying to get key based on GitHub username.~~
~~E.g. a search for [keybase github:mwolny](https://duckduckgo.com/?q=keybase+github%3Amwolny&ia=keybase) doesn't trigger the Instant Answers.~~

~~At the same [keybase github:jeresig](https://duckduckgo.com/?q=keybase+github%3Ajeresig&ia=keybase).~~

~~Switching between space and colon doesn't m

[2015-03-01 04:40] MrChrisW commented on #1581
@ScreapDK Usually if the answer doesn't return a result the default is to not display the IA.

Although this is a great case to update the [example queries](https://github.com/duckduckgo/zeroclickinfo-spice/blob/master/lib/DDG/Spice/Keybase.pm#L19-L20), we shouldn't include queries in `
secondary_example_queries` that don't trigger.

I'd also like to update the `primary_example_queries` to include

[2015-03-02 02:15] moollaza opened #1583 "TVMaze: Conversion of Airdate to local date incorrect"
The airdate of tonight's (March 1st) episode of "Madame Secretary" shows it aired on "February 28" in the info box. But the API returned `2015-03-01` which is correct.

![2015-03-01_21h11_00](https://cloud.githubusercontent.com/assets/873785/6434489/30fa34e2-c058-11e4-82ed-07729d7dd907.png)

It seems like the simplest solution is to switch this Spice to use the recently added Moment.js. The `Spice

[2015-03-02 02:34] moollaza commented on #1583
After a quick inspection, we should either be using the `airstamp` property to get the airdate as it specifies the timezone offset, unlike the `airdate` property.

[2015-03-02 15:39] moollaza opened #1584 "Indeed (Jobs): Rescue and update PR"
Before the DDG redesign a PR was started for Job search using the Indeed.com API.

We'd love to see this go live and we're asking if anyone out there would be interested in bringing that PR back to life? The code will need to be re-written as it was created before the changes to the Spice API and before our templates so the implementation should be **much** simpler now using the `text` template gr

[2015-03-02 17:39] jagtalon opened #1585 "SeatGeek: Maybe "amanda palmer tickets" should be the same as "amanda palmer concerts""
Not sure how hard this is to do especially since "tickets" could either mean concerts or sports or actually any event.

https://duck.co/ia/view/seat_geek_events_by_artist

[2015-03-02 19:13] jagtalon opened #1586 "Population: "canada population" not working but "population of canada" is"
https://duckduckgo.com/?q=population+of+canada&ia=population

[2015-03-03 02:15] moollaza commented on #1581
@ScreapDK as @MrChrisW said, generally if we don't have something good to show, we don't show anything at all. It's arguable that given how specific the query and triggers are for this IA that we could, but then you get into difficult territory when people search things that aren't meant to be a keybase user search. E.g. "keybase website", "keybase faq", "keybase financial"

[2015-03-03 14:01] ScreapDK commented on #1581
Sorry for this late reply!

@MrChrisW Looking forward to seeing the full potential of this IA with some new queries! :)
@moollaza I see what you mean! We shouldn't annoy people with unnecessary error-messages!

[2015-03-04 04:30] moollaza opened #1591 "RedditSubSearch: Switch to trigger words"
Seeing as the regex it uses looks for `/r/` or `r/` (or `subreddit`) we should be able to use a word trigger because the "words" of a query are not only split on spaces, but also slashes, dashes, periods, and other punctuation.

As a result, `triggers startend => "subbredit", "r"` followed by a `handle` that checks the query against our current trigger regex should work in exactly the same way, bu

[2015-03-05 03:50] #1495 closed

[2015-03-05 23:29] moollaza opened #1595 "Octopart: Migrate to API v3 -- API v2 deprecating March 20!"
Octopart will be officially turning off Octopart API v2 on **March 20, 2015** and **will not be functional** after March 20.

Let's update it fast!

Here's the documentation for v3: https://octopart.com/api/docs/v3/overview

Code: https://github.com/duckduckgo/zeroclickinfo-spice/blob/master/lib/DDG/Spice/Octopart.pm#L18

https://duck.co/ia/view/octopart

[2015-03-06 06:18] tagawa commented on #1535
Re. the exoplanets IA, the original API (exoapi.com) seems dead but NASA have a public API that could probably be used: http://exoplanetarchive.ipac.caltech.edu/docs/program_interfaces.html

[2015-03-06 16:25] jagtalon opened #1598 "Color Picker: Initial look has the fields left blank on IE 8"
![screen shot 2015-03-06 at 11 23 01 am](https://cloud.githubusercontent.com/assets/81969/6528933/66b368f8-c3f3-11e4-92b4-deb6c9d262b8.png)

https://duck.co/ia/view/color_picker

[2015-03-06 17:07] MrChrisW commented on #1581
@ScreapDK The queries have been updated in #1597 :smile: Thanks for lodging an issue. Closing as fixed.

[2015-03-06 17:07] #1581 closed

[2015-03-06 17:19] jagtalon commented on #1581
:heart:

[2015-03-06 19:38] jagtalon commented on #1579
Yeah the IA isn't live, unfortunately.

[2015-03-06 20:13] jagtalon opened #1599 "SeatGeek::EventsNearMe: Should trigger with "concerts nearby""
It currently triggers with "concerts near me" but not "concerts nearby"

[2015-03-06 22:04] mattr555 opened #1600 "Transit: Use text--primary on the times for dark mode"
![screenshot - 03062015 - 05 00 08 pm](https://cloud.githubusercontent.com/assets/4411471/6537187/426e7346-c422-11e4-8c6b-36a58ad06a02.png)
The status text also looks too dark, we could add `.text--secondary` to that.
cc @tagawa

[2015-03-06 22:29] mattr555 commented on #1598
Are we still attempting to support IE8? We may want to go the way !g went [nearly 2.5 years ago](http://www.computerworld.com/article/2492571/web-apps/google-to-drop-support-for-ie8-on-nov--15.html). We could do what we're doing with IE7 and redirect to /html, or perhaps offer an alternative and link to [browse happy](http://browsehappy.com/).

I just feel pretty constrained trying to support it,

[2015-03-07 01:57] jagtalon commented on #1600
@mattr555 good catch!

[2015-03-07 02:01] jagtalon commented on #1598
@mattr555 I forget the reason, but I do agree that it's a pain to support. I think it's because corporate environments still use it. I'll get back to you on that.

[2015-03-07 02:19] MrChrisW commented on #1598
Just wanted to weight in on this discussion.

Sadly **IE8** still makes up nearly **10-19%** of the browser market share in 2015 (depending on who you talk to :smiley: )  I'd say this is the main reason DDG is still attempting to support it IMO.

We may want to await the [Jan. 12, 2016](http://blogs.msdn.com/b/ie/archive/2014/08/07/stay-up-to-date-with-internet-explorer.aspx) deadline when MS offi

[2015-03-07 03:15] tagawa commented on #1600
PR #1603 should fix this but the tile design for cancelled trains could also use some love (affects NJT and SEPTA IAs).

Using preset classes is good for handling dark mode but there are no classes for backgrounds in the [style guide](https://duckduckgo.com/styleguide#txt-n-color). Any plans to create some?

![ddg_spice_transit_switzerland_dark_cancelled](https://cloud.githubusercontent.com/assets

[2015-03-07 03:50] mattr555 commented on #1598
@jagtalon @MrChrisW Thanks for the explanation. I checked with my dad, and it turns out that his corporate environment uses IE8. He told me about how Microsoft made a web client for Outlook and they suggest that they use Chrome to access it! I also had him access DDG from his native machine, and it looks like the screencaps from BrowserStack make it look worse than it is (but still not as great as

[2015-03-07 04:07] MrChrisW commented on #1598
@mattr555 If I had a dollar for every time I cursed IE I'd be rich :laughing:

I believe the reason it looks worse when you've viewed it in BrowserStack is you're most likley viewing the DuckPAN version which degrades in IE. However it looks better in production.

I've done a little bit of debugging and narrowed the first issue down to adding the [event listeners](https://github.com/duckduckgo/zer

[2015-03-07 15:43] puskin94 commented on #1530
I think that an Infobox can be very useful!

[2015-03-08 13:04] ScreapDK commented on #220
Tee hee! ^_^ ;D :P :)
I had actually already reported that [over here](https://duck.co/forum/thread/4799/new-instant-answer)! ...a looong time ago! :D

See these comments for more example queries:
[example queries](https://duck.co/forum/comment/32078)
[(also this)](https://duck.co/forum/comment/32079)

[2015-03-08 13:10] moollaza opened #1607 "Timer: Improve triggering, "timer for x minutes" should trigger"
https://duck.co/ideas/idea/5050/timer-for-n-minutes

As the issue explains, queries like "timer for x minutes" should trigger the timer.

https://duck.co/ia/view/timer

[2015-03-08 14:53] mattr555 commented on #1607
There is also https://duck.co/ideas/idea/5032/timer-extension, which also seems pretty useful.

[2015-03-08 15:09] moollaza commented on #455
I actually made an issue for this already: https://github.com/duckduckgo/zeroclickinfo-spice/issues/1595

@killerfish can you get your own key for development? https://octopart.com/auth/create

[2015-03-08 15:10] #455 closed

[2015-03-08 15:10] moollaza commented on #1595
/cc @killerfish @jagtalon

[2015-03-08 15:13] moollaza commented on #455
Whoops, just realized this issue is much older! We can continue discussion in the new thread, it outlines more details.

[2015-03-08 15:30] moollaza commented on #1598
@MrChrisW @mattr555 this seems like a more jQuery-esque fix: http://stackoverflow.com/questions/9389968/jquery-touchstart-in-browser#9389999

Not sure if either method is better...

[2015-03-08 17:22] killerfish commented on #1595
relax i got this :>

[2015-03-08 19:44] killerfish commented on #1595
Hmm, i wasnt able to find how to get average price and market status (in v3), so mailed the guys, ill update when i get a response from them.

[2015-03-08 20:56] moollaza commented on #1595
Great, thanks. If they don't respond soon, let me know :)

[2015-03-09 06:39] killerfish commented on #1586
![population canada](https://cloud.githubusercontent.com/assets/1424236/6550843/8744e07e-c650-11e4-81c9-7fa0da6b458f.png)
Working for me, perhaps you meant another trigger?

[2015-03-09 07:20] killerfish commented on #1353
We can always throw all [city abbreviations] (http://globalinkllc.com/useful-info/weblinks/codes-of-abbreviations-to-airportscities-codes/) into yaml and filter queries in perl, as per the case @jagtalon mentioned in #1359 (`weather nyc`). If there are other cases, well, that goes internal then, i believe?

[2015-03-09 14:03] MrChrisW commented on #1353
@killerfish A similar thing was done for the Time IA! I believe #1596 will resolve this issue with some internal changes being made.

[2015-03-09 14:49] MrChrisW opened #1615 "RxInfo: Single result formatting"
Formatting issue with RxInfo single result

See [live example](https://duckduckgo.com/?q=pill+metaxalone+800+MG+Oral+Tablet+%5BSkelaxin%5D+&ia=rxinfo)

![selection_267](https://cloud.githubusercontent.com/assets/5282264/6557217/6dad3040-c6ae-11e4-898e-16a2c184a980.png)

------

IA Page:  https://duck.co/ia/view/rx_info

[2015-03-09 14:54] moollaza opened #1616 "Nutrition: Regex and relevancy need to be improved"
Right now it looks like anything with one of our trigger words is causing the IA to try and return our results. I suspect that our regex is letting too many things through given all the optional matching groups. I haven't taken a close look but this needs to be fixed!

For example, any query with "iron" in it currently triggers this IA:

- https://duckduckgo.com/?q=iron+man&ia=nutrition
- https://

[2015-03-09 14:54] killerfish commented on #1353
Oh, didnt know it was there :/ Need to know somehow when people pick up an issue to fix (to avoid multiple people working on the same thing)

[2015-03-09 15:05] moollaza commented on #1353
Commleaders should assign tasks to themselves that they intend to fix. A comment on the issue about an incoming fix would also certainly help :)

[2015-03-09 15:07] moollaza commented on #1353
Regarding this particular issue though, with the weather IA, we're going to remove most of the triggers and let our internal triggering (based on organic links) do the work to see if this helps ensure we only trigger and show the IA when needed.

[2015-03-09 15:21] killerfish commented on #1353
@moollaza Yup, i meant for the regular contributors ^^

[2015-03-09 18:03] #1493 closed

[2015-03-09 18:23] #1434 closed

[2015-03-09 18:59] #1599 closed

[2015-03-09 19:51] #1600 closed

[2015-03-09 20:49] moollaza opened #1618 "Timer: Triggering should allow "mins", "secs", etc"
Just tried the query, "timer 20 mins" and it didn't trigger.

https://duckduckgo.com/?q=timer+20+mins

https://duck.co/ia/view/timer

[2015-03-10 02:38] moollaza commented on #1586
"canada population" doesn't seem to work:

![2015-03-09_22h38_18](https://cloud.githubusercontent.com/assets/873785/6568390/0fa8d28e-c6ad-11e4-97c8-96a411f03f5a.png)

[2015-03-10 05:51] killerfish commented on #1586
damn :/ i overlooked that completely, so population is using regex to trigger, @moollaza i think we should trigger on words, unless the trigger range becomes to broad, what do you suggest?

[2015-03-10 12:58] yegg opened #1621 "Bad nutrition relevancy"
https://duckduckgo.com/?t=palemoon&q=carbon+fiber+wrap&ia=nutrition

Is this going through relevancy appropriately?

![screen shot 2015-03-10 at 8 57 33 am](https://cloud.githubusercontent.com/assets/127263/6575253/82d178be-c703-11e4-97c9-1f7ee0ad611c.png)

https://duck.co/ia/view/nutrition

[2015-03-10 13:47] moollaza commented on #1621
@yegg I noticed this as well and made a task for it #1616 -- There's a bug in our regex that checks the query format. I don't believe it's using a relevancy block either, which I mentioned should be added.

[2015-03-10 13:47] #1621 closed

[2015-03-10 13:48] yegg commented on #1621
I think high relevancy bugs we should do internally ASAP. cc @nilnilnil @russellholt

[2015-03-10 15:37] moollaza commented on #1586
@killerfish absolutely! There's no need for a regex trigger.

[2015-03-10 19:34] nilnilnil commented on #1621
@russellholt @moollaza @yegg was this really resolved?

[2015-03-10 19:36] moollaza commented on #1621
@nilnilnil not yet AFAIK, I closed because it's a duplicate of #1616

[2015-03-10 19:38] nilnilnil commented on #1621
ok, so it was assigned. thanks.

[2015-03-10 21:06] iambibhas commented on #1535
I looked at the [ideas/firefox-plugins](https://github.com/duckduckgo/zeroclickinfo-spice/tree/ideas/firefox-plugins) branch. addons.mozilla.org API now returns XML as mentioned [here](https://developer.mozilla.org/en-US/docs/addons.mozilla.org_%28AMO%29_API_Developers%27_Guide). They probably changed it since the last time that branch was used.

[2015-03-10 22:34] moollaza commented on #1535
@iambibhas it looks like that branch was going to use XML (which isn't allowed), but I just tried adding `?format=json` to an example URL in their docs and it worked! :smiley:

https://services.addons.mozilla.org/en-US/firefox/api/1.5/addon/1865?format=json

[2015-03-10 23:22] iambibhas commented on #1535
Cool! Not sure why it isn't documented. So I Can work on it. Lemme give it a try.

[2015-03-10 23:26] iambibhas commented on #1535
Looks like JSON response isn't available for the search endpoint.
[code]

https://services.addons.mozilla.org/en-US/firefox/api/1.5/search/memory/all/1?format=json

[2015-03-11 04:38] tommytommytommy commented on #1353
@MrChrisW @killerfish @moollaza We just merged the changes that remove all words from the trigger list for Forecast except "weather". But, it is true that "weather network" still triggers when it shouldn't. I didn't want to remove "weather" yet because there are some cities that don't always show up in our search results (and therefore we can't infer them and internally trigger Forecast), but thes

[2015-03-11 04:42] tommytommytommy commented on #1353
OH. Except, this will break "weather", which tries to return the weather for the user's current location :-(

[2015-03-11 05:50] killerfish commented on #1569
fixed in #1575

[2015-03-11 05:50] #1569 closed

[2015-03-11 06:12] killerfish commented on #174
Closing in favour of #898

[2015-03-11 06:12] #174 closed

[2015-03-11 11:50] killerfish commented on #689
Do we want to rename the instant answer to products, or the name displayed (which it already does).

[2015-03-11 11:59] andrey-p opened #1625 "Conflict between Timer and Time IAs on DuckPAN"
Running locally on DuckPAN and typing `timer 10 seconds` or `countdown 10 seconds` doesn't open the Timer IA.

DuckPAN logs the following error:

[code]

Deleting `lib/DDG/Spice/Time.pm` and searching for `timer 10 seconds` or `countdown 10 seconds` renders the Timer IA as on the live site.

[2015-03-11 14:39] #1616 closed

[2015-03-11 15:33] moollaza commented on #689
I think we wanted to rename just the tab. I'm not sure if renaming the package would cause problems, but I fear it may require a lot of internal changes.

@nilnilnil should we rename the Package to `DDG::Spice::Products`?

[2015-03-11 15:39] moollaza commented on #1353
@tommytommytommy I think for that^ reason we should leave the weather trigger and just make sure that "weather network", "weather alert", etc don't show a result.

With the coming "place detection" function, we should be able to check if the candidate location is in fact, a location (rather than a dictionary word) which should help with relevancy.

[2015-03-11 22:05] mattr555 opened #1626 "ColorPicker: Set signal: high"
It currently doesn't open up automatically when you just search [color picker](https://duckduckgo.com/?q=color+picker) (though searching for a [specific color](https://duckduckgo.com/?q=color+picker+%23123) is ok)

https://duck.co/ia/view/color_picker

[2015-03-12 02:04] #1625 closed

[2015-03-12 03:28] zilespiral commented on #899
Haven't you found any solution yet? I too keep getting the weather from Rochester, NY, even though I have my results localized to Mexico. The "where am I?" instant answer is finding my approximate location correctly, though.

[2015-03-12 10:36] killerfish opened #1628 "BrainyQuote: Double quotes missing at end"
Ending quote is missing, SS below
![quote](https://cloud.githubusercontent.com/assets/1424236/6616189/469c7332-c8cd-11e4-930d-05b5183700fa.png)
@jagtalon @chrismorast are we still aiming for proposed design changes? in #674

[2015-03-12 10:49] killerfish commented on #805
We can switch this to text template (its using base currently), no? Would possibly resolve #674 also.

[2015-03-12 17:48] chrismorast commented on #1628
@killerfish , I believe there were some issues in rendering both quotes. Don't entirely remember what they were :) but I think it was related to alignment

[2015-03-12 19:02] yegg opened #1629 "Expanded triggers for flight search?"
us air 581

works

but these dont't

us airways flight 581
usairways 581
usairways flight 581

https://duck.co/ia/view/flights_route

[2015-03-12 19:13] moollaza commented on #1629
@yegg "us airways flight 581" works for me?

![2015-03-12_15h13_10](https://cloud.githubusercontent.com/assets/873785/6626033/58bb02c0-c8ca-11e4-960d-1c1685798406.png)

The others should definitely be made to work though.

[2015-03-13 01:43] moollaza opened #1633 "GitHubJobs: Convert to Text template, use Moment.js for dates"
https://github.com/duckduckgo/zeroclickinfo-spice/blob/master/share/spice/github_jobs/github_jobs.js

No need for this one to be using a Base template. It should use the text template and a footer similar to the Reddit and HackerNews Spices.

Also, we could use Moment.js (like Reddit & HN) to handle the dates!

https://duck.co/ia/view/github_jobs

[2015-03-13 04:57] killerfish commented on #430
What template do we use for this? I mean tile view might just look awkward.

[2015-03-13 06:51] iambibhas commented on #1535
This old IA(stale branch `upc`) specifies the API Key in plain text. That should be removed, right? https://github.com/duckduckgo/zeroclickinfo-spice/blob/upc/lib/DDG/Spice/Upc.pm#L10

[2015-03-13 08:06] killerfish commented on #1628
How about we use png, instead of entities for the quotes?

[2015-03-13 11:07] killerfish commented on #703
Anyway to achieve this guys?

[2015-03-13 14:07] moollaza commented on #1628
We discussed it a bunch and ended up deciding to remove the trailing quote here: https://github.com/duckduckgo/zeroclickinfo-spice/pull/951

[2015-03-13 14:07] moollaza commented on #1628
If @chrismorast would like it to be re-designed we can open this up, otherwise I've marked this as tolerated.

[2015-03-13 14:11] moollaza commented on #1535
@iambibhas that's not one of DDG's keys, it's the contributor's, but yes if you plan to bring back that IA, you should get a new key.

The contributor isn't using that key though for anything else. He was a DDG intern :)

[2015-03-13 14:19] moollaza commented on #430
I think a tile view could work if we're showing multiple quotes. We might want to go with taller, narrow tiles likes our News tile, or maybe wider ones, like we're doing for TodayInHistory.

I'd say start basic, with no customization and let's see how it works. We can go from there with the design team :)

[2015-03-13 16:21] killerfish commented on #430
Well, we could allow only a certain length quotes for tiles, and use view like todayinhistory, that might fit, but dont we break the standard of showing one quote? Or do we split views based whether query is 'quote' or 'quotes'?

[2015-03-13 17:35] #226 closed

[2015-03-13 19:27] chrismorast commented on #1628
Ahh, yes. Removing the last quote had to do with it breaking the line height on the last line.

[2015-03-13 19:29] chrismorast commented on #1626
Thanks for creating an issue for this @mattr555 , I was about to do the same :)

[2015-03-13 20:08] killerfish commented on #1628
So @chrismorast do you think we can have a way around this (not using entities etc), or do we close this?

[2015-03-13 22:03] moollaza opened #1636 "Flights: Implement new design"
We've recently re-designed our Flights Tiles as you can see below:

![screen shot 2015-02-27 at 10 43 02 am](https://cloud.githubusercontent.com/assets/873785/6648016/176a08ca-c9ab-11e4-8d8f-5472f2ea726b.png)

This new design now needs to be implemented. Any takers?!

https://duck.co/ia/view/flights_route

[2015-03-14 00:23] #805 closed

[2015-03-14 00:27] moollaza commented on #1636
/cc @thm @abeyang

[2015-03-14 05:50] ScreapDK commented on #1581
@MrChrisW Great! Looking forward to see the IA-page being updated. BTW, how often is it being updated?

[2015-03-14 06:27] MrChrisW commented on #1581
@ScreapDK I have no idea! I think @jdorweiler or @MariagraziaAlastra may know.

[2015-03-14 14:09] jdorweiler commented on #1581
Just updated it :smile:

[2015-03-14 14:13] MrChrisW commented on #1581
@jdorweiler :smile: can you also reprocess the screenshot? or maybe I have to wait for the server side cache to clear :+1:

[2015-03-14 15:33] jdorweiler commented on #1581
@MrChrisW I think it's automated now otherwise @jagtalon will have to update it.

[2015-03-14 15:36] MrChrisW commented on #1581
@jdorweiler Yup I believe you're using PhantomJS in the backend to capture the screenshots.

[2015-03-14 20:57] russellholt commented on #703
We don't have a general strategy for embedding other IAs yet.

[2015-03-15 14:10] javathunderman commented on #220
@moollaza @ScreapDK Should we look for a new API then?

[2015-03-15 14:18] javathunderman commented on #228
@chrismorast @jagtalon Is this done? Doesn't seem to be live...

Also, the keyword used here (wn 133) won't work because of #217.

[2015-03-15 14:19] javathunderman commented on #401
@moollaza @jagtalon I think this has been fixed...

[2015-03-15 14:22] javathunderman commented on #684
@jagtalon Curious- what do we have to do here? Looks like it's already been ported...

[2015-03-15 14:22] javathunderman commented on #870
@jagtalon I think this can be closed...

[2015-03-15 14:23] javathunderman commented on #816
@jagtalon @bsstoner @russellholt Probably should contact them on this. Love to see this IA back up and running.

[2015-03-15 21:40] moollaza opened #1638 "Switch "String::Trim" to "Text::Trim""
We're currently using both `Text::Trim` and `String::Trim` in various Spices. This seems unnecessary and I believe we might as well choose one lib and just use that one. I vote for `Text::Trim`, but I don't think one is much better than the other - any opinions on which to choose?

Once we decide, let's updated the Goodies so that they're all using the same package.

Also, some other Goodies defin

[2015-03-15 21:43] moollaza commented on #1009
Closing this. It will hopefully be resolved in #898

[2015-03-15 21:43] #1009 closed

[2015-03-15 21:51] moollaza commented on #898
@heytitle just wondering if you still interested in working on this? I just updated my comment https://github.com/duckduckgo/zeroclickinfo-spice/issues/898#issuecomment-48227527 -- we should be able to move forward with this :+1:

[2015-03-16 03:11] heytitle commented on #898
@moollaza Oh, sorry it was done already. I'll have a look. :)

[2015-03-16 12:57] MrChrisW commented on #1638
@moollaza Did you mean to lodge this over here [zeroclickinfo-goodies](https://github.com/duckduckgo/zeroclickinfo-goodies/issues) ?

[2015-03-16 15:35] moollaza commented on #1638
Whoops, meant to say "Spices" -- we're not actually using either lib in the Goodie, but I think we should be!

[2015-03-16 15:44] moollaza commented on #1638
[code]

[2015-03-16 15:47] moollaza commented on #816
@javathunderman we were actually talking about this IA internally last week and I plan to launch it soon!

[2015-03-16 15:47] chrismorast commented on #1628
@killerfish , do you think we can add the quote without compromising the line height? It would be great to do something along these lines:
![screen shot 2015-03-16 at 8 44 32 am](https://cloud.githubusercontent.com/assets/7061920/6669934/10073f20-cbb9-11e4-9a4c-07bbd986b18b.png)

The top of the end quote would align to the tom of the corresponding line of text. Also, margin matching is represented

[2015-03-16 15:53] MrChrisW commented on #1638
[Text::Trim](https://metacpan.org/pod/Text::Trim) looks good to me! After a little research there's no performance difference between the above mentioned packages however I believe `String::Strip` can be faster as its implemented in XS however unmaintained.

[2015-03-16 15:53] moollaza commented on #870
@javathunderman this IA doesn't seem to be live? https://duckduckgo.com/?q=rs7903146&ia=answer (sadly that's not the best result either..)

[2015-03-16 15:56] moollaza commented on #684
@javathunderman the TopTracks and Albums Spices haven't been updated yet, the code is partially updated, but the Spice API underwent further improvements and the IA's need to match the newest API so that they display results properly (if you take a peek at those screenshots, the results are broken in DuckPAN)

[2015-03-16 15:57] moollaza commented on #684
- https://github.com/duckduckgo/zeroclickinfo-spice/blob/master/share/spice/lastfm/song/lastfm_song.js
- https://github.com/duckduckgo/zeroclickinfo-spice/blob/master/share/spice/lastfm/top_tracks/lastfm_top_tracks.js

[2015-03-16 15:59] #401 closed

[2015-03-16 15:59] chrismorast commented on #228
@javathunderman , I don't believe this has been implemented yet. We've actually made some pretty drastic visual updates to the flights tile that we're hoping to have implemented in the next couple weeks.

[2015-03-16 16:03] moollaza opened #1640 "Timer: Triggers on the query "time""
It probably shouldn't :)

Looks like the regex needs to be adjusted.

https://duck.co/ia/view/timer

[2015-03-16 16:05] moollaza opened #1641 "Time: "time", "local time", "current local time", etc should show user's time"
This IA could definitely be improved to show the user's local time for certain queries, such as:

- "time"
- "local time"
- "current local time"
- "current time"
- "what's the time"
- etc.

https://duck.co/ia/view/time

[2015-03-16 16:21] moollaza commented on #1638
@MrChrisW Let's go with `Text::Trim` then. Means less work anyways :)

[2015-03-16 16:36] puskin94 commented on #1591
@moollaza I only have one question: How can I check the triggers without a regex if a word trigger has not spaces?
`r/ pizza` and `/r/ pizza` works because there is a space between the trigger and the query, but `r/pizza` cannot be triggered because there is no space and the trigger is not recognized. Am I right? I'm playing with this IA but I can't write a working solution ;)

[2015-03-16 17:58] javathunderman commented on #684
@moollaza Ok, just wondering...

[2015-03-16 17:59] javathunderman commented on #870
Correct me if I'm wrong, but the code looks OK. I believe that the only issue is that it isn't up.

[2015-03-16 18:00] javathunderman commented on #816
@moollaza Awesome, looking forward to it.

[2015-03-16 18:06] moollaza commented on #1591
@puskin94 hmm it looks like there's possibly a bug in the DuckDuckGo library. The triggering does work as expected, which you can see if you turn on the Block Trace debug: `DDG_BLOCK_TRACE=1 duckpan query`

You'll have to change the IA to simply `return $_` in the handle because it doesn't have a `remainder` (which is the bug and why you likely didn't get a result).

If you switch it to `handle qu

[2015-03-16 19:26] moollaza commented on #870
@javathunderman actually, now that I took a second look the code isn't updated. The `Spice.add()` call needs to be updated to use the new, required parameters. (i.e. `header1` is old, etc)

[2015-03-16 21:00] mintsoft commented on #1638
@MrChrisW @moollaza I've recently switched the Goodies repo to harmonise trimming on `Text::Trim` too

[2015-03-17 00:32] moollaza commented on #1636
Here's a spec outlining the design.

It specifies the CSS classes which should be given and the font sizes which will need to be specified in a CSS file.

![2015-03-16_20h31_19](https://cloud.githubusercontent.com/assets/873785/6679230/6cab42d2-cc1b-11e4-99ca-ffc0bf7886f4.png)

[2015-03-17 03:24] #1542 closed

[2015-03-17 03:24] moollaza commented on #1542
Fixed in #1550

[2015-03-17 04:46] #1586 closed

[2015-03-17 04:50] #1552 closed

[2015-03-17 15:20] tvdavid commented on #1583
Ah, having moment.js available is great! I rewrote all three IA's to make use of it, making the code a lot cleaner.

I also added the "recent episode" trigger, this makes sense indeed.

[2015-03-17 15:40] jagtalon opened #1647 "Movie + InTheaters: Images are slowly being deprecated in the API"
We've been modifying the API results to deal with the constantly changing URL for the images (see https://github.com/duckduckgo/zeroclickinfo-spice/blob/master/share/spice/in_theaters/in_theaters.js#L6...L16), and it's been a mess especially since the images in the API will be deprecated.

A good way is to use another API for the images such as http://docs.themoviedb.apiary.io/#introduction/useful

[2015-03-17 15:54] jagtalon commented on #1647
Maybe we could also use the GoWatchIt API for it

[2015-03-17 18:09] jagtalon opened #1649 "WGHA: Subtitle is getting cut off"
![screen shot 2015-03-17 at 2 08 24 pm](https://cloud.githubusercontent.com/assets/81969/6694228/28fc3188-ccaf-11e4-9ea5-b5b483493998.png)

https://duck.co/ia/view/wgha

[2015-03-18 12:10] MrChrisW commented on #1647
Source: http://developer.rottentomatoes.com/forum/read/184496 (posted 9 months ago) *high-resolution poster images are no longer available via the APIs and will need to be sourced elsewhere.*

[2015-03-18 19:13] moollaza commented on #1647
@MrChrisW good find! I hadn't thought to check there.

[2015-03-18 20:10] moollaza commented on #1649
Looks like it needs the `title` and `footer` variations to be set. Something like:

[code]

/ccc @sdougbrown

[2015-03-19 09:04] killerfish opened #1655 "Timer: Tighter triggering needed perhaps"
Queries such as [this] (https://duckduckgo.com/?q=Time%3A%3Apiece) is triggering the timer, should be addressed perhaps.
//cc @mattr555

https://duck.co/ia/view/timer

[2015-03-19 13:35] moollaza opened #1656 "Timer: Triggers on "Time::Piece""
It shouldn't :)

Looks like the triggers and regex need some more testing and review.

https://duck.co/ia/view/timer

[2015-03-19 14:36] iambibhas commented on #1649
I think `variants` should be outside `options`. Adding the variants and removing the css file, this is how it looks -

![](http://imgur.com/HcTxjaS.png)

Removed the css file because the spacing between the title and the footer seemed a bit too much. Does this look fine?

[2015-03-19 15:02] iambibhas commented on #1656
Just testing, this seems to work as expected -

[code]

Not sure why `time` was set to `triggers start`. Replacing `+` with `*` so this is triggered if someone just searches with `timer`, hence removing the `$_ eq ''` part.

This is kind of my first time messing with perl. If something is broken, please humor me. :)

[2015-03-19 15:09] moollaza commented on #1655
hahaha @killerfish I totally didn't notice you made an issue for this! I made the exact same issue this morning https://github.com/duckduckgo/zeroclickinfo-spice/issues/1656

[2015-03-19 15:10] iambibhas commented on #1641
Just curious, now that we have moment.js support, can't we show the datetime without an api call?

[2015-03-19 15:10] moollaza commented on #1655
there's some discussion there so I'll close this one. Thanks for noticing and making an issue!

[2015-03-19 15:10] #1655 closed

[2015-03-19 15:16] moollaza commented on #1656
@iambibhas it's intended to trigger on the query "timer" and also queries like "time 4 minutes", "timer 20 mins 3 seconds", etc.

I think your changes would break that?

[2015-03-19 15:17] moollaza commented on #1656
Best way to verify is to run the test ;) `prove -Ilib t/Timer.t`

[2015-03-19 15:21] iambibhas commented on #1656
@moollaza yeah, then my changes would break that. But the way it's now, querying for `time` returns a timer instead of triggering the Time spice. Is that intended?

[2015-03-19 15:26] moollaza commented on #1656
"time" definitely should't return the Timer IA. -- There's a slight problem in the duckduckgo code that also needs to be addresses. For the query `Time::Piece` because we break the query on symbols like `:` it sees "time" and "piece" as two separate words, but it's not correctly setting the `remainder` to `::piece` -- instead it's setting the remainder to `""` which is why this falls through...

[2015-03-19 15:31] iambibhas commented on #1656
Ah. That explains things. So if querying *only* `time`, it should trigger Time.pm. If `time` is followed by any of the stuff that's supposed to follow `timer`, it should trigger Timer.pm. Right?

But TBH, I can't imagine someone would want a timer by querying `time 5 hours`. sounds more like they'd want to know the time after 5 hours. That might just be me.

[2015-03-19 15:46] moollaza opened #1657 "Time: Favouring City over Country causes relevency issues"
For the query ["time in whitby, england"](https://duckduckgo.com/?q=time+in+whitby%2C+england&ia=time) we're showing the time for Whitby, Canada. Likewise ["time in whitby, new zealand"](https://duckduckgo.com/?q=time+in+whitby%2C+new+zealand&ia=time) shows Whitby, Canada.

In both cases Time and Date does not have a result for the correct city, but they have results for locations that are very cl

[2015-03-19 15:48] yegg opened #1658 "Time: wrong city, seattle time yields DC?"
https://twitter.com/AurelioReis/status/578311283289669632/photo/1

[2015-03-19 15:49] moollaza commented on #1657
Alternatively, to ensure we're not guessing, we should probably not show a result if the result's city name isn't relevant to the query.

[2015-03-19 15:55] moollaza commented on #1641
@iambibhas I don't believe so because the TimeandDate API allows us to search for a specific location, and then they do the work of determining the timezone for that place. I don't believe Moment is capable of doing the `location -> timezone` piece unless it had a DB of all the world's cities?

[2015-03-19 16:12] moollaza commented on #1658
I actually just made an issue for this (and Asana task) https://github.com/duckduckgo/zeroclickinfo-spice/issues/1657

[2015-03-19 16:12] #1658 closed

[2015-03-19 16:12] iambibhas commented on #1641
@moollaza right. I just meant for the local time. But seems like the api takes care of it. never mind.

[2015-03-19 16:25] moollaza commented on #1656
Yes, there's actually an issue to make "time" show the user's local time -- it currently does not.

A user actually made an issue for that because they were expecting a timer for that kind of query

[2015-03-19 19:46] malbin opened #1660 "SoundCloud: volume control?"
Just wondering if there is a plan to implement volume control in the SoundCloud IA. I think it would be useful

------

IA Page:   http://duck.co/ia/view/sound_cloud

[2015-03-19 21:12] #1657 closed

[2015-03-20 01:07] #1530 closed

[2015-03-20 21:40] jagtalon commented on #1618
Fixed by @puskin94 in #1639

[2015-03-20 21:40] #1618 closed

[2015-03-20 21:44] jagtalon commented on #1595
Fixed by @killerfish and @moollaza

[2015-03-20 21:44] #1595 closed

[2015-03-20 21:45] jagtalon commented on #1591
Fixed by @puskin94

[2015-03-20 21:45] #1591 closed

[2015-03-23 14:31] moollaza commented on #1649
Whoops, my mistake. You're correct.

Looks great!

[2015-03-23 15:47] #1649 closed

[2015-03-23 19:43] jagtalon opened #1671 ""time" probably shouldn't trigger Timer.pm but trigger Time.pm instead"
Anybody have any other opinion on this?

![screen shot 2015-03-23 at 3 42 02 pm](https://cloud.githubusercontent.com/assets/81969/6788952/47db025a-d173-11e4-850e-354d3c13c2d7.png)

[2015-03-23 19:47] #1607 closed

[2015-03-23 19:59] moollaza opened #1672 "SimilarSites: Simplify Handlebars Helper"
This Spice uses it's own Handlebars helper to iterate over items and build up an HTML string. The code should be altered so the data is setup before hand to simplify or remove the Handlebars helper and move more HTML into the template rather than the JS.

If an array of objects is built beforehand (using a `normalize` function should work), we should be able to iterate over the array with our buil

[2015-03-23 20:06] iambibhas commented on #1554
Looks like tvmaze [has been moved](https://github.com/duckduckgo/zeroclickinfo-spice/blob/master/share/spice/tvmaze/nextepisode/tvmaze_nextepisode.js#L9) to moment.js. Should probably update that checklist above.

[2015-03-24 13:29] moollaza commented on #1671
@jagtalon this is a bug. I believe a fix has already been merged to address this.

[2015-03-24 13:30] moollaza commented on #1671
Also, this is a duplicate of https://github.com/duckduckgo/zeroclickinfo-spice/issues/1640

[2015-03-24 13:30] #1671 closed

[2015-03-24 13:30] moollaza commented on #1638
Fixed ^

[2015-03-24 13:30] #1638 closed

[2015-03-24 13:32] moollaza commented on #1583
Fixed in #1646

[2015-03-24 13:32] #1583 closed

[2015-03-24 17:57] moollaza opened #1679 "TimeAndDate - Holidays: Finish Integration"
The awesome team at TimeAndDate had started a Spice Instant Answer that allows for us to search for upcoming Holidays.

I've pushed the code to a branch, [timeanddate/holidays](https://github.com/duckduckgo/zeroclickinfo-spice/tree/timeanddate/holidays) and we now **need someone awesome to finish up the integration**. They've done a good job but we'd like to simplify the IA and use more features o

[2015-03-24 21:14] jagtalon opened #1683 "Seasons: Improve triggering"
Would like it to work for these queries too:
- when is spring?
- when is summer?
- when does spring start?
- spring in the us
- spring in the ph

------

IA Page: https://duck.co/ia/view/seasons

[2015-03-24 21:19] jagtalon commented on #1544
@moollaza no it wasn't

[2015-03-24 21:20] #1514 closed

[2015-03-24 21:36] jagtalon opened #1684 "Whois: Indent the code so that it's easier to read"
https://github.com/duckduckgo/zeroclickinfo-spice/blob/master/share/spice/whois/whois.js#L5...L26 should be in the function `ddg_spice_whois`

[2015-03-24 22:27] #1399 closed

[2015-03-25 01:30] MrChrisW commented on #1684
@jagtalon I'll address this :+1:

[2015-03-25 02:10] moollaza opened #1686 "SeatGeek::Sports: JS Error causing failure"
Tried triggering the SeatGeek Sports Spice today and I noticed there was a console error:

![2015-03-24_22h08_32](https://cloud.githubusercontent.com/assets/873785/6817084/707816c6-d272-11e4-9369-dd22eeed05fe.png)

// @MariagraziaAlastra @jagtalon

[2015-03-25 15:54] iambibhas commented on #1679
Can I try working on this?

[2015-03-25 15:59] moollaza commented on #1679
@iambibhas yes, please do!

[2015-03-25 16:36] iambibhas commented on #1679
@moollaza for holidays that span multiple days, they dont seem to be returning a start date and end date, just the text to display -
[code]
Is it possible to ask them to return a saner formatted data?

[2015-03-25 18:58] moollaza commented on #1679
@iambibhas Good catch, I'll see if they can improve the API for us. For now we might have to parse out the end day (which sucks).

[2015-03-25 19:06] iambibhas commented on #1679
@moollaza can you give me example of couple of more holidays that span for multiple days? I'm not familiar with many holidays in US. It returns just the first date for Hanukkah.

[2015-03-25 20:35] iambibhas commented on #1649
@moollaza when are these changes deployed?

[2015-03-25 21:45] #1686 closed

[2015-03-25 21:49] moollaza commented on #1649
We need to do a release of the Spice repo (you'll see the git tag increase) and then we need to wait for the site to be redeployed. Usually takes a few days to a week.

[2015-03-26 14:57] #1672 closed

[2015-03-26 15:13] jagtalon opened #1691 "SimilarSites: Move away from using IDs"
We often use classes in IAs and rarely IDs. Reference DOM using classes instead.

https://github.com/duckduckgo/zeroclickinfo-spice/blob/master/share/spice/similar_sites/content.handlebars#L10

[2015-03-26 15:30] killerfish opened #1692 "Soundcloud: Add AutoPlay and AutoRepeat buttons"
Would be nice to have such controls. Could be made part of the audio view (internal change needed).
//cc @jagtalon @moollaza

------

IA Page: https://duck.co/ia/view/sound_cloud

[2015-03-26 17:09] moollaza commented on #1641
Updating this one to important -- we'd love for someone to tackle this ASAP :rocket:

[2015-03-26 19:16] jagtalon opened #1694 "Github: Use moment.js"
Seeing `NaN`s like it's a Batman show in IE 8.

![screen shot 2015-03-26 at 3 14 39 pm](https://cloud.githubusercontent.com/assets/81969/6854951/e55e5abe-d3ca-11e4-8ad2-a51a08c15f5f.png)

[2015-03-26 19:17] jagtalon commented on #1694
Maybe moment.js won't fix it, but code would look cleaner.

[2015-03-26 19:27] jagtalon commented on #1692
![7qsghgl](https://cloud.githubusercontent.com/assets/81969/6855192/833dac3e-d3cc-11e4-94d2-05e403bb9fd3.gif)

[2015-03-26 22:55] iambibhas commented on #1694
@jagtalon Try now. Batman should be gone. :P That `NaN` was being thrown by the helper function I think.

[2015-03-26 23:21] #1684 closed

[2015-03-26 23:26] iambibhas commented on #1461
The query in given example should search code for `C++`. It's searching code for `C` instead, by adding a space after C. `lang:c ++ calculator`

[2015-03-29 15:35] iambibhas commented on #1641
Couple of issues -
 - `time` is being handled by `Timer` spice
 - `local time` triggers the `Maps::Places` spice

Anyway to prioritize the `Time` spice instead of them?

[2015-03-30 10:42] iambibhas commented on #1692
Soundcloud IA doesn't seem to be working for me.

[2015-03-30 11:43] killerfish commented on #1692
@iambibhas please elaborate, and open an issue with the details. Is it not working on duckpan? or live? Is the audio not playing?

[2015-03-30 14:52] moollaza opened #1706 "MetaCpan: Switch to Text or Info template group, add Title to result"
This IA currently uses the `Base` group with a record template. It should use the `List` template. That will allow us to also provide a `title` and `subtitle` so the result look a bit more like our other IAs.

https://duckduckgo.com/?q=cpanm+Dist%3A%3AZilla&ia=software

We still need to convert this to use the new API and should then be able to show more useful data.
More Details: #898

[2015-03-30 15:41] iambibhas commented on #1692
@killerfish it's not working on either duckpan or live. I'm getting some JSON parsing error for this request https://duckduckgo.com/js/spice/sound_cloud/soundcloud%20ray%20bradbury

![](http://imgur.com/TuvHI8c.png)

[2015-03-30 16:28] #1694 closed

[2015-03-30 16:39] iambibhas commented on #1692
Seems to be working on Firefox Android. Not sure why not on Firefox Desktop 35.0.1 on linux, not even on Chrome 40.

[2015-03-31 13:56] moollaza commented on #1692
Seems to be working fine for me. @iambibhas if it's still not working for you, please open a separate issue and provide as many details as you can about your environment so we can figure it out -- this issue isn't the best place to discuss if the IA is/isn't working though :)

[2015-03-31 14:29] iambibhas opened #1707 "SoundCloud IA not working, badly formatted JSON"
Here is what's happening when I search for `soundcloud ray bradbury` -

![screenshot from 2015-03-31 19 50 57](https://cloud.githubusercontent.com/assets/357253/6921041/d314cfc8-d7df-11e4-9f0f-0dc3e7b48dad.png)
![selection_002](https://cloud.githubusercontent.com/assets/357253/6921043/d87ae4ac-d7df-11e4-96ad-b0dd99a6c6ba.jpg)
![selection_001](https://cloud.githubusercontent.com/assets/357253/69210

[2015-03-31 14:46] moollaza commented on #1707
@iambibhas the malformed JSON is a known-problem. It causes problems for your browser, but the javascript returned is still valid and so the IA still works. I see the same error page if I open my browser to the API response, but the Spice still works.

This specific query has a known problem though and the SoundCloud team is currently working to fix it. For now we can leave this open, but there is

[2015-03-31 14:47] iambibhas commented on #1707
@moollaza If they know about and working on it, then all good. I wonder why my desktop browser is not tolerating it but my mobile browser is?

[2015-03-31 14:52] moollaza commented on #1641
IA's can share triggers, there should be no problems

That's an internal bug. I'll make an issue for them to fix it. While testing you can set `signal: high` but I'd like to avoid setting that permanently unless we really need to.

[2015-03-31 15:16] iambibhas commented on #1641
Just changed the regex handling and it's working on my duckpan. There are cases when the query can return multiple locations and their times, do we need to show all of them in tiles? Or just the first one as `text`?

[2015-03-31 15:46] moollaza commented on #1641
Not quite sure what you mean -- can you give an example?

I think we currently operate under the assumption that the first place is the closest. If we can compare the user's city/country to the result and they match it would be ideal.

[2015-03-31 21:36] moollaza opened #1710 "Time: Relevancy block prevents "time in london england", "time in london uk" from showing"
This IA should be returning a result for "time in London, England" and "time in London, UK" but the relevancy block throws the result away.

We may need a special check if it's UK because United Kinhdom will never pass a relevancy test against "england" or "uk"

[2015-04-01 17:03] nilnilnil commented on #1175
"@__nil my example above was "£40 in aud". Google does better at AU-centric searching. I'll try to send you them as I find them if you like…"
https://twitter.com/peternlewis/status/583286866549420032

[2015-04-01 18:06] stephenjudge commented on #1175
Is there any particular reason why the old currency triggers like $20=€ to get a Dollar to Euro conversion, that used to work, now no longer work? I do remember that the information displayed was coming from Wolfram Alpha and I haven't seen any Wolfram Alpha information come up again in a long time. Has DDG lost licensing rights to Wolfram Alpha information?

[2015-04-01 18:59] moollaza commented on #1175
@stephenjudge we no longer use WolframAlpha, we've since switched to use other APIs for the various niches Wolfram covered. For currency, we've moved to an open-source Spice Instant Answer which uses the XE.com API.

[2015-04-01 19:14] stephenjudge commented on #1175
@moollaza Thanks for the explainer. I got quit used to using the $20=€ input, do you think this could be replicated with the new XE.com API? Or what would the closest valid input to that one be? Ironically when DDG stopped working for me for currency conversion I switched to using an XE.com Firefox Search Plugin, but I much preferred using DDG.

[2015-04-01 22:49] moollaza commented on #1175
Yup that should be possible. We'll need a way to map a currency symbol to a country/region though.

[2015-04-02 02:51] stephenjudge commented on #1175
@moollaza I'm glad it's possible. I'm afraid I wouldn't know what to do to help you with the currency symblol mapping, I hope you can figure it out though. What would be the best input value to achieve the same result using the current spice?

[2015-04-02 04:36] tagawa commented on #1691
Sent PR with a couple of other small edits: https://github.com/duckduckgo/zeroclickinfo-spice/pull/1716

[2015-04-02 16:42] moollaza commented on #1175
@stephenjudge "20 dollars to EUR", https://duckduckgo.com/?q=20+dollars+to+EUR&ia=currency

[2015-04-02 16:51] stephenjudge commented on #1175
@moollaza Great thanks. So I guess all currency acronyms work, so I could also do 20 USD to EUR or 20 GBP to EUR. I could get used to that.

[2015-04-02 16:59] moollaza commented on #1175
Yup currency names work as well, "20 yen to euros", https://duckduckgo.com/?q=20+yen+to+euros&ia=currency

[2015-04-02 17:02] stephenjudge commented on #1175
@moollaza Cool, how do you get around the many currencies that are also called dollars, like Canadian Dollars or Australian Dollars? If using just the word dollars defaults to US Dollars.

[2015-04-02 17:08] moollaza commented on #1175
You can just specify, "20 canadian dollars to AUD", https://duckduckgo.com/?q=12+canadian+dollars+to+aud&ia=currency

[2015-04-03 08:10] iambibhas opened #1722 "Gravatar - should show the whole avatar"
The only reason anyone would use this IA is to see the avatar, but yet the current view hides about 20% of it -

![](https://i.imgur.com/MHEWbba.png)

We should remove the circle -

![](https://i.imgur.com/eRTJJbW.png)

[2015-04-03 10:45] iambibhas opened #1723 "SteamDB - API endpoint is throwing 404"
The API endpoint being used seems to throw 404 now.

https://steamdb.info/api/GetMetadata/?search=team%20fortress&jsonp=ddg_spice_steam_db

Can't find any API doc on the site.

[2015-04-03 10:55] #674 closed

[2015-04-03 10:56] MrChrisW commented on #1628
I'd like to add to this discussion and bring up the issue of spacing, when a single line quote is displayed the `brainy__quote--container` takes up to much space!

![menu_315](https://cloud.githubusercontent.com/assets/5282264/6981367/ab167e36-da32-11e4-8bb4-6b77500f959f.png)

[2015-04-03 11:01] MrChrisW commented on #1723
Ping @xPaw has the API been depreciated? Thanks!

[2015-04-03 11:04] xPaw commented on #1723
That API has been disabled because there were zero requires from DDG to that endpoint, and trying to search myself wouldn't call it either.

[2015-04-03 11:08] MrChrisW commented on #1723
Wow, thanks for the quick update @xPaw :+1:

That's strange, it's possible the IA could have been disabled internally :confused: . Would you be interested in getting it running again or should it be removed?

[2015-04-03 11:09] xPaw commented on #1723
I think we're better off removing it.

[2015-04-03 11:10] MrChrisW commented on #1723
@xPaw Sure no problem! Thanks :wink:

[2015-04-03 11:11] MrChrisW commented on #1723
@iambibhas Do you mind lodging a PR to remove the SteamDB IA? :cry:

[2015-04-03 11:43] iambibhas commented on #1723
@MrChrisW we could use this endpoint from steam to cache a list of all games and their ids http://api.steampowered.com/ISteamApps/GetAppList/v2/?format=json  - [doc](https://wiki.teamfortress.com/wiki/WebAPI/GetAppList)

And then search that list for given game and return details using this endpoint http://store.steampowered.com/api/appdetails/?appids=32330 - [doc](https://wiki.teamfortress.com/wi

[2015-04-03 12:05] MrChrisW commented on #1723
@iambibhas Good idea :smile: although I'm not sure about caching that json data locally (copyright issues) also the size is quite large (1.2MB) this may impact performance when slurping the list.

One problem with this endpoint, [mentioned here](https://github.com/duckduckgo/zeroclickinfo-spice/pull/1376#issuecomment-68428134) was we cannot request multiple game ID's meaning we'd need to call the

[2015-04-03 12:21] iambibhas commented on #1723
Hmm. Sounds good. I'll send a PR removing SteamDB IA.

[2015-04-03 12:51] iambibhas commented on #220
Their API is not very Unicode friendly. They just omit the unicode character. - http://isitup.org/f%C3%B8tex.dk.json?callback=ddg_spice_is_it_up

Right now the regex being used in the Spice doesn't allow unicode character. In the regex, using `\p{L}` seems to work. L for `Letter`. [Doc](http://perldoc.perl.org/perlunicode.html#Unicode-Character-Properties).

[2015-04-03 12:56] killerfish commented on #1628
Thanks @MrChrisW, ill account for that issue.

[2015-04-03 13:35] #1626 closed

[2015-04-03 14:44] iambibhas commented on #1577
I can work on it. But need the forecast api key.

[2015-04-03 14:46] iambibhas commented on #1679
@moollaza once it's public, is it possible to trigger this via some kind of deep triggering when someone searches for a holiday even without the "when is" phrase? Like if someone searches for "good friday".

[2015-04-03 16:10] iambibhas commented on #1535
Just maintaining a checklist -

* [ ] [campaign-finance](https://github.com/duckduckgo/zeroclickinfo-spice/tree/campaign-finance)
* [ ] [upc](https://github.com/duckduckgo/zeroclickinfo-spice/tree/upc)
* [ ] [exoplanets](https://github.com/duckduckgo/zeroclickinfo-spice/tree/exoplanets)
* [ ] [4chan](https://github.com/duckduckgo/zeroclickinfo-spice/tree/4chan)
* [ ] [mta](https://github.com/duckd

[2015-04-03 16:30] moollaza commented on #1679
@iambibhas yup we can add that internally if needed.

Also, T&D got back to us, there are more holidays (mostly Chinese) that will have the end date in the title. There's nothing they can do to fix that for now, so we should probably use a regex to pull it out when applicable.

They're looking into indicating which countries/regions apply to the different start dates they give us (for now it's exp

[2015-04-03 16:32] moollaza commented on #1577
@iambibhas I think you can use the same API call as the current Forecast spice? If so then copying the Spice to will force a call to `ddh1.duckduckgo.com/js/spice/forecast/<location>` which should be all you need?

[2015-04-03 16:35] moollaza commented on #1723
:+1:

[2015-04-03 16:40] iambibhas commented on #1577
@moollaza already tried that. Then the response comes wrapped inside `ddg_spice_forecast()` callback. Can't override that, can I?

[2015-04-03 16:43] iambibhas commented on #1679
So should I work on extracting the date out of the title? It sounds really messy, and TBH, it doesn't look all that bad as it is right now. I can work on it if we really need it.

[2015-04-03 17:39] iambibhas opened #1725 "SteamDB - Suggestion for new implementation"
Following #1723 up. The existing API has been deprecated. I sent a PR removing the existing spice. We can think about ways to bring it back. Here is a way to bring it back -

@MrChrisW mentioned few problems with above approach -

[2015-04-03 20:54] moollaza commented on #1679
@iambibhas I think it should be fairly simple? A regex that looks for content inside a pair of `()` in the title should suffice.

[2015-04-03 20:56] moollaza commented on #1577
@iambibhas ah right -- I think you'll need to signup for a key then, because we can't create create additional keys: https://developer.forecast.io/register

[2015-04-03 21:10] moollaza commented on #1722
@abeyang any thoughts?

[2015-04-03 21:14] iambibhas commented on #1577
@moollaza I have created a key. But the regular API endpoint only takes longitude and latitude as input - https://developer.forecast.io/docs/v2 . The endpoint made for ddg takes location name as input I think.

[2015-04-03 21:35] iambibhas commented on #1679
It's simple, but I've got only one test case. None of the chinese holidays have an end date yet - https://www.timeanddate.com/holidays/china/. I have to do it assuming that the format would be same always. Hence, something like this will probably break the parsing https://www.timeanddate.com/holidays/brazil/carnival-end

[2015-04-03 21:39] moollaza commented on #1577
@iambibhas Right. I assume your API key doesn't work for the custom endpoint? We're gonna reach out to them for a dev key.

[2015-04-03 21:39] abeyang commented on #1722
@iambibhas , we're currently using circles as a design pattern for avatars (people in space, G+, twitter profiles, etc) as well as for flags. So we'd like this to be consistent as well.

I don't think losing the corners is that big of a deal... unless your profile isn't centered or something. :smile:

[2015-04-03 21:43] moollaza commented on #1679
@iambibhas good point -- looks like the mix in other info into the parens. I guess we can leave it for now, but I have a feeling the design team won't love it ;)

[2015-04-03 21:44] iambibhas commented on #1679
Also, like for Kwanzaa, the title is `Kwanzaa (until Jan 1)`. There is no year mentioned. Have to assume that the year is the next year if the rest of the date is older than today, else the year is this year.

It's simple yet messy.

[2015-04-03 21:46] iambibhas commented on #1679
I hope the T&D people realize that providing the end date separately is a really important step.

[2015-04-03 21:52] iambibhas commented on #1722
I just like the full picture, that's all. Never liked the circle thingy on G+. I've seen too many images where faces are not really at the center. Hence they are always cropped by this circle.

Anyway, if this is being implemented everywhere, then let's keep it.

[2015-04-03 21:56] iambibhas commented on #1723
Removed the SteamDB IA and opened #1725 for tracking future progress. Closing this.

[2015-04-03 21:56] #1723 closed

[2015-04-03 22:01] iambibhas commented on #1577
@moollaza no, My key doesn't work. :(

[2015-04-04 02:09] mattr555 opened #1728 "Transit: Use a YAML file for stations"
Instead of a text file, using YAML will change our long iteration into a short hash lookup. The appropriate changes can be modeled using [this commit](https://github.com/tagawa/zeroclickinfo-spice/commit/f0b7dd10c57bf5f1c1b462bc4ce85a01db985c3d).

https://duck.co/ia/view/transit_njt
https://duck.co/ia/view/transit_path

[2015-04-04 02:14] mattr555 opened #1729 "Transit: Fix dark mode"
Looks kind of ugly:

![screenshot - 04032015 - 10 11 24 pm](https://cloud.githubusercontent.com/assets/4411471/6991074/64cbf3e0-da4e-11e4-9c4d-f378ddf637c5.png)
![screenshot - 04032015 - 10 12 15 pm](https://cloud.githubusercontent.com/assets/4411471/6991076/80b165f4-da4e-11e4-8e76-4bf019b4f498.png)
![screenshot - 04032015 - 10 12 43 pm](https://cloud.githubusercontent.com/assets/4411471/6991077/9

[2015-04-04 02:16] mattr555 commented on #1729
Silly me. This was already fixed in #1603.

[2015-04-04 02:16] #1729 closed

[2015-04-04 03:15] MrChrisW commented on #1725
CC// @killerfish you may be interested in this as I know you built the original SteamSpecials Spice!

[2015-04-04 06:23] MrChrisW opened #1730 "Time: Broken queries"
Looks like the PR:  #1661 broke a few queries for the Time IA.

Examples:
- https://duckduckgo.com/?q=time+North+Dakota - **Fixed**
- https://duckduckgo.com/?q=time+New+York

I've tested reverting back to before PR #1661 and can confirm the above queries work.
---

IA Page:  http://duck.co/ia/view/time

[2015-04-04 06:23] MrChrisW commented on #1730
CC// @jdorweiler @moollaza

[2015-04-04 06:43] killerfish commented on #1725
@MrChrisW the instant answer i worked on was using the same api from steam which steamdb is using (with the issues @iambibhas has mentioned plus others), its best to leave this for now, i've tried to contact Valve, but so far no response on this issue :cry:

[2015-04-04 06:55] MrChrisW commented on #1725
@killerfish Thought that might be the case! Its a shame, but there's not much we can do I guess!

[2015-04-04 11:50] jdorweiler commented on #1730
Thanks @MrChrisW.  I'll take a look at it.

[2015-04-04 15:29] chrismorast commented on #1628
Good catch @MrChrisW !

[2015-04-04 16:51] ngzhian opened #1732 "Duplicated Markdown cheatsheet on IA index?"
Duplicate on the index for Markdown cheatsheet?

![dup](https://cloud.githubusercontent.com/assets/1749303/6993650/56dfd488-dac9-11e4-9a17-690a79ffeb30.PNG)

https://duck.co/ia

[2015-04-04 19:09] iambibhas commented on #1732
Seems like they are same Goodie, just 2 pages for it.

 - https://duck.co/ia/view/markdown_cheatsheet - this one has almost no metadata
 - https://duck.co/ia/view/markdown_cheat_sheet - this one seems like the one that should stay

This issue should go to the Goodie repo I think.

[2015-04-04 19:13] ngzhian commented on #1732
@iambibhas oops! great point, i'll file it on the goodie repo, thanks!

[2015-04-04 19:13] #1732 closed

[2015-04-05 08:52] iambibhas commented on #1636
Is anyone working on this?

[2015-04-07 14:26] jagtalon commented on #1577
@iambibhas Hmm, well, we haven't quite figured out how to share keys with developers, but I think for the moment you can copy over whatever https://duckduckgo.com/js/spice/forecast/19104/current is returning, and you can use http://www.json-generator.com/ for now (example endpoint: http://www.json-generator.com/api/json/get/cqarcjqZbC?indent=2&callback=hello)

We'll just switch when it's ready to

[2015-04-07 17:45] moollaza commented on #1577
Sure that'll work for now. We're asking them for a key we can give to developers

[2015-04-07 17:52] jagtalon commented on #1577
Cool. Seems like the best approach that we have right now.

[2015-04-07 21:20] moollaza opened #1740 "Maps::Places- Shouldn't trigger on "local time""
A check needs to be added so that it doesn't trigger on the query "local time".

https://github.com/duckduckgo/zeroclickinfo-spice/blob/master/lib/DDG/Spice/Maps/Places.pm#L13

[2015-04-08 03:39] #1691 closed

[2015-04-10 12:02] jagtalon commented on #248
Fixed by @iambibhas

[2015-04-10 12:02] #248 closed

[2015-04-10 12:07] #1641 closed

[2015-04-10 16:09] moollaza opened #1746 "ProductHunt: Likely needs a relevancy block to check title/description"
I accidentally made a typo, "product hunt rem,t" and got some really odd results. Looks like it may be doing a fuzzy match.

We should be using a relevancy block to ensure the title or description are relevant.

https://duckduckgo.com/?q=product+hunt+rem%2Ct&ia=producthunt

[2015-04-11 13:59] #1740 closed

[2015-04-12 03:49] iambibhas commented on #1636
[code]
These are the possible statuses. What should be the subtitle for the ones other than `Landed` or `On Time`. In current implementation, `Scheduled` comes under `Landed`. Have to check the date calculation for the `Delayed` status.

[2015-04-12 15:58] MrChrisW commented on #1710
@moollaza Looks like this has been resolved internally as these queries now work.

+ https://duckduckgo.com/?q=time+in+united+kingdom&ia=time
+ https://duckduckgo.com/?q=time+in+london+uk&ia=time
+ https://duckduckgo.com/?q=time+in+london+england&ia=time

Unfortunately there's still some broken queries noted in #1730

[2015-04-12 16:00] MrChrisW commented on #1722
Closing as a decision was made to keep circles as design pattern. See [comment](https://github.com/duckduckgo/zeroclickinfo-spice/issues/1722#issuecomment-89427420)

[2015-04-12 16:00] #1722 closed

[2015-04-13 01:03] #1710 closed

[2015-04-13 08:50] anupamsr commented on #1175
Neither '9 usd into inr' nor '9 usd to inr' work. This used to work previously, but hasn't in many months.

[2015-04-13 08:53] MrChrisW commented on #1175
@anupamsr `9 usd to inr` works.
https://duckduckgo.com/?q=9+usd+to+inr&ia=currency

`into` isn't supported at the moment. Thanks for the suggestion!

[2015-04-13 09:49] anupamsr commented on #1175
Hmm. It does seem to work on IE - I had no idea.

http://s188.photobucket.com/user/anupamsr/media/strangeissue.png.html

[2015-04-13 09:49] anupamsr commented on #1175
@MrChrisW Hmm. It does seem to work on IE - I had no idea.

http://s188.photobucket.com/user/anupamsr/media/strangeissue.png.html

[2015-04-13 11:22] MrChrisW commented on #1175
@anupamsr Are you running any extensions on Pale Moon? What version are you running? Does the Currency Instant Answer still not load?

[2015-04-13 13:47] anupamsr commented on #1175
@MrChrisW Not sure. Even safe mode doesn't work.

http://i188.photobucket.com/albums/z89/anupamsr/strangeissue2.png

[2015-04-13 14:30] moollaza opened #1752 "Color Picker: "#" sign should be optional"
The query ["color picker de5833"](https://duckduckgo.com/?q=color+picker+de5833&t=osx&ia=colorpicker) doesn't work, but ["color picker #de5833"](https://duckduckgo.com/?q=color+picker+#de5833&t=osx&ia=colorpicker) does. The "#" should be optional, at least when the query contains "color picker".

[2015-04-13 17:07] medicosconsultants opened #1756 "RxInfo: Relevancy Check Suppresses Some Results"
The [relevancy checking](https://github.com/duckduckgo/zeroclickinfo-spice/commit/671749c87fad7c96dbba7321442e6eba3284d63e) added to RxInfo seems to be blocking some valid instant answer results.

For example: the queries "[pill 00093-7155-98](https://duckduckgo.com/?q=pill+00093-7155-98&ia=rxinfo)" and "[pill 93 7155](https://duckduckgo.com/?q=pill+93+7155&ia=rxinfo)" work fine and trigger the Rx

[2015-04-13 17:53] iambibhas commented on #1577
@moollaza did you get the keys?

[2015-04-13 18:09] moollaza commented on #1577
Sorry not yet, will ping you when I get it.

[2015-04-13 18:56] #1584 closed

[2015-04-13 21:54] #1752 closed

[2015-04-14 04:39] MrChrisW commented on #1756
Thanks for reporting @medicosconsultants, sorry to partially break your IA :wink:

@moollaza Is this related to the relevancy, skipped words bug mentioned in [#1750](https://github.com/duckduckgo/zeroclickinfo-spice/pull/1750#issuecomment-92426959) ?

[2015-04-14 07:55] LexLuengas opened #1760 "Wrong temperature unit in forecast switch"
If my default temperature unit is C°, the forecast IA is updated correctly, but the switch is not. Clicking on the switch also activates the inverse temperature unit. (I guess it has something to do with calling `updateTempSwitch(uom)` properly somewhere near [line 379](https://github.com/duckduckgo/zeroclickinfo-spice/blob/master/share/spice/forecast/forecast.js#L379), but I'm new here, so I don'

[2015-04-14 10:42] MrChrisW commented on #1760
Hi @LexLuengas thanks for reporting this issue, however I believe this feature is by design.

The [`fe_temp_switch`](https://github.com/duckduckgo/zeroclickinfo-spice/blob/master/share/spice/forecast/forecast.js#L385) div calls `updateUnitOfMeasure()` when clicked, this includes both the
[&deg;F and &deg;C](https://github.com/duckduckgo/zeroclickinfo-spice/blob/master/share/spice/forecast/forecast

[2015-04-14 11:26] mattr555 commented on #1760
Yeah, this is by design. When designing a toggle, it's hard to choose either to highlight the unit being chosen or the unit being currently used, but I think we made the most functional choice.

[2015-04-14 13:31] moollaza commented on #1760
Closing this as technically everything is correct. I'll mention this to the design team though -- maybe we can design a more obvious toggle.

Thanks guys!

[2015-04-14 13:31] #1760 closed

[2015-04-14 16:29] moollaza commented on #1756
@medicosconsultants @MrChrisW the `00093` vs `0093` fails because we're comparing `0093` against `0009` and they're not the same, so the relevancy test fails.

@medicosconsultants is there a standard number of preceding 0's? Could we always change 2 leading zeros into 3? So when we see 0093, it becomes 00093?

As well, could the imprint for the pill be passed along through the API? We need somethi

[2015-04-14 23:03] moollaza opened #1765 "LeakDB: Template group should be switched to 'list'"
Now that we have the `list` template group, this IA (and others!) can be switched over to use it.

https://github.com/duckduckgo/zeroclickinfo-spice/blob/master/share/spice/leak_db/leak_db.js#L27

- It's already setup to use the `record` template which is perfect. Switching to 'list' group is beneficial because it will automatically supress the output so it doesn't take up too much vertical space.

[2015-04-15 15:38] moollaza opened #1768 "InTheaters: "kids movies in theaters" should show g/pg movies"
Right now the query "kids movies in theaters" doesn't trigger the InTheater's IA. It should be considered an alias for "pg movies in theaters" or "g movies in theaters" (if "g" is supported).

- https://duckduckgo.com/?q=kids+movies+in+theaters
- https://duckduckgo.com/?q=pg+movies+in+theaters

[2015-04-15 15:42] MrChrisW opened #1769 "BitcoinAddress: QR code displaying on mobile"
Bitcoin Address IA - QR Code on mobile

The QR Code is set to `display:none` using a [media query](https://github.com/duckduckgo/zeroclickinfo-spice/blob/master/share/spice/bitcoin_address/bitcoin_address.css#L29-L33) targeting `.zci__img-wrap` contained in bitcoin_address.css  however this does not apply.

The image seems to be using `c-text__img-wrap` not `.zci__img-wrap`

[code]

**Screenshot**

[2015-04-15 16:31] KK4OXJ opened #1770 "Similar site search has an extra show more plus icon (+)"
Searching for similar sites works pretty well, but there's an extra plus sign (+) by the show more link. See screenshot:
![screenshot from 2015-04-15 12 24 16](https://cloud.githubusercontent.com/assets/7751418/7164018/62714bc4-e36b-11e4-8f2b-8751c8876fb2.png)

[2015-04-16 13:05] MrChrisW commented on #1770
@KK4OXJ Thanks for reporting, we'll investigate and fix :smile:

@jagtalon @moollaza Iterestingly the CSS that's deployed on production for *similar sites* differs from the one contained in the repository. :confused:

+ https://duckduckgo.com/share/spice/similar_sites/1109/similar_sites.css

+ https://raw.githubusercontent.com/duckduckgo/zeroclickinfo-spice/master/share/spice/similar_sites/similar

[2015-04-16 13:52] moollaza commented on #1770
Hehe, that's because we fixed the code on master already. Fix should roll out shortly :+1:

Checkout #1669

[2015-04-16 13:54] MrChrisW commented on #1770
@moollaza :+1:

[2015-04-16 13:56] moollaza commented on #1770
Sorry my PR hasn't been merged yet, but it will fix the issue.

[2015-04-16 13:57] #1770 closed

[2015-04-16 13:59] moollaza commented on #1770
Alright merged my PR -- we'll be releasing the Goodies repo this week so a fix should be out within the next few days. Thanks again @KK4OXJ

[2015-04-16 14:51] KK4OXJ commented on #1770
@moollaza No problem, thanks for fixing it!

[2015-04-16 20:22] #1563 closed

[2015-04-16 22:07] mattr555 commented on #1728
This is tolerated, the backend api does a good job of disambiguating stop names and is probably more manageable than a huge list of stations and their replacements. (cf. https://github.com/duckduckgo/zeroclickinfo-spice/pull/1737#issuecomment-93849658)

[2015-04-16 22:07] #1728 closed

[2015-04-17 00:23] moollaza opened #1780 "SunRiseSet: Subtitle should use `tx--14` font-size class"
Instead of setting the font-size in the CSS use `ems` we should apply the `tx--14` class to the element in the template:

[code]

https://github.com/duckduckgo/zeroclickinfo-spice/blob/master/share/spice/sun_rise_set/content.handlebars#L1

[2015-04-17 15:11] #1633 closed

[2015-04-17 16:49] jagtalon opened #1781 "Transit::Switzerland: Should show AM / PM instead of military time."
![nrphydx](https://cloud.githubusercontent.com/assets/81969/7206521/3823bb18-e500-11e4-9da0-79915ab63997.png)

[2015-04-17 18:14] iambibhas commented on #1781
Also, it doesn't show the platform. `Platform <foo>`.

Seems like the API doesn't provide the platform is some cases, should I omit the platform text altogether then?

![](http://imgur.com/eokjGUm.png)

[2015-04-17 18:38] #1780 closed

[2015-04-17 18:42] moollaza opened #1783 "Quandl: World Bank Spice should have generalized Tab Name"
Tab names should be generalized and should not contain brand names.

The `name: ` in `share/spice/quandl_world_bank.js` should be updated to "Geography"

[2015-04-17 20:17] #1783 closed

[2015-04-17 22:32] moollaza opened #1786 "ProductHunt: `tileTitle` variant should be '2line'"
https://github.com/duckduckgo/zeroclickinfo-spice/blob/9ffde54d9d666f1d3b0bb4e9338605c07390cfad/share/spice/product_hunt/product_hunt.js#L50

`2line--small` doesn't actually exist, it should be change to `2line`

[2015-04-18 04:37] MrChrisW commented on #1786
@moollaza This is being addressed in PR [1750](https://github.com/duckduckgo/zeroclickinfo-spice/pull/1750/files#diff-eddf2d198f0d510618c15f1c4dc1d017R61)

[2015-04-18 23:57] moollaza commented on #1786
@MrChrisW thanks :+1:

[2015-04-19 17:53] moollaza opened #1788 "SimilarSites: Triggering needs to be improved"
I've tried to trigger this IA a few times and had no luck. The following queries should trigger this IA:

- "websites similar to X"
- "similar websites to X"
- "X similar websites"
- "similar to X"

In all cases we need to make sure that X is a domain (meaning it has a TLD) and if not, bail.

[2015-04-20 01:43] tagawa commented on #1730
Further examples <a href="https://duck.co/forum/thread/13061/time-queries-not-working">from the forum</a>, showing there's some inconsistency in the triggering:

* https://duckduckgo.com/?q=time+Paris (does trigger)
* https://duckduckgo.com/?q=time+London (doesn't trigger)
* https://duckduckgo.com/?q=time+in+London (does trigger)
* https://duckduckgo.com/?q=time+in+Manila (doesn't trigger)

[2015-04-20 17:48] moollaza commented on #1730
Seems to be a caching issue going on here... I've made a task for the team. These queries work as expected in DuckPAN. I was able to get results for all of these before:

![2015-04-20_13h47_31](https://cloud.githubusercontent.com/assets/873785/7236625/f27f3bbc-e763-11e4-8a54-34a3a174acec.png)
![2015-04-20_13h47_45](https://cloud.githubusercontent.com/assets/873785/7236624/f27db68e-e763-11e4-8670-c

[2015-04-20 19:15] moollaza opened #1789 "ColorPicker: Design fixes for dark theme"
When using the dark theme, the right inputs are a little hard to read:

![2015-04-15_11h43_03](https://cloud.githubusercontent.com/assets/873785/7238384/063f997e-e770-11e4-86de-3a796dbabb0c.png)

To fix this, we need to change the field BG color to `rgba(150,150,150,.2)` and the border color to `rgba(150,150,150,.0)`

It should look like this:

![screen shot 2015-04-15 at 9 19 42 am](https://cloud

[2015-04-21 14:57] moollaza opened #1793 "Quixey: Skip GoogleTV apps"
Unfortunately the API doesn't differentiate GoogleTV apps from standard Android apps, so it seems the only way is to check the name for "GoogleTV". If it matches, we should toss the result as it's not very relevant to most users.

Example: https://duckduckgo.com/?q=youtube+android+app&ia=apps&iai=0 -- the YouTube result has two Android links, one of which is for GoogleTV -- let's get rid of the Go

[2015-04-21 14:59] moollaza commented on #1793
It may also help to check the `package_name` which contains, "googletv": `package_name":"com.google.android.youtube.googletv`

[2015-04-21 16:11] bsstoner opened #1794 "Update old meta text attributes"
We have a shim internally to convert old attribute names to the new ones, but it would be nice if we could just migrate to using the new ones so we could deprecate the shim:

`meta.heading` => `meta.primaryText`
`meta.altMeta` => `meta.secondaryText`

Forecast is good example with both:
https://github.com/duckduckgo/zeroclickinfo-spice/blob/master/share/spice/forecast/forecast.js#L274

[2015-04-21 19:03] bsstoner opened #1796 "Missing movie images"
https://duckduckgo.com/?q=movies&ia=movies&iai=5

![screen shot 2015-04-21 at 3 02 00 pm](https://cloud.githubusercontent.com/assets/126358/7260386/9ce45af0-e837-11e4-8615-6017d6c96e7e.png)
![screen shot 2015-04-21 at 3 02 07 pm](https://cloud.githubusercontent.com/assets/126358/7260385/9ce3d562-e837-11e4-8466-a6228d9adc73.png)

[2015-04-21 19:53] iambibhas commented on #1796
I think this is related to #1647.

[2015-04-21 19:54] iambibhas commented on #1647
What to do about this one? Find a new source?

[2015-04-21 19:58] jagtalon commented on #1647
@iambibhas docs.themoviedb.apiary.io/#introduction/useful-links might work if you're interested!

[2015-04-21 20:10] jagtalon commented on #1647
@iambibhas I haven't looked at the API results but this is probably going to make one request per item. We need to find the best way to do this or else the IA will be slow.

[2015-04-21 21:43] #1789 closed

[2015-04-21 22:54] moollaza commented on #1796
@bsstoner @iambibhas yup it is -- we really need to get images from a new source.

[2015-04-22 04:15] iambibhas commented on #1647
I dont think using 2 different APIs is a good solution. Isn't there a single source for results with images? Nothing better than RT?

[2015-04-22 13:16] jagtalon commented on #1647
@iambibhas you're right--maybe we can just use themoviedb instead of RT. I'll consult the BD team and get back to you.

[2015-04-22 14:58] moollaza opened #1801 "Time: any query that ends with "time" triggers..."
Any query that ends with "time" seems to trigger a search for the user's local time.

Examples
- https://duckduckgo.com/?q=pdt+time&ia=time
- https://duckduckgo.com/?q=testing+time&ia=time
- https://duckduckgo.com/?q=foobar+time&ia=time
- https://duckduckgo.com/?q=adhjasdhjkd+hjkasdjasd+ashjkas+time&ia=time

---

Looks like we need to `return` if the query didn't match our regex, but still has a r

[2015-04-22 15:50] moollaza opened #1802 "Time: Should support timezone lookups"
Searches like  "PDT time", "Time in ET", "Eastern Standard Time" should all show the time for the given timezone.

The TimeandDate API doesn't support searches for Timezones though, so we could use a hash that maps timezones to countries and use the time for a given country to show the time for the specified timezone.

---

Instant Answer Page: https://duck.co/ia/view/time

[2015-04-23 05:08] MrChrisW commented on #1801
@moollaza This was introduced in #1714 - ping @iambibhas

It's strange that these queries aren't just discarded due to the [relevancy checking](https://github.com/duckduckgo/zeroclickinfo-spice/blob/master/share/spice/time/time.js#L20-L23).

It's hard to test this in the development environment, due to the API limitations.

[2015-04-23 06:20] iambibhas commented on #1801
@moollaza @MrChrisW Sorry about this. I think my regex checking let pass these random queries. I've added tests for the above 4 queries right now so that we can be sure that doesn't happen.

[2015-04-23 06:32] iambibhas commented on #1802
I have a CSV of all the most used timezones https://github.com/iambibhas/iambibhas.github.com/blob/master/csv/timezones.csv

There are some redundant timezones in real life. I only kept the most used ones and removed the others.

[2015-04-23 06:39] MrChrisW opened #1805 "Travis CI Builds Failing - AutoModuleShareDirs"
Looks like the package `Dist::Zilla::Plugin::AutoModuleShareDirs` has been removed from CPAN, this results in the `dzil` command failing as it cannot fetch the package.

`dzil authordeps | grep -ve '^\W' | xargs -n 5 -P 10 cpanm --notest --quiet --mirror http://www.cpan.org/ --mirror http://duckpan.org`

`Failed to fetch distribution Dist-Zilla-Plugin-AutoModuleShareDirs-0.001`

This also effects

[2015-04-23 16:51] moollaza commented on #1805
@MrChrisW Thanks, investigating...

[2015-04-23 17:15] moollaza commented on #1805
Should be fixed....will re-run builds.

[2015-04-23 17:44] #1801 closed

[2015-04-24 00:07] MrChrisW commented on #1805
@moollaza Not fixed yet as the package `AutoModuleShareDirs` still cannot be fetched.

[2015-04-24 18:33] moollaza opened #1806 "ColorPicker: Mobile layout fixes, try to use DDG grid system"
There are some mobile layout bugs for this color picker which need to be addressed.

We currently use a bunch of CSS to control the design of this IA and I thought we may be able to reduce that by using the DDG Grid system. We don't typically use this for IA's (mostly because there hasn't been a need!) but this may be a great test case. I think the IA can be broken down to about an 8 or 10 grid la

[2015-04-25 01:19] moollaza commented on #1801
@MrChrisW the reason they pass the relevancy is because for all those queries we were using the user's location as the search term. We then compared that against the result, and in almost every case it's relevant so the result shows. This happens because we're using `stringsRelevant` instead of `isRelevant` which automatically uses the query as the comparator.

[2015-04-25 02:44] MrChrisW commented on #1801
@moollaza Sure that makes sense, as I said before testing this locally is hard as the default location is always `Phoenixville` which doesn't actually return true using `stringsRelevant` for any of the results.

[2015-04-25 07:07] ScreapDK commented on #1197
Shouldn't we just fetch all favicons through the [getFavicon](https://getfavicon.appspot.com/)-service, via the DDG reverse proxy.

AFAIK, the service grabs them in the best available size, in fact I think it grabs **all sizes**... but that's for **favicons only**, not other icons, like Apple Touch icons. Which is unfortunate, since they are usually available in large sizes.

[2015-04-25 07:15] MrChrisW commented on #1647
@jagtalon @iambibhas I've tested out using [TheMovieDB](https://www.themoviedb.org/) API endpoint you can see an [example here](http://duckpan3.mrchris.me/?q=movie+australia&ia=movies)

[Movie.pm](https://github.com/MrChrisW/zeroclickinfo-spice/blob/movies-new/lib/DDG/Spice/Movie.pm)
[movie.js](https://github.com/MrChrisW/zeroclickinfo-spice/blob/movies-new/share/spice/movie/movie.js)

The only pr

[2015-04-25 07:20] MrChrisW commented on #1197
@ScreapDK That's what the IA is currently doing by using [`sourceIconUrl`](https://github.com/duckduckgo/zeroclickinfo-spice/blob/master/share/spice/currency/currency.js#L128) the problem is the favicon is only 16x16 so on mobile it looks bad, "apparently" especially on retina screens :laughing:

[2015-04-25 07:31] ScreapDK commented on #1197
@MrChrisW Quick question: Doesn't the service support favicons in larger sizes?

[2015-04-25 07:36] MrChrisW commented on #1197
@ScreapDK You mean the getFavicon service you mentioned above? Maybe.

The problem is the source favicon provided by XE.com is only in one size 16x16 so we can't just resize it we require a larger source icon.

[2015-04-25 07:46] ScreapDK commented on #1197
Hmm... what I mean was that when you specify all multi-size favicon, e.g. just we ourselves (at DDG) (see `<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" sizes="16x16 24x24 32x32 64x64"/>` of [DDG homepage](https://duckduckgo.com/))

...then getFavicon, the source of our favicons (cf. this [DDG help page](https://duck.co/help/features/favicons))... should be able to extract all

[2015-04-25 08:00] ScreapDK commented on #1197
@MrChrisW (see [above comment](https://github.com/duckduckgo/zeroclickinfo-spice/issues/1197#issuecomment-96146308)) It does! I tried opening it in "[Windows Photo Viewer](https://en.wikipedia.org/wiki/Windows_Photo_Viewer)" on Windows 7, giving me this result showcasing the biggest size included in that favicon:
![proof](http://i.scrp.dk/za9G8v1.png)

[2015-04-25 08:07] ScreapDK commented on #1197
@MrChrisW BTW, I can't even find any favicon code on the EX.com website, maybe we should just use custom-applied assets, like when showing favicons of certain websites in SERPs (this is the case with Wikipedia, which I assume is because the Wikipedia-Instant Answer is displayed so much).

[2015-04-25 08:43] MrChrisW commented on #1197
@ScreapDK Sure, I understand what you mean by multiple sized icons, unfortunately XE.com doesn't provide the favicon in any other sizes. We will likely need to use the custom logo assets fro.

[2015-04-25 14:09] MrChrisW commented on #1197
@ScreapDK Great news! Turns out we can update the `sourceIcon` as it's actually specified in the template! I've made a pull request with the changes. :+1:

Thanks again for your suggestions, pushed me to checkout the code again and make the changes.

[2015-04-28 02:29] moollaza commented on #1636
@iambibhas so sorry for the delay here!

- I don't think we should show results for flights with a status of `Data Needed`, `Not Operational` and `Unknown`.
- For **Diverted** and **Redirected flight**,  I imagine that means it *will be* late?
- For **Cancelled** we can set the subtitle to `cancelled` or perhaps set the body to that so it's more apparent
- For **Scheduled** I image we can set some

[2015-04-28 03:14] moollaza opened #1813 "GoWatchIt: Incorrectly shows "Available for streaming" on Netflix"
https://duckduckgo.com/?q=Watch+Full+metal+jacket&ia=watch

Seems like it's only available for Netflix mail? Not sure why this shows streaming is available.

/cc @jagtalon

[2015-04-28 05:44] MrChrisW commented on #1813
Easy fix in JS is:

[code]

Do we want to remove these results completly or just change the way they're presented? Example mockup:
![selection_389](https://cloud.githubusercontent.com/assets/5282264/7363410/9ae5e474-edac-11e4-8001-a3eb64e610cc.png)

[2015-04-28 15:08] moollaza commented on #1813
@abeyang @chrismorast thoughts on this? Jordan noticed we say "Available for streaming" when in fact it's only available for rent via mail -- is @MrChrisW proposed wording^ OK?

[2015-04-28 15:13] moollaza commented on #1461
Ping! Anyone wanna tackle this -- this IA looks kinda broken right now :(

https://duckduckgo.com/?q=javascript+console.log+example&ia=software

[2015-04-28 15:16] moollaza opened #1814 "SearchCode: Revive this IA! Port it to the new Spice API for re-launch"
I just realized this IA has been down for a very long time, since the launch of the DuckDuckGo redesign. Let's get it live again! It needs to be ported to the newest Spice API (in the docs) and should be using an existing template.

[2015-04-28 15:25] iambibhas commented on #1647
Do we really want to show movie descriptions? If the images are alright, I think we can just show the list of movies and skip the details view.

[2015-04-28 15:26] iambibhas commented on #1461
I tried working on it but the CSS seemed broken. Let me give it another shot and get back.

[2015-04-28 15:31] moollaza opened #1815 "MetaCPAN: More at link broken for certain queries"
https://duckduckgo.com/?q=CPAN%3A%3ARepository+cpanm&ia=software

Looks like this IA could also use a couple visual updates...we should probably have a Title and Subtitle and display any extra useful information.

Now that we have the `list` group, this additional rows will be suppressed initially so we can show more data now, without taking up too much space!

[2015-04-28 15:43] MrChrisW commented on #1647
@iambibhas I agree, although I think the idea is to provide as much information as possible without needing too clicks through to the site. @jagtalon @moollaza opinions?

[2015-04-28 15:58] moollaza commented on #1647
@MrChrisW @iambibhas I love seeing the descriptions and move ratings. @MrChrisW to clarify we don't want to get rid of the RT ratings -- those should still be there and we can request them as the tiles load. RT is moving towards an API that only provides their ratings, but no longer provides movie metadata.

Let's keep the detail view for now, I'm pretty sure the design team still wants it :)

[2015-04-28 16:25] abeyang commented on #1813
@moollaza @MrChrisW can we say "Available for rent", and push "rent" to the second line?

[2015-04-29 10:18] MrChrisW commented on #1813
@abeyang Happy with something like this?
![selection_391](https://cloud.githubusercontent.com/assets/5282264/7388948/2630ae0c-ee9c-11e4-9020-cb8d65188af5.png)

[2015-04-29 13:51] MrChrisW commented on #1805
Resolved.

[2015-04-29 13:51] #1805 closed

[2015-04-29 16:06] abeyang commented on #1813
@MrChrisW yep, please capitalize 'R'. Thanks!

[2015-04-29 16:12] MrChrisW commented on #1813
@abeyang :+1: Done #1816 Thanks!

[2015-04-29 16:19] abeyang commented on #1813
:+1: /cc @moollaza

[2015-04-29 16:58] barreyra opened #1817 "Need help debugging my code"
Somehow, I can't get my new goodie to work. When I'm doing one query, it works fine. I change the query, and all of a sudden, my goodie stops working and I get the following error:

    Error: DDG.exec_template: template is null

I'm not sure what could be causing the problem, and this is my first attempt on working on this environment, so I need help. The query that works returns:

    ddg_spice_

[2015-04-30 21:23] russellholt commented on #1817
is there somewhere we can see the code?

[2015-04-30 22:13] barreyra commented on #1817
I just pushed it [here](https://github.com/barreyra/zeroclickinfo-spice/commit/42b21041d36fe8a3634ed55fe50aa0eaeb91deee). You will not be able to replicate my results as I removed the API key phish.net gave me for this, as I think it's intended to be private. You can go to http://api.phish.net/ and request one.

[2015-05-01 00:54] javathunderman commented on #1817
@barreyra You can always ask questions on the IRC or on the Gitter chatroom- you might be able to get help faster that way.

[2015-05-01 13:22] MrChrisW opened #1818 "Places: tile__title uses #dadada color on dark theme, text unreadable"
The h4 `tile__title` class has a color `#dadada` (standard link color for dark theme) on the place name, this looks a little washed out as it's on a white background.

IA: https://duck.co/ia/view/maps_places
Example: https://duckduckgo.com/?q=City+Hall+Philadelphia&kae=t&ia=places

![selection_396](https://cloud.githubusercontent.com/assets/5282264/7430582/db350fee-f047-11e4-987a-1dccb2a1beae.png)

[2015-05-01 13:29] MrChrisW opened #1819 "Time vs Timer: Query "time""
Using the query "time" shows the **Timer** IA first as it has [signal high](https://github.com/duckduckgo/zeroclickinfo-spice/blob/master/share/spice/timer/timer.js#L58) set.

The first result should actually be the **Time** IA displaying the current time based on the users location.

+ Example: https://duckduckgo.com/?q=time
+ Timer: https://duck.co/ia/view/timer
+ Time: https://duck.co/ia/view/t

[2015-05-02 18:38] zekiel opened #1821 ""what's the time in" often shows weather"
https://duckduckgo.com/?q=what's+the+time+in+philadelphia
https://duckduckgo.com/?q=what's+the+time+in+paris%2Cfrance

**Usually shown when there's no space after city-level comma (as in the france example)
![screen shot 2015-05-02 at 2 38 00 pm](https://cloud.githubusercontent.com/assets/1846953/7442285/ea6ea9ca-f0d8-11e4-834a-473734725a64.png)

----

IA Page: https://duck.co/ia/view/time

[2015-05-02 18:39] zekiel commented on #1819
related to "time" triggerspace #1821

[2015-05-02 21:46] mr-karan commented on #1821
Just noticed the difference. If you use what's then weather shows, otherwise if you use whats then time is displayed

![firefox_screenshot_2015-05-02t07-59-45 025z](https://cloud.githubusercontent.com/assets/5689132/7442900/d4ead6c2-f142-11e4-8069-102f7ec2d901.png)
![firefox_screenshot_2015-05-02t21-44-42 118z](https://cloud.githubusercontent.com/assets/5689132/7442901/d4f069c0-f142-11e4-85d0-6450

[2015-05-03 05:23] iambibhas commented on #1461
Something like this would work?

![](http://imgur.com/flVTmcX.png)

[2015-05-04 13:19] zekiel opened #1825 "Geometry: Add variable to diagram"
https://twitter.com/tubakerl/status/594982609165365248

Per the feedback in the tweet---> we should label the variable being referenced in the diagram.

------

IA Page: http://duck.co/ia/view/geometry

[2015-05-04 14:07] MrChrisW commented on #1819
Closing as duplicate of #1656

[2015-05-04 14:07] #1819 closed

[2015-05-04 14:08] MrChrisW commented on #1756
@medicosconsultants Have you had time to address the above questions?

[2015-05-04 14:10] MrChrisW commented on #1725
Closing for now. :wink:

[2015-05-04 14:10] #1725 closed

[2015-05-04 14:11] MrChrisW commented on #1628
@killerfish :smile: Hope you're doing well! Have you had a chance to look into these issues?

[2015-05-04 14:24] MrChrisW commented on #1794
@bsstoner Seems like Forecast is the only one using these old meta attributes?

[2015-05-04 23:02] moollaza commented on #1821
hmm interestingly this query doesn't seem to trigger the IA the usual way --- it seems to be triggering internally because the query "time in india" doesn't seem to trigger this in DuckPAN...

I'll be sure to investigate this!

[2015-05-05 01:10] yegg opened #1828 "32 oz in ml"
Would be great if conversions would figure this out.

32 fl oz in ml -- works for reference

from https://twitter.com/mkuplens/status/595358921935589377

[2015-05-05 02:34] MrChrisW commented on #1828
Closing. Reported in Goodie repo. Thanks @yegg  :+1:

[2015-05-05 02:34] #1828 closed

[2015-05-05 12:56] yegg commented on #1828
Oh man, sorry about that. :+1:

[2015-05-06 09:10] killerfish commented on #1628
@MrChrisW sorry this got delayed, been MIA, ill start looking into issues this weekend ^^

[2015-05-06 14:49] moollaza opened #1834 "Currency: Change signal to high for better triggering"
The Currency Spice isn't always displaying when it has a tab - we need to set the `signal: 'high'` for this IA so that it works for queries like these:

https://duckduckgo.com/?q=25+USD+in+DKK

------

https://duck.co/ia/view/currency

[2015-05-06 15:53] moollaza opened #1835 "Transit Switzerland: API not always providing platform, leads to bad result"
https://duckduckgo.com/?q=next+train+to+geneva+from+paris&ia=swisstrains

The footer in the IA shows "Platform " with no number because the API response doesn't contain one. We should check to make sure we have a platform, or show that one has not been assigned yet (I'm assuming that's the case?)

https://duckduckgo.com/js/spice/transit/switzerland/paris/geneva

/cc @tagawa @mattr555

[2015-05-06 15:56] jagtalon opened #1836 "GetEvents.pm: Should trigger on "events nearby" as well"
Not sure why that isn't the case but it kinda stinks that it could only trigger on "events near me".

https://duck.co/ia/view/get_events

[2015-05-07 16:08] jagtalon opened #1837 "Flights + Airlines: Move to moment.js"
There are a lot of date-related functions in airlines.js and route.js. Maybe it could be simpler if we use moment.js. Here's an example on how to use it: https://github.com/duckduckgo/zeroclickinfo-spice/blob/84bff0bfb0b277c38c5268d511eb70a5d783b24b/share/spice/get_events/get_events.js#L10

[2015-05-08 16:09] moollaza commented on #1837
@jagtalon that's being take care of in https://github.com/duckduckgo/zeroclickinfo-spice/pull/1736/files

[2015-05-08 16:09] #1837 closed

[2015-05-08 16:23] moollaza commented on #1825
The reason it's missing is because when you hover on the letters or color block, the image highlights what that refers to. This seems like a design problem.

/cc @abeyang -- any ideas on how we can suggest to users this IA is interactive? Perhaps we should simply tell them to hover?

[2015-05-08 17:57] moollaza commented on #1818
I believe this requires and internal fix.

/cc @sdougbrown @chrismorast

[2015-05-08 18:05] moollaza commented on #1817
@barreyra sorry for the delay -- the code looks good at first glance -- I can only imagine the API response is changing and causing problems.

I would suggest you try using a built-in template group, other than `base` which is only meant to be used as a last resort and also please wrap your callback function in a closure as that's our standard format for the JS files.

I don't suspect that'll solv

[2015-05-08 19:48] moollaza opened #1838 "Flights - Routes: should allow for "flights" in query"
"air canada phl to yyz" works, but "air canada flights from phl to yyz" does not.

https://duckduckgo.com/?q=air+canada+phl+to+yyz&ia=route

[2015-05-08 22:18] javathunderman commented on #228
@chrismorast ping! Any updates?

[2015-05-08 22:19] javathunderman commented on #1838
#228 and #217 Also related to this IA.

[2015-05-11 11:04] killerfish commented on #1628
@chrismorast could you tell me what color, size etc preferences you have for the quotes + text, so i could switch to that. Line height seems to be good now.
![quote](https://cloud.githubusercontent.com/assets/1424236/7563254/acacbbd6-f7f4-11e4-9d9f-5bed48458d5e.png)

[2015-05-11 15:59] iambibhas commented on #1802
T&D API doesn't seem to have an option to get time by Tomezone. This might require a separate Spice or a Goodie maybe.

[2015-05-11 18:13] javathunderman commented on #1814
@moollaza Is there any old code lying around?

[2015-05-11 18:15] javathunderman commented on #412
@moollaza Any update on this?

[2015-05-11 18:16] javathunderman commented on #1629
@moollaza Seems like these are all working now?

[2015-05-11 18:18] javathunderman commented on #259
@moollaza Ping, is this done?

[2015-05-12 02:03] moollaza commented on #1656
Now that "time" triggers the Time IA, we need to update the Timer Spice to stop triggering on "time":

https://duckduckgo.com/?q=time

[2015-05-12 15:22] tagawa commented on #1835
Thanks for spotting @moollaza. https://github.com/duckduckgo/zeroclickinfo-spice/pull/1842 is a simple fix.

[2015-05-14 22:20] mattr555 commented on #1656
@moollaza It might be useful in cases like this (if it doesn't exist already) to add the ability to find which trigger word the query triggered on. Therefore if we trigger on "time" and nothing else we can decide not to return a spice. I guess alternatively we could change it to `handle query_lc` and do all the parsing ourselves.

Barring either of those, we could do it on the JS:

[code]

[2015-05-15 01:37] #1835 closed

[2015-05-15 01:44] mattr555 commented on #1806
Sounds good! We may want to explore using a grid on timer and stopwatch as well; I had to basically implement my own when I originally wrote those.

[2015-05-15 03:30] chrismorast commented on #1628
Thanks @killerfish , this is looking a lot better!

As far as color and size goes, can you use #d0d0d0 for the color and bring them to about 80% of the size they are in the screenshot you posted above? Here's what that would look like. (I also reduced the spacing between the quote asset and the text a bit)
![screen shot 2015-05-14 at 8 28 26 pm](https://cloud.githubusercontent.com/assets/7061920/7

[2015-05-15 03:32] chrismorast commented on #1806
Yeah @mattr555 , I think that's a good call. I'll be out next week but can have a look into it when I return.

[2015-05-15 03:40] chrismorast commented on #228
Hey @javathunderman , thanks for keeping us on our toes :) - the new flight tile design is still being implemented. @moollaza , can you share the link to the GH issue for that so we can keep up with the progress?

[2015-05-15 03:40] chrismorast commented on #1818
@bsstoner , any reason we can't apply the dark theme to the tile in this case as well?

[2015-05-15 06:38] #1836 closed

[2015-05-15 09:33] jagtalon commented on #1813
Fixed by @MrChrisW  in #1816

[2015-05-15 09:33] #1813 closed

[2015-05-15 09:37] #1197 closed

[2015-05-15 09:48] jagtalon opened #1844 "Currency: Spice.failed is being called but not exiting"
The line should be `return Spice.failed("...");`.

It's also unnecessarily calling Spice.failed. The check for `api_result.conversion.length` seems to be failing.

![screen shot 2015-05-15 at 5 47 21 am](https://cloud.githubusercontent.com/assets/81969/7650581/fb7f2ec8-fac5-11e4-8a9c-9e6e65924d38.png)

[2015-05-15 10:26] #1844 closed

[2015-05-15 10:32] jagtalon opened #1846 "Currency: "$500 to kr" doesn't work but "$500 to dkk" does"
Symbols such as "kr" should work as well. See https://github.com/duckduckgo/zeroclickinfo-spice/pull/1823#issuecomment-102351566

------

IA Page: https://duck.co/ia/view/currency

[2015-05-15 10:33] jagtalon opened #1847 "Currency: "500 $ to php" should work as well."
See https://github.com/duckduckgo/zeroclickinfo-spice/pull/1823#issuecomment-102351566 for more information.

https://duck.co/ia/view/currency

[2015-05-15 10:51] jagtalon commented on #1793
Fixed in #1810

[2015-05-15 10:51] #1793 closed

[2015-05-15 12:05] jagtalon commented on #1781
@mattr555 mentioned that it should be in 24hr format. https://github.com/duckduckgo/zeroclickinfo-spice/pull/1784#issuecomment-101064344. Closing this.

[2015-05-15 12:05] #1781 closed

[2015-05-15 12:21] bsstoner commented on #1818
We can, I didn't do it because it looked a little funny on top of the light map.

[2015-05-15 12:28] javathunderman commented on #228
@chrismorast Lol no problem. :)

[2015-05-15 12:47] javathunderman commented on #1846
Should this and #1847 be the same issue?

[2015-05-15 13:31] javathunderman commented on #102
@moollaza ping, don't think this has been resolved yet.

[2015-05-15 13:32] javathunderman commented on #893
@moollaza Seems like this is still an issue.

[2015-05-15 13:42] moollaza commented on #1656
Agreed, I have an internal task for the team to add this functionality, I've seen a few cases now where this would be useful.

FWIW, there is a `$req` object that's accessible in the `handle` func. Ideally this is where we'd expose the matched trigger, but the object contains other useful stuff like the original query.

[2015-05-15 14:02] moollaza commented on #228
https://github.com/duckduckgo/zeroclickinfo-spice/pull/1736

[2015-05-15 14:38] moollaza commented on #259
@javathunderman I'm not sure -- we should gather a list of the IA's that explicitly set `is_cached` and then verify that they are all working as intended!

[2015-05-15 14:41] moollaza commented on #412
@Jedidiah apologies for the late reply, I hadn't noticed your comment. That approach certainly looks like a step in the right direction!

It seems like there's actually a bug here though because the Thesaurus IA is giving different results for the two queries: https://duckduckgo.com/?q=similar+to+friendly&ia=thesaurus and https://duckduckgo.com/?q=thesaurus+friendly

[2015-05-15 14:43] moollaza commented on #1802
@iambibhas yup, that's unfortunate, but that's why I suggested we build a hash of countries that map to timezones so we can do the lookup that way. Alternative a different API could work if one exists.

[2015-05-15 16:15] larseng commented on #1846
Norwegian kroner (NOK) and swedish kroner (SEK) also uses kr, so should kr automatically be danish kroner (DKK)?

[2015-05-15 17:33] #1647 closed

[2015-05-15 19:44] bsstoner opened #1848 "SeatGeek price alignment on mobile"
![screen shot 2015-05-15 at 3 31 31 pm](https://cloud.githubusercontent.com/assets/126358/7660574/3beeb4e4-fb19-11e4-8e43-b80c08d8521a.png)

cc @moollaza @jagtalon @sdougbrown

[2015-05-15 21:08] iambibhas commented on #1802
For queries like `time in IST`, we can just use the csv(turned to yml) I have above, fetch the UTC time and add the offset. But yeah, if we have a map of country -> timezone, then we could even process the `time in <country>` queries without calling any API.

[2015-05-16 00:28] javathunderman commented on #1535
@moollaza I'll make a PR for lobbying (with unchanged code) and I think we can go from there.

[2015-05-17 09:04] taw commented on #102
@moollaza I don't have access to zanran logs any more (well, not directly, I could always ask).

It seems to still be a problem as `saudi arabia oil production` returns zanran results while `saudi arabia "oil production"` doesn't.

Assuming my original report was correct, it was a difference between duckpan server and live ddg server behaviour, so the problem is probably not in this repository.

[2015-05-17 18:54] javathunderman commented on #1488
@jagtalon Should we remove the test requirement in the pull request template for the other repositories (goodies, fathead, etc.)?

[2015-05-18 08:49] mintsoft opened #1850 "Timer Spice Triggering too eager"
Lo,

I don't think it should trigger on `Time::HiRes` as a query:
![image](https://cloud.githubusercontent.com/assets/978048/7677347/20722eb8-fd43-11e4-96ec-70a8b38b9432.png)

[2015-05-18 19:28] mattr555 commented on #1850
Hi @mintsoft, probable duplicate of #1656? Does #1849 fix it for you?

[2015-05-19 14:37] #1656 closed

[2015-05-19 14:38] moollaza commented on #1850
@mintsoft I just merged @mattr555 PR which should reign in the triggers. I beleive it solves this...

[2015-05-19 14:41] moollaza commented on #1850
Yup!

![codio_-_duckduckhack](https://cloud.githubusercontent.com/assets/873785/7705652/8756b7cc-fe13-11e4-8965-ffdf4fe370ff.png)

[2015-05-19 14:41] #1850 closed

[2015-05-19 14:54] moollaza opened #1853 "Time: Mobile layout broken"
The date should be aligned with the time, like it is on the current desktop view

![time_in_malawi_at_duckduckgo](https://cloud.githubusercontent.com/assets/873785/7705921/4e488896-fe15-11e4-83d1-902c4a8888a2.png)

http://duck.co/ia/view/time

[2015-05-19 15:10] moollaza commented on #1853
Actually, it looks like the CSS here needs to be cleaned up and updated with the newest CSS classes. Will get a spec from the designers!

[2015-05-19 15:14] moollaza commented on #1853
Either way, I think a better approach for the markup is to wrap the Time and Date in another div, and set them to `display: inline-block` -- we don't need to float them :)

[2015-05-19 16:25] moollaza opened #1854 "Stocks: Check when market is closed and grey out IA"
We can check whether the market is open using another API call (which means we'll need another Perl package for this new endpoint):

http://globalexchanges.xignite.com/xGlobalExchanges.json/IsExchangeOpen?Exchange=XNAS

If the market is closed, we should indicate that on the IA. Specifically, we should update the subtitle like so:

![aapl_at_duckduckgo](https://cloud.githubusercontent.com/assets/8

[2015-05-19 22:15] mintsoft commented on #1850
Cool thanks!

[2015-05-20 15:56] russellholt opened #1856 "Currency sets z-index for flags"
and shouldn't.

http://duck.co/ia/view/currency

[2015-05-21 16:00] moollaza opened #1857 "SimilarSites: Border should be re-added and set to transparent"
We're about to make some internal changes to the spacing of the list elements. In order to preserve the intended spacing we need to change the CSS so that it sets `border-color: transparent` instead of removing the border.

------

IA Page: http://duck.co/ia/view/similar_sites

[2015-05-22 15:16] zekiel opened #1859 "Stocks: "More At" link (Nasdaq) leads to page country-specific pagea with broken chart links"
https://duck.co/forum/comment/56257

//cc @moollaza  not sure if the corrected link (in my comment on duck.co) is avail via the api or that general situation so hoping you can help here

[2015-05-25 19:20] moollaza opened #1864 "Gravatar, Keybase, Zodiac, Twitter : Switch to Icon template group"
To Be Converted:

- [x] Gravatar (assigned to @altern8tif)
- [x] Keybase
- [ ] Zodiac (images assets: http://cl.ly/19171G2D2H21)
- [x] Twitter

---

We now have the [Icon template group](https://duck.co/duckduckhack/templates_overview#icon-template-group), which allows us to easily re-create the looks of these IA's without the need for any custom templates.

The icon template can display 3 lines o

[2015-05-25 19:36] moollaza opened #1865 "GoWatchIt: Should support the trigger "movie""
Currently this IA only triggers on "watch", we should also add support for the trigger "movie", e.g., "Skyfall movie"

------
IA Page: http://duck.co/ia/view/go_watch_it

[2015-05-25 20:24] moollaza opened #1866 "RubyGems: Design broken, needs fixing & update"
The current IA has an issue, causing the footer text to overlap the body text: https://duckduckgo.com/?q=gem+nokogiri&t=ffab&ia=software

This IA should be updated to look just like the [SublimePackages Spice](https://github.com/duckduckgo/zeroclickinfo-spice/pull/1731).

The footer should also use the new `ddgsi-download` icon

[2015-05-25 20:32] moollaza opened #1867 "DogoNews: Switch to new media template group, implement new design"
This IA should now be switched to use the the `media` template group so it can also display a picture.

Along with displaying a picture, the body of the IA should be updated to meet the new design:

![dogo-news-v1 3](https://cloud.githubusercontent.com/assets/873785/7801981/9589ccac-02fb-11e5-9bf7-6c4a5871ecf0.jpg)

/cc @dogomedia

[2015-05-25 23:38] moollaza commented on #1859
@mintsoft @MrChrisW I'm unable to get the More At here to redirect me to Xignite's country specific pages -- even when I use a VPN. Can you check if you get re-directed to `xignite.com/au/` or `/gb/`?

If not then I'm not sure there's much we can do here, other than ask Xignite to fix their site.

[2015-05-25 23:44] moollaza commented on #1853
I've spoken to the design team: for very narrow mobile screens, it's OK for the date to fall below onto another line like it currently does:

![img_4842](https://cloud.githubusercontent.com/assets/873785/7803147/6fbf1c50-0316-11e5-9213-0e4c3fc2770a.PNG)

[2015-05-26 00:24] MrChrisW commented on #1859
@moollaza No redirect for me.
+ **Search MSFT**: https://duckduckgo.com/?q=MSFT&t=ffcm&ia=stock
+ **Click More At**: http://www.nasdaq.com/symbol/msft/real-time

[2015-05-26 00:33] moollaza commented on #1859
@MrChrisW thanks a lot for confirming!

[2015-05-26 12:14] mintsoft commented on #1859
@moollaza @MrChrisW Same here; I end up with http://www.nasdaq.com/symbol/msft/real-time and $

[2015-05-26 13:28] moollaza commented on #1859
@mintsoft thanks a lot for confirming, too!

[2015-05-27 15:07] chrismorast commented on #1818
Yeah, I guess I'd have to see it. Would we have an option to use a dark map if we were to create one through MapBox? That might be really cool - probably not quite as useable though.

[2015-05-27 17:08] moollaza opened #1871 "Twitch: Change `group` to `videos`, remove `item`"
We now have a `videos` template group. The Twitch Featured and Twitch Streams IA's should now be updated to look like so:

[code]

[2015-05-27 17:08] moollaza commented on #1871
/cc @Dwaligon -- if you're free and wouldn't mind doing this we'd appreciate it!

[2015-05-27 18:16] Dwaligon commented on #1871
Can do @moollaza :+1:

[2015-05-28 03:05] moollaza commented on #1364
This has mostly been taken care of :+1:

[2015-05-28 03:05] #1364 closed

[2015-05-28 17:36] moollaza opened #1873 "Indeed Jobs: Implement new footer design"
We now have an optional `datebadge`property that can be specified for each tile's `item` (should be specified using the `normalize` function.

We need to add a `datebadge` to the Jobs Spice to better display the posting date for each job.

Live examples can be seen in the SeatGeek Spice: https://duckduckgo.com/?q=concerts+in+toronto&ia=concerts

Code example: https://github.com/duckduckgo/zeroclic

[2015-05-28 18:41] moollaza commented on #1871
Fixed in #1872 -- thanks a lot @Dwaligon !

[2015-05-28 18:41] #1871 closed

[2015-05-28 20:20] moollaza commented on #1854
Tackling this one myself because it's important...

[2015-05-28 21:00] dronov commented on #1854
:+1:

[2015-05-29 14:26] moollaza opened #1875 "Movies: Detail pane broken? -- Console error for movies.js"
For some reason we're not showing the thumbnail in the detail pane for single item results (likely the `item_detail` template...)

There appears to be a console error in these cases...

https://duckduckgo.com/?q=the+lord+of+the+rings+return+of+the+king+movie&t=ffab&ia=movies
https://duckduckgo.com/?q=down+periscope+movie&t=ffab&ia=movies

[2015-05-29 14:27] moollaza commented on #1875
Looks like this line is the problem: https://github.com/duckduckgo/zeroclickinfo-spice/issues/1875

We didn't consider the single-item view and this needs to be adjusted accordingly.

/cc @jagtalon

[2015-05-30 12:30] iambibhas commented on #1636
@moollaza I dont have examples with these statuses. Most results are `on time`. Updating the PR with current UI. Let's continue there.

[2015-05-30 12:59] iambibhas commented on #1875
@moollaza where does the `item.$html` come from? And where is `onItemShown` event documented?

[2015-06-01 07:27] bluzername opened #1878 "Currency: Adding a currency code NIS"
Hi,

The commonly used abbreviation for ILS (Israeli Shekel) is NIS (New Israeli Shekel) which is currently not recognised by the Instant Answer "Currency".
Can we add "NIS" to "currencyNames.txt", or whatever is needed to make it work?

Cheers!

------

IA Page: https://duck.co/ia/view/currency

[2015-06-01 13:51] danieljruben opened #1879 "Airlines instant answer gives results from previous, not current, day"
http://duck.co/ia/view/airlines

Expected behavior: using Airlines instant answer gives flight information for a given flight on *current* day.

Actual behavior: using Airlines instant answer gives flight information for a given flight for the *previous* day.

Example search URL: https://duckduckgo.com/?q=vx+412&t=osx&ia=airlines

Searched 2015-06-01 09:45, gives following result:
![screen shot 20

[2015-06-01 18:52] moollaza opened #1881 "NPM: Make sure we have dependencies to show before adding to InfoBox"
Looks like this module doesn't have any dependencies? Or potentially there's something else going on?

![npm_getconfig_at_duckduckgo](https://cloud.githubusercontent.com/assets/873785/7920537/c0530de6-086d-11e5-94e7-5743d2f2c2a4.png)

---

IA Page: https://duck.co/ia/view/npm

[2015-06-02 03:52] moollaza commented on #1879
@danieljruben thanks a lot for reporting. Looking at the API response it's only giving us information for this flight.

You're totally right that there's another ongoing flight which departed today.

![virgin_america_flight_412_-_google_search](https://cloud.githubusercontent.com/assets/873785/7928119/b901f278-08b8-11e5-8556-1c7fc74442e7.png)

It looks like we're using the API endpoint to search f

[2015-06-02 19:51] mintsoft opened #1883 "Currency: Support "X pounds in dollars""
Moved from: https://github.com/duckduckgo/zeroclickinfo-goodies/issues/1170

https://duck.co/ia/view/currency

[2015-06-02 23:32] moollaza opened #1885 "Nutrition: Improve relevancy checking (too strict?)"
"protein in turkey bacon" and all other "protein in <food>" queries trigger the Nutrition IA, but we're not showing any results.

It looks like we're failing the relevancy check that we have in place and so they need to be revised to let these results through!

https://duckduckgo.com/?q=protein+in+turkey+bacon

------
IA Page: https://duck.co/ia/view/nutrition

[2015-06-02 23:40] javathunderman commented on #1885
Definitely noticed that sometimes the Nutrition IA is lacking sometimes...

[2015-06-03 15:01] moollaza commented on #1875
@iambibhas `item.$html` comes from some internal code, it's simply a reference to `$item` which is `$(item)`.

onItemShown should be documented in the events section...

[2015-06-03 16:42] chrismorast commented on #1636
"S": "Scheduled" = On Time or Delayed
"A": "In the air" = This is represented by either 'on time' in green or 'delayed' in red with the flight timeline indicating that it;'s in the air:
![delayed](https://cloud.githubusercontent.com/assets/7061920/7965425/42a590ec-09d2-11e5-960c-13fb53a996b7.png)

"U": "Unknown status" = Unknown (hopefully this is extremely rare)
"R": "Redirected flight" = Redirec

[2015-06-03 16:59] moollaza commented on #1875
@iambibhas looks like this has been fixed in https://github.com/duckduckgo/zeroclickinfo-spice/pull/1884

[2015-06-03 16:59] #1875 closed

[2015-06-04 00:34] javathunderman commented on #259
@moollaza Compiling that list now.

[2015-06-05 17:58] #1854 closed

[2015-06-05 18:42] jagtalon commented on #1883
Maybe we can add it as an alias to GBP

[2015-06-05 18:47] jagtalon commented on #1873
@moollaza with a date, we kinda lose some resolution, right? 4 hrs ago, 8 hrs ago could all have the same date so we lose some information there.

[2015-06-05 23:55] moollaza commented on #1873
Yes, but if the job was posted within the past day or two, I'd say it's still "fresh" and worth considering.

@abeyang and I looked at a few job sites and some of them use relative times, while others used the posting date. I think I slightly prefer relative dates, but Abe and I decided to try this.

One thing I did just realize is that we tend to show a lot of results that were posted within 24 h

[2015-06-06 09:09] altern8tif commented on #1866
Ran `master` branch on DuckPan server and everything seems to be fine.

![screen shot 2015-06-06 at 4 56 58 pm](https://cloud.githubusercontent.com/assets/5793364/8019048/2daae41a-0c6d-11e5-8810-58012ef88722.png)

Did some digging using Chrome Devtools and it seems like production code still shows css & js files prior to #1715.  The css file is causing the footer to overlap the body.

![screen sho

[2015-06-06 21:01] moollaza opened #1891 "DebVersion: API returning 404 error, needs to be investigated!"
https://duckduckgo.com/?q=debian%20version%20emacs&ia=software

I noticed this IA didn't show a result for the example query. It looks like it triggers, but the API is returning a 404. Let's fix that!

---

IA Page: https://duck.co/ia/view/deb_version

[2015-06-06 21:03] moollaza commented on #1891
Whooops, looks like the example query is what's wrong! https://duckduckgo.com/?q=debian+versions+for+emacs24&t=ffab&ia=software

[2015-06-06 21:03] #1891 closed

[2015-06-07 14:00] altern8tif commented on #1881
@moollaza This module does indeed have no dependencies.  Doesn't look like there's anything wrong with the NPM spice.

[2015-06-08 15:52] moollaza opened #1892 "IsItSnowing: Remove left padding"
This IA adds some left padding/margins causing it to be misaligned. This should be removed.

![isitsnowing](https://cloud.githubusercontent.com/assets/873785/8039035/1f9483ae-0dd5-11e5-85fd-d6085f4afc96.png)

Eventually this IA needs to be re-implemented like the IsItRaining IA: https://github.com/duckduckgo/zeroclickinfo-spice/pull/1739

[2015-06-08 20:34] Manouchehri opened #1894 "Scratchpad: Unable to use backspace"
On Firefox for Android, I'm able to type, but the backspace button is non-functional with the soft keyboard (I have not tried a wired one yet).

Sample URL: https://duckduckgo.com/?q=JavaScript+scratchpad

[2015-06-09 00:44] moollaza commented on #1817
@barreyra is this still an issue?

[2015-06-09 00:51] moollaza opened #1896 "Convert IAs to newest Spice API"
There are still many IA's in the repo that use the old API, that aren't wrapped in a closure, and most importantly aren't calling `Spice.failed()` when they trigger.

We need these IA's to be updated and they need to call `Spice.failed()` when necessary so the other IA's waiting to show their answers know that the triggered Spice isn't going to produce anything.

Here's a list of the IA's that use

[2015-06-09 03:54] moollaza commented on #1894
Hi @Manouchehri, the editor should be disabled for Mobile devices now. It was originally intended to because of the issue you've pointed out but the code was old and didn't work anymore. I updated the code this evening and we pushed it live.

Please let me know if the editor is still appearing for you on mobile!

[2015-06-09 04:12] moollaza commented on #1866
@altern8tif thanks for looking into this!

I'm still seeing it broken in production:
![gem_nokogiri_at_duckduckgo](https://cloud.githubusercontent.com/assets/873785/8050519/08727d0e-0e3c-11e5-9c35-2a82ea10d29e.png)

The problem seems to be that we're setting a height for the body of the tile, which is clearly too small:

[code]
We should be able to solve this by removing the CSS file altogether --

[2015-06-09 06:28] altern8tif commented on #1866
The css file is already removed on the Rubygems spice on the master branch. But it's still broken in production.

Or am I looking in the wrong place?

[2015-06-09 06:38] pnpninja commented on #1896
I'll take up forvo.

[2015-06-09 14:07] jdorweiler opened #1898 "BaconIpsum: not showing"
------
IA Page:  http://duck.co/ia/view/bacon_ipsum

[2015-06-09 15:43] moollaza commented on #1898
Argh. Looks like the API is completely broken. It's returning tons of HTML along with the api response:

https://duckduckgo.com/js/spice/bacon_ipsum/4

[2015-06-09 15:49] moollaza commented on #1866
@altern8tif you're totally right. Seems like an internal bug; I'll make a task for the team. Thanks!

[2015-06-09 16:02] Manouchehri commented on #1894
@moollaza Scratchpad is now gone for Firefox Android, looks good to me.

[2015-06-09 16:02] #1894 closed

[2015-06-09 16:04] moollaza commented on #1896
@pnpninja wonderful! There's a little more discussion about how it should be done here: https://github.com/duckduckgo/zeroclickinfo-spice/issues/1509

[2015-06-09 16:41] jdorweiler opened #1899 "SoundCloud: wrong id"
https://github.com/duckduckgo/zeroclickinfo-spice/blob/master/share/spice/sound_cloud/sound_cloud.js#L24

`soundcloud` should be `sound_cloud`

------
IA Page:  http://duck.co/ia/view/sound_cloud

[2015-06-09 22:24] abeyang commented on #1873
@moollaza that's a good point.. I guess we're only looking into "new jobs"? By default, when I go to Indeed, it shows me results that span across days.

In any case, I'm open to using the tiles that have the clock icon that indicate the relative time ago, like this one:

![sublime-v1 1](https://cloud.githubusercontent.com/assets/794084/8071070/9a2d93bc-0ebb-11e5-93aa-9745d24f0e3e.jpg)

[2015-06-10 00:28] domjacko commented on #1883
The issue with this is that not only the United Kingdom uses the term 'pound'. There's the Egyptian pound, Syrian pound etc.
http://en.m.wikipedia.org/wiki/Pound_(currency)#Countries_currently_using_the_pound_or_similar

Hence why the aliases in the `currency/currencyNames.txt` file that include 'pound' have the nation in front of them.

[2015-06-10 05:26] gokul1794 commented on #1892
If no one is working on this, I'd like to take it up!

[2015-06-10 09:38] iambibhas commented on #1898
@moollaza maybe it was a temporary bug on their side because it's working now.

[2015-06-10 09:43] iambibhas commented on #1896
For some reason searching for `smbc` is triggering the Zipcode spice which is breaking itself and smbc.

[2015-06-10 11:51] moollaza commented on #1898
:+1:

[2015-06-10 11:51] #1898 closed

[2015-06-10 12:02] moollaza commented on #1892
@gokul1794 no one has claimed it yet! Thanks a lot!

[2015-06-10 12:05] moollaza commented on #1883
I think it's OK to assume "pound" means GBP, given that it's the most popular "pound". We handle "dollars" similarly and use USD.

[2015-06-10 12:31] moollaza commented on #1894
@Manouchehri thanks :+1:

[2015-06-10 12:54] tagawa opened #1905 "TravisStatus: Change `spice to` endpoint to HTTPS"
In the duck.co list this is listed as live but is currently not triggered with [travis status](https://duckduckgo.com/?q=travis+status)

[2015-06-10 15:57] moollaza commented on #1905
The IA is live and triggering, it seems that we're not getting a response from our internal API call though:

However, the API does seem to be live: https://www.traviscistatus.com/index.json and the IA is working for me in DuckPAN.

Possibly an internal bug/fix...

[2015-06-10 16:14] iambibhas commented on #1896
Oooops! @moollaza I think Github closed this automatically because I mentioned `Fixes #1896` in PR description. :|

[2015-06-10 16:46] jdorweiler commented on #1899
This also needs to be fixed in the deep trigger and tests.

[2015-06-10 17:47] gokul1794 commented on #1892
Umm, I'm not so sure as to where the IA is adding the left padding!
Will adding in the css file

padding-left=17px;}

Solve the problem?

[2015-06-10 18:13] altern8tif commented on #1892
Had a look at the css.  I think the issue stems from the padding on the `.zci.zci-snow.is-active` classes.  The right & left padding for the default text template is not zero, so the css shouldn't have values for that.

Suggested change:
[code]

Perhaps you could try to see if this works?

[2015-06-10 18:35] gokul1794 commented on #1892
Yes, It does!

[2015-06-10 18:46] altern8tif commented on #1864
If no one is working on this, I don't mind helping out for the Gravatar spice...

[2015-06-10 19:24] domjacko commented on #1883
I've created a PR which just adds 'pounds' as an alias here:

https://github.com/duckduckgo/zeroclickinfo-spice/pull/1907

[2015-06-10 19:50] #1883 closed

[2015-06-10 19:50] moollaza commented on #1883
@domjacko thanks!

[2015-06-10 20:31] moollaza commented on #1864
@altern8tif awesome! Thanks a lot :+1:

[2015-06-10 20:32] moollaza commented on #1892
Fixed in #1906

[2015-06-10 20:32] #1892 closed

[2015-06-11 01:58] tagawa commented on #1905
Strange. Thanks for the explanation @moollaza.

[2015-06-11 03:25] altern8tif commented on #1864
@moollaza while we're on this, I'm presuming the Twitter spice needs to be converted too?

[2015-06-11 03:55] altern8tif commented on #1864
Just another thought:

Since the above spices always return a single result, wouldn't it be better to use the `basic_icon_detail` template instead of using the Icon template group?  The Icon template group seems more suited for IAs which return multiple results.

Pardon the ignorance.  Still feeling my way around here.

[2015-06-11 13:06] jdorweiler opened #1911 "MassOnTime: wrong id"
The [id](https://github.com/duckduckgo/zeroclickinfo-spice/blob/master/share/spice/mass_on_time/mass_on_time.js#L97) should be `mass_on_time` to fit with the IA page id and the [spice.failed](https://github.com/duckduckgo/zeroclickinfo-spice/blob/master/share/spice/mass_on_time/mass_on_time.js#L37) call.

------
IA Page:  http://duck.co/ia/view/mass_on_time

[2015-06-11 14:22] jee1mr opened #1913 "SitesSimilar should trigger for "Sites similar to""
https://duckduckgo.com/?q=sites+similar+to+duckduckgo.com&ia=similarsites
doesn't trigger the IA.

Sent PR https://github.com/duckduckgo/zeroclickinfo-spice/pull/1912.

[2015-06-11 14:25] #1913 closed

[2015-06-11 19:33] #1911 closed

[2015-06-11 19:34] iambibhas commented on #1878
NIS is not an ISO 4217 currency code. Hence xe.com doesn't support it I think.
[code]

[2015-06-11 22:15] moollaza commented on #1878
@iambibhas that shouldn't matter if we add NIS as an alias of ILS though?

[2015-06-12 05:59] iambibhas commented on #1878
@moollaza how to add it as an alias?

[2015-06-12 10:10] giocs opened #1917 "Today In History:"
I can't use this instant answer i don't know if it's due of the API or not
------
IA Page:  http://duck.co/ia/view/today_in_history

[2015-06-12 17:10] jagtalon commented on #1905
@tagawa @moollaza problem here is that we have http://www.traviscistatus.com/index.json, but it's redirecting to https--our nginx config doesn't handle redirects so simply changing `spice to` to HTTPS should fix it.

[2015-06-12 18:22] jagtalon commented on #1896
@moollaza I forget why we didn't release SMBC before, but seems like a good IA to have around.

[2015-06-12 18:45] iambibhas commented on #1896
The API endpoint being used for SMBC is not official and seems like dead. Last item is from March http://comics.signedzero.com/smbc/feed.json

[2015-06-13 08:02] tagawa commented on #1899
Changed in the .js file but I can't see where it should be changed in the .pm file or test. Isn't this all that's needed?

[2015-06-13 14:55] iambibhas commented on #1885
The nutrition IA seems to have only one trigger - calories. Are the other triggers work because of deep triggering?

[2015-06-13 14:58] iambibhas commented on #1885
If I add protein to the triggers, above mentioned queries work locally
![selection_044](https://cloud.githubusercontent.com/assets/357253/8144776/c6b402f2-120a-11e5-89af-cda7afeb521a.jpg)

[2015-06-13 20:03] iambibhas commented on #1814
@moollaza #1822 fixes this, right?

[2015-06-13 20:08] iambibhas commented on #1796
Can't we use this?

http://www.imdbapi.com/?i=tt1375666
http://www.imdbapi.com/?i=&t=inception

[2015-06-13 20:25] iambibhas commented on #899
@moollaza maybe ask forecast.io to provide an extra param in the endpoint to provide a state/country and prioritize results close to it?

[2015-06-13 23:58] jkanarek opened #1924 "Sunrise: Doesn't seem to work currently."
http://duck.co/ia/view/sun_rise_set

[2015-06-14 04:44] altern8tif commented on #1864
@moollaza done for Gravatar.  Let me know if this works.

![screen shot 2015-06-14 at 12 41 38 pm](https://cloud.githubusercontent.com/assets/5793364/8147163/db11454c-1292-11e5-84b8-cc1fb289039b.png)

[2015-06-14 06:14] altern8tif commented on #1924
My mileage varies too.  I suppose it depends on what city/country you have entered in the search.

@jkanarek Perhaps you could share what your search input is, so that someone can cross check?

[2015-06-14 11:31] moollaza commented on #1924
Currently it only triggers for capital cities. We're going to increase the triggering internally.

[2015-06-14 11:33] moollaza commented on #1917
Looks like the status needs to be updated. It's not yet live as the PR is still in progress

[2015-06-14 11:43] #1796 closed

[2015-06-14 11:45] moollaza commented on #1796
I believe this is fixed now. We can't use that API as its unofficial and seems to be faces legal issues given its name

[2015-06-14 11:45] moollaza commented on #1917
I've changed the IA page status.

[2015-06-14 11:45] #1917 closed

[2015-06-15 16:07] moollaza opened #1927 "Seasons: Wrong dates for Southern Hemisphere!"
A user pointed out that our results for Australia (and the rest of the Southern Hemisphere are incorrect!)

https://twitter.com/nauzilus/status/609086192814923777

We incorrectly assumed that "summer" implies June, but the seasons depend on the hemisphere of the country. We need to be able to determine the hemisphere of the country we're working with in order to choose the correct solstice (June v

[2015-06-15 20:13] moollaza opened #1928 "GooglePlus: Content height causing border to overflow"
Looks like the CSS for this IA needs adjusting. The combination of set heights and padding is causing the border to overflow on highlight.

This needs to be fixed!

![google_plus_doug_at_duckduckgo_and_1____projects_zeroclickinfo-spice__ssh_](https://cloud.githubusercontent.com/assets/873785/8169733/7dfdd75c-1379-11e5-8548-a7bd62b0775c.png)

------
https://duck.co/ia/view/googleplus

[2015-06-15 20:28] altern8tif commented on #1928
Looks fine for me though.  [Mac OS X Yosemite 10.10.3, Chrome 43.0.2357.124]

![screen shot 2015-06-16 at 4 19 23 am](https://cloud.githubusercontent.com/assets/5793364/8169872/fa7eb61a-13de-11e5-92aa-0eceaaf845b9.png)

Only problem for me is that the "Showing x items" bar is overlapping the tiles.  Don't remember it being that way.  And it seems to be the same for other IAs when the tiles are exp

[2015-06-15 22:58] moollaza commented on #1928
Hmm I'm using FF on Yosemite. Let's check Safari...

[2015-06-15 23:04] moollaza commented on #1928
Looks like it's only happening in FF, but in all cases the footer *is* overflowing and so addressing that should fix it for Firefox:

![g__doug_at_duckduckgo_and_googleplus__content_height_causing_border_to_overflow_ _issue__1928_ _duckduckgo_zeroclickinfo-spice](https://cloud.githubusercontent.com/assets/873785/8172681/2c9fa9d6-1391-11e5-8ad4-b79353006591.png)

![google__doug_at_duckduckgo_and_go

[2015-06-16 00:35] #1878 closed

[2015-06-16 00:40] #1899 closed

[2015-06-16 00:43] #1905 closed

[2015-06-16 02:26] moollaza commented on #1814
@iambibhas nope, SearchCode and CodeSearch are two different IA's that use the same source, but for differrent types of searches.

[2015-06-16 03:03] moollaza commented on #1885
@jdorweiler did the Nutrition IA ever get a deep trigger? It seems like we could bring back some of the original, less ambiguous triggers and only allow them as `startend`

[2015-06-16 03:43] moollaza commented on #1864
@altern8tif yes! I totally forgot :smile:  -- looks like it could be greatly simplified thanks to the templates :+1:

[2015-06-16 09:11] altern8tif commented on #1864
Will work on Twitter as well then..

[2015-06-16 09:41] jdorweiler commented on #1885
@moollaza it does have a deep trigger.  You can try adding a few more trigger words but watch out for weird results.  The api was returning results for pretty much any query so things like "fiber glass" would return a result.

[2015-06-16 14:30] moollaza commented on #1885
@jdorweiler ah right, then it's just our relevancy checking that needs adjusting.

@iambibhas looks like the best way to fix is to revise the relevancy checking code.

[2015-06-16 15:11] #1853 closed

[2015-06-16 15:31] altern8tif commented on #1866
@moollaza this looks like it's been fixed :+1: Time to close the issue?

![screen shot 2015-06-16 at 11 30 30 pm](https://cloud.githubusercontent.com/assets/5793364/8186944/b927e7f8-147f-11e5-9b7a-1dde6673989b.png)

[2015-06-16 16:15] iambibhas commented on #1885
@moollaza how to test this then? Because the mentioned queries work perfectly in local duckpan if I add `protein` to triggers.

[2015-06-16 21:21] jdorweiler commented on #1885
@iambibhas try typing protein and any other trigger words in the ddg search box.  See what autocomplete suggestions come up and try some of the ones that shouldn't show nutrition.  That was my method for finding weird queries :smile:

[2015-06-17 01:35] tagawa opened #1930 "Currency: Should be triggered by symbol suffix"
Currently the IA is triggered with ```₫1000000 to €``` but not ```1000000₫ to €``` (Vietnamese dong).

There are other currencies where the symbol can be used as a suffix rather than prefix, e.g. Japanese yen: 100円 (as well as ￥100).

[2015-06-17 05:50] gokul1794 commented on #1562
Is anyone working on this?

[2015-06-17 09:05] altern8tif opened #1931 "Twitter – Tidying up Spice code (template, trigger fails, latest tweet functionality)"
The Twitter spice code looks rather messy.  Don't mind working on this, but thought I should consolidate some of the outstanding issues here for ease of reference.

- Switch to Icon Template Group – #1864
- Switch to latest Spice API – not in #1896 but should be referenced as well
- Results not showing latest tweet – Is it supposed to?  It only seems to be showing the account description and not t

[2015-06-17 19:12] moollaza commented on #1562
@gokul1794 nope :+1:

[2015-06-18 00:58] #1866 closed

[2015-06-18 00:58] moollaza commented on #1866
@altern8tif yup, we noticed there was a bug and fixed it :+1:

[2015-06-18 04:26] gokul1794 commented on #1562
I get this, so how do I test what I do?
API key not found. Using DuckDuckGo's endpoint:
"https://ddh1.duckduckgo.com/js/spice/snow/Phoenixville%2CPennsylvania%2CUnited%20States"
"500 Can't connect to ddh1.duckduckgo.com:443 (Connection refused)"

[2015-06-18 04:57] altern8tif commented on #1928
@moollaza is the `products_simple` template group deprecated?  I can't seem to find it on your DuckDuckHack documentation...

[2015-06-18 11:54] MrChrisW commented on #1931
@altern8tif Hey!

I don't believe the Twitter API is currently meant to show the users latest Tweet, just to show the users profile description.

Regarding the changing of the [IA page](https://duck.co/ia/view/twitter) you can update the meta data for the IA on [line 9 Twitter.pm](https://github.com/duckduckgo/zeroclickinfo-spice/blob/master/lib/DDG/Spice/Twitter.pm#L9), then the metadata can be r

[2015-06-18 12:22] MrChrisW commented on #1930
@tagawa To support the currency symbol triggering before the amount the regex `guard` will need to be updated on [line 46 Currency.pm](https://github.com/duckduckgo/zeroclickinfo-spice/blob/master/lib/DDG/Spice/Currency.pm#L46) to include `\p{Currency_Symbol}` after `$number_re`.

It doesn't look like the symbol 円 or 圓 are included [currencySymbols.yml](https://github.com/duckduckgo/zeroclickinfo-

[2015-06-18 13:11] MrChrisW commented on #1562
@gokul1794 The issue here is that the API_KEY doesn't exist an an `env` var on your system so the faillback API is used, in this case `ddh1.duckduckgo.com` I've experienced a similar issue with DuckPan failing back to the `ddh1` endpoint which is currently not active, @moollaza fix?

The workaround is to plug `https://duckduckgo.com/js/spice/snow/$1` into the `spice to` value on [line 20 Snow.pm](

[2015-06-18 13:58] gokul1794 commented on #1562
Thanks @MrChrisW. That seems to work!

[2015-06-18 15:18] moollaza commented on #1928
@altern8tif it was previously deprecated, and we've temporarily brought it back. It will be replaced by the `Media` group.

[2015-06-18 15:53] mrzod opened #1936 "RedditSearch: Unable to open new tab from SERP"
http://duck.co/ia/view/reddit_search

When I click a new result, it doesn't open. I am using CTRL + left mouse click.

Would be better if users are able to open multiple tabs from the results page. Thank you.

[2015-06-18 19:37] mintsoft opened #1937 "Timer shouldn't trigger on "five-alarm" query"
https://duckduckgo.com/?q=five-alarm&ia=timer seems out of place!

[2015-06-19 02:36] digital-carver commented on #1815
By the way, another pain point I came across in the MetaCPAN IA is that the module name has to be in exact case. For eg. `lwp::useragent` or `LWP::Useragent` doesn't work, it has to be exactly `LWP::UserAgent` in the query. Otherwise the IA doesn't appear at all, which quite confused me until I realized it was about case-sensitivity.

Does the MetaCPAN API provide a way to make case insensitivity

[2015-06-19 06:35] gokul1794 commented on #1562
` var snowContainer = document.querySelector('.zci-wrap');`
I changed the class to be called to .zci-wrap and added <br>
[code]
for testing purposes, not too sure why it isn't working :/

[2015-06-19 14:49] moollaza commented on #1936
@mrzod thanks for making this issue!

To clarify, are you saying that when you Ctrl+Click the Reddit tiles, it's not opening the site in a new tab?

If so, what browser and OS are you using? Right now that's working, as expected for me on Firefox 38 on OSX.

[2015-06-19 14:56] #1815 closed

[2015-06-19 15:00] #1931 closed

[2015-06-19 15:35] gokul1794 commented on #1562
@moollaza `document.querySelector('.zci.zci--snow.is-active)` returns null. This is where we want the snowflakes to be shown right?

[2015-06-19 16:15] mrzod commented on #1936
Thank for making this add on and also thank you for getting back to me.
Using Win 8 and Chrome doesn't seem to work for me. Odd.
On Jun 19, 2015 10:50 AM, "Zaahir Moolla" <notifications@github.com> wrote:

[2015-06-19 16:55] mrzod commented on #1936
It appears to work. I just tried it out today, please disregard / close my
ticket.

On Fri, Jun 19, 2015 at 12:15 PM, Jay Wong <jywong@tepper.cmu.edu> wrote:

--
LinkedIn: www.linkedin.com/in/heyjay
Email: jywong@tepper.cmu.edu

[2015-06-19 17:16] moollaza commented on #1928
Spoke to the team and the Media group is ready to be used. If you wouldn't mind switching this one to the Media template it would be great. Otherwise I can merge this for now and make a new task.

There's a few others that need to be switched over to use Media (or at least not use products_simple anymore)

[2015-06-19 17:19] #1865 closed

[2015-06-19 17:20] moollaza commented on #1881
Whoops just saw this. If there's no dependencies, we shouldn't show that row in the InfoBox. This has been addressed in #1922

[2015-06-19 17:20] moollaza commented on #1867
We'd love to see this one get converted!

[2015-06-19 17:49] gokul1794 commented on #1562
Ok i got this to work, Will make a PR soon :)

[2015-06-19 23:55] joe1chen commented on #1867
@moollaza We've switch to using the media template and can get the thumbnail and the description to show.  Any tips on getting the footer to look like the screenshot that you have (with the little icons)?

[2015-06-20 03:02] kbhat95 commented on #1930
If no one's working on this, I'll take it up.

[2015-06-20 03:04] MrChrisW commented on #1930
@kbhat95 Go for it! :+1: Feel free to ping me when you've created a PR.

[2015-06-20 03:22] kbhat95 commented on #1930
@MrChrisW what do I set the API key to?

[2015-06-20 03:28] MrChrisW commented on #1930
@kbhat95 DuckPan should failback to using the DuckDuckGo.com endpoint for the API if no API keys are found locally, so try just running it first.

If you have troubles with that you can *temporarily* change the `spice to =>` value to
`https://duckduckgo.com/js/spice/currency/$1/$2/$2`

[2015-06-20 03:30] kbhat95 commented on #1930
Okay, so it's using the DDG endpoint, but now I get this: ```500 Can't connect to ddh1.duckduckgo.com:443 (Connection refused)```.

[2015-06-20 03:40] MrChrisW commented on #1930
@kbhat95 Yes that's a known issue, I've just lodged a [issue](https://github.com/duckduckgo/p5-app-duckpan/issues/263) for that.

The current workaround is to modify [line 51 Currency.pm](https://github.com/duckduckgo/zeroclickinfo-spice/blob/master/lib/DDG/Spice/Currency.pm#L51)

[2015-06-20 03:41] kbhat95 commented on #1930
@MrChrisW okay, thanks.

[2015-06-20 03:42] MrChrisW commented on #1930
@kbhat95 Feel free to ping me if you have any further questions! Good luck :smile:

[2015-06-22 01:46] altern8tif commented on #1865
This still doesn't work for me... It seems like "movie" is still listed as one of the `killwords` – I suppose that's the problem?

![screen shot 2015-06-22 at 9 44 44 am](https://cloud.githubusercontent.com/assets/5793364/8274382/5d7fae3e-18c3-11e5-81dc-17b0b8c35eb9.png)

[2015-06-22 13:45] moollaza opened #1944 "SublimePackages: should strip "for" from query"
This IA is not yet, live, but will be soon!

During some final testing I noticed that the query "sublime text packages for json" triggers and returns decent results, but the API call we make sends "for json" as the search term, when it should really be "json".

Let's strip any potential filler words from the query.

------
IA Page: https://duck.co/ia/view/sublime_packages

[2015-06-22 16:11] gokul1794 commented on #1937
should this IA be triggered only with "alarm"?

[2015-06-22 16:19] moollaza commented on #1937
@gokul1794 nope. Take a look at the code and tests. There's a bunch of queries we want it to work for. this just isn't one of them ;)

[2015-06-22 17:16] moollaza opened #1946 "Stocks: Convert to use new moreAtText property"
We now have a "moreText" property which can be defined in `meta.option`. We should use is here so the template doesn't have to manually create the More at link anymore:

Example
[code]

------

Documentation will be live shortly. PR here: https://github.com/duckduckgo/duckduckgo-documentation/pull/269

[2015-06-22 20:57] #1936 closed

[2015-06-22 20:57] moollaza commented on #1936
@mrzod glad to hear it's working! Thanks again

[2015-06-22 22:57] MrChrisW commented on #1930
@kbhat95 Thanks for the quick turnaround on these changes. Looking forward to any further contributions, as always feel free to ping me or any of the other DDG community members should you have any questions :+1:

Fixed by @kbhat95 in #1942

[2015-06-22 22:57] #1930 closed

[2015-06-23 11:31] MrChrisW commented on #1944
@moollaza Any other words that need to be filtered? 7e1d2e7

[2015-06-23 14:38] moollaza opened #1950 "HackagePackages: Find new data source, re-implement IA with templates"
This IA was using a JSON file hosted on GitHub as it's source. The file has since been removed so I've taken the IA offline as it is now throwing a console error.

This IA should be revamped entirely. Let's use a more official data source that allows for actual package search so we don't have to dig through a large JSON file each time the IA triggers.

Once we have the API figured out, this IA sho

[2015-06-23 16:57] moollaza opened #1952 "BrainyQuote: Don't trigger on queries containing "stock quote""
In testing the Stock IA, I noticed that brainy quote triggers for any query that has "quote" and so it triggers on queries containing "stock quote" as well.

We should detect this in the `handle` function and bail early to prevent redundant API calls.

------
https://duck.co/ia/view/brainy_quote

[2015-06-23 17:46] moollaza commented on #1944
@MrChrisW none that I can think of right now. Actually, I see some queries come up through auto-complete that mention the version of sublime text. That might be a separate problem because I don't think we can specify that to the API?

[2015-06-23 23:48] MrChrisW commented on #1944
@moollaza It looks like we can specify the version using the search term :`st2` or `:st3` also operating system `:win` `:osx` `:linux`

I'll add this functionally :+1:

[2015-06-25 03:50] altern8tif commented on #1730
Still trying to figure out why `time in new york` doesn't trigger the IA, even in DuckPAN.

@moollaza Any updates on this?

[2015-06-25 16:14] gokul1794 commented on #1937
@moollaza `/^time($|[^r ][\S]+$)|five-/i` should do the trick right?

[2015-06-26 07:53] iambibhas commented on #1952
What if someone is looking for stock related quotes? There are plenty of them http://www.brainyquote.com/search_results.html?q=stock

[2015-06-26 08:22] altern8tif commented on #1952
In my opinion, we could leave both Stocks and Quotes IAs as possible answers.

Maybe we could give a higher priority if the query remainder matches a particular stock ticker? Otherwise it returns the Quotes IA as higher priority.

Then at least the user can select which IA he is interested in if the IA returned is not what he is looking for.

I hope this makes sense.

[2015-06-26 13:14] moollaza commented on #1952
I really don't think anyone would use the term "stock quotes" when searching for "quotes about stocks"

We could be a little more granular when checking the query, but pretty much anything that matches `/\w+ stock quotes?/` is almost surely a check for a company's stock price.

@altern8tif the only problem with that is we'd need a list of all stock symbols in the Perl, which is possible but IMO ov

[2015-06-26 22:30] moollaza opened #1958 "FedoraProjectPackge: Switch subtitle, to altSubtitle, fix footer spacing"
Currently the IA uses the `subTitle` property, which forces space between the title and subtitle. Let's switch this one over to use an `altSubtitle` which will force it to stick to the bottom of the title.

Also, it looks like the footer needs some breathing room, as the snippet is nearly touching it:
![fedora_package_gcc_at_duckduckgo](https://cloud.githubusercontent.com/assets/873785/8388531/430

[2015-06-27 06:18] altern8tif commented on #1950
@moollaza I'm not too familiar with Haskell but [this](https://hackage.haskell.org/api) looks like the official API from Hackage/Haskell.  Reckon we can use it?

[2015-06-27 14:39] cskksc commented on #1950
[Hayoo](http://hayoo.fh-wedel.de/) looks better. It supports json responses whereas hackage responses mostly are html.

[2015-06-28 01:36] altern8tif commented on #1834
@moollaza I'm not able to replicate the triggering issue for me.  The IA still displays upfront using the query you mentioned.  Does this still need to be worked on?

[2015-06-28 13:10] altern8tif opened #1962 "Drinks – API not working"
[drinkproject.com](http://www.drinkproject.com/) seems to be down.  I suppose we should take this Spice offline.

Anyone has suggestions for a new API for drinks?

[2015-06-28 17:48] cskksc commented on #1950
I've created a IA which uses the [Hoogle](https://www.haskell.org/hoogle/) as its data source. It is running on [codeio](http://twist-joker.codio.io:5000/). A couple of things are still to be done, like writing tests, improving sort order by correct version comparisions etc. This is my first contribution to any IA so please let me know if I'm on the correct path. Here's a [diff](https://github.com

[2015-06-28 22:25] whmountains opened #1967 "Airlines: flight tracker simultaneously displays flight status as "landed" for all phases of a multi-stop flight."
The flight tracker instant answer doesn't calculate the flight status separately for each phase of a multi-stop flight.  For example, when I look up United 6486 (a two-segment flight) it shows that both segments are "landed".  That just doesn't make sense.    A flight can't be landed at two airports at once.

![ua6486_at_duckduckgo](https://cloud.githubusercontent.com/assets/8680147/8398567/878d5d

[2015-06-29 05:09] iambibhas commented on #1967
It didn't land at both airport at the same time. It landed on the first airport at 6:06PM and on the second airport on 7:50PM.

[2015-06-29 10:28] iambibhas opened #1969 "Pokedex - need better "more at" url"
Right now the "more at pokeapi.co" links pokeapi.co, without any permanent url for the specific pokemon. That page just shows how to call the api. It's kind of useless. We could probably link it to bulbapedia.

Also, the name of the pokemon being searched is linked to that search page itself. E.g. searching for Machop hyperlinks the name Machop to https://duckduckgo.com/?q=pokemon+machop&t=canonic

[2015-06-29 16:45] #1544 closed

[2015-06-29 17:02] ghost opened #1970 "Refactor In Theaters IA to make it easier to add/edit aliases"
As discussed in #1968, it would be nice to have an easier way to handle aliases in the In Theaters IA, instead of listing all possible combinations

------

IA Page: https://duck.co/ia/view/in_theaters

[2015-06-29 18:59] mariano-simone-zocdoc commented on #1535
@moollaza @iambibhas the [UPC](https://github.com/duckduckgo/zeroclickinfo-spice/tree/upc) branch seems pretty poor to me. The upcdatabase.org API doesn't return images, does not have price info for most products.

I like the idea of a UPC IA, but it might be better to ditch that implementation and find a better API altogether

[2015-06-29 19:38] #1958 closed

[2015-06-29 19:51] moollaza commented on #1969
@iambibhas I agree on a better "More at" link. We should use the new `moreText` property to give credit to the data source as well, like we do for the Stocks IA: https://duckduckgo.com/?q=appl+stock&ia=stock

[2015-06-29 20:26] chrismorast opened #1973 "Airlines:"
AA 102 doesn't trigger flights IA (yet that's the test query on the IA page)

cc @moollaza @jagtalon
------
IA Page:  http://duck.co/ia/view/airlines

[2015-06-29 20:28] chrismorast opened #1974 "AA 102 not triggering IA"
AA 102 doesn't trigger flights IA (yet that's the test query on the IA page)

http://duck.co/ia/view/airlines

[2015-06-29 20:59] #1973 closed

[2015-06-29 23:59] MrChrisW commented on #1974
@chrismorast I think we can blame @tommytommytommy for this one :stuck_out_tongue_winking_eye: he disabled triggers in #1843 in favor of internal triggers.

It looks like the reason [`AA 10`](
https://duckduckgo.com/?q=AA+102&ia=airlines) does not trigger is there's no flight tracking site contained in the SERP, where as with the query [`AA102`](
https://duckduckgo.com/?q=AA102&ia=airlines) there

[2015-06-30 00:02] tommytommytommy commented on #1974
Yeah! That's right. And sad. :-(

@MrChrisW Any thoughts on writing a keyword-based trigger for airlines using the airline codes for the Flights::Route Spice? We turned it off because of overtriggering, but at that point I THINK we were doing a reg-ex based trigger...

[2015-06-30 02:02] marianosimone commented on #1585
I made a small change in #1975 that takes care of this.

However, there's an alternative for this solution, that would involve merging [EventsByArtist](https://github.com/duckduckgo/zeroclickinfo-spice/blob/master/lib/DDG/Spice/SeatGeek/EventsByArtist.pm) with [Sports](https://github.com/duckduckgo/zeroclickinfo-spice/blob/master/lib/DDG/Spice/SeatGeek/Sports.pm), and deciding if the `taxonomies.n

[2015-06-30 03:00] MrChrisW commented on #1974
Hey @tommytommytommy ! It looks like Airlines was using a regex trigger with the airlines codes as a sort of trigger guard.

Do you have any example triggers (queries) that were over triggering this IA?

[2015-06-30 04:03] tommytommytommy commented on #1974
I don't have examples for this, but if I remember correctly, we were using a regex trigger, guarding against names on the periodic table, and making an upstream request with everything else.

[2015-06-30 05:30] gokul1794 commented on #1969
We can use the official link http://www.pokemon.com/us/pokedex/
Is anyone working on it yet?

[2015-06-30 05:36] MrChrisW commented on #1969
@gokul1794 No one has taken this up yet.

Looks like we could easily do
`sourceUrl: 'http://www.pokemon.com/us/pokedex/<pokemon name>'`

However we'd need to check if this is allowed? @moollaza

[2015-06-30 05:55] strugee opened #1976 "Time: No results returned for query "hawaii time""
E.g. if I search "london time" it should return the same results as "time in london".

____
https://duck.co/ia/view/time

[2015-06-30 06:19] gokul1794 commented on #1976
Hey @strugee, this seems to work for me ![londontime](https://cloud.githubusercontent.com/assets/6311809/8424908/f8cd208c-1f1d-11e5-8a1d-d9d5c1defff5.png)

[2015-06-30 06:24] iambibhas commented on #1969
Bulbapedia has more data than the official pokemon site and less resource hungry, it's also the go-to website for any kind of info on pokemons. We could probably mention both. I think if it's helping the user who's searching, it should be allowed.

[2015-06-30 06:29] iambibhas commented on #1535
@mariano-simone-zocdoc I agree that it's really poor. I tried finding a better source, but couldn't find anything. Might need a vote to decide what to do with it.

[2015-06-30 06:43] altern8tif commented on #1535
@mariano-simone-zocdoc @iambibhas Found [this](https://www.digit-eyes.com/cgi-bin/digiteyes/apiDemo.cgi) from Digit-Eyes.  It has thumbnails and a link to the product page.  Unfortunately it's not free.

Not sure what DDG's policy on APIs which require paid access though.  Couldn't find it in the documentation.

[2015-06-30 06:55] gokul1794 commented on #1660
:+1: for volume control

[2015-07-01 12:32] #1461 closed

[2015-07-02 00:00] strugee commented on #1976
I'm sorry, that's my fault. I made up "london" without testing first, and I got the details wrong. The actual bug is that a search for "hawaii time" should bring up some useful result, since Hawaii is entirely in one time zone.

(I assumed that that wasn't the problem, based on [this comment][1], but clearly I was wrong.)

 [1]: https://github.com/duckduckgo/zeroclickinfo-spice/blob/a16fcae8a3a57d

[2015-07-02 00:32] whmountains commented on #1967
In that case shouldn’t it have said “departed”, or something else
like that for the first airport?

On 28 Jun 2015, at 22:09, Bibhas wrote:

[2015-07-02 17:21] iambibhas commented on #1967
@whmountains both are different routes, they are just connecting flights. For people who travelled CPR to DEN, the first one was the entire journey. For people travelling from DEN to GJT, second one was the entire journey.
(I'm talking from my knowledge of airlines in India. Connecting flights are just 2 different journeys. It's a connecting flight for people travelling from CPR to GJT. But people

[2015-07-02 18:03] whmountains commented on #1967
That makes sense.  In other words, the `departed`/`landed` status
message applies to a flight, not to the location of the plane relative
to the airport.  A plane could make hundreds of flights and they would
all be landed even though the plane was not at any of those airports.

On 2 Jul 2015, at 10:21, Bibhas wrote:

[2015-07-02 18:03] #1967 closed

[2015-07-02 21:17] moollaza commented on #1927
An interim fix for this would be to make a 2nd API call to Time&Date for the given country in order to get the Lat/Lon of it. Using that, we can determine the hemisphere and choose the right date.

[2015-07-03 00:34] mayo commented on #1927
@moollaza I've been pondering about this, but didn't have a chance to dig in. I think the DDG location API already gives lon/lat, so it shouldn't need a second request. We already use that to get the country name if none is specified.

I'll try to get a patch tonight.

[2015-07-03 05:13] mayo commented on #1927
Pull request https://github.com/duckduckgo/zeroclickinfo-spice/pull/1989

[2015-07-03 06:45] jagtalon commented on #1856
@russellholt could you give more context on this? Why is it not a good to have z-index set?

[2015-07-03 06:52] jagtalon commented on #1857
Fixed in https://github.com/duckduckgo/zeroclickinfo-spice/pull/1951

[2015-07-03 06:52] #1857 closed

[2015-07-03 11:52] altern8tif opened #1990 "Gifs: Still Images instead of Gifs"
IA shows still images rather than gifs.  Is that a bug or does the Giphy API not allow (moving) gifs to be shown?

------
IA Page:  http://duck.co/ia/view/gifs

[2015-07-03 17:48] gokul1794 opened #1992 "Whois does not trigger for zomato.com"
Not sure why it isn't working for this, however it works on the whois site. Also why is it that sometimes preference is given to images over the IA?
![whoisnotworking](https://cloud.githubusercontent.com/assets/6311809/8503166/6ed05cf6-21d8-11e5-89ce-d2fe6b42c6c6.png)

________
https://duck.co/ia/view/whois

[2015-07-03 17:58] #1562 closed

[2015-07-03 18:11] gokul1794 commented on #1794
@moollaza this can be closed?

[2015-07-03 18:21] gokul1794 commented on #1640
@moollaza This can be closed too

[2015-07-03 20:07] moollaza commented on #1794
@gokul1794 looks like there's still some lurking:

- https://github.com/duckduckgo/zeroclickinfo-spice/blob/ed05efa4152f627dd3e54821bca2eb563d105192/share/spice/transit/path/transit_path.js#L14
- https://github.com/duckduckgo/zeroclickinfo-spice/blob/ed05efa4152f627dd3e54821bca2eb563d105192/share/spice/transit/switzerland/transit_switzerland.js#L17
- https://github.com/duckduckgo/zeroclickinfo-spi

[2015-07-03 22:04] alohaas commented on #1896
Hey @moollaza, I'd like to work on Forecast.
I noticed that it isn't using moment.js to generate dates as suggested in issue #1554, but Forecast isn't one of the IAs listed in that issue's checklist.
Would moment.js integration be helpful for the Forecast IA?

[2015-07-04 00:57] jagtalon commented on #1990
@altern8tif we went with showing still images instead of gifs because gifs are MASSIVE! They can eat up a lot of bandwidth and slow down your experience on DDG. I'd like it to move as well, but no immediate solutions in sight.

Best compromise is to probably load the gif when we hover like in Giphy. CC @bsstoner @sdougbrown just so that this is in your radar. Do you have any other comments on this

[2015-07-04 04:39] gokul1794 commented on #1794
Cool, will do this!

[2015-07-04 04:41] gokul1794 commented on #836
@moollaza This has been open for a long time, i'll take it up!

[2015-07-04 11:02] altern8tif commented on #1990
@jagtalon Yea I thought it might have been a performance-related issue.

I wouldn't mind working on this IA to add the *load gif on hover* functionality though.  Should I go ahead?

[2015-07-04 15:47] altern8tif commented on #1556
@jagtalon @moollaza This looks like it's fixed.  Time to close issue?

[2015-07-05 05:50] kbhat95 commented on #1992
@gokul1794 works for me.

[2015-07-05 06:34] gokul1794 commented on #1992
Funny, it works for me now. However this doesn't now, any idea why something like this happens?
![xxx](https://cloud.githubusercontent.com/assets/6311809/8510578/faecb014-230d-11e5-90b5-5705c48de0b8.png)

[2015-07-05 07:33] abhijainn27 opened #1997 "IA for INDIA is showing an music album name"
The IA for India shows an answer for an album named INDIA instead f the country INDIA which is on the top of the wikipedia search.

[2015-07-05 07:56] MariagraziaAlastra commented on #1997
Hey @abhijainn27, thanks for spotting that! However, could you open an issue in the [zeroclickinfo-longtail repo](https://github.com/duckduckgo/zeroclickinfo-longtail/issues) instead?
The Wikipedia IA you're talking about is, in fact, not a Spice, but a Longtail. Thanks!

[2015-07-05 08:57] abhijainn27 commented on #1997
Oh ok. Thanks! for the information @MariagraziaAlastra . I have opened an issue there.

[2015-07-05 08:59] MariagraziaAlastra commented on #1997
No problem @abhijainn27! Thank you, closing this :)

[2015-07-05 08:59] #1997 closed

[2015-07-05 09:45] altern8tif commented on #1615
@MrChrisW the original search query doesn't seem to trigger the IA for me.  Tried a less specific search and the IA was returned, but the CSS seems to be fine.

Is this still an issue?  Which browser are you using?

![screen shot 2015-07-05 at 5 43 39 pm](https://cloud.githubusercontent.com/assets/5793364/8511158/6bc99d86-233d-11e5-918a-ec33e4495b9d.png)

[2015-07-05 10:31] MrChrisW commented on #1615
@altern8tif Thanks for bumping this, #1550 probably fixed the returning of a result for the [initial query](https://duckduckgo.com/?q=pill+metaxalone+800+MG+Oral+Tablet+%5BSkelaxin%5D+&ia=rxinfo)

However it still looks like there's some issues with the CSS for a single result, it's loading the image but not displaying it.

![selection_010](https://cloud.githubusercontent.com/assets/5282264/851135

[2015-07-05 10:57] altern8tif commented on #1615
@MrChrisW It's the `position: absolute` property that's causing the image to disappear.  Trying to figure out whether it's the IA code or the template code that needs changing...

![screen shot 2015-07-05 at 6 49 59 pm](https://cloud.githubusercontent.com/assets/5793364/8511407/0b403e5c-2347-11e5-885d-4ecee848127b.png)

[2015-07-05 10:59] MrChrisW commented on #1615
@altern8tif Looks like an internal template change to me.

[2015-07-05 11:30] altern8tif commented on #1873
@jagtalon @abeyang @moollaza so the decision is to stick with relative dates?

[2015-07-06 12:54] MrChrisW commented on #1992
@kbhat95 @gokul1794 Looks like the [query](https://duckduckgo.com/?q=whois+zomato.com&ia=whois)

@gokul1794 Thanks for reporting this

I've investigated a little.

This works fine on DuckPAN, the IA triggers for the query [`whois zomato.xxx`](https://gist.githubusercontent.com/MrChrisW/5579db2f3f269ade3f24/raw/a6aef2ad9212105c3962ccde3a87b36ae11470d2/gistfile1.sh) and returns a result. The API is

[2015-07-06 13:31] MrChrisW commented on #1976
@strugee Thanks for reporting this.
Can confirm, with the queries for the time IA:
+ [hawaii time](https://duckduckgo.com/?q=hawaii+time) - result returned
+ [time hawaii](https://duckduckgo.com/?q=time+hawaii)-  no result

It looks like the IA is triggering correctly for both queries, however the **country to capital city translation** is causing problems.

Example the query **time hawaii** sends

[2015-07-06 17:11] moollaza commented on #1896
Hey @alohaas, you're welcome to work on the Forecast IA, but I'm worried that the work might not be worth the gain in this case. It's one of the more complex & unique IA's given the way it works so I think I had left it out.

I belive in order to get things working, you'll need to reorganize the code so that the `Spice.add()` is wrapped in a `DDG.require()` call, so you can have access to Moment.j

[2015-07-06 18:49] whmountains opened #2000 "Airlines: flight tracker not showing all flights happening today"
Expected behavior: show all four "UA1567" flights happening today:
* DEN -> GEG (left yesterday but arrived today)
* IAH -> LAX
* LAX -> DEN
* DEN -> GEG

Actual Behavior: flight tracker only shows first two flights:
* DEN -> GEG
* IAH -> LAX

Interestingly enough, both Flightstats themselves and also Google show the last three flights but miss the first one.  They probably query the flight databa

[2015-07-06 19:07] #1794 closed

[2015-07-06 19:24] whmountains commented on #1879
I'm not sure if it would work in all cases to search for flights departing today and only fall back to flights arriving today if no flights are found.  Many flights are sometimes grouped under the same flight number and this would create an edge case one of those flights is a flight that left on the previous day but arrived on the current day.

I just ran into a flight that would have triggered th

[2015-07-06 19:51] #1769 closed

[2015-07-06 19:59] gokul1794 commented on #1992
@MrChrisW Ahh, I see. Do you know why the images are given preference over the IA sometimes?

[2015-07-06 20:39] #1179 closed

[2015-07-06 21:17] alohaas commented on #1896
Ah, yeah, maybe not the best use of time. Thanks for the help.
In that case, I'd like to implement the new API for Forecast.io and use the time I would have spent on adding Moment.js to Forecast to focus on updating the IAs still using the old API.
In that case, I'd like to implement the new API for Forecast.io and use the time I would have spent on adding Moment.js to Forecast to focus on updatin

[2015-07-06 21:36] moollaza opened #2001 "SoundCloud: Set high signal"
This one isn't showing in cases where it should. Let's set `signal: 'high'` to give it priority.

------
IA Page:  http://duck.co/ia/view/sound_cloud

[2015-07-07 03:01] strugee commented on #1976
I can't reproduce this. All I see is the Wikipedia article on the timezone.

[2015-07-07 03:44] MrChrisW commented on #1976
@strugee Sorry but them the wrong way around! `hawaii time` does not return a result.

[2015-07-07 04:36] sagarhani opened #2004 "Developer's name is missing"
Developer's name for the IA [Playing Cards](https://duckduckgo.com/?q=deal+5+cards&ia=answer) :black_joker:  is missing. It should have been @kbhat95's name.

-----
IA Page: https://duck.co/ia/view/playing_cards

[2015-07-07 09:44] altern8tif opened #2005 "Whois: Omits digits from domain name"
Noticed that searches for domain names with digits in them always omit the digits in their query to the api endpoint.

Also, the `whois refinery29.com` query returns the Images IA over the Whois IA.  How does the DDG backend determine which IA takes priority?

![screen shot 2015-07-07 at 5 42 29 pm](https://cloud.githubusercontent.com/assets/5793364/8543482/920ff0a6-24cf-11e5-9170-6ae847b268cc.png

[2015-07-07 10:03] gokul1794 opened #2006 ""apps like branch.io" should not trigger the weather IA"
This should definitely not trigger the forecast IA
![wrongtrigger](https://cloud.githubusercontent.com/assets/6311809/8543731/a32bfe92-24bc-11e5-947c-5ab08d93a2fe.png)

[2015-07-07 10:12] altern8tif commented on #2006
@gokul1794 Looks fine to me. Although IMO a search like this should trigger the [Quixey IA](https://duck.co/ia/view/apps).

![screen shot 2015-07-07 at 6 09 13 pm](https://cloud.githubusercontent.com/assets/5793364/8543915/517d4c60-24d3-11e5-8cb4-192f24fd3be7.png)

[2015-07-07 10:34] gokul1794 commented on #2006
@altern8tif Yes, this does not happen to me on Incognito(Chrome) but not the normal one. How weird o.O

[2015-07-07 10:38] altern8tif commented on #2006
@gokul1794 Chrome extensions (by default) don't run in incognito mode.  So if you see the bug in normal mode but not incognito mode, it probably means that one of your extensions is causing the problem.

Might be worth trying on Firefox/Safari/IE to see if it's a browser issue as well...

[2015-07-07 10:46] gokul1794 commented on #2006
@altern8tif Ahh doesn't happen so on firefox, might be a browser issue! I probably should have tried it on all before opening an issue..

[2015-07-07 15:01] moollaza commented on #2005
There's a few different signals, we have backend priority/ordering, frontend priority, (e.g. `signal: 'high'`) and also based on who returns faster (so Spice's are at a slight disadvantage as we need to wait for API responses + JS execution)

[2015-07-07 15:02] #2005 closed

[2015-07-07 16:36] abeyang commented on #1873
Yes, let's use relative time (1min ago, etc).

[2015-07-07 17:31] #2001 closed

[2015-07-07 17:38] #1969 closed

[2015-07-07 21:46] moollaza commented on #2006
@gokul1794 thanks for reporting, do you have a region setting set?

Quixey is actually down right now (they had API problems), but it's slated to come back online soon, so I expect it will trigger for this query.

That's very odd. This IA in this case should be triggering based on the organic links -- can you send me a pic that includes the fist few?

[2015-07-07 21:47] moollaza commented on #2006
Looks like Quixey is back already :)

![apps_like_branch_io_at_duckduckgo](https://cloud.githubusercontent.com/assets/873785/8558140/43fce990-24d0-11e5-9755-6aa104d79de0.png)

https://duckduckgo.com/?q=apps+like+branch.io&ia=apps

[2015-07-07 21:51] moollaza commented on #2006
With my region set to India i'm seeing the weather tab, but Quixey is taking precedence as it should.  I'll let the team know

[2015-07-07 21:51] #2006 closed

[2015-07-08 00:37] moollaza commented on #2004
@jdorweiler the correct metadata exists on the IA page, but it was added after this IA went live (by me, once the dev noticed). I assume after another release of the metadata, this will fix itself?

[2015-07-08 00:45] jdorweiler commented on #2004
@moollaza that's right.

[2015-07-08 10:53] gokul1794 commented on #1867
@moollaza this can be closed?

[2015-07-08 19:31] chrismorast opened #2016 "IsItUp: Text displays poorly in Dark theme"
Text displays pool in dark theme.
Vertical divider in footer displays poorly as well.

![screen shot 2015-07-08 at 11 26 41 am](https://cloud.githubusercontent.com/assets/7061920/8580062/40df5822-256d-11e5-8779-641252beeee7.png)

cc @moollaza @jagtalon

------
IA Page:  http://duck.co/ia/view/is_it_up

[2015-07-08 20:29] moollaza opened #2017 "Expatistan: API not returning results"
Seems the API is not returning results for cities?

https://duckduckgo.com/?q=cost+of+living+philadelphia
Countries seem to work fine though: https://duckduckgo.com/?q=cost+of+living+Canada

@pardocz are you still mainting the API? Are you free to help with this?

------
IA Page:  http://duck.co/ia/view/expatistan

[2015-07-08 21:18] pardocz commented on #2017
The API is up and returning results for most cities too:

https://duckduckgo.com/?q=cost+of+living+madrid&ia=answer

Some cities (mostly American ones) were in fact broken, but I just fixed the bug and deployed it in production. All queries should be working now.

The post-processing seems to be broken again, though (see https://github.com/duckduckgo/zeroclickinfo-spice/pull/1273). But that's a di

[2015-07-10 00:16] #1896 closed

[2015-07-10 16:14] chrismorast opened #2023 "Similar Websites: 'Similar Site' to... (singular) doesn't trigger the IA"
Can we add 'similar site' as a trigger?

cc @moollaza
------
IA Page:  http://duck.co/ia/view/similar_sites

[2015-07-10 16:18] chrismorast opened #2024 "Similar Websites: 'Similar Site' to... (singular) doesn't trigger the IA"
Can we add 'similar site' as a trigger?

------
IA Page:  http://duck.co/ia/view/similar_sites

[2015-07-10 16:21] chrismorast opened #2025 "Similar Websites: Change line height to 1.2"
I'm still seeing content getting clipped (see Bebo in the list) - can we override the template line height and adjust it to 1.2 (for this IA only)? That value fixes the issue.

![screen shot 2015-07-10 at 9 19 17 am](https://cloud.githubusercontent.com/assets/7061920/8623206/003d6b46-26e5-11e5-90f4-2094138c2d1b.png)

------
IA Page:  http://duck.co/ia/view/similar_sites

[2015-07-10 20:19] #1928 closed

[2015-07-10 20:31] moollaza commented on #2023
Closing as duplicate of #2024

[2015-07-10 20:31] #2023 closed

[2015-07-10 20:33] moollaza commented on #2017
@pardocz thanks a lot for the quick response and fix!

Can you give an example of what you're seeing broken? It seems fine to me? https://duckduckgo.com/?q=cost+of+living+philadelphia+vs+madrid&ia=answer

[2015-07-10 20:33] #2017 closed

[2015-07-10 20:39] moollaza commented on #2016
Looks like the template needs to specify the text colours using the new `tx-clr--{color}` CSS classes, rather than specifying any colors in the CSS.

The available classes can be found here: https://duckduckgo.com/styleguide#txt-n-color

This is now fixed. We have a new credits link, which is positioned in the top-right corner.

[2015-07-10 20:39] moollaza commented on #2004
Fixed :+1:

[2015-07-10 20:39] #2004 closed

[2015-07-10 20:42] moollaza commented on #2000
@whmountains thanks for reporting this! It's very helpful :+1:

@tommytommytommy I thinking we'll should increase the window when checking for flights?

[2015-07-10 20:51] moollaza commented on #1992
@MrChrisW @gokul1794 thanks for reporting! This is definitely a bug. We should still be triggering IA's even when adult terms are detected but it looks like right now we're not.

I've made a task for the team to investigate.

@gokul1794 this mostly depends on the speed of the IA and if we have a signal that images might relevant to show. If the Spice is taking too long, we'll show Images, and then

[2015-07-10 21:10] moollaza commented on #1990
@altern8tif I think that should be possible. If you wouldn't mind developing it as an experiment I'm sure the frontent team would appreciate playing around with it to see how it work and if it's something we should integrate at a deeper level

[2015-07-10 21:12] moollaza commented on #1962
@altern8tif sorry I hadn't seen this. I made a similar issue and pinged the maintainer. The API is back online :+1:

[2015-07-10 21:12] #1962 closed

[2015-07-11 05:34] tommytommytommy commented on #2000
Thanks for the heads up, @whmountains and @moollaza. Right now, we show flights based on arrival times for a window 6 hours in the past and 18 hours ahead. Judging by the times shown above, we should've been able to get all the flights because they all fall within 12 hours of each other. But, we don't explicitly state that we want 24 hours worth of data, so perhaps FlightStats is returning less to

[2015-07-13 10:26] pardocz commented on #2017
@moollaza No problem!

The comparisons display fine. It's the single city queries that display a silly answer: https://duckduckgo.com/?q=cost+of+living+philadelphia&ia=answer

[2015-07-13 14:13] moollaza commented on #2024
I think we should also allow "alternative(s) to" as a trigger:

E.g. [alternatives to craigslist.com](https://duckduckgo.com/?q=alternatives+to+craigslist.com)

[2015-07-13 16:48] zekiel opened #2031 "ProductHunt broken"
Clicking on any tile in the product hunt IA executes a nonsensical search

[2015-07-13 17:01] moollaza commented on #2031
The API has changed and no longer includes the domain in the `url` property (causing the link to act relative to DuckDuckGo)

[2015-07-13 19:52] #1848 closed

[2015-07-13 19:59] gokul1794 commented on #2024
@moollaza should i add "alternative(s) to"?

[2015-07-13 20:11] #2024 closed

[2015-07-13 20:17] #2016 closed

[2015-07-13 22:15] moollaza commented on #2031
Fixed in #2032

[2015-07-13 22:15] #2031 closed

[2015-07-14 00:33] moollaza commented on #2024
@gokul1794 sure!

[2015-07-14 00:35] moollaza commented on #2017
@pardocz I believe that design is intended, but we should probably show in the subtitle what the baseline is for the index!)

[2015-07-14 07:17] pardocz commented on #2017
Yes, showing the baseline would be great to give some context.

The API already includes a baseline text:

"Philadelphia has a cost of living index of 204 in Expatistan's scale (100 = Prague, Czech Republic)"

Maybe this can be used for the answer? Or adapted? Or if you suggest a new text, I will be happy to change it in the API.

[2015-07-14 14:08] russellholt commented on #1585
'tour' and 'tour dates' would improve this, also.

[2015-07-14 15:39] tommytommytommy commented on #2000
I took a look at this, and I think there are two complicating factors...the first is it seems that the FlightStats API only returns results for one day (not a 24 hour rolling window starting from the time that we specify--specifying the time and a window only allows you to choose a subset of the current day's results), and the second is that the UTC day and the local time day may be different.

I

[2015-07-14 18:11] whmountains commented on #2000
If FlightStats doesn’t have the right api, then [FlightAware’s
API](http://flightaware.com/commercial/flightxml/) might be an option.
I haven’t looked at it myself to see if it has what is needed,
however.

On 14 Jul 2015, at 8:39, Tommy Leung wrote:

[2015-07-15 12:45] tagawa opened #2036 "Snow: "More info" links not clickable when snowing, source needs to be updated"
Steps to reproduce:
1. Go to https://duckduckgo.com/?q=is+it+snowing+in+ushuaia&ia=answer (or somewhere else where it's likely to be snowing now)
2. Try to click on the information icon or "More at ..." link.

What should happen:
The links should be clickable

What actually happens:
The animated snow layer is on top of the content box, making it not possible to interact with it.

------
IA Page:

[2015-07-15 13:19] bsstoner opened #2037 "Rhymes spice down/throwing console error"
https://duckduckgo.com/?q=rhymes+with+duck
<img width="1035" alt="screen shot 2015-07-15 at 9 12 05 am" src="https://cloud.githubusercontent.com/assets/126358/8699289/82e50630-2ad2-11e5-99b2-884ec3f9850b.png">

[2015-07-15 14:52] moollaza commented on #2036
@tagawa thanks for reporting! We've set the IA to be taken down for now.

[2015-07-15 21:28] #836 closed

[2015-07-15 23:24] moollaza commented on #2037
Fixed in #2038

[2015-07-15 23:24] #2037 closed

[2015-07-16 10:16] gokul1794 commented on #1765
@moollaza This can be closed!

[2015-07-16 10:16] gokul1794 commented on #1768
@moollaza Looks like this can be closed too!

[2015-07-16 15:35] #1768 closed

[2015-07-16 15:35] moollaza commented on #1768
@gokul1794 thanks!

[2015-07-16 15:36] #1765 closed

[2015-07-16 15:36] moollaza commented on #1765
@gokul1794 thanks!

[2015-07-16 16:08] altern8tif commented on #2025
@moollaza Should be good to close this issue.

[2015-07-16 16:14] moollaza commented on #2025
@altern8tif yup, thanks :+1:

[2015-07-16 16:14] #2025 closed

[2015-07-16 17:02] gokul1794 commented on #1867
@moollaza This is good to close too!

[2015-07-16 17:07] gokul1794 commented on #1834
@moollaza Same as @altern8tif , looks good to me!

[2015-07-16 17:28] moollaza commented on #1834
I believe so, one of our team members had raised the issue and wasn't getting the Currency IA when he expected it.

[2015-07-16 17:28] #1867 closed

[2015-07-16 17:28] moollaza commented on #1867
@gokul1794 thanks!

[2015-07-16 17:52] moollaza commented on #1585
@marianosimone I believe we attempted to have a unified Instant Answer that looked through the taxonomies but we didn't end up going down that route.

@jagtalon do you remember why?

[2015-07-16 20:05] gokul1794 commented on #1573
@moollaza, No one doing this?

[2015-07-16 21:32] chrismorast opened #2041 "Air Quality Index: Better vertical centering for color label"
Can we update the CSS to improve the vertical centering of the colored labels.

On .category__badge

Add the following
top: 1px;
position: relative;

Let me know if this would create any issues in the rest of the CSS.

![screen shot 2015-07-16 at 2 29 57 pm](https://cloud.githubusercontent.com/assets/7061920/8735677/8326dbf0-2bc7-11e5-9eaa-ca0e309554bc.png)

------
IA Page:  http://duck.co/ia/view

[2015-07-16 21:34] chrismorast opened #2042 "Air Quality Index: Wrong location / zip code match"
The zip code '96161' is Truckee, CA but it's being shown as Tahoe City (which is 96146)
![screen shot 2015-07-16 at 2 34 05 pm](https://cloud.githubusercontent.com/assets/7061920/8735702/bbfc72a0-2bc7-11e5-8684-d89078bac472.png)

[2015-07-16 22:58] #1834 closed

[2015-07-16 23:41] chrismorast opened #2043 "Air Quality Index: Wrong location / zip code match"
aqi 96161 is showing Tahoe City as the location (which is 96146)

Truckee is 96161.

![screen shot 2015-07-16 at 2 34 05 pm](https://cloud.githubusercontent.com/assets/7061920/8737679/badfeed0-2bd9-11e5-8a95-70b52361833a.png)

IA Page:  http://duck.co/ia/view/aqi

[2015-07-17 00:29] moollaza commented on #1573
Nope!

[2015-07-17 06:22] waghso opened #2045 "Currency: The default currency should depend on the person's region"
Hi,

I'm from India where Indian rupee(INR) is currency. When I search for $123 result shows 112.87 EUR.
This is unacceptable. I'm in India and and I only care about INR currency. This may be same for other users as well. Can you convert currency to according to Nation of user???

![image](https://cloud.githubusercontent.com/assets/6398904/8741686/48d99808-2c7a-11e5-93e3-a1ec617124b0.png)

------

[2015-07-17 11:30] #1952 closed

[2015-07-17 11:47] jagtalon commented on #1944
Fixed in #1953

[2015-07-17 11:47] #1944 closed

[2015-07-17 12:16] jagtalon commented on #1946
Fixed by #1949

[2015-07-17 12:16] #1946 closed

[2015-07-17 12:35] gokul1794 commented on #2045
I think this IA should check if the user has given a region and convert to that or not trigger at all on a query like this if he hasn't!

[2015-07-17 12:36] gokul1794 commented on #2045
I think this IA should check if the user has given a region and convert to that or not trigger at all on a query like this if he hasn't!

[2015-07-17 12:38] gokul1794 commented on #2043
This can be closed as it's a duplicate of #2042.

[2015-07-17 14:12] jagtalon commented on #1990
@altern8tif Give it a shot!

[2015-07-17 20:19] jagtalon commented on #1821
Can't reproduce anymore. Seems to be working.

[2015-07-17 20:19] #1821 closed

[2015-07-18 05:56] altern8tif commented on #2042
@chrismorast Can't really tell the real reason without looking at the JSON file but I suspect that the agency responsible doesn't have data specific to that zip code so it returns the general area instead.

Source: [Air Now API](http://airnowapi.org/faq#reportingAreaZipCodes)

Perhaps there is a way we can show the zip code queried, but indicate that the closest data is from so-and-so area.  Then

[2015-07-19 06:04] altern8tif commented on #1873
@abeyang the live Sublime Text IA doesn't seem to have the clock icon.  Is that an icon font?

<img width="778" alt="screen shot 2015-07-19 at 2 03 40 pm" src="https://cloud.githubusercontent.com/assets/5793364/8764749/ffd39cac-2e1e-11e5-9d77-cd182a4bdeb4.png">

[2015-07-19 21:58] moollaza opened #2046 "RandWord: reign in triggering; Check query doesn't have extra words"
Any query with "random word" in it seems to trigger this IA:

- https://duckduckgo.com/?q=random+word+list&ia=answer
- https://duckduckgo.com/?q=random+word+js+lib&ia=answer

These should definitely not be triggering the IA! Let's reign in the triggering and ensure that the query doesn't contain extra words.

------
IA Page:  http://duck.co/ia/view/rand_word

[2015-07-20 18:23] abeyang commented on #1873
@altern8tif The Sublime Package IA is being worked on concurrently as well. :smile:

But yes, it's an icon-font.. you can see it here (`.ddgsi-clock`):
https://duckduckgo.com/styleguide

[2015-07-20 22:48] #1881 closed

[2015-07-21 04:56] tommytommytommy commented on #1992
I've submitted a fix for this and it should be rolling out with the next release. Thanks for the catch! Will post an update after the release goes out.

[2015-07-21 06:38] AkA84 commented on #1969
@iambibhas sorry for not having been able to look at this!
@moollaza I noticed that I'm not credited on the IA info, how can I change that? Thanks!

[2015-07-21 07:56] MrChrisW commented on #1992
@tommytommytommy :+1:

[2015-07-21 14:32] gokul1794 commented on #1992
@tommytommytommy :+1:

[2015-07-21 14:42] gokul1794 commented on #1573
@moollaza Should I add a relevancy block too or just add movies to the txt?

[2015-07-22 11:43] #2000 closed

[2015-07-22 20:20] moollaza opened #2050 "Last.fm Artist: Add relevancy block to require description for results"
Currently the query "apple watch bands" triggers this IA and shows a pretty useless result as the "band" has no picture or description.

- https://duckduckgo.com/?q=apple+watch+bands&ia=music
- https://duckduckgo.com/?q=bands+of+the+80%27s&ia=music

We should add a relevancy block and use it to ensure any potential result has a description.

We may also need to set `/watch bands?/` as a negative t

[2015-07-23 02:31] moollaza commented on #1974
This looks to be fixed. "AA 102" and "flight aa102" both trigger for me. The example queries have also been updated.

[2015-07-23 02:31] #1974 closed

[2015-07-23 02:34] moollaza commented on #1976
As @MrChrisW pointed out the problem is due to the relevancy checking approach we've used. This will be fixed shortly as it's caused several problems for this IA.

[2015-07-23 02:38] #1577 closed

[2015-07-23 03:34] moollaza commented on #1615
@MrChrisW I believe this IA needs to be moved over to the Media group. I suspect that should fix these problems!

[2015-07-23 03:56] moollaza commented on #2017
@pardocz I don't think the API needs to be changed. I think the IA should be updated to mention the scale. We could probably use the new `moreText` property to mention the scale right beside the link to Expatisan

[2015-07-23 08:23] pardocz commented on #2017
OK, good. Let me know if I need to do anything on my side.

[2015-07-23 21:24] russellholt opened #2053 "PeopleInSpace: decrease or eliminate z-index"
setting the z-index so high conflicts with other answerbar elements.
set it low, like 2, or find a better way to line up the flags without using z-index.

------
http://duck.co/ia/view/people_in_space

[2015-07-24 01:08] cotto opened #2055 "Bible: HTML encoding in API response"
The instant answer for hosea 11:9 shows some mojobake:

I cannot carry out my fierce anger! I cannot totally destroy Ephraim! Because I am God, and not man &#8211; the Holy One among you &#8211; I will not come in wrath!

------
IA Page:  http://duck.co/ia/view/bible

[2015-07-24 06:51] tommytommytommy commented on #1992
![screen shot 2015-07-24 at 2 47 22 am](https://cloud.githubusercontent.com/assets/5326740/8869144/6f464048-31ae-11e5-99dc-3acf8a8525ac.png)

Hurray! @gokul1794 & @MrChrisW thanks for reporting the bug and the tremendous debugging help!

[2015-07-24 06:51] #1992 closed

[2015-07-24 06:53] tommytommytommy commented on #1992
One more for good measure, as this was the actual broken query:

![screen shot 2015-07-24 at 2 52 13 am](https://cloud.githubusercontent.com/assets/5326740/8869196/1589603e-31af-11e5-82cb-20fdd63b5c1d.png)

[2015-07-24 09:30] gokul1794 commented on #1992
@tommytommytommy Too good :ok_hand:

[2015-07-24 14:54] jagtalon commented on #2045
The https://duck.co/duckduckhack/language_and_location_apis API could help, and this actually might be the ideal behavior. Any comments on this @moollaza @chrismorast?

[2015-07-24 15:03] jagtalon commented on #2055
Thanks! We get those entities rendering properly.

[2015-07-24 15:25] jagtalon commented on #2045
Or we could use the region instead by using `DDG.settings.get("kad")`

[2015-07-24 16:20] jagtalon commented on #2053
![screen shot 2015-07-24 at 12 20 15 pm](https://cloud.githubusercontent.com/assets/81969/8879267/635483e4-31fe-11e5-9b1f-7f263b2ecad1.png)

[2015-07-24 16:57] cotto commented on #2055
Yeah.  That was github being helpful.  Here's a screenshot in Chrome 43.0.2357.134 on Windows.  I saw the same thing in Firefox nightly on Linux.
![untitled](https://cloud.githubusercontent.com/assets/57991/8880001/3b5d48ee-31ea-11e5-8f40-18a4d4f8ce41.png)

[2015-07-25 01:06] MrChrisW commented on #2045
@waghso Thanks for reporting this.

@jagtalon I'll jump on this issue. I think using the `$loc` var from the location API will be easiest solution.

However using JS to grab the set location may be more accurate. Quick question: does this use the same data to determine user location as the location API?

[2015-07-27 16:26] mattr555 commented on #2053
Is this fixed with af3769f?

[2015-07-27 19:41] russellholt commented on #2053
Looks like it, @mattr555

[2015-07-27 19:41] #2053 closed

[2015-07-27 19:47] sagarhani opened #2058 "Overlapping of Images with infomation"
![duckduckgo](https://cloud.githubusercontent.com/assets/6933389/8915942/b7c29ae6-34c5-11e5-9ad9-444f56c437a7.png)

Check this screenshot. The image of country which is behind the information is overlapping with the text which is at front. That's the reason the text developer is not visible properly.

[2015-07-27 22:06] chrismorast commented on #2042
Thanks for looking into it @altern8tif - I'll circle up with @moollaza to see about the JSON file.

[2015-07-27 22:07] #2043 closed

[2015-07-27 22:18] mattr555 commented on #2058
Closing as duplicate of #2053, should be fixed in the next release!

[2015-07-27 22:18] #2058 closed

[2015-07-29 18:29] russellholt commented on #1349
steam was removed, apparently
#1403

[2015-07-29 18:29] #1349 closed

[2015-07-29 20:46] chrismorast commented on #1636
@moollaza , ping

[2015-07-31 10:58] MrChrisW commented on #2055
@cotto Thanks for reporting this.

** Issue**
The API is returning [HTML entities](https://duckduckgo.com/?q=html+entities)

See: https://duckduckgo.com/js/spice/bible/hosea%2011%3A9

**Fix:**
Use [`stripHTML`](https://duck.co/duckduckhack/handlebars_helpers#codestriphtmlcode) in [handlebars template](https://github.com/duckduckgo/zeroclickinfo-spice/blob/master/share/spice/bible/content.handlebar

[2015-07-31 21:09] jagtalon commented on #2045
@MrChrisW it actually gets the data from the region settings so this one is set by the user. :)

[2015-07-31 21:17] jagtalon commented on #816
Done! https://duckduckgo.com/?q=cat+giphy&ia=gifs

[2015-07-31 21:17] #816 closed

[2015-07-31 21:23] #1640 closed

[2015-07-31 21:29] #1817 closed

[2015-07-31 21:30] moollaza commented on #1879
Your thinking is exactly correct and we've recently implemented exactly that functionality. We'll be tweaking it in the coming weeks but for now we should have a better look into flights arriving/departing for a 24-hour window.

[2015-07-31 21:30] #1879 closed

[2015-07-31 21:31] moollaza commented on #1879
Closing as this should now be be resolved.

[2015-07-31 22:45] moollaza opened #2062 "RandWord: Allow "random words", use `randomWords` API endpoint"
Right now the Rand Word Spice only returns a single, random word. We don't show anything for queries like "random words" or "5 random words", etc.

We can easily extend this IA to provide more than one word when requested. We should switch to the `/randomWords` endpoint to allow for this. http://developer.wordnik.com/docs.html#!/words/getRandomWords_get_3

------
IA Page:  http://duck.co/ia/view/r

[2015-07-31 22:45] #2046 closed

[2015-08-01 04:15] #1746 closed

[2015-08-01 05:25] moollaza commented on #2045
Just so everyone is aware, this IA is setup to automatically convert the input currency to the most common converted currency, for the given input currency IIRC. This way anyone who searches a USD amount will get EUR because that's the most common/popular conversion.

I think we might want to sit on this for a bit and see if we get any other complaints. So far no one else has complained and this i

[2015-08-01 05:27] MrChrisW commented on #2045
@moollaza :+1: Sounds fine! Happy Weekend btw.

[2015-08-01 05:36] moollaza commented on #2042
@chrismorast @altern8tif

Unfortunately, the API and data it returns is pretty rudimentary:

[code]

We're basically at the will of the API, and trust that it provides relatively accurate info.

[2015-08-01 05:38] moollaza commented on #2042
Wait a sec, that response looks correct! I'm seeing "Truckee" on the site right now @chrismorast https://duckduckgo.com/?q=aqi+96161&t=ffab&ia=airqualityindex

Are you?

[2015-08-02 16:17] iambibhas opened #2064 "NPM - Add more triggers"
I find myself searching for NodeJS packages with the prefix `nodejs` a lot. Can we add that as a trigger for NPM? - https://github.com/duckduckgo/zeroclickinfo-spice/blob/master/lib/DDG/Spice/Npm.pm#L17

[2015-08-03 03:43] #1924 closed

[2015-08-03 08:09] iambibhas commented on #2062
@moollaza do we have any test api key for wordnik?

[2015-08-03 08:48] iambibhas commented on #2055
@MrChrisW `#stripHTML` doesn't work. Handlebars can't decode HTML entities. Have to do it in JS, something like this -

    var text = $('<textarea />').html(data.text).text();

[2015-08-03 15:53] altern8tif commented on #2042
@moollaza @chrismorast it looks alright for me too now... Weird

[2015-08-04 15:06] chrismorast opened #2067 "Convert 'Random noun (etc.)' to using the definition template."
Can we have this just trigger the definition IA with a random word defined?

change this: https://duckduckgo.com/?q=random+noun&ia=answer

to this: https://duckduckgo.com/?q=define+fighter&ia=definition (with a random choice obviously :)

In situation where a word would be multiple word type, perhaps we can bold the 'n.' indicator.

---

IA Page:  http://duck.co/ia/view/rand_pos

[2015-08-04 15:20] hawkrives opened #2068 "Airlines: "Showing 2 Flight" Typo"
When searching for a flight that happens once a day, at least (for instance, "DL 580"), the header area that describes how many results were found says "Showing 2 Flight"—that is, it's not pluralized properly.

I've spelunked around this repo a bit, but I'm not sure where the stuff for that header is located. I have confirmed that it does not happen with the Images tab, so it seems to be type-spec

[2015-08-04 19:49] moollaza commented on #2045
Hey guys, so I've discussed this with the team and we came to some conclusions. Ultimately I don't think we should default to the user's location because I feel the expectation is that it will use to most common one. However, there's no need for us to only show the single most popular conversion for the input currency.

We unanimously agreed that when no input is given, we should handle it the sam

[2015-08-04 19:49] #2045 closed

[2015-08-04 19:51] moollaza commented on #1856
@jagtalon I believe we've now seen that it interferes with the credits link (if the z-index of the IA is higher than additional content, it'll take precedence, hiding the other content)

[2015-08-04 19:55] moollaza opened #2069 "Currency: Infer local currency from Region when set, otherwise show tile view"
Should fix #2074 and #2045

Currently we show a special tile view when only the name of a currency is search, or when the amount is `1`. E.g. "usd" or "1 cad".

We should update the IA to use the currency for the user's selected region (when a region is selected) and default to show the tile view whenever the "TO" currency is not specified. So "$12 USD" should also produce a conversion to $CAD if

[2015-08-04 20:49] moollaza commented on #2068
@hawkrives thanks a lot for reporting this!

The issue comes from here: https://github.com/duckduckgo/zeroclickinfo-spice/blob/master/share/spice/airlines/airlines.js#L275

We're using a new approach to gather flights from multiple API calls, and so the check is actually true because the API call we're considering only had 1 result. We're not taking into account the additional flight we grabbed in