[2016-07-25 19:19] edgesince84 commented on #2689
no response - closing this out for now.

[2016-07-25 19:19] #2689 closed

[2016-07-25 19:21] edgesince84 commented on #2699
these look like they're back on track and looking good again.  thanks!

[2016-07-25 19:21] #2699 closed

[2016-07-25 19:23] edgesince84 commented on #2711
thanks guys, adding "solve" to the query works just fine.  closing this out!

[2016-07-25 19:23] #2711 closed

[2016-07-25 19:27] edgesince84 commented on #2738
This doesn't trigger for me either.

[2016-07-25 19:41] edgesince84 commented on #2895
hey @boyter was there a PR for this?

[2016-07-25 20:54] edgesince84 commented on #1554
@jagtalon is this issue still relevant?

[2016-07-25 21:25] bsstoner opened #2922 "GitHub: Throwing an error and falling back on some queries"
https://duckduckgo.com/?q=4th+dimension+cube+game

[code]

cc @jdorweiler

------
IA Page:  http://duck.co/ia/view/github
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @MrChrisW

[2016-07-25 21:40] boyter commented on #2895
@edgesince84 No. It was all due to the searchcode.com endpoint itself failing. Hoping to have moved over by the end of the week to resolve these issues for the long term.

[2016-07-26 15:17] edgesince84 commented on #2895
thanks @boyter - looking forward to a resolution!

[2016-07-26 17:19] #2887 closed

[2016-07-26 20:47] zekiel opened #2926 "Untappd: Update triggering? Example query not working"
One of the supplied example queries doesn't show the Untappd IA: https://duckduckgo.com/?q=bommen%20%26%20granaten%20barleywine&ia=food&drink

------
IA Page:  http://duck.co/ia/view/untappd
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @urbanserj

[2016-07-26 21:15] urbanserj commented on #2926
Hi, @zekiel!

I forgot to update example queries in Untappd IA page and I've just updated the page. As I mentioned [here](https://github.com/duckduckgo/zeroclickinfo-spice/pull/2746#issuecomment-222374710) this heuristics can work fine but not for all cases. So `bommen & granaten barleywine` is not good example :( These is no barleywine word in the title or the description of this beer.

[2016-07-27 19:14] edgesince84 commented on #2926
The example queries aren't triggering this IA, unless you include "untappd" in the query as well.

[2016-07-27 20:18] GuiltyDolphin commented on #2581
@edgesince84 It doesn't appear to be triggering on `integrate 3x`, but it does trigger on `integrate 3x^2` and `integrate y = 3x`

@yegg That good enough?

[2016-07-27 20:23] jagtalon opened #2927 "Cocoapods Instant Answer"
## Background

[CocoaPods](https://cocoapods.org/) has a great listing of third-party libraries that people can use. There's currently a CocoaPods Instant Answer that you can find in https://github.com/duckduckgo/zeroclickinfo-spice/pull/2224, but it hasn't been released because of HTTP request problems. See if you can finish it off!

### Objective

To get the Spice working again so that we can an

[2016-07-28 08:17] tagawa opened #2928 "What3Words Geocoder: Should accept space-separated co-ordinates"
For example https://duckduckgo.com/?q=what3words++51.9985+-0.7439&ia=map

---

IA Page:  http://duck.co/ia/view/what3words
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @moollaza

[2016-07-28 14:45] zekiel commented on #2926
Looks fixed now! Thank you @urbanserj Looking forward to improving this over time -- it's really useful and fun to play around with.

[2016-07-28 14:45] #2926 closed

[2016-07-29 13:27] gerlachry opened #2929 "Bible verse of the day"
@hunterlang @MAMAMIA9 @pnpninja I was experimenting with learning about the IAs and made some updates to the Bible spice for verse of the day if wanted to include this in the IA.  I can open a pull request if want to include.
https://github.com/gerlachry/zeroclickinfo-spice/tree/gerlachry/bible-verse-of-day2

[2016-07-29 17:15] Fabijenna opened #2930 "Dictionary Definition: raw food"
Food that was not heated above 42 Celsius or 107.60000 Fahrenheit
Examples: fresh fruit, vegetables, sprouts (also sprouted grains), grasses
Further examples of raw "gourmet" food: nuts and seeds; soaked grains

---

IA Page:  http://duck.co/ia/view/dictionary_definition
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @jagtalon

[2016-07-29 18:40] edgesince84 commented on #2930
@Fabijenna I'm confused - this is for the dictionary IA.  What are you suggesting is the issue?

[2016-07-29 19:34] soleo commented on #2927
Looks like the issue can be closed once #2224 is deployed

[2016-07-29 22:19] sbdchd commented on #2873
Seems to be working now. Thanks.

[2016-07-29 22:19] #2873 closed

[2016-07-30 05:52] #2530 closed

[2016-07-30 06:52] tagawa commented on #2878
@laurenancona Thanks for reporting - I agree this should be triggering as you point out.

At the moment, there are two stages:
1. Initial triggers to execute the backend Perl code
2. A check for place names (`@places`) to execute the frontend JS code

The triggers themselves are fine &mdash; `indego bike share` would pass &mdash; so it probably needs a new check for the "indego" brand name but sho

[2016-07-30 11:43] busyintech commented on #2711
@edgesince84 To improve usability, you may have to consider solving the query without the keyword, just like a modern calculator would do.

[2016-07-30 19:45] GuiltyDolphin commented on #2711
@busyintech This seems to work fine on Beta with the regular calculator: https://beta.duckduckgo.com/?q=sqrt(5%2Bexp(5%2Bexp(5))%2B5)&ia=answer

[2016-07-31 06:17] pnpninja commented on #2929
sure..  go ahead... but follow the template as we have discussed in https://github.com/duckduckgo/zeroclickinfo-spice/pull/2826 .. see what @tagawa has said in the last comment and follow the structure specified

[2016-07-31 18:11] AcriCAA commented on #2878
I'll have to look back at the code but, as I recall, the bikeshare search
functionality is location based since this is not the only city for which
bikeshare info is published on DDG. So an indication of the city in some
way is the first trigger, then the bikeshare trigger, which could be the
brand name. That's why something like "philly indego" and "Philadelphia
indego" will work. It could also b

[2016-07-31 18:52] laurenancona commented on #2878
<waves> Hi @AcriCAA!

Thanks all, I'll take a look.

[2016-07-31 21:08] santigl commented on #2897
Hi @jagtalon. I was wondering if it would possible to use [Geo::WeatherNWS](http://search.cpan.org/~bobernst/Geo-WeatherNWS-1.053/lib/Geo/WeatherNWS.pm) to adquire the information directly from aviationweather.gov ourselves.  (The API they offer is xml only, so we would need that package to make the request.)

[2016-08-01 12:50] #2922 closed

[2016-08-01 13:39] #2927 closed

[2016-08-01 13:47] vidhan13j07 opened #2933 "Imdb Ratings:"
Hi, I am new to duckduckgo.
I want to build IA for teh imdb_ratings.
Can I take up this IA?

------
IA Page:  http://duck.co/ia/view/imdb_ratings

[2016-08-01 14:50] #2510 closed

[2016-08-01 19:34] AcriCAA commented on #2878
Hey @laurenancona!   I took a quick look at the code and this is the line I
was referring to in my last comment:

https://github.com/duckduckgo/zeroclickinfo-spice/blob/master/lib/DDG/Spice/BikeSharing/IndegoPHL.pm#L11

One of the triggers is the place.  It's what separates DDG from returning
the philly bikeshare info from other cities.  I suppose, an easy and
probably not so appropriate fix would

[2016-08-02 06:49] boyter commented on #2895
Well this is done. It should be FAR more reliable now... and a lot faster to boot. Let me know if that is not the case though.

[2016-08-02 13:17] moollaza opened #2934 "Dogo Books: Improve triggering, should be more restrictive"
The triggering for this Instant Answer is broader than it should be.

It is intended to trigger on queries that are related to books for kids/children, but the current triggering approach allows it to trigger on any query with the word kid/kids/child/children that also contains the string "book" within it.

Most recently it has been triggering on the query "Harry Potter and the Cursed Child book"

[2016-08-02 13:55] moollaza opened #2935 "What3Words Geocoder: Fallback to StandardBlend (autosuggest) API when no results for three-word address"
When a user misspells a three word address they will currently see no results. The What3Words team suggested we try faling back to their [StandardBlend](https://docs.what3words.com/api/v2/#standardblend) (Autocomplete) API in those cases to show potential matches for the given address.

If the first API call returns no results, we can make another API call and if it has results, display a Places t

[2016-08-02 13:57] moollaza commented on #2895
@jagtalon can you confirm it's working again?

[2016-08-02 16:21] moollaza commented on #2933
Unfortunately this is not possible. IMDb will only allow us to show ratings if we get them directly from IMDb. This requires a license (and licensing fees) which we are not currently interested in. Until something changes we are unable to show IMDb ratings on DuckDuckGo

[2016-08-02 16:21] #2933 closed

[2016-08-02 19:29] jagtalon commented on #2927
@soleo would you be interested in doing it once https://github.com/duckduckgo/duckduckgo/pull/208 gets deployed?

[2016-08-04 02:22] destruc7i0n commented on #2774
Sorry for the extremely late reply, but I have just pushed the new version of the checker. It should already be up in action.

Feel free to close this issue.

[2016-08-04 03:42] soleo commented on #2927
Sure.

[2016-08-04 14:58] moollaza commented on #2928
This should be fairly simple to support, but @tagawa do you have any examples of where you might get space-separated coordinates from?

I feel like anytime I see a lat/lon it's always formatted with a `,` separating the two.

[2016-08-04 15:03] tagawa commented on #2928
@moollaza Yes, from this page - scroll down, just above the map: http://www.atlasobscura.com/places/skellig-michael
I agree it's very much an edge case though.

[2016-08-04 15:53] shubh1m opened #2939 "No IA triggered while searching queries like 'Today in history' or 'Historical events on xx-xx-xxxx'"
Responsible file https://github.com/duckduckgo/zeroclickinfo-spice/blob/master/lib/DDG/Spice/TodayInHistory.pm

------

IA Page: https://duck.co/ia/view/today_in_history

[2016-08-04 19:16] thomaslequebz opened #2940 "Forecast:"
Make a french version

------
IA Page:  http://duck.co/ia/view/forecast
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @himanshu0113

[2016-08-04 19:16] #2940 closed

[2016-08-05 12:57] edgesince84 opened #2944 "Public Holidays: under-triggering?"
Should this IA cover queries such as "when is labor day 2016?"

---

IA Page:  http://duck.co/ia/view/public_holidays
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @sekhavati

[2016-08-06 05:09] emanresusername opened #2945 "IA Request: WhoSampled"
Just getting started here, forgive me if this isn't the appropriate channel, but it would be awesome to get instant answers from [whosampled](http://www.whosampled.com) for various songs to find the original songs they were inspired by and the songs that sampled from them later on.
The [availability/existence of their api is a little uncertain](http://www.whosampled.com/metadata/) but i see there

[2016-08-06 11:57] mrshu opened #2946 "Time: overtriggering on `the day`"
This IA triggers on [`the day`](https://duckduckgo.com/?q=the+day&ia=time). This seems to be expected given the [triggers](https://github.com/duckduckgo/zeroclickinfo-spice/blob/master/lib/DDG/Spice/Time.pm#L12) but I am not sure if it makes sense from the user's perspective.
---

IA Page:  http://duck.co/ia/view/time
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @MrChris

[2016-08-07 10:22] MrChrisW commented on #2946
This was added in https://github.com/duckduckgo/zeroclickinfo-spice/pull/2524 - Looking at the tests it may have only been intended to trigger on `what\'s the day in <city>` not just `the day`. @Sayanc93 can you look into this?

[2016-08-07 10:26] MrChrisW commented on #2738
This is triggering for me. Looks like internal triggering due to the SERP.

![image](https://cloud.githubusercontent.com/assets/5282264/17461853/6b429bdc-5ccc-11e6-9d89-72c77598426e.png)

[2016-08-07 10:35] MrChrisW commented on #2611
Closing in favour of https://github.com/duckduckgo/zeroclickinfo-spice/issues/2567

[2016-08-07 10:35] #2611 closed

[2016-08-07 10:36] MrChrisW commented on #2870
Related https://github.com/duckduckgo/zeroclickinfo-spice/issues/2946

________

This was added in https://github.com/duckduckgo/zeroclickinfo-spice/pull/2524 - Looking at the tests it may have only been intended to trigger on `what\'s the month in <city>` not just `the month`. @Sayanc93 can you look into this?

[2016-08-07 15:27] plan-nine opened #2947 "Forecast: Rounding Issue"
The humidity has a rounding issue - a long series of 9's. See the attached screen shot (far left box).

![weather-forecast-error](https://cloud.githubusercontent.com/assets/20889157/17463377/ebb95408-5c91-11e6-9598-9d643bedaea7.png)

---

IA Page:  http://duck.co/ia/view/forecast
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @himanshu0113

[2016-08-07 21:14] davidofferman commented on #2947
Hello,
I fixed this in PR #2942, it just needs to be merged.

[2016-08-08 19:29] jagtalon commented on #2895
This works! Thank you, @boyter! How was the hike? :muscle:

[2016-08-08 19:29] #2895 closed

[2016-08-08 19:31] jagtalon commented on #2897
Hey, @santigl! Unfortunately requesting through Perl modules is synchronous which means it will block the search results from showing up on the page until the data is back. If we can use a JSON API instead that would be better!

[2016-08-08 21:57] boyter commented on #2895
@jagtalon to be honest not brilliant! 160km gusts of wind, 30mm of rainfall, hail the size of grapes and it was -17 with the windchill. Had to bail after the first night because of how insane the weather was. Stayed in a cabin at the trailhead and it got even worse that night so it was the right choice.

However I did make it to the southernmost point of the Australian mainland and managed to find

[2016-08-08 21:59] boyter commented on #2895
Oh I should mention I have the CORS header set for this now, so you don't need to use the JSONP endpoint anymore if you would prefer not.

[2016-08-09 01:23] santigl commented on #2897
I understand. And would the same thing happen with a regular http request for a text file with the data ready to print?

[2016-08-09 13:36] #2807 closed

[2016-08-09 17:11] jdorweiler commented on #2864
Closing since the search endpoint is too restrictive by requiring a repo in your search.

[2016-08-09 17:11] #2864 closed

[2016-08-10 14:26] edgesince84 opened #2951 "Bible: example queries failing to trigger"
The example queries from the IA page do not trigger this IA.  The IA page is also missing the data source information.

---

IA Page:  http://duck.co/ia/view/bible
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @hunterlang

[2016-08-10 18:50] jagtalon commented on #2897
@santigl I'm not sure if I understand what you mean, but as long as the requests come from the client side, we're golden. If it happens server-side (in Perl), we can't have it. :(

[2016-08-10 19:27] jagtalon opened #2952 "Untappd: SyntaxError: unterminated string literal"
Some requests such as https://duckduckgo.com/?q=untappd+golden+ale returns a JSON response that has an unterminated string literal:

<img width="1467" alt="screen shot 2016-08-10 at 3 21 20 pm" src="https://cloud.githubusercontent.com/assets/81969/17567792/d3b01426-5f0e-11e6-899f-4ed5f8fa0f77.png">

<img width="1467" alt="screen shot 2016-08-10 at 3 21 27 pm" src="https://cloud.githubusercontent.c

[2016-08-10 19:35] santigl commented on #2897
I found that NOAA has a way of getting the observations in plain text. For example: [KJFK (raw metar)](http://tgftp.nws.noaa.gov/data/observations/metar/stations/KJFK.TXT) and [KJFK (decoded)](http://tgftp.nws.noaa.gov/data/observations/metar/decoded/KJFK.TXT)

We would have to do some parsing to display it in a table as with the current API. Could that be all implemented on the client's side?

[2016-08-11 04:01] dreamtimemix commented on #2888
I'm in the airline industry and I can't believe this issue hasn't been fixed by now...is there a big underlying problem? The same issue exist on duckduckgo on chrome for mobile. Google had the same problem for a few weeks but has fixed it. Wish there was some feedback as to what the status of this problem is. Thanx!

[2016-08-11 12:35] jagtalon opened #2953 "Forecast: Text can overlap images"
I searched for the weather in my city, and the up-to-the-minute weather predictions overlap with the image assets:

<img width="1792" alt="screen shot 2016-08-11 at 8 29 48 am" src="https://cloud.githubusercontent.com/assets/81969/17588577/09d716be-5f9e-11e6-8c55-b10ccf67c0a0.png">

<img width="1792" alt="screen shot 2016-08-11 at 8 30 01 am" src="https://cloud.githubusercontent.com/assets/81969/1

[2016-08-11 15:30] edgesince84 commented on #2888
hi @dreamtimemix - this IA seems to no longer be triggering at all.  none of the example queries from the IA page are working, either.  @amoraleda can this be addressed?

cc @moollaza a

[2016-08-11 16:23] jagtalon commented on #2897
@santigl I think we'd like to avoid text--we should stick to JSON or JSONP. The reason is that we'd have to add escaping functions in Nginx to make it compatible with our current system, and that takes time. Is there another source that you can find?

[2016-08-11 17:15] moollaza commented on #2838
@ManrajGrover thanks a lot for converting this to a Goodie!

Now that it has been converted, we still need to fix the triggering, are you still interested in doing that part?

[2016-08-11 17:44] ManrajGrover commented on #2838
@moollaza I guess previous PR also fixed the triggering, if triggering means extracting remainder color from query and matching it with ones in `Color::Library`. Please confirm. :smile:

[2016-08-11 18:55] amoraleda commented on #2888
Hi @edgesince84, I've been quite busy lately and will be until the end of this month. If nobody solves this by then, I'll tackle it.

[2016-08-12 03:23] vovkman commented on #2935
I have a problem using the StandardBlend api (I think). Should this URL work?

['https://api.what3words.com/v2/standardblend?addr=$3&lang=en&key={{ENV{DDG_SPICE_W3W_APIKEY}}}&callback={{callback}}'](url)

I call it in getJSON with this

`$.getJSON('/js/spice/standard_blend/' + words, function(data) {...`

where `var words = encodeURIComponent(api_result.words)`

and the fail callback is triggered.

[2016-08-12 11:03] #2929 closed

[2016-08-12 20:25] davidofferman commented on #2952
This appears to be an API endpoint issue, but an internal fix may be able to fix it. There is a flaw with the JSON encoding where some UTF-8 characters are not being encoded properly.

For instance, the Golden Ale response contains the character `\u2028`, but it isn't encoded and is causing issue.

[2016-08-13 05:21] tagawa commented on #2886
I've been able to reproduce this as well using Vivaldi 1.3 on Mac OS X, but it only happens when I open a new tab to run the timer. It then works fine after reloading or re-running the query.

[2016-08-15 14:21] moollaza commented on #2888
@dreamtimemix @edgesince84 this IA is offline right now. There is an error causing it not to show results that needs to be fixed.

There's more info in https://github.com/duckduckgo/zeroclickinfo-spice/issues/2771

Closing this as a duplicate.

[2016-08-15 14:21] #2888 closed

[2016-08-15 14:47] moollaza commented on #2771
@duckduckgo/duckduckhack-contributors are there any JS experts out there interested in investigating why the flights IA isn't working correctly?

I looked into it about a month ago and I think there may be an error with our handling of Timezones, or potentially the data from the API has changed causing this IA to break.

We'd love to see this IA working again!

[2016-08-15 21:35] marianosimone commented on #2771
@moollaza I can take a look at this again! Want to assign it to me?

[2016-08-17 14:36] edgesince84 opened #2961 "Just Delete Me: wrong account info displayed"
When I search for "delete icloud account," I'm shown instructions on deleting a JoliCloud / JoiliDrive account.

https://duckduckgo.com/?q=delete+icloud+account&t=ffab&ia=answer

---

IA Page:  http://duck.co/ia/view/just_delete_me
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @riqpe

[2016-08-17 16:12] riqpe commented on #2961
The IA shows also partial matches, in the same way as the original JustDelete.me service does. [[1]] (http://justdelete.me/#icloud)
This also means that if there are multiple matches, all of them are shown, e.g. searching with just "cloud". [[2]] (https://duckduckgo.com/?q=delete+cloud+account&ia=answer)
When available, exact match is selected over partial matches.

Perhaps we could add an indicat

[2016-08-17 19:23] #2896 closed

[2016-08-17 20:06] moollaza commented on #2935
@vovkman I've left some feedback on your PR.

Please update the code there to match what you had when it wasn't working. Then I can determine the problem, but what you have there _**should**_ work..

[2016-08-18 06:35] tagawa commented on #2961
@riqpe I agree - even for exact matches we should show a list from the API including partial matches. If we can highlight the exact match that would be good (not sure if the template allows it) but even if we can't, the exact match being first in a list would be better than when it's the only answer but incorrect.

[2016-08-18 16:02] DPAUTH opened #2963 "Maps: Language"
When I turn the region button on (ex. France) the language of the maps is still in English while mapbox has a French, German, Spanish, Russian and Chinese version available. I believe these links will come in handy  https://www.mapbox.com/help/change-language/    https://www.mapbox.com/mapbox-gl-js/example/language-switch/

---

IA Page:  http://duck.co/ia/view/maps_maps
[Maintainer](http://docs.d

[2016-08-19 01:09] tagawa opened #2964 "Whois: IA not displaying"
According to their API response, we've run out of credits: https://beta.duckduckgo.com/js/spice/whois/duckduckgo.com

We also don't seem to be using caching, hence how we used up all our credits.

---

IA Page:  http://duck.co/ia/view/whois
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @b1ake

[2016-08-19 08:47] davidofferman commented on #2964
I was under the impression that all spice API calls are cached for 1 day by default. [DuckDuckHack Caching documentation](http://docs.duckduckhack.com/backend-reference/api-reference.html#caching-api-responses).

Also, when I perform the API request directly but with a different domain (because duckduckgo.com is probably cached), I get a new error.

    ddg_spice_whois({"ErrorMessage": {
        "

[2016-08-19 09:57] pjhampton commented on #2964
It might be worth contacting the API maintainers if multiple different errors are coming up for the users.

[2016-08-19 09:59] tagawa commented on #2964
Re. the username/password error, this is because I changed the password earlier (it was an embarrassingly weak one!). The live code hasn't been updated yet but I thought as the IA is not displaying anyway, it was a good time to do it.

Regarding the lack of credits, we're looking into getting some more.

[2016-08-19 16:00] b1ake commented on #2964
@tagawa Can I help in any way with this? Sounds like we need to request more credits and that you're on top of it.

[2016-08-19 16:20] tagawa commented on #2964
Thanks for the offer @b1ake. There's an internal task for this and @moollaza has been asking about how we can proceed.

[2016-08-19 23:38] santigl commented on #2897
I couldn't find any other JSON source. However, today I got news from Michael: the new API version is implemented. :D

I have been doing some testing using duckpan and it seems to be working. Now we have to wait for Michael's green light, but we'll be able to bring it back up.

[2016-08-20 12:08] sekhavati commented on #2944
@edgesince84 No this IA only provides a list of public holidays for a given country. The [holiday IA](https://duck.co/ia/view/holiday) covers those sorts of queries.

[2016-08-21 08:41] sekhavati commented on #2722
@tagawa This issue should now be fixed as #2678 has been merged and is live.

[2016-08-21 08:42] sekhavati commented on #2723
@tagawa This issue should now be fixed as #2678 has been merged and is live.

[2016-08-22 08:27] pnpninja commented on #2758
Can we close this issue?

[2016-08-22 08:40] tagawa commented on #2722
Indeed it is! Nice job @sekhavati

[2016-08-22 08:40] #2722 closed

[2016-08-22 08:44] tagawa commented on #2723
@sekhavati Hmm, it doesn't seem to be showing for me: https://duckduckgo.com/?q=when+is+mothers+day

[2016-08-22 16:06] jagtalon commented on #2897
@santigl yes! Thank you so much!

[2016-08-22 16:15] sekhavati commented on #2723
@tagawa The IA will only search for holidays applicable to your location by default, you can override this by explicitly supplying a country in the query. I took a look at your Github profile and it says you live in Japan but there is no `mothers day` holiday in that country. If you were to query for `when is mothers day in the us` you should find an answer is returned. Let me know if this isn't t

[2016-08-22 18:04] jagtalon opened #2976 "InTheaters and Movie needs a new API"
Currently, they both use Rotten Tomatoes for data. But sadly, RT is slowly removing data in their API. It started with the images, and now the IMDB IDs (which we use to get images).

I think a better solution for this is to switch to a new provider either GoWatchIt or TMDB.

https://duck.co/ia/view/in_theaters
https://duck.co/ia/view/movie

[2016-08-22 20:26] moollaza commented on #2964
The BD team fired off an email today, waiting for a response from WhoisAPi

[2016-08-23 13:55] #2758 closed

[2016-08-23 15:31] jagtalon opened #2977 "CourseBuffet: Remove from repo"
The API has been offline for many months. We should remove this IA from the repo.

---
https://duck.co/ia/view/coursebuffet

[2016-08-23 18:18] jagtalon opened #2978 "Couprex: API is down"
The API endpoint (http://couprex.com/?json=get_search_results&search=electronics) seems to be down. Please contact them to see what's up. :)

---

IA Page: https://duck.co/ia/view/couprex

[2016-08-23 22:29] theniels17 opened #2979 "Videos: Youtube channel page link not working with newer channel link formats"
after searching for an video the link to the uploaders youtube channel does not work with newer /channel/XXXXX channels it goes to the /user/XXXXX page which often does not exist

how to reproduce the problem:
search something (example search: "duckduckgo")
click the "video's" tab
select a result (for example the first one)
click on the channel name (in the example its "Tekzilla")
you will be redi

[2016-08-24 04:33] #2795 closed

[2016-08-24 05:09] tagawa opened #2981 "Forecast: Shows weather for wrong city"
## Steps to reproduce:
1. Search for the weather in Shanghai: https://duckduckgo.com/?q=weather+in+shanghai&ia=weather
2. Check the Instant Answer that's displayed.
## What should happen:

The weather for Shanghai should be shown.
## What actually happens:

The weather for Changchun is shown.

Originally reported here: http://blog.lerner.co.il/fun-with-floats/

[2016-08-24 18:22] moollaza commented on #2977
Looks like the `/ddg` API endpoint no longer exists?

We should see if they have a public API we can use, or delete the Instant Answer

[2016-08-24 22:11] moollaza commented on #2978
This is @AdamSC1-ddg 's API. He was working on it, but I believe the IA has been offline for a while due to triggering/relevancy issues

[2016-08-24 22:11] #2978 closed

[2016-08-25 13:19] vovkman commented on #2935
@moollaza where are the flag icons you were talking about?

[2016-08-26 11:07] jbarrett commented on #2845
Closing this - outstanding parts are encapsulated in #2905 and #2906.

Thanks @gabriellhrn!

[2016-08-26 11:07] #2845 closed

[2016-08-27 15:22] lernae commented on #2809
I was looking into this and I noticed that this IA's API responses are never cached based on below setting in lib/DDG/Spice/Bitcoin.pm:
spice proxy_cache_valid => "418 1d";
Does this IA continue to sometimes display out of date info?

[2016-08-28 08:27] tagawa commented on #2723
Thanks for the explanation @sekhavati. That's right, I'm in Japan, but we do have mother's day (and father's day) here. Also, I see that "[when is mothers day in the uk](https://duckduckgo.com/?q=when+is+mothers+day+in+the+uk)" is also not triggering, although "[when is fathers day in the uk](https://duckduckgo.com/?q=when+is+fathers+day+in+the+uk)" is OK. I guess these are problems with API thoug

[2016-08-28 09:29] sekhavati commented on #2723
@tagawa I should elaborate, according to `timeanddate.com` there is no holiday in Japan by the name of `fathers day` or `mothers day`, hence why no result is returned. The complete list of known holidays for Japan can be [viewed here](https://www.timeanddate.com/holidays/japan/).

The second issue relates to aliases which we have yet to implement. Mothers day in the UK is more formerly known as `m

[2016-08-29 05:13] TripleCxx opened #2985 "Videos:"
https://github.com/duckduckg
https://github.com/duckduckgo/zeroclickinfo-spiceo

------
IA Page:  http://duck.co/ia/view/videos
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @bsstoner

[2016-08-29 07:30] tagawa commented on #2723
@sekhavati Thank you for the details - it's all clear now. I've sent a Tweet to timeanddate.com requesting Mother's Day & Father's Day be added for Japan: https://twitter.com/ourmaninjapan/status/770161403869048833

[2016-08-29 09:39] tagawa opened #2986 "What3Words Geocoder: Triggering for technical queries"
For example: https://duckduckgo.com/?q=system.diagnostics.process (from .NET)

[Reported on Twitter](https://twitter.com/chucker/status/770190994453176320)

---

IA Page:  http://duck.co/ia/view/what3words
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @moollaza

[2016-08-29 12:58] moollaza commented on #2579
I've adjusted the priority on the IA Page. This should take effect shortly.

[2016-08-29 12:58] #2579 closed

[2016-08-29 21:21] GuiltyDolphin commented on #2985
@TripleCxx Could you expand this comment to make it a bit less... Cryptic?

Are you experiencing any issues using Videos, have you noticed a bug, or perhaps you have a feature suggestion?

[2016-08-29 21:21] #2985 closed

[2016-08-29 22:34] TripleCxx commented on #2985
Sry I've been busy with the day job, yes I'm experiencing bugs but prob not the same as yours? I have 2 GPUs with a sli connect, this setup was confused  for securing the back end of a server, Long agonising story,  I was successful in getting the local account confined normally but am running into obstacles, I'll be home in a lil while and will pick it back up, sorry for not getter back w ya 
Get

[2016-08-29 23:49] TripleCxx commented on #2985
sorry for the confusion, to many things going at once, the result query output from duckduckgo.  I also used their browser quiet a bit for privacy so i wanted to reference the search engine. I am not experiencing crypto problems, although it would not be hard to mis config your network with such a strong encryption. I built on to this in order to fix a system that had been victim to malware via IS

[2016-08-29 23:53] TripleCxx commented on #2985
sry that the crpt is so strong I  was in a pickle and out of mountain dew :(

[2016-09-01 12:12] angel05devil opened #2989 "Networth:"
------
IA Page:  http://duck.co/ia/view/networth

[2016-09-01 17:21] GuiltyDolphin commented on #2989
Hey @angel05devil - did you have an issue, suggestion, or some feedback? If so, we'd love to hear it!

[2016-09-01 17:21] #2989 closed

[2016-09-02 15:48] GuiltyDolphin opened #2992 "Search Code: Overtriggering on `perl <`"
This seems a bit weird, if you search for [perl <](https://duckduckgo.com/?q=perl+%3C&ia=answer), it comes up with a Hello World example, which seemingly has _nothing_ to do with the query.

This also happens on [perl ,](https://duckduckgo.com/?q=perl+%2C&ia=answer) (and possibly other queries too).

---

IA Page:  http://duck.co/ia/view/search_code
[Maintainer](http://docs.duckduckhack.com/mainta

[2016-09-05 09:24] dotanrs opened #2993 "Places: Support specifying base location (non-US)"
What about manually setting a place for search?
i.e. instead of 'bars near me' search for 'bars near (/in) Tel Aviv'
like in google https://encrypted.google.com/search?hl=en&q=bars%20in%20jaffa

---

IA Page:  http://duck.co/ia/view/maps_places
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @nilnilnil

[2016-09-06 16:07] b2ddg opened #2995 "Movies/Filmography: JS Error"
I'm seeing an error, "jse_TypeError: data.results[0] is undefined". I think we need to check the JS objects before accessing them.

Example queries:
"movies with indiana in the title"
"movies with good scores"

@jagtalon

[2016-09-07 03:51] delilah88 opened #2996 "send bitcoin to an unknown address, records show it's sitting somehere safe and sound, but I can't remember the website I sent it to, Is there anyway I can find out which darknet this is sitting in with just the address? The address is:1zuRVfGAxenyxP7SCGvL11sUdCsd11xX7"

[2016-09-07 14:09] #2996 closed

[2016-09-07 14:42] nilnilnil commented on #2993
Can you give me an example DDG query you'd like to roughly replicate what Google is doing?

[2016-09-07 16:59] dotanrs commented on #2993
Actually I see now that it already exists,
e.g. [cafes near Harlem](https://duckduckgo.com/?q=cafes+near+harlem&t=ffab&ia=places&iax=1)
But it seems to only work for US cities, which is why I didn't see it

[2016-09-09 17:47] iammayankg opened #2997 "Chuck Norris Jokes: Unable to see results"
This plugin was working fine earlier with the !safeoff option but has stopped working recently. Shows up the wiki page instead, but that's not supposed to show with safeoff.

---

IA Page:  http://duck.co/ia/view/chuck_norris
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @iammayankg

[2016-09-11 16:12] viluon opened #2998 "Dictionary Definition: Empty Result"
The search query "[define to fall out](https://duckduckgo.com/?q=define+to+fall+out&t=ffab&ia=definition)" results in an empty "Definition" answer:
![](https://i.imgur.com/ix3IL9I.png)

---

IA Page:  http://duck.co/ia/view/dictionary_definition
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @jagtalon

[2016-09-12 01:27] akuks commented on #2976
I am interested in and try to solve this issue.

[2016-09-12 02:16] marianosimone commented on #2771
@moollaza @jagtalon ping?

[2016-09-12 02:49] marianosimone commented on #2998
@jagtalon @GuiltyDolphin seemed like an easy fix, so I went ahead and tackled it

[2016-09-15 17:31] D3sl0nG3r opened #3000 "Forecast: No results for "Weather Chernivtsi""
When you type "Weather Kyiv" or "Weather Lviv" it works perfectly. (I'm ukrainian). But when you type "Weather Chernivtsi" there's no IA. Only search results. If you can, please, make all cities available on IA (not only Ukraine ones, but every single one).
(I don't know how to write code, that's why i'm asking for help)
![screenshot_1](https://cloud.githubusercontent.com/assets/11181091/18560217/

[2016-09-16 08:53] tmlye opened #3001 "Time: Does not trigger for "current time new york" or "time in new york""
This instant answer is not triggered for the above queries. It also doesn't work for Boston. If I type "current time frankfurt", it displays it correctly.

------
IA Page:  http://duck.co/ia/view/time
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @MrChrisW

[2016-09-16 09:02] #2738 closed

[2016-09-16 09:02] MrChrisW commented on #3001
@tmlye Thanks! We're tracking a number of non-working queries in https://github.com/duckduckgo/zeroclickinfo-spice/issues/1730

[2016-09-16 09:02] #3001 closed

[2016-09-21 01:34] tagawa opened #3004 "Forecast: Triggered by unrelated query"
### Steps to reproduce:
1. Search for [ga experiment](https://duckduckgo.com/?q=ga+experiment&ia=weather)
2. Look at the search results
### What should happen:

There should be no weather Instant Answer.
### What actually happens:

The weather IA triggers and a forecast is shown for Experimentgatan in Sweden.

[Reported on Twitter](https://twitter.com/soleoshao/status/778329458361065472)

---

IA

[2016-09-21 21:06] santigl commented on #2897
Hi, @jagtalon. I am happy to tell you that the API backend has been renovated, and now  should support the traffic.  :D (Big thanks to Michael.)

I made a pull request with a couple of little changes, which aren't critical. Should we turn it back on and see what happens?

[2016-09-23 17:41] sahildua2305 commented on #2977
@moollaza Seems like there's no public API that they provide. Should we delete the IA then?

[2016-09-24 04:46] tommytommytommy opened #3008 "Forecast: API changing to DarkSky"
API change mentioned in a blog post at http://blog.darksky.net/introducing-darksky-net/

Looks like the current endpoint will continue to work through the end of the year. Not sure how much of the old API has been duplicated/how much work exists to convert to the new endpoint/API...

This will probably also require some internal coordination...
cc: @b2ddg @bsstoner

---

IA Page:  http://duck.co/i

[2016-09-24 11:15] mrshu commented on #2961
Hello everyone, I have another example of this: https://duckduckgo.com/?q=how+to+cancel+your+homeowners+insurance+from+going+into+an+escrow+account&ia=answer

I strongly believe that it would be better not to show anything in cases line these -- I was kind of surprised with the Instant Answer I got to be honest.

[2016-09-25 05:10] altern8tif commented on #2964
Any update on this?  Seems like it's still not working.

[2016-09-26 08:56] riqpe commented on #2961
I do agree. After the original issue I tried out a couple of different ways of indicating partial and exact matches, but I was not satisfied with the results.

I vote for removing the support for partial matches all together, only showing exact name and domain matches.

@moollaza do you want to run this by someone before I make a PR?

[2016-09-26 20:42] sahildua2305 commented on #2953
This is more of a template issue, no? @jagtalon

[2016-09-26 20:44] sahildua2305 commented on #2998
@marianosimone can you please create a PR for this so that we can test your changes?

[2016-09-26 21:06] sahildua2305 commented on #2992
Escaping new line in the API response can be added as a separate issue because it has nothing to do with over triggering so that both issues can be solved separately. @GuiltyDolphin What do you think?

[2016-09-26 21:59] moollaza commented on #2961
@riqpe you're the maintainer so you have say here. I agree that we can ignore partial matches.

If we're not already, we should be using our built-in relevancy checking to ensure only highly relevant results come through.

[2016-09-26 22:07] marianosimone commented on #2998
@sahildua2305 somehow I forgot to create the PR when I commited the change to my fork. Thanks for calling it out :D

[2016-09-27 06:38] riqpe commented on #2961
@moollaza, ok I will remove the partial matches.

The IA is not using the built-in relevancy checking as that lead to even less relevant results.

[2016-09-27 07:18] GuiltyDolphin opened #3011 "Search Code: Newlines treated literally"
When searching for https://duckduckgo.com/?q=perl+%3C&ia=answer the `Search Code` Instant Answer triggers, but the output is different to what it should be.

Shown result:

[code]

Expected:

[code]

It looks like the newline is being treated literally.

(cc @sahildua2305)

---

IA Page:  http://duck.co/ia/view/search_code
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @sa

[2016-09-27 08:09] sahildua2305 commented on #3011
Will fix soon! Thanks @GuiltyDolphin 😄

[2016-09-29 19:22] moollaza commented on #3011
Removing the Programming Mission label as this IA isn't directly connected to any specific language or it's goals, it's also fairly low-priority and low-triggering

[2016-09-30 10:31] Hestben commented on #2788
Wasn't this issue resolved when the issue #2790 was merged?

Is the any more work to be done here?

[2016-09-30 10:34] therealkbhat commented on #2788
Yes, it was.
I think we can safely close this one.

[2016-09-30 20:55] Toorero opened #3013 "Forecast:"
I noticed, cause i am a German, that this instant answer and plenty more aren't translated into German for instance. To improve this i would suggest to add the trigger 'wetter', cause it's sucks so hard to think over every time when i await a instant answer.

Stay tuned guys.

------
IA Page:  http://duck.co/ia/view/forecast
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @

[2016-10-01 14:12] wellkun opened #3014 "AlternativeTo:"
------
IA Page:  http://duck.co/ia/view/alternative_to
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @vikashvverma

[2016-10-01 14:18] vikashvverma commented on #3014
@wellkun can you explain the issue?

[2016-10-02 09:34] #3014 closed

[2016-10-03 19:57] moollaza commented on #3013
@Toorero thanks for pointing this out. We don't currently have plans to add non-english triggers yet, but internationalization of Instant Answers and their triggering is something we intend to achieve in the future.

For now I'm marking this as a tolerated issue.

[2016-10-03 19:57] #3013 closed

[2016-10-03 20:50] santigl commented on #2897
I just saw that there is another Instant Answer marked as *ghosted*, and that it is running at the beta site.

It has hijacked the link in my last pull request (#3005), so I was wondering: which version is it that is running?

[2016-10-04 17:40] moollaza commented on #2977
@rubydubee is the `/ddg` API permanently offline?

[2016-10-05 23:01] sahildua2305 commented on #3011
@GuiltyDolphin In particular case of query `perl <`, we get this response from API -
[code]

I'm not sure we can fix this issue because we can't escape all newline characters. We just don't know which ones are required and which ones aren't.

Let me know if you have an idea!

[2016-10-06 10:23] #2771 closed

[2016-10-06 13:16] amarlearning opened #3016 "Interactive Calculator: Is anyone working on this ?"
Is anyone working on this IA. or should i start ?

------
IA Page:  http://duck.co/ia/view/interactive_calculator

[2016-10-06 13:26] GuiltyDolphin commented on #3016
@amarlearning We have an interactive interface for the existing calculator in progress, see duckduckgo/zeroclickinfo-goodies#2848.

[2016-10-06 13:26] #3016 closed

[2016-10-06 13:37] edgesince84 opened #3017 "Advanced Calculator: overtriggering"
This IA is triggering on queries related to C++, trying to solve the equation.  An example would be "java c++ integration."

---

IA Page:  http://duck.co/ia/view/symbolab
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @levaly

[2016-10-06 19:17] russellholt commented on #3017
@moollaza thoughts?

[2016-10-07 13:15] moollaza commented on #3017
We could add a check for the specific keyword "c++" and ignore that.

There has been an open issues to fix the triggering of this IA for a long time. It almost never triggers currently..

[2016-10-07 13:20] moollaza commented on #3011
@GuiltyDolphin @sahildua2305 this IA is undergoing changes for the programming mission anyway. It will be switched to a new API and focused on Python searches for now.

See #2999

[2016-10-07 13:25] levaly commented on #3017
I will add a more sophisticated triggering regex.

[2016-10-08 17:07] robrobinbin opened #3018 "Emojipedia: Looking up flags shows info about a regional indicator"
Example: searching for the European flag 🇪🇺gives following page

https://duckduckgo.com/?q=%F0%9F%87%AA%F0%9F%87%BA&ia=answer

The zero click answer refers to [Regional Indicator Symbol Let­ter U](http://emojipedia.org/regional-indicator-symbol-letter-u/) instead of [Flag for European Union](http://emojipedia.org/flag-for-european-union/)

------
IA Page:  http://duck.co/ia/view/emojipedia
[Mainta

[2016-10-08 17:33] RetroCraft commented on #3018
Correct me if I'm wrong, but national flags are created with two Unicode characters, so that is the correct (single) Unicode character showing up.

[2016-10-09 13:18] robrobinbin commented on #3018
Correct, but that shouldn't be the desired behavior. The emojipedia page of the flag as a whole is more relevant than the page of one of two regional indicators making the flag.

[2016-10-10 10:33] Boldewyn opened #3019 "Emojipedia: Switch maintainer"
As per the docs: "I’d like to maintain this." :smile:

@mathewbyrne and me switched responsibilities. Please add me as maintainer for the Emojipedia IA.

------
IA Page:  http://duck.co/ia/view/emojipedia
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @mathewbyrne

[2016-10-10 19:51] kumarankit0411 opened #3020 "Search query "US news" opens images tab"
Searching for "US news" returned images of US News Corporation which seemed **irrelevant**. A more appropriate answer should have been latest news result from United States.
Here is the screenshot :
![anoymous_bug](https://cloud.githubusercontent.com/assets/19763730/19248919/6132910e-8f50-11e6-9a4b-3d5a4e0d26bd.png)
One more issue is that, for the same search term, sometimes the images tab opens a

[2016-10-12 21:10] santigl commented on #2897
It is live again. :D

Thank you @jagtalon and @moollaza for turning it back on!

[2016-10-13 08:32] AmericanSplendor opened #3021 "http://needs4health.com/ultimate-testo-explosion/"
which is called the pectoral fascia. Large pectoral muscle has two heads. Clavicular head is positioned along the clavicular bone. Do not confuse it with the pectoralis minor muscle, which lies beneath the clavicular head of the pectoralis major muscle and is attached to <a href="http://needs4health.com/ultimate-testo-explosion/">Ultimate Testo Explosion</a> the ribs, but not to the humerus. Clavi

[2016-10-13 08:54] #3021 closed

[2016-10-13 16:36] dbachko opened #3022 "Currency Conversion: missing BYN currency"
**Notice: On July 1, 2016 the New Belarusian ruble (BYN) replaced the Belarusian ruble (BYR) at a ratio of 1:10,000.**

---

IA Page:  http://duck.co/ia/view/currency
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @MrChrisW

[2016-10-14 03:55] moollaza commented on #3019
IA Page has been updated 👍

[2016-10-14 03:55] #3019 closed

[2016-10-14 03:58] #2897 closed

[2016-10-14 07:12] Boldewyn commented on #3018
Sorry for the delay! Yes, that is indeed a bug, related to how our regular expression matches. Thanks for the report! I'll update the regexp.

[2016-10-14 20:57] Hum4n01d commented on #2886
Same issue. I use this time all the time but I don’t know when the timer’s gone off :(

[2016-10-15 09:28] dotanrs commented on #2993
I think what's requires is an additional (replacement?) source to YELP since it simply has no entries from places outside the US..
IMO the best source by far is google maps

[2016-10-15 16:01] kumarankit0411 opened #3024 "Forecast: IA do not display above search results by itself"
The search query "weather _region_name_" do not return the 'forecast spice'. The 'weather' tab besides the 'videos' tab needs to be clicked to open the spice. I'm not sure if this is intended but i think 'forecast spice' should show up on the go without any need to click on weather tab explicitly.

---

IA Page:  http://duck.co/ia/view/forecast
[Maintainer](http://docs.duckduckhack.com/maintaining

[2016-10-17 05:08] hughesey commented on #2727
Everything is still OK on our end (ViewDNS.info).  We have noticed the query counts dropped to virtually zero from DDG as of June!  @majuscule perhaps this is something you could look into?

[2016-10-17 16:54] b2ddg commented on #3008
PR to update the endpoint: https://github.com/duckduckgo/zeroclickinfo-spice/pull/3026

[2016-10-19 19:59] jonathancross opened #3028 "Keybase: Not seeing IA"
None of the example queries produce the keybase IA for me:
- https://duckduckgo.com/?q=keybase%20chris&ia=keybase
- https://duckduckgo.com/?q=keybase%20github%3Amaxtaco&ia=keybase
- https://duckduckgo.com/?q=keybase%20twitter%3Ajeresig&ia=keybase
- https://duckduckgo.com/?q=keybase%20jeresig&ia=keybase

---

IA Page:  http://duck.co/ia/view/keybase
[Maintainer](http://docs.duckduckhack.com/maintai

[2016-10-21 19:02] pavkum opened #3030 "Videos: Should have tooltips"
Any search for videos generally result in multiple videos. Since the card size is fixed one cannot see the full title. One might prefer to watch from a particular publisher or just want to confirm the full title.

A tooltip with relevant details on hover would be a very nice enhancement.

---

IA Page:  http://duck.co/ia/view/videos
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.

[2016-10-24 11:56] sriranganathan commented on #2981
@tagawa Can I take up this Issue?

[2016-10-25 10:06] x-15a2 opened #3032 "Time: Not triggering for American cities"
This IA does not seem to work with American Cities, even when forced. Example: https://duckduckgo.com/?q=what+is+the+time+in+Minneapolis&ia=web
I've tried several triggers: time, Time In, What Time Is It In,  What Is The Time In, Time For, but none work for US cities.

Works: https://duckduckgo.com/?q=time+for+Toronto&ia=time

Fails: https://duckduckgo.com/?q=time+for+Indianapolis&ia=time

As repo

[2016-10-26 09:09] tagawa commented on #2362
Another example reported by a user - a search for "the weather in kobe, japan" shows the weather for Villa Corona, Mexico:
https://duckduckgo.com/?q=the+weather+in+kobe%2C+japan&ia=weather

[2016-10-26 09:38] datafunk commented on #2912
Are you guys working on this one actively ATM?

[2016-10-26 12:43] mrshu commented on #3032
@x-15a2 @MrChrisW @tagawa This should be fixed now.

[2016-10-26 12:44] #3032 closed

[2016-10-26 12:58] tagawa commented on #3032
Great! Thank you @mrshu and team.

[2016-10-27 14:41] #3018 closed

[2016-10-28 19:50] mrshu commented on #1730
Hey everyone,

Sorry that it took this long, but this should generally be fixed now.

The gist of the issue was as follows: the API responds with "United States" as the country for US-based queries and we were comparing it to "USA", which was grabbed from the title of the `timeanddate.com` website. This was fixed internally and virtually all of the issues described in this task (except for `time i

[2016-10-29 00:20] #1730 closed

[2016-10-30 18:48] kewde opened #3036 "Cryptocurrency Bug: triggers not working"
## Type of Issue
- [x] Bug (incorrect behavior)
  - [x] Triggering
  - [ ] Relevancy
  - [ ] Internal (issue with code)
- [ ] Feature Request
  - [ ] Triggers (new triggers)
  - [ ] Design Change
## Description

The cryptocurrency IA is not being triggered, ever.
The triggering had issues before when I did a little work on it, but it somehow magically went back to working.
Now, it's completely bro

[2016-11-01 19:58] mrshu commented on #2686
As far as I can see, the query `date` no longer triggers the `Time` Spice.

I believe this issue is therefore moot and can be closed.

[2016-11-01 19:59] mrshu commented on #2870
As far as I can see, `month` no longer triggers the `Time` Spice and this issue can therefore be closed.

[2016-11-01 20:01] mrshu commented on #2946
`the day` no longer triggers the `Time` Spice for me -- I believe this issue can be closed.

[2016-11-01 20:01] #2946 closed

[2016-11-01 20:05] mrshu commented on #899
The triggering fro the `Forecast` Spice got improved a bit from the inside. Can you please check whether the problems described in this issue still persist?

I tried "Vancouver Weather" for instance, and the result seems to be in line with the desired outcome described in the first comment.

[2016-11-01 20:08] mrshu commented on #2332
Does this issue still persist?

[`weather australia 2000`](https://duckduckgo.com/?q=weather+australia+2000&ia=weather) does actually trigger the Forecast Spice for me.

[2016-11-01 20:10] mrshu commented on #2362
Can you please see whether this problem is still a valid issue?

The internal triggering has changed a bit and all of the issues described here should be now fixed.

[2016-11-01 20:14] mrshu commented on #3000
@himanshu0113 @D3sl0nG3r @moollaza all of the following should work now:

- https://duckduckgo.com/?q=weather+kyiv&ia=weather
- https://duckduckgo.com/?q=Weather+Chernivtsi&ia=weather
- https://duckduckgo.com/?q=Weather+Lviv&ia=weather

[2016-11-01 20:14] #3000 closed

[2016-11-01 20:17] mrshu commented on #3004
This will be a slight problem, as there actually is [Experiment in Georgia](https://en.wikipedia.org/wiki/Experiment,_Georgia) and it is a place for which weather forecast might be in order =)

[2016-11-01 20:28] eggpi commented on #899
Yep, "weather in Dublin" now does the right thing when not filtering by region (still no instant answer when filtering).

It actually seems to resolve the query to a very specific landmark in the city ("Weather for Spire of Dublin, North Earl Street, Dublin, County Dublin, Ireland"), which I'm not sure is intended, but the result looks fine regardless of that :)

[2016-11-01 22:08] mrshu commented on #899
@eggpi unfortunately, the very specific landmark is what `forecast.io` returns -- there is not really much we can do about that.

Thanks for confirming that `weather in Dublin` does the right thing now (at least for the "World traveler").

[2016-11-01 22:31] statusred commented on #2332
It does.

Also **weather <city name>** only seems to work on a few major cities.

I'm not sure if this related but search **weather newcastle** showed the weather for Anchorage, AK. I was expecting Newcastle, Australia or Newcastle, UK to show as I guessed they be the two most famous Newcastles.

[2016-11-01 22:35] statusred commented on #2332
I tried searching for **weather australia 2000** again it worked, it didn't 5 mins ago, but **weather australia 4000** doesn't even after a few tries

[2016-11-04 04:48] laurenancona opened #3037 "Transit (.*) Bug: class updates missing in JavaScript"
## Type of Issue

- [x] Bug (incorrect behavior)
    - [x] Internal (issue with code)

## Description

When Transit IA CSS class names were updated with consistent namespaces (`transit_{IA-name}__{class}`) in 80735e99ea580136b1b40d974bea5e6f41a926e7, they weren't updated in the JavaScript. As a result, the on-time status indicator icons weren't dynamically updating for `delayed` (yellow) or `cance

[2016-11-04 05:31] laurenancona commented on #3037
@moollaza Ah, I was afraid Dax would only pick up the first IA listed...now I know.

[2016-11-05 05:19] vikashvverma opened #3040 "Movie: API call is failing"
Rotten Tomatoes API call seems to be failing. This might be the issue because of expired API KEYS.
As a result non of the trigger is working.

@moollaza Can you look into this?

------
IA Page:  http://duck.co/ia/view/movie
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @vikashvverma

[2016-11-07 11:15] ajhepple commented on #2886
I've experienced this with Chrome on Ubuntu and have done a little experimentation.

I think it only occurs when a timer instance is first used and when that timer's tab is not uppermost (or its window minimised) when the timer reaches zero.

The timer will sound without focus, providing it's tab is uppermost. For example, in a different window to the window with focus.

Timer instances always app

[2016-11-08 23:17] bsstoner commented on #2986
Another complaint of over-triggering on technical queries:

system.windows.controls
https://duckduckgo.com/?q=system.windows.controls

[2016-11-09 20:19] #2675 closed

[2016-11-09 20:19] moollaza commented on #2675
This was solved when the IA was ported to the Goodie repo

[2016-11-10 09:58] CatQuest commented on #1846
as a Norwegian, I would expect "NOK" for "kr". would it possibly be prudent to just how all 3 of them? ie. write "$500 to kr" will give 500 USD = 3,398.18 DKK = 4,147.87 NOK = 4,516.18 SEK
remember also that "dollar" can also mean Australia (AUD) and Canadian (CAD) dollar. assuming one of these with simply "D" would be unquestionably wrong too,.

[2016-11-10 15:29] #3017 closed

[2016-11-10 19:56] soleo commented on #3028
@jonathancross Thanks for reporting this issue. I'll look into it soon.

[2016-11-14 23:28] moollaza commented on #3028
This IA was disabled, likely because the API was unreachable at some point. I'll have it scheduled to go back online 👍

[2016-11-15 11:30] bsstoner opened #3045 "arXiv: JS Error causing Image Fallbacks"
<img width="1195" alt="screen shot 2016-11-15 at 6 30 08 am" src="https://cloud.githubusercontent.com/assets/126358/20304205/044b2c12-aafd-11e6-98ff-4f9817bfa5b2.png">

------
IA Page:  http://duck.co/ia/view/arxiv
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @jbarrett

[2016-11-15 11:35] bsstoner commented on #2880
Another example of this:
<img width="1157" alt="screen shot 2016-11-15 at 6 35 26 am" src="https://cloud.githubusercontent.com/assets/126358/20304362/c158e4c0-aafd-11e6-94d9-84ec2ccac699.png">

[2016-11-15 15:38] jbarrett commented on #3045
@bsstoner Seems I'm accessing properties before asserting the result actually exists - D'oh - https://github.com/duckduckgo/zeroclickinfo-spice/blob/master/share/spice/arxiv/arxiv.js#L36-L41

Would returning `Spice.failed` properly here also result in image fallback?

[2016-11-15 16:56] bsstoner commented on #3045
Yup, that should do it

[2016-11-16 13:04] HarshInvader opened #3048 "Net Worth: Working on making a pretty useful IA on DuckDuckGo. ~NOOB~ Please guide me."
------
IA Page:  http://duck.co/ia/view/net_worth
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @HarshInvader

[2016-11-16 13:05] HarshInvader commented on #3048
How do I go about using the API? https://github.com/abresler/forbesListR

[2016-11-16 13:13] jbarrett commented on #3045
I've made this [fix](https://github.com/duckduckgo/zeroclickinfo-spice/compare/4f967f62d2dedda14229746d2a72041fe0c25cc9)  ...but it seemingly throws an error on the empty spice response:

![image_fallback](https://cloud.githubusercontent.com/assets/444449/20348643/63b078ae-abfe-11e6-9b9a-6891a022c88e.png)

[2016-11-17 05:08] bennychan2020 opened #3049 "Videos:"
------
IA Page:  http://duck.co/ia/view/videos
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @bsstoner

[2016-11-17 07:58] HarshInvader commented on #3049
What's up with it? Seems just fine, right?

[2016-11-17 16:15] jbarrett opened #3050 "Maven: Add "library" "package", "repository" and "repo" to trigger words"
### Description
As with, e.g. [MetaCPAN](https://github.com/duckduckgo/zeroclickinfo-spice/blob/master/lib/DDG/Spice/MetaCPAN.pm#L13) adding additional triggers can help surface an IA more effectively.

This should possibly trigger on more terms, e.g.:

- maven repo
- maven repository
- maven package
- java package
- ...

## People to notify
@nicoulaj

------

IA Page:  https://duck.co/ia/view/mav

[2016-11-20 16:37] pablrod opened #3051 "MetaCPAN: Description and author displaying only the first letter, release date says: Invalid Date"
Instant answer is not displaying correctly the description of modules, only the first letter. Also the author is not displayed, only de first letter, and the latest release date says Invalid Date

Example search: perl plack pod

------
IA Page:  http://duck.co/ia/view/meta_cpan
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @sahildua2305

[2016-11-21 10:46] bsstoner opened #3052 "RxInfo: Remove trigger on "tablet""
The IA is overtriggering on the word "tablet". It needs to ensure the query is valid, or we should remove that trigger word.

------
IA Page:  http://duck.co/ia/view/rx_info
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @medicosconsultants

[2016-11-23 02:43] deserted opened #3055 "MetaCPAN: issues testing due to URL encode of ::, but no decode for JSON post"
Testing the meta_cpan IA, have found that testing with DuckPAN returns no results due to `::` within module names to be sent to the MetaCPAN API still URL encoded, returning a false no result set. URL decode for variables used in JSON body POST needs to be done to accurately test with things like MetaCPAN, returning `%3A%3A` to `::`

------
IA Page:  http://duck.co/ia/view/meta_cpan
[Maintainer](h

[2016-11-24 08:47] tagawa opened #3058 "Have I Been Pwned: Seems to have stopped working"
This doesn't seem to appear for our example queries:
* https://duckduckgo.com/?q=Have%20I%20Been%20Pwned%20test%40hotmail.com&ia=answer
* https://duckduckgo.com/?q=Pwned%20test%40hotmail.com&ia=answer

Reported via Twitter: https://twitter.com/rgggn/status/801395391270977536

------
IA Page:  http://duck.co/ia/view/pwned
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @b2dd

[2016-11-25 13:28] deserted opened #3060 "MetaCPAN: colon(s) in module name break "More at MetaCPAN" link"
To reproduce

- search for any module with :: - example `cpan MIDI::Tab`
- click on "More at MetaCPAN" link
- Note the query string has been double encoded - `%3A` for the colon has become `%253A` - breaking the search on MetaCPAN after clicking through.

link presented for MetaCPAN with above search example
`https://metacpan.org/search?size=50&search_type=modules&q=MIDI%253A%253ATab%252FMIDI%2520

[2016-11-25 13:33] deserted commented on #3060
This looks like a case of the encodeURIComponent not being needed at line 21 of share/spice/meta_cpan/meta_cpan.js - but can't test this properly due to #3055

[2016-11-28 16:25] #3008 closed

[2016-11-29 01:48] #3051 closed

[2016-11-29 08:53] tagawa opened #3062 "MetaCPAN: Not displaying for example queries"
Not sure if it's a triggering issue or something else, but this is not showing for queries such as [cpan midi](https://duckduckgo.com/?q=cpan%20midi&ia=software) and [cpan json::xs](https://duckduckgo.com/?q=cpan%20json%3A%3Axs&ia=software)

cc @jbarrett

------
IA Page:  http://duck.co/ia/view/meta_cpan
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @sahildua2305

[2016-11-29 09:10] tagawa commented on #2906
@jbarrett Not entirely sure I understand what's meant by "triggering the behaviour upfront". You mean the backend Perl code would change the API URL depending on the query remainder?

[2016-11-29 10:42] jbarrett commented on #3045
@bsstoner Are you available to review #3057? Thanks!

[2016-11-29 12:38] jbarrett commented on #2906
@tagawa That's a possibility, though I think it's easier to do on the frontend? We still need an `alt_to` configuration for the documentation endpoint.

Also, to be clear, #2905 is not a dependency of this issue.

[2016-11-29 12:40] jbarrett commented on #2906
"Triggering this behaviour upfront" means showing a synopsis section (or failing that, description) when we are confident that an exact module name has been searched.

[2016-11-29 13:14] tagawa commented on #2906
Thanks @jbarrett - that makes it clearer.

[2016-11-29 13:55] jbarrett commented on #3062
Thanks @tagawa! I suspect this was taken offline due to the issues fixed in #3053 - we can enable it again once this fix is released.

[2016-11-30 00:08] deserted commented on #3060
This has been fixed in #3053

[2016-11-30 01:48] tagawa commented on #3062
@jbarrett Indeed - it looks like it's been re-enabled now that #3053  is merged and deployed. Thanks.

[2016-11-30 01:48] #3062 closed

[2016-11-30 02:05] tagawa commented on #2838
This still seems to be an issue, e.g. https://duckduckgo.com/?q=colour+picker+tutorials shouldn't show the colour picker.

[2016-11-30 11:10] mintsoft commented on #2838
@tagawa @moollaza The metadata for this IA is wrong; I don't think chrisharrill is the maintainer (IIRC he's not committed into this at all) and the backend files are NoteFrequency?

[2016-11-30 11:12] mintsoft commented on #2838
Also it's now moved to goodies: https://github.com/duckduckgo/zeroclickinfo-goodies/blob/master/lib/DDG/Goodie/ColorPicker.pm

[2016-11-30 11:13] mintsoft commented on #2838
@tagawa I'll fix this; it's really quick to knock out

[2016-11-30 11:14] mintsoft commented on #2838
Moved to: https://github.com/duckduckgo/zeroclickinfo-goodies/issues/3788

[2016-11-30 11:14] #2838 closed

[2016-12-01 07:23] tagawa commented on #2838
Thank you for the PR and move to Goodies @mintsoft. Chrisharrill is the maintainer because he created the original version, but we could change that if somebody else wants to take over.

@MariagraziaAlastra Would you be able to remove the two NoteFrequency files from the backend metadata please? https://duck.co/ia/view/color_picker

[2016-12-01 11:05] ManrajGrover commented on #2838
@tagawa I can take up the maintaining work.

[2016-12-01 14:42] conte91 opened #3064 "Graphical Calculator: actively developed?"
Hello, are you actively working on this? If not, I would be glad to start helping!

------
IA Page:  http://duck.co/ia/view/graphical_calculator

[2016-12-02 03:27] tagawa commented on #2838
That's very kind @ManrajGrover - thank you. I've made you the maintainer.

[2016-12-02 11:55] GuiltyDolphin commented on #3064
@conte91 Feel free to make issues/PRs against the https://github.com/duckduckgo/zeroclickinfo-goodies/tree/gd/interactive-calculator branch on the Goodies repo - there are a list of to-dos in https://github.com/duckduckgo/zeroclickinfo-goodies/pull/2848 as well as an overview of how it currently functions.

If you want to discuss ideas relating to this then please feel free to comment on that PR o

[2016-12-05 19:50] #3060 closed

[2016-12-07 19:47] bsstoner commented on #2986
@moollaza we need to make the trigger include `what3words` or some other qualifier. The majority of queries this is triggering on are false positive technical searches.

[2016-12-07 20:19] #3049 closed

[2016-12-07 20:21] #3045 closed

[2016-12-07 20:56] #2986 closed

[2016-12-07 20:59] #3052 closed

[2016-12-10 19:07] tutoGav opened #3073 "Dictionary Definition: Can support other languages??"
------
IA Page:  http://duck.co/ia/view/dictionary_definition
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @jagtalon

[2016-12-11 18:11] devanshdalal commented on #2976
Hi guys, what's the status on this one?
"InTheaters" IA is not live anymore. reasons ?

I am willing to work on this one to make it live again. Or do you guys have any other plans?

[2016-12-11 18:13] devanshdalal opened #3074 "InTheaters: Not live anymore"
Don't anyone want this one anymore?

------
IA Page:  http://duck.co/ia/view/in_theaters
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @jagtalon

[2016-12-14 11:52] GuiltyDolphin opened #3075 "OpenNIC DNS: Wonky display"
The front-end for this IA appears to be messed up (at least on FireFox 50.0.2):

(Unfortunately I cannot upload files at the moment, but try this search: https://duckduckgo.com/?q=opennic+42.42.42.42&ia=dns)

------
IA Page:  http://duck.co/ia/view/open_nic
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @cylgom

[2016-12-14 23:45] cylgom commented on #3075
Thank you for your report, I already pushed some changes to fix this a few months ago, but the PR seems frozen in an eternal validation phase : https://github.com/duckduckgo/zeroclickinfo-spice/pull/3031

[2016-12-21 00:13] keyf4xdJ opened #3078 "Dictionary definition: doesn't always work"
When I search for a word, say 'define holistic' nothing shows up. Sometimes 'Define holistic' will work, or just 'holistic' will come up with a definition. I'm not sure how to provide an example of this, because after a few minutes an entry appears. It is a minor annoyance while reading to have to wait a couple of minutes to define a word!

To reproduce this just look up a relatively uncommon word

[2016-12-21 00:23] keyf4xdJ commented on #3078
I'm really not sure what's going on here, the last twenty words I've tried worked fine, but this feature hasn't been working all day!

[2016-12-21 12:59] bsstoner opened #3079 "Bitcoin Addresses, Blocks"
More at link not working:
https://duckduckgo.com/?q=098e606cee543f86ccc90dccbfef6f5605b7eb654795896d95db44add0fd4431&kp=-1&kad=wt_WT&kl=wt-wt&t=&ia=answer

------
IA Page:  http://duck.co/ia/view/bitcoin
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @jmg

[2016-12-21 15:06] #2735 closed

[2016-12-23 16:01] eye-sigil opened #3082 "Anime: No longer works after change from Hummingbird to Kitsu"
The change in domain and API broke this Spice and no triggers work.

------
IA Page:  http://duck.co/ia/view/anime
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @iambibhas

[2016-12-25 08:43] devanshdalal commented on #3055
What's the status of this? I want to take this one.

[2016-12-25 08:48] deserted commented on #3055
hey @devanshdalal, sorry I should have come back to this sooner.

The issue unfortunately isn't on the Spice side, more investigation is needed but the double encode is occurring either within DuckPAN or on the DDG beta server, haven't had a chance to follow through on it yet.

[2016-12-25 08:57] devanshdalal commented on #3055
@deserted  no worries, have a nice day.

[2016-12-26 05:20] CVasquezG opened #3084 "Formula One Calendar:"
Implementing API to get calendar information
------
IA Page:  http://duck.co/ia/view/formula_one_calendar
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @CVasquezG

[2016-12-26 05:20] #3084 closed

[2016-12-26 19:01] devanshdalal commented on #3074
@jagtalon, Are you still maintaining this or Its abandoned now?

[2016-12-27 18:50] claytonspinner commented on #3036
hm, not sure what would cause this to stop triggering. It works for me in the DuckDuckHack environment. I'll keep looking into it. @MrChrisW and @moollaza do you know what might cause this to work in the Codio dev environment but stop working in production?

[2016-12-28 20:20] #2861 closed

[2016-12-28 23:53] adentranter commented on #2979
Having a look at the source code at https://github.com/duckduckgo/zeroclickinfo-spice/blob/master/lib/DDG/Spice/Videos.pm and https://github.com/duckduckgo/zeroclickinfo-spice/blob/master/share/spice/videos/videos.js

Anyone know where the data for the youtube videos is being processed? (file)

[2016-12-29 15:40] AlbertJP opened #3086 "Forecast: Show wind speeds on Beaufort scale"
I like the "weather utrecht" search query, it quickly shows me the weather in my location. However the wind speeds are in m/s, a unit which isn't used in The Netherlands, where wind speeds are always on the Beaufort scale. I don't really have an idea what "2 m/s", the current wind speed for my city, feels like. Would it be possible to add an option for wind speeds on the Beaufort scale?

(Right no

[2016-12-30 23:24] gillesdemey commented on #3082
Some documentation can be found over at https://forums.hummingbird.me/t/kitsu-api-documentation/33367 and http://docs.kitsu17.apiary.io/#introduction/json-api/general-info

Search string queries can be executed as such:

`https://kitsu.io/api/edge/anime?filter[text]=naruto`

[2016-12-31 17:32] alolis opened #3087 "Bitcoin: Replacement of Biteasy.com API due to end of life"
Hello,

I would like to inform whoever is responsible for the bitcoin spice, that Biteasy.com is planning to pull the plug on January 20th and an immediate switch to a different API provider is required

Please check the following link for further info:
https://blog.biteasy.com/end-of-life

------

IA Page: https://duck.co/ia/view/bitcoin

[2017-01-01 12:29] Suaiden opened #3088 "Forecast: Wilkes-Barre PA"
The temperature in Wilkes-Barre, PA shows Harrisburg's (usually about 4-5 degrees off) temperature-- quite a ways away and very different zip codes. It was showing Harrisburg, PA, then was working over the past few weeks but if there was a recent patch it seems to have reverted it to Harrisburg.

------
IA Page:  http://duck.co/ia/view/forecast
[Maintainer](http://docs.duckduckhack.com/maintaining

[2017-01-03 16:17] CreamyCookie commented on #2886
It works on Firefox in Ubuntu 16.04, so it's likely Webkit related. Anyway, I also wanted to say thanks for this great, zero-click thingie @mattr555

[2017-01-03 18:17] #3037 closed

[2017-01-04 16:35] #2995 closed

[2017-01-05 18:33] marianosimone commented on #2998
@GuiltyDolphin @sahildua2305 any news on reviewing my PR?

[2017-01-05 20:34] fakse opened #3090 "https://www.wattgeizer.com/goal-zero-nomad-100-faltbares-solarpanel-100w-12v"
------
IA Page:  http://duck.co/ia/view/products
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @bsstoner

[2017-01-05 20:34] #3090 closed

[2017-01-09 13:08] telekommander commented on #2320
Same here:
It is different if you search for `Prellerstraße 14, Dresden`   (_German Umlauts_)
https://duckduckgo.com/?q=Prellerstraße+14%2C+Dresden
instead of `Prellerstr 14, Dresden` or `Prellerstrasse 14, Dresden`
https://duckduckgo.com/?q=Prellerstr+14%2C+Dresden

The first above will not trigger Map and/or Places-Tab.
It is useless to trigger a searchrequest using contextmenu.

[2017-01-09 15:59] luthfii opened #3093 "Islamic Prayer Times: Unable to see the result"
I think the problem is the API is outdated. The new API is is simpler. http://muslimsalat.com/api/

------
IA Page:  http://duck.co/ia/view/islamic_prayer_times
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @ozdemirburak

[2017-01-09 17:43] ozdemirburak commented on #3093
Just checked it. It's working as expected but seems like it's not online on the production server.

You can also see it's working on the beta as well: https://beta.duckduckgo.com/?q=Salat+Times+In+London&ia=islamicprayertimes

[2017-01-10 09:27] luthfii commented on #3093
Then how to fix it? Should we ask someone to help?
I'm newbie here, but i'm eagerly to help

[2017-01-10 11:14] ozdemirburak commented on #3093
I think that's related to something internal. Probably, there was a time that API did not work and the system or someone from the team disabled the IA.

Ping @moollaza

[2017-01-10 20:30] alexpelan opened #3094 "Forecast: "nyc weather" shows weather for London, England"
Searching issues lead to some related discussion here: https://github.com/duckduckgo/zeroclickinfo-spice/pull/1359

For me, this is easily reproducible. Just type in "[nyc weather](https://duckduckgo.com/?q=nyc+weather)" and press enter. Seems like an obvious bug to me - 'nyc' is an unambiguous abbreviation for New York City.

------
IA Page:  http://duck.co/ia/view/forecast
[Maintainer](http://do

[2017-01-11 04:54] tagawa commented on #3094
Thanks for submitting this @alexpelan - I got the same results for London. Interestingly reversing the query to "[weather nyc](https://duckduckgo.com/?q=weather+nyc)" shows the correct result.

[2017-01-11 07:53] PuneetGupta123 commented on #3086
Hello, I am a newbie. Can I work on this?

[2017-01-11 18:19] Suaiden commented on #3088
This is working ok now! :)

[2017-01-11 18:19] #3088 closed

[2017-01-15 21:17] bsstoner opened #3096 "Currency Conversion: BTC Ticker wrong"
https://duckduckgo.com/?q=btc%20usd

We're getting a lot of complaints that the data is wrong:
_"The ticker shows wrong data on your site. It's good over at XE, Pls. fix it!"_
_"Your bitcoin price ticker is broken, while it's working at XE.com"_

It seems like it's right to me? Could use a second set of eyes, maybe I'm missing something.

------
IA Page:  http://duck.co/ia/view/currency
[Maintaine

[2017-01-17 17:58] pjhampton opened #3098 "JavaScript: Improving the NPM Package Search"
It seems that this is a popular IA, but is failing to trigger on a lot of queries in the search space. It currently represents [1.81% of the search space](https://forum.duckduckhack.com/t/javascript-search-overview/94/14). We can improve this. I think this is because of:

  1) Triggers
  2) Spaces in package names
  3) People using DDG as if it were npm's onsite search engine.

The final point is

[2017-01-17 20:52] pjhampton opened #3099 "JavaScript: Gulp Spice under-triggering"
## Description

It seems from the search data that people are searching for `gulp <package_name>` more so than `gulpjs <package_name>`. It could be a good idea to add it to the triggers.

## Steps to recreate

Example search: https://duckduckgo.com/?q=gulpjs+sass&t=h_&ia=software

## Resources
- Join [DuckDuckHack Slack](https://quackslack.herokuapp.com/) to ask questions
- Join the [DuckDuckHack

[2017-01-18 19:01] remixz commented on #3098
👍  It'd be great to improve this! My recommendation would be to use https://npms.io/, as that's what's powering the search on npm's website. The API docs are here: https://api-docs.npms.io/ Their API also includes a link to the npm page, so that solves that little issue of npmsearch not including it.

Unless someone else is interested, I think I could make these improvements soon!

[2017-01-18 19:03] pjhampton commented on #3098
Sweet! That would be awesome @remixz
I will let you use your professional judgement on the source

[2017-01-20 15:40] M-Schiller opened #3100 "Timer: Allow setting alarms (e.g. "alarm at 5pm")"
It would be nice if I could enter something like the query in the title ("alarm at 5pm") and have the timer calculate the time difference  between now and the requested time, set up the timer and start it for easier access.

------
IA Page:  http://duck.co/ia/view/timer
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @mattr555

[2017-01-20 16:16] pjhampton opened #3101 "Libraries.io: Comprehensive Package Manager Search"
## Description

There is still a lot of package managers that we don't any have any Spice / Fathead for. This includes:

  - Go Search
  - WordPress Plugins Search
  - Sublime Plugins Search
  - and so on...

Using this API should [hopefully] improve coverage of a few of the languages and be fairly easy to maintain in the long run.

## People to notify
   - @moollaza
   - @pjhampton

## Get Starte

[2017-01-20 17:32] karuppiah7890 commented on #3101
@pjhampton Yeah, I actually tried a bit of code. And then got stuck in some places and then stopped after that. And I don't think I can continue that work immediately.

[2017-01-20 17:41] karuppiah7890 commented on #3101
@pjhampton Give me a day. And I will update you more on this and see what I did. It's been two months and I don't remember a thing now.

[2017-01-21 12:46] bsstoner opened #3102 "Timer: Not working in dark theme?"
User feedback:
_When using the timer the"Add Timer" button doesn't work with the dark theme, it just looks pure empty white 😞_

------
IA Page:  http://duck.co/ia/view/timer
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @mattr555

[2017-01-21 13:27] akanshgulati commented on #3102
Could you attach a screenshot of the issue. I can see the "plus" button very clearly.

[2017-01-21 13:28] bsstoner commented on #3102
I think they're talking about on mobile.

[2017-01-21 13:41] bsstoner opened #3103 "GitHub: Not showing for explicit github repo query"
User Feedback:
**usbarmory mac os x github**
[https://duckduckgo.com/?q=usbarmory%20mac%20os%20x%20github&kp=1&kad=wt_WT&kl=wt-wt](https://duckduckgo.com/?q=usbarmory%20mac%20os%20x%20github&kp=1&kad=wt_WT&kl=wt-wt)
_I'd expect to see this here https://github.com/inversepath/usbarmory/wiki/Host-communication_

------
IA Page:  http://duck.co/ia/view/github
[Maintainer](http://docs.duckduckhack.com

[2017-01-21 14:00] bsstoner opened #3104 "Nutrition: Wanted result in specific serving size"
User Feedback:
**green beans calories per 100 g**
[https://duckduckgo.com/?q=green%20beans%20calories%20per%20100%20g&kp=1&kad=wt_WT&kl=wt-wt](https://duckduckgo.com/?q=green%20beans%20calories%20per%20100%20g&kp=1&kad=wt_WT&kl=wt-wt)
_when adding per 100 gram, a result per 10 is displayed not per 100 g_

------
IA Page:  http://duck.co/ia/view/nutrition
[Maintainer](http://docs.duckduckhack.com/m

[2017-01-21 14:11] bsstoner opened #3105 "GitHub: Ability to surface relevant github issues"
This might be a new/different IA, but there's a lot of desire for us to do a better job surfacing github issues in the results when relevant to the query. A few examples from recent feedback:

**rails invalid authenticity token internet explorer 11**
[https://duckduckgo.com/?q=rails%20invalid%20authenticity%20token%20internet%20explorer%2011&kp=1&kad=wt_WT&kl=us-en](https://duckduckgo.com/?q=rails

[2017-01-21 14:49] bsstoner opened #3106 "Airlines: Not triggering"
There seem to be a lot of cases where the IA isn't triggering:

https://duckduckgo.com/?q=DL3313
https://duckduckgo.com/?q=Flight+TK1986
https://duckduckgo.com/?q=aa+729

------
IA Page:  http://duck.co/ia/view/airlines
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @amoraleda

[2017-01-21 14:55] bsstoner opened #3107 "Forecast: Default to C for people outside the US"
We're defaulting to fahrenheit and get consistent complaints from people outside the US that don't like it. Ideally the default should be based on location.

**sydneys current weather**
[https://duckduckgo.com/?q=sydneys%20current%20weather&kp=1&kad=wt_WT&kl=wt-wt](https://duckduckgo.com/?q=sydneys%20current%20weather&kp=1&kad=wt_WT&kl=wt-wt)
_"In the south pacific we use celsius not fahrenheit"

[2017-01-21 14:58] bsstoner opened #3108 "Time: Trigger for timezone queries"
We get a fair amount of requests for this to trigger on searches for time zones. It would be nice to add that.

User Feedback with examples:

**PST time**
[https://duckduckgo.com/?q=PST%20time&kp=1&kad=wt_WT&kl=wt-wt](https://duckduckgo.com/?q=PST%20time&kp=1&kad=wt_WT&kl=wt-wt)
_"I would like an instant answer with the current time in PST timezone"_

**Pacific Time**
[https://duckduckgo.com/?q=Pa

[2017-01-21 15:04] bsstoner opened #3109 "Currency Conversion: Enable space to be used as thousands separator"
Example:

**1 459 000 RUB to USD**
[https://duckduckgo.com/?q=1%20459%20000%20RUB%20to%20USD&kp=1&kad=wt_WT&kl=wt-wt](https://duckduckgo.com/?q=1%20459%20000%20RUB%20to%20USD&kp=1&kad=wt_WT&kl=wt-wt)

<img width="852" alt="screen shot 2017-01-21 at 10 03 32 am" src="https://cloud.githubusercontent.com/assets/126358/22175342/ee6b99d8-dfc0-11e6-9554-8c7c7f25de4b.png">

------
IA Page:  http://duck.c

[2017-01-23 16:01] moollaza opened #3111 "Thesaurus: Only show the IA when we have the result the user asked for"
This Instant Answer triggers on the word "antonym", but antonyms are not always available. In those cases, we end up showing synonyms and related words. This should be considered a false-positive result, because it's not what the user asked for. In cases like this, where we don't have what the user requested, we should not show anything.

E.g. https://duckduckgo.com/?q=antonyms+of+shy&ia=thesaurus

[2017-01-24 01:40] bsstoner commented on #3102
<img width="364" alt="screen shot 2017-01-23 at 8 40 24 pm" src="https://cloud.githubusercontent.com/assets/126358/22230536/31f9c746-e1ac-11e6-88bc-3d507d4aa5c2.png">

[2017-01-24 12:28] bsstoner opened #3114 "Currency Conversion: Doesn't convert NTD"
User Feedback:
**convert 5 NTD to USD**
[https://duckduckgo.com/?q=convert%205%20NTD%20to%20USD&kp=1&kad=wt_WT&kl=wt-wt](https://duckduckgo.com/?q=convert%205%20NTD%20to%20USD&kp=1&kad=wt_WT&kl=wt-wt)
_"In google, I can do convert 5 NTD to USD and it  will show me a currency conversion. Similarly with all kinds of other unit conversions. For DDG it's not so, and I always end up having to do !g con

[2017-01-25 08:35] csu commented on #3099
I think this would be a good change to make (I'd search for just `gulp` and not `gulpjs`). I can make the change. Do you think this could potentially trigger on any non-Gulp.js-related queries with `gulp`? Would it be better to add `gulp` as a `startend` trigger?

[2017-01-25 18:02] nkhanhtrn commented on #3111
I'll give it a try. Although in terms of UX it's better to notify the user that the antonym is not found.

[2017-01-26 14:10] bsstoner opened #3119 "Timer: Add foreign language triggers"
User feedback:

**temporizador**
[https://duckduckgo.com/?q=temporizador&kp=1](https://duckduckgo.com/?q=temporizador&kp=1)
_"Please add Timer IA: https://duckduckgo.com/?q=countdown"_

------
IA Page:  http://duck.co/ia/view/timer
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @mattr555

[2017-01-26 17:43] pjhampton commented on #3101
Hey @karuppiah7890,

How are you getting on? 😄

[2017-01-26 17:45] pjhampton commented on #3098
Hey @remixz, just checking in 😄  How are you getting on with this?

[2017-01-26 18:27] karuppiah7890 commented on #3101
Ah, I was caught up. Yet to try renaming all files and trying. I planned to use the IA name of your IA page just for checking how the Duckpan server works and if my code runs. But I didn't do it.

By the way, my code is entirely different. It simply searches for libraries in all languages given a "description of the functionality", hoping libraries.io searches even description attribute in it's se

[2017-01-26 21:35] pjhampton commented on #3101
Hey @karuppiah7890

That's awesome 😄 , but yeah we want to go the direction I initially stated. This is an effort to improve the overall [coverage in the programming mission](https://forum.duckduckhack.com/t/duckduckhack-getting-started/53). So we want to create a new spice rather than do what you were originally doing.

So the idea is that you should have triggers named after each platform. When

[2017-01-27 01:43] mattr555 commented on #3119
We don't usually do this for other languages or other IAs, should this be closed in favor of a broader i18n plan? @moollaza

[2017-01-27 05:03] MrChrisW commented on #3108
Duplicate of https://github.com/duckduckgo/zeroclickinfo-spice/issues/1802

[2017-01-27 05:03] #3108 closed

[2017-01-27 05:09] MrChrisW commented on #3096
This looks right to me. I think we cache the request for 5mins so maybe that's caused some confusion.

[2017-01-27 05:09] #3096 closed

[2017-01-27 05:17] MrChrisW commented on #2858
Sounds 🔉 like a good idea to me, however I have no capacity 🔋 to make this change right now 👍

[2017-01-27 05:37] adityatandon007 commented on #3099
Hey @jagtalon, Can I work on this issue. I am beginner and would like to take this issue.

[2017-01-27 14:46] moollaza commented on #3119
@bsstoner I think this needs much more consideration. If we're going to add foreign triggers for 1, why wouldn't we do it for all? That will create an inconsistent experience for non-english speaker users IMO.

Also, if it triggers in the user's language, I think the expectation would be for the answer to be in that language as well? If a non english user enters a non-english query that shows non-

[2017-01-27 14:50] moollaza commented on #3106
This IA is currently offline, our internal tests are failing so I'm unable to re-enable it as it will be automatically disabled again.

[2017-01-27 14:55] karuppiah7890 commented on #3101
Ah, Nice. I get it now :smile:

[2017-01-27 14:57] karuppiah7890 commented on #3101
So, not just languages, but package managers too. And we are searching for packages based on exact name or based on a domain or description, like "math" and "nosql" packages

[2017-01-27 14:57] moollaza commented on #3102
@bsstoner this may be an internal CSS bug -- our our `tx-clr--*` class here is being overwritten by our `.zci-bosy a` rule that sets the color.

We need to give priority to our `tx-clr` classes, otherwise we'll need to write CSS to change the text color here based on the presence of the dark theme's class on the `<body>` tag

[2017-01-27 15:37] #3022 closed

[2017-01-27 15:43] bsstoner commented on #1802
Would it be easier to make progress here if we defer worrying about disambiguation for now? The complaints are all related to the fact that we don't show anything for: PST, CST, EST, UTC and GMT work. We could just show the first result for now and come back and do the disambiguation later?

[2017-01-27 15:43] #3114 closed

[2017-01-27 15:46] bsstoner commented on #3102
@moollaza I don't think that's the case. Why are we overriding the background color here? If you didn't do that it would work: https://github.com/duckduckgo/zeroclickinfo-spice/blob/master/share/spice/timer/timer.css#L351

[2017-01-27 16:12] bsstoner commented on #3119
@moollaza I don't think it has to be all or nothing thing. We have to start somewhere. If we wait for a perfect solution that covers every IA or every language I don't think it will ever happen.

In the short-term, I think it can be a relatively easy problem if you limit the scope to the handful of IA's that are preventing people in other countries from adopting DDG (Weather, Time, Currency, Conve

[2017-01-27 20:55] pjhampton commented on #3101
@karuppiah7890  Exact names are how we have been handling it in the past. Check out these two IAs for inspiration 👍

- https://duck.co/ia/view/meta_cpan
- https://duck.co/ia/view/npm

[2017-01-27 22:43] moollaza commented on #3099
@adityatandon007 Yes you're welcome to work on it!  (Jag works for DDG, so he's happy to have you take this on for him 👍 )

[2017-01-27 22:47] moollaza commented on #3101
@pjhampton @karuppiah7890 I made a couple changes to the platforms we need support for.

I added in Bower and PyPi -- I thought we had a Bower Spice but I was wrong, and @pjhampton and I discussed that we'd like to migrate PyPi from a static Fathead to a Spice. We'll start by testing them and if the Spice shows promise we'll deprecate the Fathead 👍

[2017-01-28 01:08] jagtalon commented on #3099
@adityasangar eyo! Go ahead!

[2017-01-28 06:52] adityatandon007 commented on #3099
hey @jagtalon you mistyped my name I think. Well thanks for assigning me this task. One more can you assign a label to it.

[2017-01-28 07:31] adityatandon007 commented on #3099
Thanks @moollaza for adding me to become the part of duckduckgo organisation. I want to ask why we don't always label assignee on someone working on the issue. In many cases assignee label is not put even though, when I scroll down someone is working already working on it. Why is it so that sometimes there is label and sometimes not. Just curious. One more think can you please send me some links a

[2017-01-28 08:33] adityatandon007 commented on #3099
Thanks @tagawa. Could you review my PR and thanks for that assignee label. Well it looks someone do care about these minute issues like assigning labels.

[2017-01-28 12:57] Swailem95 opened #3126 "Track Lister: Display the tracks in a given album"
Similar to what Google is [already doing](https://encrypted.google.com/search?hl=en&q=dark%20side%20of%20the%20moon%20track%20listing). I use this feature often and I believe it would be a useful addition to DDG.

------
IA Page:  http://duck.co/ia/view/track_lister
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @Swailem95

[2017-01-28 16:44] pjhampton commented on #3099
@adityatandon007 all issues are important, however, community leaders and staff need time to review other PRs too. We can't always label a person an assignee because they don't belong to the github organization. We also have a process were the IA maintainer is assigned automatically when an issue is raised hence why Jag why assigned. One of the curators (such as myself) can only assign someone to

[2017-01-28 16:46] #3099 closed

[2017-01-30 20:40] nkhanhtrn commented on #3058
Funny thing is that on Codio the plugin is working fine. Maybe this is an internal issue @moollaza ?

[2017-02-01 06:38] goeknhjkfks opened #3128 "http://www.mylaviveeyeserum.com/testomenix-and-nitromenix/"
Interval Training is unique in the fact that it can be done quickly. For example: let's say that you have a particularly busy week coming up; but you need to work-out at least twice, and it can only be done during your lunch hour. Give yourself 10 minutes to dress down into your gym clothes, 40 minutes for your work-out, then 10 minutes to shower and dress again. In order to get in your full-body

[2017-02-01 07:52] #3128 closed

[2017-02-01 10:49] bsstoner opened #3129 "Currency Conversion: Trigger more for bitcoin queries"
I don't know if it should be this IA or one of the others, but there's a bunch of queries where people are looking for the price of bitcoin and we're not triggering:

[https://duckduckgo.com/?q=bitcoin+price](https://duckduckgo.com/?q=bitcoin+price)
[https://duckduckgo.com/?q=bitcoin+value](https://duckduckgo.com/?q=bitcoin+value)
[https://duckduckgo.com/?q=price+of+bitcoin](https://duckduckgo.com

[2017-02-02 18:32] pjhampton commented on #2840
Closing this in favour for https://github.com/duckduckgo/zeroclickinfo-spice/issues/3101

[2017-02-02 18:32] #2840 closed

[2017-02-02 21:53] Rick-2CA opened #3130 "Forecast: San Antonio, TX"
Several query methods for San Antonio, TX show results for San Isidro, Veracruz:
  weather <local zip codes>
  weather san antonio
  weather san antonio, tx

However the proper forecast results if you do:
  weather
  weather "san antonio"

I wasn't able to replicate the behavior with several other "San" city names tested.

------
IA Page:  http://duck.co/ia/view/forecast
[Maintainer](http://docs.d

[2017-02-06 15:11] valdotdev opened #3131 "AlternativeTo: Not triggering/working"
AlternativeTo instant answer not working. No suggestions are given for any app that you type in. Even with the example triggers like "Alternative To Notepad", etc.

------
IA Page:  http://duck.co/ia/view/alternative_to
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @vikashvverma

[2017-02-06 15:39] bsstoner commented on #3107
Another complaint here:
**hourly weather white rock bc**
[https://duckduckgo.com/?q=hourly%20weather%20white%20rock%20bc](https://duckduckgo.com/?q=hourly%20weather%20white%20rock%20bc)
_Comment: When giving local weather results in Canada, results should be given in Metric units (degrees in Celcius, etc.)_

[2017-02-06 15:41] bsstoner opened #3132 "Forecast: Text overlapping in the tile"
https://duckduckgo.com/?q=hourly%20weather%20white%20rock%20bc

![screen shot 2017-02-06 at 10 40 15 am](https://cloud.githubusercontent.com/assets/126358/22653849/baea1de2-ec58-11e6-8da0-8fc1287acd7e.png)

------
IA Page:  http://duck.co/ia/view/forecast
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @himanshu0113

[2017-02-06 17:39] #2837 closed

[2017-02-06 18:06] moollaza commented on #3106
This is back online and working:

- https://duckduckgo.com/?q=aa+729&ia=flights
- https://duckduckgo.com/?q=Flight+TK1986&ia=flights

[2017-02-06 18:06] #3106 closed

[2017-02-06 18:09] moollaza commented on #3103
Looks like this is a relevancy issue.

Without the USBArmory we still show that result: https://duckduckgo.com/?q=mac+os+x+github&ia=software

However, without the `mac os x` we show the correct result:
- https://duckduckgo.com/?q=usbarmory+github&ia=software

[2017-02-06 21:35] Modanung commented on #2724
Yes, mBTC is a common way to display small amounts ([Electrum](https://github.com/spesmilo/electrum) does) and is approximately worth one dollar or euro with the current value of bitcoin.
My first thought would be to simply run a `1 mBTC EUR` query as `0.001 BTC EUR` and display small amounts of bitcoin in mBTC.

[2017-02-07 17:01] nalinbhardwaj commented on #3129
Queries of all formats `currency`+price/value don't get triggered.

https://duckduckgo.com/?q=usd+price
https://duckduckgo.com/?q=usd+value
https://duckduckgo.com/?q=value+of+usd

[2017-02-07 17:22] adityatandon007 commented on #3129
@moollaza . Can I give it a try

[2017-02-07 17:31] adityatandon007 commented on #3109
@moollaza I thing we should close this for now. Because this IA is not designed to take into the account things like spaces. If it is so then someone can also say that it doesn't work when tabs are included in amount or any unprintable character.
The IA's are just meant to trigger for only those things which they say, otherwise we loose on accuracy just to cover something which is not relevant at

[2017-02-07 17:34] nalinbhardwaj commented on #3079
Fixed via #3133. Please review.

[2017-02-07 17:37] nalinbhardwaj commented on #3079
Fixed via #3133. Also, transactions date time stamp was incorrect. It showed current time instead.

Example:
![screen shot 2017-02-07 at 11 05 40 pm](https://cloud.githubusercontent.com/assets/6984346/22703421/1dbea4f6-ed8a-11e6-988f-a5201bbf866b.png)

Please review. :)

[2017-02-07 19:10] nalinbhardwaj commented on #3102
Fixed via #3134. Please review.

[2017-02-07 19:32] nalinbhardwaj commented on #3050
This seems to have been fixed. Please close this issue. @moollaza

[2017-02-07 19:43] pjhampton commented on #3050
@nalinbhardwaj The PR is still open: https://github.com/duckduckgo/zeroclickinfo-spice/pull/3066 - It will automatically close once it's been merged 👍

[2017-02-07 19:47] nalinbhardwaj commented on #3050
@pjhampton That's weird. The terms seem to be working on duckduckgo.com:

https://duckduckgo.com/?q=maven+repo
https://duckduckgo.com/?q=maven+package

[2017-02-07 19:53] pjhampton commented on #3050
I think you are mistaken, @nalinbhardwaj. In your example `repo` and `package` are treated as the library name :+1:. Below are examples of the open issue. Don't worry though! I have pinged the developer :smile: hopefully he will finish this up soon.

Triggers: https://duckduckgo.com/?q=maven+spark&ia=software
Doesn't Trigger: https://duckduckgo.com/?q=maven+repo+spark

[2017-02-08 00:56] #3102 closed

[2017-02-08 01:02] btrower commented on #3109
Don't close. One of the things that make other engines (say, Google) so compelling is that they do their best to anticipate what you want based on input that you actually give, rather than what designers specify in advance. Exact syntax is for compilers, not human beings.

[2017-02-08 03:22] moollaza commented on #3119
@bsstoner if we have parameters for what we want (i.e. specific IAs and languages) then I think this is much more acceptable, because it's contained.

However, I think we should plan how we want to handle/organize the non-english code though. E.g. defining French, German, Spanish regex in separate modules. Hopefully an approach like that could keep the Perl modules uncluttered.

[2017-02-08 03:33] moollaza commented on #3093
I've set it to be re-enabled. Should be online within the next few hours 👍

[2017-02-08 03:33] #3093 closed

[2017-02-08 12:45] jbarrett commented on #3119
I don't think we should wait for some notional i18n effort in IA infrastructure if we can get quick wins now with simple inline additions, especially if, as @bsstoner suggests, we limit this to a strict highly-popular subset.

Eventually, when things are done The Right Way™, this set would be easy to refactor, right?

[2017-02-11 13:06] bsstoner opened #3136 "IsItUp: False positive triggering"
It shouldn't trigger here:
https://duckduckgo.com/?q=t-online.de

<img width="1224" alt="screen shot 2017-02-11 at 8 06 02 am" src="https://cloud.githubusercontent.com/assets/126358/22853963/03cd5b42-f031-11e6-925e-177d9e23e466.png">

------
IA Page:  http://duck.co/ia/view/is_it_up
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @rasikapohankar

[2017-02-11 16:25] rasikapohankar commented on #3136
I'll fix this in #3135. It seems to be triggering for any website name having the trigger words :confused:

[2017-02-12 16:10] nalinbhardwaj commented on #2880
Was this fixed or not? It seems to work fine now for me...

[2017-02-13 13:43] bsstoner opened #3137 "Currency Conversion: doesn't trigger with ='s"
**340USD = GBP**
[https://duckduckgo.com/?q=340USD%20%3D%20GBP&kp=1](https://duckduckgo.com/?q=340USD%20%3D%20GBP&kp=1)

_"HI,
It would be great if DDG had a currency conversion.
https://search.yahoo.com/search?p=340USD+%3D+GBP&b=&fr=ie8"_

------
IA Page:  http://duck.co/ia/view/currency
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @MrChrisW

[2017-02-13 14:19] bsstoner commented on #2372
Another piece of user feedback about this:
**time cairo**
[https://duckduckgo.com/?q=time%20cairo](https://duckduckgo.com/?q=time%20cairo)
_"When searching for "time Kairo" the result is in 12 hour clock. I would like to see it in 24 hour."_

[2017-02-13 15:04] bsstoner commented on #1802
More user feedback:

**gmt now time**
[https://duckduckgo.com/?q=gmt%20now%20time](https://duckduckgo.com/?q=gmt%20now%20time)
_Comment: Should show the time for GMT_

[2017-02-13 15:09] bsstoner commented on #3137
Another one, slightly different:
**gbp/zar**
[https://duckduckgo.com/?q=gbp%2Fzar](https://duckduckgo.com/?q=gbp%2Fzar)
_"Please also give the same results for the = sign, not just the / sign and the word to. Thanks"_

[2017-02-13 15:40] bsstoner opened #3138 "Geometry: wrong format?"
**sphere volume formula**
[https://duckduckgo.com/?q=sphere%20volume%20formula](https://duckduckgo.com/?q=sphere%20volume%20formula)
_When 'sphere volume formula' is searched the formula shown by the browser at the top of the search results page is misleading. It shows V=4/3pi()r^3. The idea is correct but the format is wrong in my opinion. It should be shown that pi*r^3 is separate from 4/3 in th

[2017-02-13 16:03] bsstoner opened #3139 "Currency Conversion: Not triggering when amount's after currency"
**CHF 2.95 in eur**
[https://duckduckgo.com/?q=CHF%202.95%20in%20eur](https://duckduckgo.com/?q=CHF%202.95%20in%20eur)
_"why don't covnert :("_

------
IA Page:  http://duck.co/ia/view/currency
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @MrChrisW

[2017-02-13 16:03] bsstoner commented on #3139
This works: https://duckduckgo.com/?q=2.95+CHF+in+eur

[2017-02-14 17:37] renato67 opened #3142 "Gitbook Status:"
what markup  pre compiler use gitbook?
------
IA Page:  http://duck.co/ia/view/git_book_status
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @qqq3

[2017-02-14 21:54] adampolar commented on #3098
Hi, is this still available to take? I'd like to take it if so. I'm new to open source but I've made an attempt already which roughly matches the CPAN spice.

[2017-02-15 18:56] bsstoner opened #3144 "ExpandURL: Not working with amp.gs"
**expand url amp.gs/15W2**
[https://duckduckgo.com/?q=expand%20url%20amp.gs%2F15W2](https://duckduckgo.com/?q=expand%20url%20amp.gs%2F15W2)
_Comment: "expand url" is not working with amp.gs_

------
IA Page:  http://duck.co/ia/view/expand_url
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @adman

[2017-02-16 05:10] nalinbhardwaj commented on #3144
It seems the LongURL API is down. The results that are being displayed are due cache. The IA would probably need a rewrite.

[2017-02-17 16:08] gautamkrishnar commented on #3142
The IA doesnt use any markup compilers... Please check the gitbook documentation to know any details about it....

[2017-02-17 16:08] #3142 closed

[2017-02-19 12:57] #3079 closed

[2017-02-20 00:15] bsstoner opened #3147 "Currency Conversion: doesn't recognize "rubles""
**500 rubles in dollars**
[https://duckduckgo.com/?q=500%20rubles%20in%20dollars](https://duckduckgo.com/?q=500%20rubles%20in%20dollars)
_Comment: it would be very helpful to have currency converter widgets for queries like this one, thank you, and keep up the good work._

------
IA Page:  http://duck.co/ia/view/currency
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @MrCh

[2017-02-20 00:29] bsstoner opened #3148 "NPM Search: links to wrong documentation page"
**npm publish**
[https://duckduckgo.com/?q=npm%20publish](https://duckduckgo.com/?q=npm%20publish)
_Comment: the instant answer links to the wrong documentation page_

------
IA Page:  http://duck.co/ia/view/npm
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @remixz

[2017-02-20 00:44] bsstoner commented on #3094
Thanks for the report. There are some triggering issues with weather that we're looking into internally. Closing because I don't think we can do anything here.

[2017-02-20 00:44] #3094 closed

[2017-02-20 00:45] bsstoner commented on #1802
**time now est**
[https://duckduckgo.com/?q=time%20now%20est](https://duckduckgo.com/?q=time%20now%20est)
_Comment: Searching "time now ET" should display the time in the results_

[2017-02-20 09:49] pjhampton commented on #3148
Hey @bsstoner,

This isn't http://duck.co/ia/view/npm, it's http://duck.co/ia/view/npm_cli (Fathead for CLI). We are aware of this issue and have a patch ready to go (https://github.com/duckduckgo/zeroclickinfo-fathead/pull/800). Closing as there is nothing we can do here.

[2017-02-20 09:49] #3148 closed

[2017-02-20 12:32] bsstoner commented on #3148
Thanks 👍

[2017-02-20 12:38] bsstoner commented on #1802
**eastern time**
[https://duckduckgo.com/?q=eastern%20time](https://duckduckgo.com/?q=eastern%20time)
_Comment: When I search for eastern time, it could be useful if it displayed the current eastern time prominently._

[2017-02-20 13:31] dShringi opened #3149 "SoundCloud: Stream Unavailable at replay."
If you try to replay the song you have listened once, it doesn't plays and you get Stream Unavailable. To replicate the same, just search and play any soundcloud audio and once it is completed, try to play it again.

------
IA Page:  http://duck.co/ia/view/sound_cloud
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @jdan

[2017-02-20 14:56] adityatandon007 commented on #3149
@pjhampton I couldn't replicate the same. It seems to be working fine for me.

[2017-02-20 16:20] dShringi commented on #3149
@adityatandon007 @pjhampton Based on the above comment I tried with couple of more songs and it worked for most of the cases however I tried to replicate with the ones I had faced the issue and I could replicate the issue.

So, I have attached the evidence, can you please try to replicate with the attached evidence and confirm if it still works for you or not.

![stream_unavailable](https://cloud.

[2017-02-20 17:31] adityatandon007 commented on #3149
@dShringi No luck buddy, I was not able to replicate the issue with song you mentioned. I tried 2 times but for me its working properly, though I would like to ask you in which browser you tried. I only tried in chrome and its seems to be working fine in chrome. Could you tell in which browser you tried :question:

[2017-02-20 17:42] adityatandon007 commented on #3149
@dShringi One slight luck I was able to replicate the issue on firefox but its not an issue. I get the stream unavailable if I am streaming something else on other webpage like youtube and I think this happens because of the limited bandwidth (download/upload), else its working fine. Hope this helps. Still I would love to know the browser in your case. One more thing you can try clearing the cache

[2017-02-20 20:20] adityatandon007 commented on #3149
@dShringi @pjhampton some more testing on chrome also show this problem of _stream unavailable_ if you continuously listen to the song for a very long time like replaying the song 3 or 4 times and it goes then for every song, but disconnecting the network and reconnecting the network again solves the issue but I don't know exactly why this happens. Might be something off with the API **(clearly no

[2017-02-20 20:30] pjhampton commented on #3101
Hey @karuppiah7890! 😃  Any update?

[2017-02-20 22:57] dShringi commented on #3149
@adityatandon007 You're right in saying that it is not a bandwidth issue. I just tried to see if I could find anything in developer console and I found that the media request on subsequent call fails with `403 x-cache:Error from cloudfront`. So, it seems like an issue with soundcloud api, not sure though.

[2017-02-21 03:16] githubtefo commented on #2362
Same here from "Weather in Sao Paulo" and "Weather in New York".

[2017-02-21 11:03] nalinbhardwaj commented on #3107
I think it's a better idea if the IA detects a person's location(using the country setting) instead of the location of the forecast. A lot of travellers may search for weather out of town and get results in an unexpected format the other way. Thoughts?

[2017-02-21 11:08] nalinbhardwaj commented on #3107
The IA actually checks the user's settings to decide the unit. I don't see why we should decide unit based on location in query, a lot of travellers could use this IA too.

Thoughts?

[2017-02-21 12:27] bsstoner commented on #3107
It would be a smarter default for people that haven't touched the settings (which is the vast majority of users).

I think it would be based on user country, not location in the query. Similar to what we did for Currency in #3072

[2017-02-21 13:00] nalinbhardwaj commented on #3107
@bsstoner Hmm, that makes sense, I'll make a PR soon. I think though it is a good idea that DDG auto-changes those settings based on location(nearly all people in Europe/Asia use metric).

[2017-02-21 14:23] nalinbhardwaj opened #3150 "Forecast: UI in dark mode inconsistent with the theme"
### Description

The hover state of the forecast makes URLs blue. That makes sense when the theme is the default one, but in dark mode, it should just underline it(similar to what regular search links look like).

I'll be making a PR fixing this in a few hours.

## Steps to recreate

- Change theme to dark
- Search "weather"
- Hover over links

## People to notify

@himanshu0113

---

Instant Answ

[2017-02-21 14:53] nalinbhardwaj commented on #3107
Fixed via #3151. Please review

[2017-02-21 14:57] adityatandon007 commented on #3150
@nalinbhardwaj I was able to recreate the bug as you mentioned and you were right in dark theme the url on hover goes blue

[2017-02-21 15:00] nalinbhardwaj commented on #3150
@adityatandon007 Thanks for the verification. Will make a PR soon.

[2017-02-21 15:54] nalinbhardwaj opened #3152 "Forecast: Mobile links don't work"
### Description

Mobile links for future forecasts don't go to [DarkSky](http://darksky.net), instead they seem to redirect to the page itself. The link in the location works however.

## Steps to recreate

- Use a mobile device
- Search `weather`
- Click link in "Mon"/"Fri"/"Sat" etc.

## People to notify

@himanshu0113

---

Instant Answer Page: https://duck.co/ia/view/forecast

[2017-02-21 15:59] #3107 closed

[2017-02-21 17:52] nalinbhardwaj commented on #3152
I'll be submitting a PR fixing this as well soon.

[2017-02-22 08:25] adityatandon007 commented on #3149
@dShringi This issue is getting more annoying now. It now shows `stream unavailable` for the first attempt of playing of some songs (sometimes). There is something going on with the Api. Soundcloud api doesn't seems to response. I am also getting `502 error` . I think it is some kind of resource conflict or port request issue, though not quite sure, I will ask about this issue with other community

[2017-02-22 08:32] dShringi commented on #3149
@adityatandon007 Now that is strange, before posting I tried couple of times but I never got 502. Also, I have never seen Stream Unavailable when I play the song first time. I will continue to use it and keep you posted if I face anything similar, anyway, agreed that it seems like an issue with the Soundcloud API only.

[2017-02-23 07:08] andschwa commented on #3136
Ah, yeah, another example: `isitdown` triggers it (but awesome project!).

[2017-02-24 14:48] #3098 closed

[2017-02-26 21:46] bsstoner commented on #2320
Thanks, these should work now.

[2017-02-26 21:47] #2320 closed

[2017-02-26 22:09] bsstoner commented on #2386
**the volume of cylinder**
[https://duckduckgo.com/?q=the%20volume%20of%20cylinder](https://duckduckgo.com/?q=the%20volume%20of%20cylinder)

[2017-02-27 09:11] tagawa opened #3155 "Places: Overtriggering for local search"
**Search query:** [Japanese Cultural and Community Center of Northern California](https://duckduckgo.com/?q=Japanese%20Cultural%20and%20Community%20Center%20of%20Northern%20California&kp=1&kad=wt_WT&kl=wt-wt)

**Issue:** IA shows unrelated business/amenities in my local area, not Northern California.

------
IA Page:  http://duck.co/ia/view/maps_places
[Maintainer](http://docs.duckduckhack.com/mai

[2017-02-28 06:38] Duncskunk commented on #3149
A few days ago, when I would access SoundCloud through DuckDuckGo, it would allow me to listen to songs that I hadn't paid for and that were not available in my area. I assume because they were being streamed through someone else's account which may be a reason for soundcloud to block that account, potentially. I don't really know how DuckDuckGo is coded for streaming with SoundCloud.

[2017-02-28 13:20] moollaza commented on #3149
Thanks for pointing this out. We're investigating the issue.

[2017-02-28 14:10] moollaza commented on #3101
@duckduckgo/duckduckhack-contributors would anyone be interested in taking this up and greatly expanding the DDG package search capabilities? We'd love to see this go live!

[2017-02-28 14:20] karuppiah7890 commented on #3101
@pjhampton Hey, sorry. No. No updates. And this is high end for a newbie like me.

[2017-02-28 17:57] knowledgewarrior commented on #3101
Ok, ok. Twist my arm :)  I'll make this higher priority than the ember.js fathead.

[2017-02-28 18:05] pjhampton commented on #3101
🎸 🤘 Thanks @knowledgewarrior

[2017-02-28 21:10] andrew commented on #3101
Hi @andrew from https://libraries.io here, this is awesome, do let me know if there's anything I can do to help!

We're also rolling out search across gitlab and bitbucket repositories at the moment if that's useful?

[2017-02-28 21:47] pjhampton commented on #3101
Awesome! Thanks for reaching out @andrew, and thanks for libraries.io! It's awesome!

[2017-03-01 01:32] knowledgewarrior commented on #3101
@andrew Re:  https://libraries.io/api - rate limiting.  It would be nice to have an account each for duckduckgo (production) and duckduckhack (dev/test) with > 60 reqs/min limit.  What's the maximum for setting in production?  @pjhampton or @moollaza would know what the expected reqs/min would be.  Dev/Test could be set just a little higher - say 120.  Thanks in advance!

[2017-03-01 08:03] Someguy123 opened #3158 "Tor Node Instant Answer: Not working"
Didn't see an issue, so I decided to open one. When attempting to use the search terms, nothing happens.

------
IA Page:  http://duck.co/ia/view/tor_node
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @mogigoma

[2017-03-01 08:29] Boldewyn opened #3159 "Emojipedia Bug: Instant Answer is not showing in search results"
### Description

When searching for emojis, the Emojipedia Spice should provide a short info for a specific emoji. Worked like a charm when we last checked in 2016. Currently, there is no such instant answer, though.

I am the maintainer of this iA. I checked out the current code in the codio work bench and tested with `duckpan query`, where everything looks OK, as far as I can tell.

## Steps to

[2017-03-01 08:39] PatrickCozy opened #3160 "Spam"
Removed by @pjhampton

[2017-03-01 10:43] pjhampton commented on #3158
It seems like the production state is [set to offline](https://duck.co/ia/view/tor_node/json). It must have got knocked offline.

cc @moollaza

[2017-03-01 11:04] #3160 closed

[2017-03-01 11:11] pjhampton commented on #3159
It looks like this has been knocked offline (Production state) for some reason.

cc @moollaza

[2017-03-01 17:53] pjhampton commented on #3129
Thanks @adityatandon007

[2017-03-01 17:59] pjhampton opened #3162 "Meta Issue: IA Improvements from User Feedback"
## IA Improvements from User Feedback (Spice)

DuckDuckGo has [over 1000 IAs](https://duck.co/ia) in production. Utilizing user feedback, we want to make these IAs even more awesome! Below is a list of tasks that need to be completed for existing IAs.

#### High Priority
  - [ ] [ExpandURL: Find a better URL expanding API](https://github.com/duckduckgo/zeroclickinfo-spice/issues/3164)
  - [ ] [Git

[2017-03-01 18:10] #3149 closed

[2017-03-01 18:55] adityatandon007 commented on #2386
I'll will take this

[2017-03-01 19:51] moollaza commented on #3144
The API response, and untiny.me explain that amp.gs is an unsupported service. So this isn't a problem we can solve unless there is a better URL Expanding API.

FWIW Chrome and Safari suggest you don't visit untiny.me because the site was apparently detected as containing malware.

Closing this and creating a new task to find a better API.

[2017-03-01 19:51] #3144 closed

[2017-03-01 19:54] moollaza opened #3164 "ExpandURL: Find a better URL expanding API"
Safari and Chrome claim that the domain https://untiny.me contains malware. We should stop using this API service in favour of one that is safer for our users.

As well, we received some feedback about unsupported domains (e.g. amp.gs) which the Untiny API cannot expand.

------
IA Page:  http://duck.co/ia/view/expand_url
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @adm

[2017-03-01 19:58] moollaza commented on #3164
I am going to disable the IA for now.

[2017-03-01 19:58] moollaza commented on #3144
New issue: https://github.com/duckduckgo/zeroclickinfo-spice/issues/3164

[2017-03-01 20:21] knowledgewarrior commented on #3101
I opened:  https://github.com/librariesio/libraries.io/issues/1226

to obtain api keys for test and prod.  Is there a doc link for using secrets?  I'm not sure I've seen a doc on how duckduckgo uses secrets like passwords, api keys, etc in IAs AFAIK...

[2017-03-01 21:30] moollaza commented on #3109
@mintsoft can we adjust the NumberStyle to allow a space as a thousands separator?

Additionally a quicker fix would be to replace or remove spaces between numbers in the query:

E.g. `s/(\d+)\s+(\d+)/$1,$2/

[2017-03-02 12:09] pjhampton opened #3165 "Currency Conversion: Enable Triggering for symbol before amount"
### Description

Based on [user feedback](https://github.com/duckduckgo/zeroclickinfo-spice/issues/3139), we have found that `<amount> <symbol> to <symbol>` triggers like in **Screenshot 1**. But doesn't trigger when the query is `<symbol> <amount> to <symbol>` as seen in **Screenshot 2**.

### Screenshot 1
![screen shot 2017-03-02 at 12 05 14 pm](https://cloud.githubusercontent.com/assets/8960296

[2017-03-02 12:10] pjhampton commented on #3139
Closing this because of https://github.com/duckduckgo/zeroclickinfo-spice/issues/3165

[2017-03-02 12:10] #3139 closed

[2017-03-02 15:01] pjhampton commented on #3138
I'm not really sure about this. It's more of a _slight_ preference. Google have a similar IA where the formula is the same. Due to this being a spice, we would also have to take the input and reformat it.
![screen shot 2017-03-02 at 2 55 36 pm](https://cloud.githubusercontent.com/assets/8960296/23512594/108f5b78-ff59-11e6-90aa-0eeb208b7916.png)

[2017-03-02 15:10] pjhampton opened #3166 "Reformat Geometry Formula"
### Description

Based on [user feedback](https://github.com/duckduckgo/zeroclickinfo-spice/issues/3138), it could be a good idea to format the formula in the Geometry IA. Currently it reads:

[code]

But to make things clearer, it should read:

[code]

## Get Started
- [ ] 1) Claim this issue by commenting below
- [ ] 2) Review our [Contributing Guide](https://github.com/duckduckgo/zeroclickinfo-

[2017-03-02 15:10] pjhampton commented on #3138
Closing. Opened https://github.com/duckduckgo/zeroclickinfo-spice/issues/3166

[2017-03-02 15:10] #3138 closed

[2017-03-02 15:12] nalinbhardwaj commented on #3166
Not completely sure, but I think I read that we can use libraries like mathjax in spices. If so, I think the best idea might be to completely shift to latex for such IAs. Thoughts?

[2017-03-02 15:18] pjhampton commented on #3101
Hey @knowledgewarrior! @moollaza wrote some documentation on this. You can see it here: https://docs.duckduckhack.com/backend-reference/api-reference.html#api-keys

[2017-03-02 17:16] pjhampton opened #3167 "Forecast: Text overlapping with image"
### Description

The text is overlapping with the temperature and image when the text is greater than 32 characters. For the best possible user experience, we need to improve UI to this IA. In this issue, the developer will make the UI more flexible.

#### Screenshot 1 (Not looking so good 👎 )

![screen shot 2017-03-02 at 5 09 33 pm](https://cloud.githubusercontent.com/assets/8960296/23518499/86dd

[2017-03-02 17:17] pjhampton commented on #3132
Closing in favour of https://github.com/duckduckgo/zeroclickinfo-spice/issues/3167

[2017-03-02 17:17] #3132 closed

[2017-03-02 17:30] pjhampton opened #3168 "Currency Conversion: RUB aliases needed"
### Description

Based on user feedback, the Currency Conversion IA is not reaching the way some people are searching for conversions. [One example](https://github.com/duckduckgo/zeroclickinfo-spice/issues/3147) was **Russian Rubbles => US Dollars**.

#### Screenshot 1 (Good 👍 )

![screen shot 2017-03-02 at 5 23 11 pm](https://cloud.githubusercontent.com/assets/8960296/23519064/864195d4-ff6d-11e6-

[2017-03-02 17:31] pjhampton commented on #3147
Closing due to #3168

[2017-03-02 17:31] #3147 closed

[2017-03-02 18:16] pjhampton commented on #3104
Hmm, I'm not sure if v1.1 of their API supports custom quantities from this [Google Docs Spreadsheet](https://docs.google.com/spreadsheets/d/1jZSa039OfpQOiRzaS980nPKCvVe2TRKRPZk7ZbaH7kE/edit#gid=0)

[2017-03-02 18:35] pjhampton opened #3170 "Github: Extend IA to search issues"
### Description

Based on [user feedback](https://github.com/duckduckgo/zeroclickinfo-spice/issues/3105), we're not doing a good enough job at surfacing relevant Github issues. I propose we extend the existing Github Instant Answer to search for issues or creating a new one. The first approach, although not perfect, would be to list issues from the Github API - https://api.github.com/search/issues

[2017-03-02 18:36] pjhampton commented on #3105
Closing due to https://github.com/duckduckgo/zeroclickinfo-spice/issues/3170

[2017-03-02 18:36] #3105 closed

[2017-03-03 22:04] #3167 closed

[2017-03-03 22:06] mintsoft commented on #3109
@moollaza yeah that's pretty easy to do; is the NumberStyle available to the perl backend of a spice though?

[2017-03-06 02:28] Suaiden opened #3173 "Forecast: 18702 Reverted to Harrisburg"
Was working for a while, but it thinks 18702 (Wilkes-Barre) is Harrisburg.

------
IA Page:  http://duck.co/ia/view/forecast
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @himanshu0113

[2017-03-06 11:48] 1KFHE7w8BhaENAswwryaoccDb6qcT6DbYY opened #3174 "Bitcoin Addresses, Blocks"
------
IA Page:  http://duck.co/ia/view/bitcoin
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @jmg

[2017-03-06 11:49] pjhampton commented on #3174
This isn't descriptive enough to be actionable. Closing.

[2017-03-06 11:49] #3174 closed

[2017-03-06 18:49] pjhampton commented on #2997
This [IA's production state](https://duck.co/ia/view/chuck_norris/json) has been knocked offline.

[2017-03-06 19:20] santigl opened #3175 "METAR Information: Not working (on main site)"
### Description

The METAR IA is not being displayed on the main site. However, it does work in beta.duckduckgo.com (though it is running a minor modification from a newer PR, #3005, which changes the API's url to HTTPs).

## Steps to recreate

* Does not work: https://duckduckgo.com/?q=metar+KLAX&ia=weather
* Works: https://beta.duckduckgo.com/?q=metar+KLAX&ia=weather

## People to notify

@mooll

[2017-03-06 19:24] pjhampton commented on #3175
The [production state is set to offline](https://duck.co/ia/view/metar/json). It just needs to be put online (unless there is some weird underlying problem).

cc. @moollaza

[2017-03-06 19:27] santigl commented on #3175
Thanks for the quick reply, @pjhampton. Could it have failed at some point and that caused it to be taken offline?

[2017-03-06 20:09] pjhampton commented on #3175
Yep, it's possible @santigl

[2017-03-06 20:42] santigl commented on #3175
I see. If there isn't a bigger underlying problem, could we take this opportunity to update the IA code before bringing it back online? (It has been running on beta for close to a month.)

[2017-03-06 21:09] pjhampton commented on #3175
I said possible, it's more probable 😄

Sounds like an idea 👍  What have you got in mind?

[2017-03-06 21:14] santigl commented on #3175
Just to deploy what is currently running in beta (PR #3005). It is just a minor usability change and, most importantly, it uses the new API's url format and enables HTTPs.

[2017-03-06 23:41] Suaiden commented on #3173
working again! Thanks

[2017-03-06 23:41] #3173 closed

[2017-03-07 10:25] pjhampton commented on #2906
Closing as this is no longer high priority 👍

[2017-03-07 10:25] #2906 closed

[2017-03-07 12:49] #3137 closed

[2017-03-07 20:35] zappe opened #3177 "Places: Not working without qutotation"
"Hair Salons Porto" doesn't work but ""Hair Salons" Porto" work.

------
IA Page:  http://duck.co/ia/view/maps_places
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @nilnilnil

[2017-03-07 20:42] pjhampton commented on #3177
That's odd @zappe, because it works for me. It's possible it just trigger for some reason. Can you verify by trying again?

![screen shot 2017-03-07 at 8 41 18 pm](https://cloud.githubusercontent.com/assets/8960296/23677016/756becc0-0376-11e7-8859-d5c91669a785.png)

[2017-03-07 20:57] zappe commented on #3177
Strange, didn't work today but is working now.

Btw, any plans on adding more than Yelp?
Like Facebook or Foursquare?

Yelp is pretty limited.

[2017-03-07 21:00] pjhampton commented on #3177
No, no plans but I can add it to the feedback pipeline! 😄  Thanks!

[2017-03-07 21:00] #3177 closed

[2017-03-08 02:46] BillyBarbaro commented on #3164
Don't know if alternatives have been discussed elsewhere, but I came across this site.  [Link Expander](http://www.linkexpander.com/api).

[2017-03-08 02:54] BillyBarbaro commented on #3164
It looks like an alternative to finding an API would be to use perl on the backend to make a request to the url, then just grab the url from the header of the redirect.  This answer on [StackOverflow](http://stackoverflow.com/questions/7153096/how-can-i-un-shorten-a-url-using-python/7153185#7153185) describes a way to do it using Python.  This would prevent the need to hit someone else's API.  Wha

[2017-03-08 03:01] BillyBarbaro commented on #3168
By the looks of the Currency Names File, it appears there is both the "belarus ruble" (line 24) and the "russia ruble" (line 120).  My guess is the original author didn't include rubles as a keyword for either to avoid the ambiguity.  Do we want to just go ahead and assume a search for "ruble" alone means the Russian Ruble?  Seems to me like that would be the more common search for users, but I do

[2017-03-08 10:53] pjhampton commented on #3168
Hmm, well-spotted @BillyBarbaro! Based on the feedback that we received the user was expecting the conversion from Russian Rubles. And not to be copy cats, but Google automatically assumes Russian Rubles:

![screen shot 2017-03-08 at 10 52 08 am](https://cloud.githubusercontent.com/assets/8960296/23701139/5ff012b4-03ed-11e7-9219-b8685b0418de.png)

[2017-03-08 14:13] electricduck opened #3178 "xkcd Bug: Not working"
### Description

When I use "xkcd {comicID}", nothing is returned

---

Instant Answer Page: https://duck.co/ia/view/xkcd

[2017-03-08 14:16] pjhampton opened #3179 "Conversion: MB mistaken for Mb"
### Description

Based on some user feedback, the [Conversions IA](https://duck.co/ia/view/conversions) is not disambiguating between MegaBytes (MB) and MegaBits (Mb). It is, therefore, nessesary to extend this IA to solve this issue

#### Correct 👍

![screen shot 2017-03-08 at 1 49 40 pm](https://cloud.githubusercontent.com/assets/8960296/23706463/33966394-0406-11e7-84e3-20c7004631fd.png)

#### N

[2017-03-08 14:17] #3179 closed

[2017-03-08 14:19] pjhampton commented on #3178
Hey @electricduck! Thanks for reporting 😄

It seems that this has been knocked offline for some reason - https://duck.co/ia/view/xkcd/json
cc. @moollaza

[2017-03-08 14:20] pjhampton commented on #3179
Mistook the repo I was in. Repost https://github.com/duckduckgo/zeroclickinfo-goodies/issues/3990

[2017-03-08 15:11] pjhampton opened #3180 "Forecast: Default to Celsius outside of US"
### Description

There have been user queries as to why this Instant Answer is showing them Fahrenheit over Celsius. It would be great if someone could extend this IA to default to Celsius if the user is not in the United States.

#### Good default (US) 👍

![screen shot 2017-03-08 at 2 56 23 pm](https://cloud.githubusercontent.com/assets/8960296/23709283/d0731932-0410-11e7-9d4f-b6325fc5c697.png)

[2017-03-08 15:13] nalinbhardwaj commented on #3180
Hey @pjhampton I fixed this already in #3151. I think it's not pushed to production yet however.

[2017-03-08 15:14] pjhampton commented on #3180
Oh, nice! Thanks @nalinbhardwaj

[2017-03-08 15:14] #3180 closed

[2017-03-08 15:15] nalinbhardwaj commented on #3180
I have another pending improvement to the forecast IA if you could review it: #3153 :)

[2017-03-08 15:59] pjhampton opened #3181 "Time: Timezone Based Searches"
### Description

There has been user feedback detailing the absence of time zone/time responses from DuckDuckGo. Queries include:

- _eastern time_
- _PST time_
- _Pacific Time_
- _utc_
- _current utc time_

I believe that these users might be expecting something like the following:

![screen shot 2017-03-08 at 3 52 56 pm](https://cloud.githubusercontent.com/assets/8960296/23711310/614b5a4a-0417-1

[2017-03-08 17:59] pjhampton commented on #3181
Closing in favour of https://github.com/duckduckgo/zeroclickinfo-spice/issues/1802

[2017-03-09 12:46] in0rdr opened #3183 "SoundCloud: Autoplay"
How can I integrate autoplay functionality?

------
IA Page:  http://duck.co/ia/view/sound_cloud
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @jdan

[2017-03-09 14:41] moollaza commented on #3164
@BillyBarbaro Unfortunately we don't allow Goodies to make web requests. If we did, we'd have to wait, or stop the Goodie from executing in order to display the results as fast as we'd need to.

This is why we prefer APIs -- because we load the SERP, and show the link results, while the client makes an API call. Once the response is returned we can just add the IA to the page

[2017-03-09 14:44] #3168 closed

[2017-03-09 15:05] nalinbhardwaj opened #3184 "Astrobin Apod: Doesn't trigger"
### Description

The Astrobin Apod IA doesn't trigger on duckduckgo.com . It seems to work fine on beta however.

## Steps to recreate

Query : [astronomy picture of the day](https://duckduckgo.com/?q=astronomy%20picture%20of%20the%20day&ia=astronomy)

## People to notify

@killerfish

---

Instant Answer Page: https://duck.co/ia/view/apod

[2017-03-09 15:16] pjhampton commented on #3184
@nalinbhardwaj it's production state is set to offline: https://duck.co/ia/view/apod/json
It needs to be reactivated internally

[2017-03-09 16:32] Boldewyn commented on #3159
Is there by chance anything new? Or something we could do on our end?

[2017-03-09 18:00] pjhampton commented on #3183
I'm not sure if autoplay is a good idea. We don't want to shock the user if they weren't expecting it and also, it might not be the sought after track.

[2017-03-09 18:28] Chinggis6 opened #3185 "Dictionary Definition: IPA support (pronunciation)"
Please, offer [IPA](https://en.wikipedia.org/wiki/International_Phonetic_Alphabet) too, and not only US-style pronunciation transcription (characters).

Google does that, and I used to use google.co.uk specifically for that very reason before I switched to DDG.

![DDG example](http://i.imgur.com/QvaMY6j.png "DDG definition with US-style pronunciation transcription")

![Google example](http://i.img

[2017-03-09 18:47] pjhampton commented on #2939
It seems to me that these queries are now working. See attached. If there are still not working for you we can reopen this issue 👍

![screen shot 2017-03-09 at 6 46 29 pm](https://cloud.githubusercontent.com/assets/8960296/23765336/cd3cba64-04f8-11e7-849a-dae0071face8.png)

![screen shot 2017-03-09 at 6 46 09 pm](https://cloud.githubusercontent.com/assets/8960296/23765340/cff98156-04f8-11e7-9454-0

[2017-03-09 18:47] #2939 closed

[2017-03-09 18:51] pjhampton commented on #3028
Looks like this is back up and running https://duckduckgo.com/?q=keybase+pjhampton&ia=keybase

[2017-03-09 18:51] #3028 closed

[2017-03-09 18:58] pjhampton commented on #3159
Hey @Boldewyn, I'm afraid not. A DDG employee will put it back online at some stage I'm sure!

[2017-03-09 19:12] in0rdr commented on #3183
You are right, it might not. I was just searching for a music author today and thought it would be neat if I could continue my browsing in another tab and Duckduckgo would just autoplay the rest of the search results. I think it was suggested also last year, #1692

[2017-03-09 19:35] pjhampton commented on #3183
awesome - nice find! Let's continue the convo there 😄

[2017-03-09 19:35] #3183 closed

[2017-03-09 19:39] jonathancross commented on #3028
Fantastic!

[2017-03-10 17:10] pjhampton commented on #3087
Hey @alolis!

Thanks for bringing this to our attention! It seems like the API is still providing a response. Is the API just no longer being maintained but still running?

[2017-03-11 17:35] BillyBarbaro commented on #3165
@pjhampton I'd like to take a go at this one!

[2017-03-11 20:00] pjhampton commented on #3165
Awesome! Thanks @BillyBarbaro

[2017-03-12 19:45] BillyBarbaro commented on #3164
That makes sense.  I found a couple other options.

1.  [unshorten.me](https://unshorten.me/api) looks like they provide a pretty nice API.  They are rate limited, but they say to contact them if you need to make more requests.  I assume it would be up to someone on the team like @moollaza to reach out to them?

2. [URL Expander](http://urlex.org) offers an API it looks like we could use; however,

[2017-03-12 20:22] BillyBarbaro commented on #3165
@pjhampton Went ahead and made the change and it looks like all the existing unit tests are passing.  Just wanted to clear up a quick ambiguity before I finished things up.

There's a test for the query "euro 400 jpy" which has the correct result as converting 400 jpy into euros; however, with the addition of this new trigger, the query could also be interpreted as converting 400 euro to jpy.  Whi

[2017-03-13 20:01] ellisonleao commented on #3164
Hey guys, do we need a third party api or DDG can have its own?

[2017-03-13 20:39] BillyBarbaro commented on #3109
The Conversions IA @mintsoft mentioned is a Goodie, while the Currency IA is a spice.  The NumberStyle module (? sorry, not that familiar with Perl terminology) differs slightly between the two.

[Spice NumberStyle](https://github.com/duckduckgo/zeroclickinfo-spice/blob/5e1b8cca1dadc5e1d33ac9a536058d5180bdfa74/lib/DDG/SpiceRole/NumberStyle.pm)
[Goodie NumberStyle](https://github.com/duckduckgo/zer

[2017-03-13 20:50] mintsoft commented on #3109
@BillyBarbaro Thanks for that! I wasn't aware that the `NumberStyle` Role has been copied into this repo

@moollaza It's probably best to get https://github.com/duckduckgo/zeroclickinfo-goodies/pull/4000 merged and then we can update the Spice repo's copy of the Role for now?

[2017-03-14 12:07] #1802 closed

[2017-03-15 15:49] #1535 closed

[2017-03-15 17:17] pjhampton commented on #3162
Hey @duckduckgo/duckduckhack-contributors!

Is anybody interested by any of the above issues? 🚀  😄

[2017-03-15 17:31] pjhampton commented on #3165
I think we should keep the test for **euro 400 jpy**. As there have been no complaints from the users to date (AFAIK), it's meeting their needs. I'm not entirely sure I'm seeing the prediciment. `Original Currency> -> <New Currency>` is the same as **euro 400 jpy**. `euro 400` = `<original currency>`, `jpy` = `<new currency>`

[2017-03-15 17:35] BillyBarbaro commented on #3165
The current version of the IA would convert 400 jpy to euros on this query.  But if we add the ability to have the currency before the amount, the result would be converting 400 euros to jpy.

Original: `euro ? = 400 jpy`
New Triggering: `euro 400 = ? jpy`

I'm planning to keep the test, but if this is how we intend to interpret the query, I would need to change the expected value.

[2017-03-15 17:40] pjhampton commented on #3165
Yeah, I would say `euro 400 = ? jpy` makes much more sense than `euro ? = 400 jpy`. Also, based on user feedback, this is what the users want. 😄

[2017-03-15 18:51] BillyBarbaro commented on #3181
It seems like perl has some support for converting between timezones, so doing this as a Goodie may be an option.  Here's a [gist](https://gist.github.com/pjf/159065) demonstrating how it works and here's a list of the [timezones](http://search.cpan.org/dist/DateTime-TimeZone/) (or maybe [this](http://search.cpan.org/dist/DateTime-TimeZone/lib/DateTime/TimeZone/Catalog.pm) is the list?) supported

[2017-03-15 19:32] pjhampton commented on #3181
ugh, yeah. @moollaza and I were running some experiments with the `DateTime::TimeZone` module on Friday, but the problem is that it only supports like 5 time zones. I created the following scratch:

[code]

I believe that Zaahir's original idea of mapping them as you mentioned. Do you want to work on a proof of concept? 😄

[2017-03-16 00:14] BillyBarbaro commented on #3181
Ha. Sure.  It'll take a little bit of learning on my part (I've never written a Spice or perl code really), so it won't be super fast, but I'd love to give it a try.  Sounds like a good opportunity to learn.  Where should I put the code for it?

[2017-03-16 00:33] BillyBarbaro commented on #3181
Actually... New idea.  Should've looked at the existing Time IA first.  It's really nice.  What if we just create a mapping between the time zone codes we want to support and a location that corresponds to them?  Then when a query with one of these triggers the IA, it can search for the time in that location.

Then we'd tweak the front end code just a little to make sure it displayed the timezone

[2017-03-16 16:20] tilapiameister opened #3193 "Recipes: Incorrect star ratings displayed"
Hello, almost all recipes are previewed with 5 stars even though when you click on the recipe and go to the site the recipe will have less than 5 stars.

------
IA Page:  http://duck.co/ia/view/recipes
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @bsstoner

[2017-03-16 16:22] pjhampton commented on #3193
Hey @tilapiameister!

Thanks for reporting this! Can you please give us specific example[s]?

[2017-03-16 16:45] tilapiameister commented on #3193
Well when you search a red velvet cake recipe for example every single recipe is labeled 5 stars but then I opened a link to yumly and it was rated 2 stars there.
It would be nice to know what the real rating is and how many people voted for it.

[2017-03-16 16:48] pjhampton commented on #3193
https://duckduckgo.com/?q=red+velvet+cake+recipe&t=hd&ia=recipes&iai=2

[2017-03-16 16:55] tilapiameister commented on #3193
They are all 5 stars http://imgur.com/K16TKpO
But when you open the first link its only 1 star!
http://www.yummly.co/recipe/Red-velvet-cake-324797?prm-v1 and its been only reviewed once.

[2017-03-16 20:59] adityatandon007 opened #3194 "Geometry: This is the list of issues for geometry IA"
**Issues**

1. **Bug:** geometry of hemisphere gives the answer for geometry of sphere

![screenshot from 2017-03-17 02-01-05](https://cloud.githubusercontent.com/assets/25108385/24017529/6de29f0c-0ab6-11e7-929b-e51f0e5bcdcd.png)

2. *Triggering Issue* Typing `geometry nonsense square formula` and similar irrelevant queries triggers this IA

![screenshot from 2017-03-17 02-12-49](https://cloud.git

[2017-03-16 21:04] adityatandon007 commented on #3194
@duckduckgo/duckduckhack-contributors  These task can be split and various contributors can work on these individually, but please let others know before you start working

[2017-03-17 02:35] moollaza commented on #3164
@BillyBarbaro it doesn't have to be. Would you like to reach out to unshorten.me to see if they're willing to increase the limit for us?

FWIW, the "malware" warning is gone from Untiny.me so I feel like we may not need to replace it unless these alternatives prove to be better

Do you mean get us free access? Our policy is to only use Free APIs so paid APIs are out of the question.

@ellisonleao

[2017-03-17 02:43] BillyBarbaro commented on #3164
Sure, I can reach out and at least see what they're willing to say.  What would be an appropriate limit to ask for?

Additionally, it looks like untiny.me is still marked as malicious by safari.

[2017-03-17 03:01] moollaza commented on #3164
It's hard to say, but right now this IA isn't triggering very often. It appears to trigger ~500 times per day, but only shows a result < 200. I guess if they could allow us 1000 calls per day that should suffice.

Dang. It looks like it's actively maintained so we could also check with the creator if he's able to fix that.

[2017-03-17 03:06] ellisonleao commented on #3164
![screen shot 2017-03-17 at 12 06 03 am](https://cloud.githubusercontent.com/assets/178641/24027338/8bf51cf6-0aa5-11e7-8554-5e0d64067aed.png)

It is marked as malicious on Chrome as well

[2017-03-17 08:38] Adman commented on #3164
@moollaza when you decide which API will we use, I'm able to fix that.

[2017-03-17 15:20] moollaza commented on #3181
@BillyBarbaro that was my original idea to solve this. Given that Perl route seems like more work I think we should go with that solution. It's simpler and we know it'll work 👍

[2017-03-17 17:10] moollaza commented on #3164
@ellisonleao yup I'm now seeing that again. ☹️

[2017-03-17 18:06] pjhampton opened #3195 "Nutrition: Update with appropriate triggers"
## Problem

This Instant Answer is great, but it's not triggering as much as it should be. This is because the triggering hasn't been optimized. In https://github.com/duckduckgo/zeroclickinfo-spice/commit/ff29bd391b2a836ee3214338d2b67bbd7aaa560a, @jdorweiler removed a series of trigger words because this IA was **over-triggering**. However, it's now **under-triggering**.  This Pull Request should

[2017-03-17 18:20] pjhampton opened #3196 "Nutrition: Handle custom quantity in query"
## Problem

[Based on User Feedback](https://github.com/duckduckgo/zeroclickinfo-spice/issues/3104), the Nutrition Instant Answer is triggering for searches with custom quantities. This is a awesome because the [Nutritionix API](https://www.nutritionix.com/) supports Natural Language API based calls. See:

- https://www.nutritionix.com/natural-demo?q=10%20grams%20of%20tofu%20and%20a%20cup%20of%20c

[2017-03-17 18:22] pjhampton commented on #3104
Closing due to 2 open issues:

- https://github.com/duckduckgo/zeroclickinfo-spice/issues/3195
- https://github.com/duckduckgo/zeroclickinfo-spice/issues/3196

[2017-03-17 18:22] #3104 closed

[2017-03-17 19:02] pjhampton opened #3197 "Calculator: Add Interactive UI to Calculator"
## Problem

A lot of user feedback has requested an interactive calculator. A [Pull Request was created 2 years ago](https://github.com/duckduckgo/zeroclickinfo-spice/pull/1727) to create a JS based interactive calculator... but was unfortunately never finished. It was first implemented as a Spice, but it should now be created as a Goodie. There is now 30 open issues against the calculator IA. We

[2017-03-17 21:21] moollaza commented on #3109
@mintsoft sounds good!  duckduckgo/zeroclickinfo-goodies#4000 is merged 😄

[2017-03-17 23:29] #3109 closed

[2017-03-18 14:31] pjhampton commented on #3197
Reopened in Goodies repo

[2017-03-18 14:31] #3197 closed

[2017-03-19 22:35] agunay commented on #3194
@adityatandon007 Hello, I am new here. I would like to fix the first bug (about the hemisphere) if it's okay.

[2017-03-19 23:39] mintsoft commented on #3194
@agunay That's great, open a PR for your fix and we'll get cracking!

[2017-03-20 09:24] nalinbhardwaj commented on #3194
Another bug, SVG is made of black strokes, which makes it completely invisible in the dark theme. Needs to replaced by grey/white.

[2017-03-20 18:14] pjhampton opened #3203 "Conversions: Update aliases and query patterns"
### Description

Based on User Feedback, we need to update:

  - The aliases

    One user commented that they couldn't get `39 kw in hp` to trigger this IA. This is because **hp** isn't yet a trigger for **horsepower**.

  - The query pattern

    Another user left feedback to say that they couldn't convert `4" as cm`. This will require altering the query capture.

## People to notify

@mintsoft

[2017-03-21 01:58] BillyBarbaro commented on #3181
@moollaza Sounds good. I've already been working on a bit of a proof of concept.  I was thinking of storing the mappings similar to how it's done in the currency IA.  Something of the form:

`<Location1>,<Timezone String>,<Timezone String>, ...
<Location2>,<Timezone String>,<Timezone String>, ...`

Doing it this way, when a user searched for EST, it would result in the time in New York.  I looked

[2017-03-21 15:03] pjhampton commented on #3162
Closing for now. If anybody is following this issue, please check out https://duckduckhack.com/issues instead 👍

[2017-03-21 15:03] #3162 closed

[2017-03-21 19:12] BillyBarbaro commented on #3181
Additionally, do you think this should be appended to the current Time IA or treated as a new IA?  I feel we'd be better off creating a brand new one as this will just create a different path through the existing Spice which will make things a bit harder to understand.

[2017-03-22 22:45] moollaza commented on #3181
Yes, I think we should have standard names. That helps clarify to the user what timezone we interpreted the abbreviation as. It also means we can handle queries that mention the name, e.g. "[easter time](https://encrypted.google.com/search?hl=en&q=eastern%20time)"

I would not mention any cities though, that will likely create confusion because there's no explanation where it's coming from -- the

[2017-03-23 00:36] apoorvnandan commented on #3195
Hey, I would like to work on this!
In [ff29bd3](https://github.com/duckduckgo/zeroclickinfo-spice/commit/ff29bd391b2a836ee3214338d2b67bbd7aaa560a) the following trigger words were removed.
`'kcals', 'cals','dietary fiber','trans-fat','trans fat','trans fatty acid','calories from fat','saturated fat','monosaturated fat','polyunsaturated fat','cholesterol','sodium','sugar','protein','carbs','carbohy

[2017-03-23 03:18] AcriCAA opened #3204 "Bike Sharing Philadelphia (Indego):"
When trying to use this today, I noticed it was down.  The New York one as well. Curious why and what I might be able to do to fix it?

------
IA Page:  http://duck.co/ia/view/bike_sharing_indego_phl
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @AcriCAA

[2017-03-23 09:52] pjhampton commented on #3195
Yes, please @apoorvnandan

I'll put this on hold for now, but I will reserve it for you. I'm pushing a PR tonight which overhauls this IA and upgrades the API from 1.1 => 2. I will let you know when that's done 😄

[2017-03-23 09:54] pjhampton commented on #3204
Hey @AcriCAA!

Thanks for reporting this. It seems it has been knocked offline for some reason. I have added the `offline` label on github. Hopefully a member of staff will see it and put it back online at some stage.

[2017-03-23 10:34] apoorvnandan commented on #3195
Okay, sure.

[2017-03-23 16:59] BillyBarbaro commented on #3164
Quick update on this.  I got in contact with the owner of the site and he's willing to give us 1000 unique requests per day.  Any request we make that's already cached won't count as part of those 1000.

@moollaza Where do I put the key so it's secure, but I can make the necessary modifications to the existing Spice and start testing it?

[2017-03-24 16:40] pjhampton opened #3207 "Currency: Update alias for Bulgarian Lev"
## Problem

Based on User Feedback, this Instant Answer isn't triggering how it should on Bulgaria's official currency.

**Triggering:** 👍

![screen shot 2017-03-24 at 4 33 48 pm](https://cloud.githubusercontent.com/assets/8960296/24304024/f17c5b1a-10af-11e7-871c-7f54f28bbeaa.png)

**Not Triggering**: 👎
![screen shot 2017-03-24 at 4 33 21 pm](https://cloud.githubusercontent.com/assets/8960296/2430

[2017-03-24 17:11] moollaza commented on #3164
@BillyBarbaro this is excellent news! Thanks so much for getting in touch on our behalf. Nicely done 💯

@BillyBarbaro I will need to manually add the new API key to our systems before it will work on Beta.

Would it be possible to have them send me a production use API Key?

moollaza@duckduckgo.com

Thanks again!

[2017-03-24 17:55] BillyBarbaro commented on #3207
@pjhampton I can get this one real quick.

[2017-03-24 19:40] pjhampton opened #3209 "Nutrition: Add lists and update triggering"
## Problem

The Nutrition Instant Answer doesn't trigger for **single-word food item searches**, such as `avocado`, `beef`, or `steak`:

![screen shot 2017-03-24 at 7 28 58 pm](https://cloud.githubusercontent.com/assets/8960296/24310622/8f3e057a-10c8-11e7-85c4-c7ca1330af0d.png)

We should trigger on these queries and show an Instant Answer.

## Solution

1. Find one or more lists of popular food i

[2017-03-24 19:50] #3207 closed

[2017-03-26 18:46] ManrajGrover commented on #3170
@pjhampton I can take this one up. :smile: Would this be a separate IA or will be combined with [Github IA](https://duck.co/ia/view/github)?

[2017-03-26 18:58] pjhampton commented on #3170
Awesome! Thanks so much @ManrajGrover!!

Either is fine, but advancing the current IA makes the most sense 😄

[2017-03-28 08:20] artur99 opened #3212 "Empty results array in API"
## Description
The results given by the JSON api sometimes are empty. Same query on the full site would return the wanted results.

### Example
Term searched: 5941143004256
Full site(4 results): [https://duckduckgo.com/?q=5941143004256](https://duckduckgo.com/?q=5941143004256)
API request(no results): [https://api.duckduckgo.com/?q=5941143004256&format=json](https://api.duckduckgo.com/?q=594114300

[2017-03-28 09:44] pjhampton opened #3213 "Currency: Add GBP aliases"
## Problem

We are not currently supporting the aliases `sterling` and `pound sterling` in [currencyNames.txt](https://github.com/duckduckgo/zeroclickinfo-spice/blob/master/share/spice/currency/currencyNames.txt#L47). From user feedback and unanswered query data, we can see that this is something that needs patched. This issue would be perfect for a newcomer who hasn't yet contributed to DuckDuckH

[2017-03-28 09:59] pjhampton opened #3214 "Currency: Support 'Currency' trigger"
## Problem

In https://github.com/duckduckgo/zeroclickinfo-spice/commit/d6207c9804607d4d28234879a242f8ffd28df705, I added an edge case to stop the currency IA from trigger when a number wasn't present. This was to stop false positive triggering and resolve ambiguity. For example:

![screen shot 2017-03-28 at 10 53 39 am](https://cloud.githubusercontent.com/assets/8960296/24399498/db9514e8-13a4-11e

[2017-03-28 13:30] TheresaWilkin commented on #3213
I would like to do this please.

[2017-03-28 13:54] pjhampton commented on #3213
Awesome, thanks so much @TheresaWilkin! 😄  ping me if you have any questions or need any help

[2017-03-28 18:50] moollaza commented on #3204
Re-enabled. Will be online shortly.

[2017-03-28 18:50] #3204 closed

[2017-03-29 11:04] abuhussain commented on #3213
Would like to help, but no idea where and how to start!

[2017-03-29 12:02] pjhampton commented on #3213
Hey @abuhussain,

This issue has been completed essentially, we just need to [merge the PR](https://github.com/duckduckgo/zeroclickinfo-spice/issues/3215).

If you are interested in contributing, please check out duckduckhack.com/issues 😄  Feel free to reach out to me personally on slack

[2017-03-29 14:43] #3213 closed

[2017-03-29 15:06] moollaza opened #3217 "Currency: Add "peso" as alias for Mexican Peso"
## Problem

The word `peso` should exist as an alias for "Mexican Peso" (which seems to be the most popular Peso) in [currencyNames.txt](https://github.com/duckduckgo/zeroclickinfo-spice/blob/master/share/spice/currency/currencyNames.txt#L100).

From user feedback and unanswered query data, we can see that this is something we need.

This issue would be perfect for a newcomer who hasn't yet contri

[2017-03-30 15:16] mkw2000 commented on #3217
I would like to give this a go !

[2017-03-30 15:27] pjhampton commented on #3217
Thanks @mkw2000... it's all yours! reach out if you need some help

[2017-03-30 16:39] moollaza commented on #3212
@artur99 the API you see is our Instant Answer API. It only provides some of the Instant Answer results we show on DuckDuckGo.com -- it does **not** provide link results as we do not have the syndication rights for them.

You can learn more about it here: https://duckduckgo.com/api

The additional links you see on DuckDuckGo.com are due to additional API calls we make to get more results in certai

[2017-03-30 16:39] #3212 closed

[2017-03-31 13:43] moollaza opened #3220 "Currency: Add "yuan" as alias for Chinese Yuan"
## Problem

The word `yuan` should exist as an alias for "Chinese Yuan" (which seems to be the most popular Peso) in [currencyNames.txt](https://github.com/duckduckgo/zeroclickinfo-spice/blob/master/share/spice/currency/currencyNames.txt#L30).

From user feedback and unanswered query data, we can see that this is something we need.

This issue would be perfect for a newcomer who hasn't yet contrib

[2017-03-31 14:00] moollaza commented on #3217
@mkw2000 I've invited you to the DDG org, once you accept, we can set you as the Assignee on the task 👍

[2017-03-31 16:50] mkw2000 commented on #3217
@moollaza Thank you , just joined !

[2017-04-01 12:14] adityatandon007 commented on #3220
@moollaza I would like to try

[2017-04-01 13:31] pjhampton commented on #3220
Thanks @adityatandon007 💙  💛  💜

[2017-04-01 21:25] lernae commented on #3214
@pjhampton I'm interested in taking this up.  Can you clarify if the expectation is to have results for queries of form: a. "usd currency", "gbp currency", (with no amount) etc. or b. "1 usd currency", "1 gbp currency" (requiring an amount)
If queries of form a. should now return results then should queries such as "usd", "gbp" also now return results?

[2017-04-01 22:20] pjhampton commented on #3214
Awesome! Thanks so much! 😄

Both of these should trigger 👍

No, because that undoes the previous commit. You will need to alter that one line conditional I introduced

[2017-04-02 16:08] gautamkrishnar opened #3222 "Dictionary Definition: Audio unavailable for the query "define aspiration""
When i searched for "define aspiration" its shows audio unavailable when i click the play pronunciation button... 🔪

Browser: Firefox

![screenshot 334](https://cloud.githubusercontent.com/assets/8397274/24588757/8c61fbb0-17ec-11e7-8f01-877bf164de1e.png)

------
IA Page:  http://duck.co/ia/view/dictionary_definition
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @jagtalon

[2017-04-02 17:38] #3220 closed

[2017-04-03 18:46] ManrajGrover commented on #3170
@moollaza @pjhampton Given Github IA triggers on `triggers startend => "github"` which I feel is generic considering it searches for repositories only. If one adds `github issues` as trigger for this issue, it will trigger both IAs. Should we fix the former?

[2017-04-05 20:12] moollaza commented on #3170
@ManrajGrover yeah that sounds find. We can make a separte PR to prevent the GitHub Spice from triggering on "github issues" 👍

[2017-04-07 19:02] moollaza commented on #3144
Fixing in https://github.com/duckduckgo/zeroclickinfo-spice/pull/3206

[2017-04-07 19:03] #3164 closed

[2017-04-09 03:14] marianosimone opened #3228 "BayAreaBikeShareCA Bug: doesn't trigger in production"
### Description

Even though it works in dev boxes (tried in Codio), "bike share san francisco" doesn't trigger the IA

Note that `CitiBikeNYC` and `IndegoPHL` do work

## Steps to recreate

Search for "bike share san francisco" (https://duckduckgo.com/?q=bikeshare+san+francisco)

## People to notify

I'm the maintainer for this IA... but don't really understand what's going on. Maybe @moollaza ca

[2017-04-09 20:37] cylgom opened #3229 "OpenNIC DNS: Can't trigger IA"
I couldn't trigger the IA today: the "DNS" tab that used to appear after "Videos" seems gone. It still works on the [beta](https://beta.duckduckgo.com/?q=censor+free+dns&ia=dns) server, though. I also had a look at the perl file just to check the critical line and nothing surprised me, the triggers are still here:
`triggers any => "neutral dns", "opennic", "open nic", "censor free dns";`

------
I

[2017-04-10 14:52] morinx commented on #2827
+1 for hourly forecast as the default option. I don't think many people choose 7 day forecast as a zero-click feature over hourly.

[2017-04-10 17:42] #3217 closed

[2017-04-10 17:49] pjhampton opened #3232 "Currency: Update aliases"
## Problem

From past [anonymized] search data we aren't covering all the ways to express GBP and MYR currencies. We should add more cases to cover these. **This would be a good first time contributors issue.**

## Solution

1. Add a couple of tests to [Currency.t](https://github.com/duckduckgo/zeroclickinfo-spice/blob/master/t/Currency.t)

2. Add `malyasian rupees` and `malyasian rupee` to [curre

[2017-04-10 18:17] pjhampton opened #3233 "Currency: Support new pattern"
## Problem

It seems that users are submitting queries that have the following form:

`<currency_name> <amount> to <currency_name>`

We should support that form.

## Solution

1. Add a couple of tests to [Currency.t](https://github.com/duckduckgo/zeroclickinfo-spice/blob/master/t/Currency.t)

2. Support the new query pattern in [Currency.pm](https://github.com/duckduckgo/zeroclickinfo-spice/blob/m

[2017-04-10 22:35] fendatr commented on #3232
Hey, I've added the two aliases. Wasn't sure where to put the tests or what specifically I should test, so I just added them to a test that was also had a 'gbp' in it.

Tests:
[code]

[2017-04-11 01:15] moollaza commented on #3228
@marianosimone this IA has gone offline. Our automated system probably disabled it due to an API outage.

I'll reenable it 👍

[2017-04-11 01:20] #3232 closed

[2017-04-11 01:27] #3214 closed

[2017-04-11 04:02] marianosimone commented on #3228
@moollaza is there any way to get notified when the systems disables an IA?

[2017-04-12 00:57] #2944 closed

[2017-04-12 00:57] #2723 closed

[2017-04-12 01:52] nalinbhardwaj commented on #3233
Isn't this the same as #3165 ? If so, is @BillyBarbaro not working on it anymore?

[2017-04-12 02:21] BillyBarbaro commented on #3233
Good catch.  I believe the PR I just updated today addresses this issue.  You can check the tests I updated to see some of the new queries it covers.

[2017-04-12 10:24] pjhampton commented on #3233
We'll close in favour of the old one!

[2017-04-12 10:24] #3233 closed

[2017-04-12 14:54] nalinbhardwaj commented on #2981
Seems fixed. Please close this @tagawa.

[2017-04-12 14:56] #2981 closed

[2017-04-14 13:15] moollaza commented on #3228
@marianosimone not yet, it's something I would like to add though.

I was about to re-enable this but it seems that we're not getting an API response right now:

https://beta.duckduckgo.com/?q=bike+share+bay+area&ia=web

Care to investigate?

[2017-04-14 13:38] #3152 closed

[2017-04-14 13:40] moollaza commented on #2977
Let's remove this IA. API has been offline for months

[2017-04-14 23:19] marianosimone commented on #3228
@moollaza it's still showing up without issues in dev... Maybe it's a problem with them blocking via IP/domain?

data@bayareabikeshare.com could be a good point of contact if that's the case

[2017-04-15 09:00] sower420 opened #3245 "Minecraft Uuid Converter:"
------
IA Page:  http://duck.co/ia/view/minecraft_uuid_converter
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @LukBukkit

[2017-04-15 09:58] LukBukkit commented on #3245
Pull request: #3231

[2017-04-16 12:40] fraed commented on #3209
I would love to claim this issue.
After setting up the development environment i am ready to get instant answers but this doesn't work with the Nutrition API.
Are there any restriction issues in a local environment or am i missing some docs or something else?
Or am i just working against "duckpan query"?

Eg: chicken Taco (works)
![image](https://cloud.githubusercontent.com/assets/1233223/25071224

[2017-04-17 11:20] Louistwee opened #3246 "item Template Bug: The 'Click to expand' button font-family doesn't work"
Hi,

When I click  on this ![untitleed](https://cloud.githubusercontent.com/assets/27563848/25087268/d8f0a062-236d-11e7-8e6d-b0cf54841c28.png) button it transforms into this ![untitleed](https://cloud.githubusercontent.com/assets/27563848/25087324/485df12a-236e-11e7-899d-78dd054a4388.png) button.
But when I click a second time to hide the grid the the button changes in this ![untitleed](https://cl

[2017-04-17 12:28] pjhampton commented on #3246
Hey @Louistwee,

Can you please reopen this issue here: https://github.com/duckduckgo/duckduckgo-answerbar-templates

Also, if you could be more descriptive on how to replicate, that would be awesome 👍

[2017-04-17 12:28] #3246 closed

[2017-04-18 00:35] bsstoner commented on #3155
We're addressing this internally

[2017-04-18 00:35] #3155 closed

[2017-04-18 00:36] bsstoner commented on #3130
This appears to be fixed now.

[2017-04-18 00:36] #3130 closed

[2017-04-18 00:52] bsstoner opened #3248 "Weather: Tile link doesn't match text link"
In #3153 we changed the links to point to URL's that are specific to the right day. Those work, but if you click the tile it still goes to the old URL's. They should both go to the same place.

------
IA Page:  http://duck.co/ia/view/forecast
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @himanshu0113

[2017-04-18 15:54] pjhampton opened #3254 "Currency: Update triggering patterns & aliases"
## Problem

The currency IA is undertriggering. We need to open up the patterns to allow broader triggering. The new patterns we need to support are:

[code]

Further, we need to update the aliases.

**mex** --> `mex peso` and `mexican peso`
**cny**  --> `chinese yuan` and `yuan`
**gbp** --> `uk`

## Solution

1. Add the following test queries to the [Currency.t](https://github.com/duckduckgo/zero

[2017-04-18 16:31] moollaza commented on #3209
@fraed thanks for volunteering! We really appreciate it 😄

Unfortunately I'm unable to reproduce the failure you're seeing. Can you show me the output of the DuckPAN console? Can you also show me the network tab (specifically the JS content)

Also, have you modified any code yet?

[2017-04-18 16:53] pjhampton commented on #3209
Could it be because the api keys @moollaza, @fraed?

[2017-04-18 17:59] #3245 closed

[2017-04-18 17:59] moollaza commented on #3229
@cylgom thanks for reporting. Our automated system likely took it offline due to some API downtime.

I'll get it back online shortly 👍

[2017-04-18 18:03] moollaza commented on #3229
@cylgom it should be back online shortly. Please ping me here if it's not online in the next few hours 👍

[2017-04-18 18:03] #3229 closed

[2017-04-18 18:11] moollaza commented on #3209
@pjhampton @fraed I see the issues now. Because @fraed doesn't have an API key installed, we fallback to using the API endpoint on beta.duckduckgo.com. Currently, that API endpoint has been modified by another Pull Request, so the `api_result` doesn't pass the first check in the Nutrition.js file.

@fraed are you able to signup for a free Nutritionix API key?

Once you have your own API Key you ca

[2017-04-19 10:22] fraed commented on #3209
Thank you. My development environment works now 👍.

[2017-04-19 18:57] #3165 closed

[2017-04-20 07:56] cylgom commented on #3229
@moollaza it's still not online 😞

[2017-04-20 14:34] moollaza commented on #3229
Hmm seems like it went online, then back offline. We had an issue with our metadata which I believe was fixed. I'll set it up to go online again. Should be online soon!

[2017-04-20 18:59] DGMurdockIII commented on #3087
A list of Block Explorers, more than 10 alternatives of blockchain.info
https://www.reddit.com/r/Bitcoin/comments/3fvoxm/a_list_of_block_explorers_more_than_10/

[2017-04-20 19:53] pjhampton commented on #3087
Oh, nice! @DGMurdockIII thanks for sharing 😄

[2017-04-20 20:02] DGMurdockIII commented on #3087
No problem just like to help out where I can

On Apr 20, 2017 3:53 PM, "PJ Hampton" <notifications@github.com> wrote:

[2017-04-20 20:13] DGMurdockIII commented on #3181
You can look at these two sites https://github.com/tamaspap/timezones  and https://timezonedb.com/

[2017-04-20 21:17] pjhampton commented on #3181
Thanks @DGMurdockIII - We're currently using timezonedb. Gotta checkout timezones though 😄

[2017-04-21 12:42] fraed commented on #3209
Hey @pjhampton, @moollaza,
I figured out that this file https://github.com/fraed/zeroclickinfo-spice/blob/3209-nutrition-triggering/share/spice/nutrition/nutrition.js can't handle single word ia as it needs measurement infos. I solved it quick using a default value in line 38. Let me know if you have further instructions here or the using "calories" as a default value works for you. Thanks.

[2017-04-21 21:42] moollaza commented on #3181
@DGMurdockIII @pjhampton We don't use TimeZoneDB, but it doesn't work for us anyways because users aren't searching for timezones with the city name, they look for the generalized time zone abbreviations: e.g. 'cet', 'est', 'edt', etc.

[2017-04-21 21:45] moollaza commented on #3209
@fraed I'm not too sure what you mean, but it sounds Ok. Please open a PR and we can discuss further there 👍

[2017-04-22 11:36] pjhampton commented on #3181
Ahh, thanks for the clarification @moollaza

[2017-04-23 02:46] MrChrisW commented on #3181
This is difficult, mostly because 3-4 letter time zone abbreviations are not standardised as part of ISO-8601. There's a discussion about this on the moment-tz project https://github.com/moment/moment-timezone/issues/289

Google seems to select the most commonly searched time zone to display when searching for "CST" .

We could build a simply YAML file with a list of the _top time zone abbreviatio

[2017-04-24 14:39] moollaza commented on #3129
`bitcoin value` has been taken care of in #3259

[2017-04-24 14:41] moollaza commented on #3129
@adityatandon007 you can add "price" as a keyword using the same approach I did, by modifying the `$keyword_qr`. I think you just need to add `|price` beside `|value` 👍

[2017-04-24 15:50] #3209 closed

[2017-04-25 13:34] rasikapohankar commented on #3248
Fixed in #3244..

[2017-04-25 13:34] #3248 closed

[2017-04-25 21:06] #1465 closed

[2017-04-25 21:17] pjhampton opened #3266 "npm: Improve detail view UX"
## Problem

In #3257 we added the single detail view back to improve engagement. But we need to make some changes to improve the UX.

![screen_shot_2017-04-25_at_9_37_48_pm](https://cloud.githubusercontent.com/assets/8960296/25406964/799fec00-2a00-11e7-86ae-0e980474854b.png)

## Solution

1. Add the description from the api call
2. Remove the separator beside the _More at_ link
3. Send a PR

## Pe

[2017-04-26 05:25] mayank commented on #3266
@pjhampton picking this!

[2017-04-26 11:09] pjhampton commented on #3266
Thanks @mayank! 🤘

[2017-04-26 20:39] #3129 closed

[2017-04-27 11:49] adityatandon007 commented on #3254
@pjhampton I'm already working on some of these.
One more thing `cny` alias is already updated in #3221 and `mexican peso` is working though `mex peso` seems to be not added. I will add those and others and regarding triggering thing I am already working on that too.
So just to avoid conflict can you assign this to me so that others don't get confused.

[2017-04-27 15:38] moollaza opened #3269 "Package Tracking: Update to ignore queries for ISBN numbers"
## Problem

If a query contains "isbn" and contains 10 or 13 numbers, the IA should ignore the query as it is not a valid package tracking code.

## Solution

1. Add some tests for ISBN 10 and ISBN 13 queries, e.g. `isbn 9780134494326 => undef`
2. Update the `handle` function to ignore queries containing `isbn`
3. Send a PR

## Get Started
- [ ] 1) Claim this issue by commenting below
- [ ] 2) Rev

[2017-04-29 10:54] pjhampton commented on #3266
Hey @mayank!

How are you getting on? Do you need any help? 😄

[2017-04-29 20:39] DanielCornea commented on #3048
Hi I find this interesting I would like to work on this

[2017-04-29 22:55] pjhampton commented on #3048
Hey guys,
Let's keep the issue pages for issues 👍
DuckDuckHack has some really [great documentation](https://docs.duckduckhack.com/) which you should check out. There is also [some videos](https://vimeo.com/search?q=duckduckhack) that can guide you.

[2017-04-29 22:55] #3048 closed

[2017-05-01 08:23] mayank commented on #3266
working on it. will let you know once completed!

[2017-05-02 07:08] adityatandon007 opened #3274 "ISBN: Redundancy issue, two tabs showing same info"
**Issue:** Searching for books with isbn displayed the information with two tabs showing same information.

**Steps to recreate:**
Search for `isbn 9780385351232` and see the effect yourself

**Screenshots:**

![imageedit_2_8890335820](https://cloud.githubusercontent.com/assets/25108385/25607424/24ce2b4a-2f34-11e7-8920-8036929b7dd7.gif)

![imageedit_4_6770364802](https://cloud.githubusercontent.co

[2017-05-02 07:24] adityatandon007 commented on #3269
@moollaza can you give me an example on how to recreate this if this is a bug

[2017-05-02 12:48] adityatandon007 opened #3276 "IsItUp: Doesn't trigger for some popular sites"
**Issue:** This IA should trigger but it doesn't for some websites.

**Steps to recreate:**
For example: `is imdb working` doesn't trigger this IA
and this IA doesn't take spaces into account too.

------
IA Page:  http://duck.co/ia/view/is_it_up
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @rasikapohankar

[2017-05-02 15:04] moollaza commented on #3269
@adityatandon007 https://duckduckgo.com/?q=isbn+0134494164

If you look in the console we're making a call to `/js/spice/package_tracking`. You can test this in duckpan as well with those queries.

Basically if the query contains `isbn` the package tracking Spice should bail out and not make an API call

[2017-05-02 15:09] moollaza commented on #3274
@adityatandon007 thanks for pointing this out. I'll investigate the best solution 👍

[2017-05-03 06:42] mayank commented on #3269
@moollaza i can give it a try!

[2017-05-06 14:08] pjhampton opened #3279 "Brainy Quote: Show more than one quote"
## Problem

Currently, we only show one quote on this IA. We should increase this to 3 if the plural `quotes` is contained in the query we should show more than 1.

![screen shot 2017-05-04 at 11 53 37 am](https://cloud.githubusercontent.com/assets/8960296/25700621/6083e7b4-30c0-11e7-88dd-115e3c4af537.png)

## Solution

1. Add a couple of tests to [BrainyQuote.t](https://github.com/duckduckgo/zero

[2017-05-06 15:35] MyGitUsername commented on #3279
Hi, for my first contribution to duckduckhack I am starting to implement this improvement.  Please let me know if that is 'ok!'.  Thanks.

[2017-05-06 21:51] pjhampton commented on #3279
Hey @MyGitUsername,

It's all yours 😄  Feel free to reach out if you need any help. Check out the documentation in the mean time - https://docs.duckduckhack.com/

[2017-05-07 00:43] MyGitUsername commented on #3279
Great, thanks.

[2017-05-08 21:49] #3266 closed

[2017-05-09 00:00] DGMurdockIII commented on #3195
Have a look at these three sites migh help get this done
http://openfoodfacts.org/
http://ndb.nal.usda.gov/ndb/doc/
https://product.okfn.org

[2017-05-09 09:16] DGMurdockIII commented on #3279
https://en.m.wikiquote.org/wiki/Main_Page

[2017-05-09 19:01] moollaza opened #3281 "Advanced Calculator: Reduce triggering to prevent overlap with Interactive Calculator"
## Problem
We've made big improvements to the interactive calculator and its triggering and now in many cases, we show duplicate results from the Symbolab Spice
 and the interactive Calculator.

## Solution
We should remove the triggers related to trig functions and others that the Interactive Calc now handles and leave this Spice to handle more complex math that the other calculator can't handle

[2017-05-10 06:11] dpanshuarora commented on #3269
Does it not need to make an API call (package tracking) at all if ISBN is present or only when ISBN along with a 10 or 13 digit number is present?

[2017-05-10 06:44] spekulatius opened #3283 "Currency Conversion: e-notation showing in conversion field"
Some currencies with very low values will be displayed with "E-5", etc. See the left of the screenshot:

![image](https://cloud.githubusercontent.com/assets/8433587/25886196/b83c4544-3586-11e7-9c08-04a32f36c61f.png)

------
IA Page:  http://duck.co/ia/view/currency
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @MrChrisW

[2017-05-10 06:58] rasikapohankar commented on #3276
Hi @adityatandon007, the IA returns without an answer if the length of the website name is less than 5 and there is no TLD mentioned. `is imdb.com up` will give an answer, but `is imdb up` doesn't because `imdb` length < 5.

It seems this was decided to avoid false triggering on queries without TLD mentioned [here].(https://github.com/duckduckgo/zeroclickinfo-spice/pull/2517)

[2017-05-10 08:13] adityatandon007 commented on #3276
@rasikapohankar I think `length < 4` should be better approach because there are many genuine websites with `length = 4` and so it would be nice for this IA to trigger for those websites in cases `TLD` is not mentioned. For example: `is bing up` doesn't trigger either.
![screenshot from 2017-05-10 13-37-38](https://cloud.githubusercontent.com/assets/25108385/25889157/6769a4fe-3586-11e7-9b90-bcb42f

[2017-05-10 09:13] pjhampton commented on #3283
Yeah, this is a valid issue. Thanks for reporting @spekulatius 👍
As for fixing it, nobody should patch this. We're deprecating this IA for a v2 in the coming weeks like we have done with the Conversions and Calculator IA.

[2017-05-10 10:57] spekulatius commented on #3283
Thanks for your reply and update on the bug @pjhampton! Feel free to close the issue if you consider this not relevant anymore.

[2017-05-10 11:04] pjhampton commented on #3283
Thanks @spekulatius. I will keep it open for now. when it comes to testing the new IA we can see see if we address all the legacy issues 💛  💜

[2017-05-10 11:54] spekulatius commented on #3283
Awesome :)

[2017-05-10 15:38] levaly commented on #3281
@moollaza what cases do you want our calculator not to handle? I also noticed that for a query such as 'sin(x)=0' the interactive calculator is triggering although not solving this problem.

I also wonder, is it possible to slightly change the template used to present Symbolab results, to better indicate there is a step by step solution under the link?

[2017-05-10 16:59] rasikapohankar commented on #3276
@adityatandon007 I do not know how much of an advantage or disadvantage changing the check on length will have. I referred [this](https://moz.com/top500), there seem to be not too many sites with length less than 5. I'm okay with changing the check to `< 4`.
Or we could list sites which are popular and go ahead with the API call for those, even if a TLD was not present and the length was less than

[2017-05-10 18:38] moollaza commented on #3281
Anything the existing calculator can handle, shouldn't trigger Symbolab. Basically equations _without_ unknowns or variables. Right now there seems to be an overlap with trig.

Yup, that's a bug we'll be fixing soon.

We don't have much room for modification because our presentation of the More at link is standarized by our templates. What did you have in mind?

[2017-05-10 19:30] moollaza commented on #3276
That sounds like a simple, reasonable solution. It should be easy to get a list of the top 1-500 domains, and remove any that are more than 4 characters long 👍

[2017-05-11 00:10] bnewbold opened #3286 "PubMed: seems to have stopped working"
The examples (eg, "Pubmed CRISPR") no longer result in abstracts showing.

------
IA Page:  http://duck.co/ia/view/pubmed
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @b2ddg

[2017-05-11 00:13] bnewbold opened #3287 "PubMed: trigger on pmid prefix"
PubMed IDs (eg, "PMID: 21466082" or "pmid:21466082") seem to be frequently used in citations and other contexts when referencing a paper in PubMed. It would be nice to detect and handle these cases more directly that returning a list of search results (aka, only display the single valid result).

------
IA Page:  http://duck.co/ia/view/pubmed
[Maintainer](http://docs.duckduckhack.com/maintaining/g

[2017-05-11 06:32] adityatandon007 commented on #3276
@rasikapohankar I am fine with whatever solution you go with. Its just that I wanted this IA to cover up as many sites as possible (especially, the more popular ones)

[2017-05-11 10:04] pjhampton commented on #3286
Thanks @bnewbold and thanks for your suggestion! It seems that this has been knocked offline. I have applied the `offiline` label and hopefully a member of staff with pick it up soon

[2017-05-14 08:45] meaz opened #3291 "Videos:"
It would be great if we could filter the videos by lenght and by date...

------
IA Page:  http://duck.co/ia/view/videos
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @bsstoner

[2017-05-14 16:33] pjhampton commented on #3291
Thanks @meaz!
I will pass this feedback to the internal team who maintain this IA.

[2017-05-14 16:33] #3291 closed

[2017-05-17 17:29] nalinbhardwaj commented on #3087
I'd suggest we switch to [blockr API](http://blockr.io/documentation/api), which has a nice API available and is run by CoinBase(so should be active for a long period). Although they don't mention any limits to API calls, for which we might need to [contact them](http://blockr.io/documentation/contact).

[2017-05-17 18:14] pjhampton commented on #3087
Ok, @nalinbhardwaj. That sounds like a good plan. If you need DDG to contact them, reach out to me and I can get something sorted

[2017-05-19 14:44] adityatandon007 opened #3295 "Currency Conversion: This IA is showing incorrect answers"
**Issue**: While testing the PR #3294 (thanks to @pjhampton for inviting me to test his PR), I found that the our IA is showing incorrect answer for conversion, though I have only checked this for bitcoins conversion. I don't think it is happening because of that PR, I think we are serving stale results from our API, though not sure.

**Screenshots:**
**DDG Answer**:

![screenshot from 2017-05-19

[2017-05-19 15:30] pjhampton commented on #3295
Notice the mid-market rates are different dude.

[2017-05-19 15:30] #3295 closed

[2017-05-20 08:16] pulkitrohan commented on #3269
Hi @moollaza,

I want to work on this. Please let me know if I proceed with the work.

[2017-05-22 15:31] stormwindy commented on #3036
I have tried many conversions. Only the triggers which required to convert sdc to any other currency type did not work. Others worked well.
 For example,
**These triggers work:**

1. btc to 'any currency'
2. ltc to 'any currency'
3. XRP to 'any currency'
4. 'Any currency type' to sdc

**This trigger does not work:**

1. sdc to 'any currency type'

I do not know the system much right know but I wil

[2017-05-22 15:46] stormwindy commented on #3036
I have recreated the situation. However, everything worked well. What I have realized is that, conversion does not trigger while trying to convert 1 sdc to any other currency form. Other conversions worked well (including ltc, btc, XRP). It does not get bricked. It just gives "no results were returned from Instant Answer".
**Example of a not working trigger**
1 sdc to 'any other currency'.
@clayto

[2017-05-22 15:56] pjhampton commented on #3036
This IA has been knocked offline, see `production state`: https://duck.co/ia/view/cryptocurrency/json
I will put the **offline** trigger here to notify staff.

[2017-05-22 17:23] stormwindy opened #3296 "Dota2 IA - Skeleton King Trigger not working"
### Description

Dota2 IA - When ostarion is searched following error occurs. Same errors occur when it is searched as

- Dota 2 SkeletonKing
-Dota 2 Skeleton King
-Dota2 Skeleton King
-Dota2 Ostarion
-Dota2 SkeletonKing
**EDIT:** Dota2 Wrath king is not working in addition.

![ekran goruntusu 79](https://cloud.githubusercontent.com/assets/13489349/26320368/51a23218-3f2b-11e7-9ccd-160818ece9f9.png

[2017-05-22 19:08] stormwindy commented on #2629
If you need Turkish translation in the future for such things, let me know. @moollaza

[2017-05-23 12:48] levaly commented on #3281
@moollaza maybe since now there are 2 calculators, we should change the name of the Spice to 'Symbolab Calculator', instead of just 'Calculator'. Also, I would like to change the wording of 'Step by step solution' to 'Show all steps'

[2017-05-23 19:25] stormwindy opened #3298 "Steam IA for products available on Steam Store"
It would be nice to have an IA which can give quick information regarding the Steam Store data of the queried game or product, such as price, release date, review stats. Unfortunately Steam has limited API requests (100k per day) but it is stated that it can be increased depending on situation.  I would like to work on this. Before starting, it would be nice to have some input. What are your thoug

[2017-05-23 21:24] moollaza commented on #3281
@levaly we don't put Brand names in the tabs. We can change the tab name from "Calculator" to "Answer" though. These two IAs shouldn't trigger at the same time though so the current tab name should be OK.

That sounds fine, please do!

[2017-05-24 03:14] #3269 closed

[2017-05-29 17:33] stormwindy commented on #3298
I have been working on Steam Spice. Steam API calls regarding store info uses games' IDs. In order to get those IDs I make an additional call to API which gives me name-id info of games. Should we keep a local copy of game-id data or should we make and additional API call? Keeping a local copy will require constant updates to add newly released games on Steam. On the other hand making an additiona

[2017-05-31 02:35] katzrkool opened #3309 "Just Delete Me: Switch to new API"
Justdelete.me, the current data source, has been abandoned. The community has created a fork
[here](https://github.com/jdm-contrib/justdelete.me) that is being updated with new information. I suggest the data source for just delete me is switched from http://justdelete.me/# to http://justdeleteme.xyz/# to provide the most updated date.

------
IA Page:  http://duck.co/ia/view/just_delete_me
[Maint

[2017-05-31 07:08] riqpe commented on #3309
I fully agree. Naturally we need to confirm that the new maintainers are ok with us using the data. This agreement existed with the previous maintainer. In addition is must be checked that the format of the file hasn't been changed too much.

[2017-05-31 13:43] nalinbhardwaj commented on #3276
@moollaza @rasikapohankar I was thinking that for the URLs in top 500 ranking, we should also check and not default to `.com` for suffixes, as that makes more sense(yandex **.ru**, w3 **.org** etc.).

I have put up a list of these websites extrapolated from [Moz](https://moz.com/top500) and [Wikipedia](https://en.wikipedia.org/wiki/List_of_most_popular_websites), sorted it, and removed duplicates

[2017-05-31 14:59] riqpe commented on #3309
Great. Thanks @tupaschoal. I'll take care of this soon (tm).

[2017-05-31 14:59] pjhampton commented on #3309
Thanks @riqpe ❤️

[2017-05-31 15:00] nalinbhardwaj opened #3310 "Air quality index: Use new API, add IA for air pollen"
### Description

Currently, the IA only works for US city pincodes. The [breezometer API
](https://breezometer.com) supports queries for latitude longitude worldwide. We can use that to support a lot more queries.

Also, they provide pollen content, which can be included/made a separate IA.

## Steps to recreate

n/a

## People to notify

@schluchc

---

Instant Answer Page: https://duck.co/ia/vie

[2017-05-31 15:20] nalinbhardwaj opened #3311 "DetectLang: Wrong use of `confidence` value and lack of languages"
### Description

The [API FAQ](https://detectlanguage.com/faq) clearly states

However, we still seem to be referring it to be a "percentage" which we shouldn't be doing.

Also, the current IA doesn't identify codes of a number of languages(almost half of them) from [language list](http://ws.detectlanguage.com/0.2/languages) which I believe is updated regularly, the best solution here might be to

[2017-06-01 20:21] #3254 closed

[2017-06-03 13:48] joaquinlpereyra commented on #893
Confirming this is still an issue.

Where I am correctly states 'Buenos Aires', weather giving me weather for a little-known city called Federal some 1.000 kilometers north.

[2017-06-03 21:05] pjhampton commented on #2655
I believe this has been fixed. See: https://www.reddit.com/r/ethereum/comments/6eu7je/duckduckgo_has_an_eth_currency_conversion/

[2017-06-03 21:05] #2655 closed

[2017-06-03 21:07] pjhampton commented on #2599
I believe this has been sorted in the v2

[2017-06-03 21:07] #2599 closed

[2017-06-04 09:58] 1tremer opened #3314 "Why only Amazon?"
Why does the products view only show Amazon products. Amazon ist not the world!

regards Michael

------
IA Page:  http://duck.co/ia/view/products
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @bsstoner

[2017-06-04 14:30] pjhampton commented on #3314
Hi @1tremer,

I believe there to be some sort of business relationship between DuckDuckGo and Amazon. I will pass your feedback onto the internal team 👍

[2017-06-04 14:30] #3314 closed

[2017-06-05 15:53] #2977 closed

[2017-06-07 19:52] Uriei opened #3318 "Random Cat Facts: It's down"
------
IA Page:  http://duck.co/ia/view/catfacts
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @RomainLG

[2017-06-08 10:41] ioanmoldovan commented on #3318
Please assign this issue to me. I like cats!

[2017-06-08 10:51] adityatandon007 opened #3321 "Currency Conversion: *Suggestion* Defaulting to uae dirham for dirham"
**Suggestion:**

In Pr #3320 I have added an alias `uae dirham` so that queries like `1 usd to uae dirham` could also trigger. I was thinking of supporting the queries like `1 usd to dirham` too but for that I have to add `dirham` as an alias. We have to two countries that have dirham in their currency the `moroccan dirham` and `uae dirham`. I was thinking of adding the `dirham` to uae currency.

[2017-06-08 11:11] adityatandon007 opened #3322 "Dictionary Definition: Shows durham for dirham"
**Issue**
I was searching for the currency `dirham` because I was working on currency IA and when I searched `dirham` this IA triggered and showed the result for `durham`

**Screenshot**

![screenshot from 2017-06-08 16-36-48](https://user-images.githubusercontent.com/25108385/26925782-b71a0d42-4c68-11e7-89b1-f196cca36d14.png)

**People to notify**
@moollaza @mintsoft

------
IA Page:  http://duck

[2017-06-08 12:38] Suaiden opened #3323 "Forecast: zip codes again not working"
Unsure why, but Forecast once again thinks Zip Code 18702 is Harrisburg, PA. Is it based on state capitals? Because there can be huge variances with distances just a couple hundred kilometers away. It seemed to have worked with the last few fixes, but something keeps reverting. Thanks!

------
IA Page:  http://duck.co/ia/view/forecast
[Maintainer](http://docs.duckduckhack.com/maintaining/guideline

[2017-06-09 04:19] radioactive73 opened #3324 "Twitter: Latest tweet not being displayed"
I noticed the latest tweet is not being displayed as per the [instant answer description](https://duck.co/ia/view/twitter), instead the channel description is displayed.

Example query: _southwest airlines twitter_ or _@southwestair_
Query URL: https://duckduckgo.com/?q=%40southwestair&t=ffab&ia=twitter

![twitter_ia](https://user-images.githubusercontent.com/1937243/26960583-a4121cf8-4c95-11e7-8a

[2017-06-09 15:36] #2998 closed

[2017-06-12 15:53] pjhampton commented on #3321
Thanks @adityatandon007! I see this has been merged, so closing.
In future, you don't need to create issues for minor changes 👍

Thanks again 🎉

[2017-06-12 15:53] #3321 closed

[2017-06-12 21:37] bsstoner commented on #2998
This was released to production 🚀

[2017-06-13 04:30] adityatandon007 commented on #3321
@pjhampton I haven't made the PR for this. The merged PR #3320 was for `uae dirham` not for `dirham`. I was asking about whether to add `dirham` too along with `uae dirham`

[2017-06-13 08:35] pjhampton commented on #3321
This seems minor. In future, I would just package it into the one PR 👍

[2017-06-13 20:48] pjhampton commented on #3322
Yeah, I'm fine for you to take this forward @adityatandon007. I think that currency should have a higher signal that the dictionary IA.

[2017-06-13 20:48] #3322 closed

[2017-06-14 08:40] adityatandon007 commented on #3322
@pjhampton I didn't get what you meant in the previous comment.

You closed the issue and wanted me to take this forward. How I am gonna take this forward if the issue itself is closed.

[2017-06-14 10:37] pjhampton commented on #3322
As I mentioned here https://github.com/duckduckgo/zeroclickinfo-spice/issues/3321#issuecomment-308046715

For minor, incremental improvements we don't need to create issues. Just submit an unsolicited PR in future.

[2017-06-14 12:02] adityatandon007 commented on #3322
@pjhampton thanks for clearing that. I would remember this next time

[2017-06-16 02:19] willyb321 commented on #3324
I should be able to fix this.

[2017-06-16 23:12] perryprog opened #3333 "GitHub Suggestion: Swap `Stars` and `SSH URL` in the GitHub infobox"
### Description

Often when I'm searching for a repo, I have to click on the dropdown arrow on the infobox to show all the details, specifically `Stars`. On some repos that have a longer description you can see the `Stars` info, but [on others](https://duckduckgo.com/?q=git+hub+awesome&t=osx&ia=software) you can't see the stars info.

I think that the SSH URL entry and the Stars entry should be sw

[2017-06-18 17:43] joshcartme opened #3334 "Forecast: location misidentified (city name and zip code)"
I was trying to look up the weather for Alameda, CA and instead am given the weather for Sunol, CA. Sunol is about 20 miles south east and a good bit warmer.

Searches I tried include:

weather Alameda, CA
weather in Alameda
weather 94501
weather 94502

and all give the weather for Sunol, CA.

------
IA Page:  http://duck.co/ia/view/forecast
[Maintainer](http://docs.duckduckhack.com/maintaining/gu

[2017-06-18 18:18] nkonk commented on #3334
This IA depends on forecast.io for forecast results.
And a quick search on forecast.io reveals that it returns weather for Kilkare Road, Sunol, CA.
When queried for Alameda, CA as the query.

Maybe their closest weather source or Alameda is Sunol, but then, thats just a maybe.

[2017-06-18 18:35] joshcartme commented on #3334
@nkonk thanks for pointing me towards forecast.io, I couldn't tell what was doing the actual locating.

It's strange because they have results for say "Oakland, CA" which is right next to Alameda.  But that's not the spice's fault, I can try to file an issue with forecast.io.

I'm not exactly sure what the process is here, but I'd be comfortable with this being closed.

[2017-06-18 21:18] pjhampton commented on #3334
Thanks guys 👍

[2017-06-18 21:18] #3334 closed

[2017-06-21 08:18] pjhampton commented on #3333
Sure @perryprog. Send a PR and I will ping the community for a review 👍

[2017-06-21 11:33] perryprog commented on #3333
@pjhampton sounds good! I should be able to get the PR around in maybe this weekend.

[2017-06-21 18:09] #2724 closed

[2017-06-21 18:09] moollaza commented on #2724
Fixed a little while ago in #3140

[2017-06-21 18:10] moollaza commented on #2069
The IA now does this.

[2017-06-21 18:10] #2069 closed

[2017-06-22 17:27] #3279 closed

[2017-06-25 13:39] Troupal commented on #3131
Hello !
It is true that it is long enough that the instant answer is no longer working, someone would know why and how to fix it? It really is a shame (it is a pity, sorry, I'm french ^^) because it was really convenient. Thank you in advance for your response !

[2017-06-25 13:46] Troupal opened #3343 "AlternativeTo: The DuckDuckHack «Alternative to» not working since a long time"
### Hello !
It is true that it is long enough that *the instant answer is no longer working*, someone would know ***why and how to fix it?*** It really is a shame (or "it is a pity", *sorry, I'm french* ***^^*** ) because it was really convenient.
**Thank you in advance for your response !**

------
IA Page:  http://duck.co/ia/view/alternative_to
[Maintainer](http://docs.duckduckhack.com/maintaini

[2017-06-25 14:41] ManrajGrover commented on #3343
Let's move the discussion to #3131.

[2017-06-25 14:43] ManrajGrover commented on #3131
@Troupal The [API](http://alternativeto.net/about/api/) is down. Hence, it is not triggering. If you know any alternate api, please share it with us. 😄

[2017-06-25 15:07] Troupal commented on #3131
@ManrajGrover Ok ! And sorry, I do not know, alas, no other API to share with you… ^^

[2017-06-26 15:11] pjhampton commented on #3343
Agreed, thanks @ManrajGrover @Troupal

[2017-06-26 15:11] #3343 closed

[2017-06-26 19:01] moollaza opened #3344 "PackageTracking: Add regex trigger for OnTrac Pattern"
### Description
Currently a search for just an OnTrac parcel number returns no results. We can add a regex trigger for this pattern to capture it though.

As far as I've been able to tell OnTrac package codes are simply a "c" followed by 14 digits:

[code]

This regex should be added alongside the others in the Perl code.

## Get Started
- [ ] 1) Claim this issue by commenting below
- [ ] 2) Revie

[2017-06-26 22:01] #3101 closed

[2017-06-27 13:15] MichaelRupertDev commented on #3119
I'd be happy to work on this, just want to make sure the trigger words are accurate, could we get a list of international trigger words?

[2017-06-28 10:29] adityatandon007 commented on #3344
@moollaza  I  can try this
If I understood the issue do I have to simply add that regex only. how is it gonna find onTrac. Do we have an entry for onTrac in carriers file. Assuming we have an entry for onTrac , I will have to just add that regex trigger. Is it right?

[2017-06-29 04:01] betterlaef opened #3349 "Cryptocurrency: Making browser requests to cryptonator.com"
It seems that the Cryptocurrency IA makes an API request to cryptonator.com whenever one of the currencies used for conversion is changed (by clicking the down arrow next to the currency and selecting a new one). The API request is to a URL for doing the new conversion, and it is the response received that is used to repopulate the info.

I've attached a screenshot showing the results after changi

[2017-06-29 09:20] pjhampton commented on #3349
Thanks for finding this @betterlaef - I have dropped an urgent patch for this in #3350. Hopefully we can get it out later today.

[2017-06-30 00:53] #3349 closed

[2017-07-01 07:26] ofekdeitch commented on #3119
I would like to help with **Hebrew** support :grin:

[2017-07-03 15:57] platypro opened #3353 "Forecast: Detect whether to use Celsius"
When searching for weather forecasts, the forecasts always show Fahrenheit. I am in Canada, so I prefer to see the forecast in Celsius. For now I have to switch to Celsius manually. It should be detected automatically either when viewing weather for a city which uses Celsius, or when detecting the user's region.

------
IA Page:  http://duck.co/ia/view/forecast
[Maintainer](http://docs.duckduckhac

[2017-07-03 17:54] #3344 closed

[2017-07-04 05:44] glearner opened #3355 "Must show local weather if location is on on front page of duckduckgo"
It very convenient to so some interesting things like weather, sen-sex or the things might user be interested

[2017-07-04 11:20] pjhampton commented on #3355
Hi @glearner! Thanks for reaching out.
Can you please edit this issue with our issues template after referring to our [CONTRIBUTING.md](https://duckduckhack.com/contributing.html). 👍  Please feel free to ping me when you're done.

[2017-07-04 11:20] #3355 closed

[2017-07-04 20:09] Janjoch opened #3356 "Currency: Convert € into CHF"
Steps to reproduce error:

1. type in DuckDuckGo "Euro CHF" (to convert Euro into Swiss Franc)
2. Enter in the "Euro"-Field 50
=> The Result is 45,65. But this is when you convert 50 CHF into €. The real value should be around 55CHF

------
IA Page:  http://duck.co/ia/view/currency
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @MrChrisW

[2017-07-04 20:41] pjhampton commented on #3356
@Janjoch like this? Does this issue still exist?

![screen shot 2017-07-04 at 9 39 38 pm](https://user-images.githubusercontent.com/8960296/27842362-55092522-6101-11e7-950f-3ba39de97984.png)

[2017-07-04 21:31] Janjoch commented on #3356
On my devices (iPhone and Mac, both with Firefox), it looks loke this: https://www.dropbox.com/s/rrw5lyboews7u6w/BugReport.png?dl=0

[2017-07-04 22:02] pjhampton commented on #3356
Thanks @Janjoch

I have reproduced this! Thanks. I will fix very soon

[2017-07-05 17:32] glearner commented on #3355
I think I corrected the problem @pjhampton

[2017-07-05 20:14] jkanarek commented on #1924
Hmm yeah not even working for big cities.
On Wed, Jul 5, 2017 at 4:44 AM Gusgus01 <notifications@github.com> wrote:

[2017-07-06 06:57] adityatandon007 commented on #3356
@pjhampton It's showing right in my browser(Firefox) in desktop as well as mobile view :smile:
![screenshot from 2017-07-06 12-24-43](https://user-images.githubusercontent.com/25108385/27899085-6822ea58-6246-11e7-91da-47e79b10ae30.png)

[2017-07-06 08:27] pjhampton commented on #3356
Thanks @adityatandon007. I reproduced this.

[2017-07-06 10:20] twoSeats opened #3357 "Currency Conversion: Bug, ZMW (Zambian Kwacha)"
Queries for ZMW conversions bring up rates for old phased out ZMK instead of current legal tender ZMW.

------
IA Page:  http://duck.co/ia/view/currency
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @MrChrisW

[2017-07-06 14:06] #3281 closed

[2017-07-07 20:41] j3pic commented on #2168
@moollaza This is not a tolerable bug. Popularity is the absolute *worst* sorting option. Everybody else likes garbage, and then it sticks to the top of the search results forever. The contents of a given tag never, ever change because the ones on top accumulate more likes, which solidifies their position on the list.

The only way I could possibly get *good* results would be to write my own spide

[2017-07-08 13:06] twoSeats commented on #3357
Hi,
Sorry, not sure this was fixed...
## Actual:
![screenshot from 2017-07-08 15 02 00](https://user-images.githubusercontent.com/536306/27985621-c673736c-63ee-11e7-873a-0506998dfa7a.jpeg)

## VS expected:
![screenshot from 2017-07-08 15 04 12](https://user-images.githubusercontent.com/536306/27985620-c67239ac-63ee-11e7-9c78-53bf1e79e878.jpeg)