[2015-08-04 22:12] moollaza opened #2070 "GoWatchIt: Should ignore the query "pocket watch""
Unfortunately the query "pocket watch" triggers this IA and get's past our relevancy checking.

https://duckduckgo.com/?q=pocket+watch&t=ffab&ia=watch

We may need to adjust the relevancy checking threshold to consider all words with 3+ characters, but it may be best to simply check if the query matches this term and if so, `return;`

------
IA Page:  http://duck.co/ia/view/go_watch_it

[2015-08-05 01:53] moollaza opened #2072 "Dogo News: Minor CSS adjustments"
The design team would like some changes to be made:

1. Adjust the bottom-margin to `0.8em` (or remove the rule altogther if it's the same)
2. Reduce the height of the snippet to 6.2em
3. Reduce the title margin-bottom to .5em

Should look like:
<img width="814" alt="download_asset" src="https://cloud.githubusercontent.com/assets/873785/9076666/632f1138-3af3-11e5-9d94-db4a14e4e53a.png">

------
IA

[2015-08-05 16:11] russellholt commented on #1856
I think this is already fixed. #2054

[2015-08-06 02:50] MrChrisW commented on #2055
@iambibhas That's correct :+1: Thanks for the clarification. In reality the API shouldn't be passing HTML entities.

[2015-08-06 03:55] moollaza commented on #1969
@AkA84 apologies! I will fix that right now. Do you have a duck.co account?

[2015-08-06 07:24] unhammer opened #2074 "Currency: should use selected region for unspecified To-currency"
To reproduce, select region:Norway and search for "£42"

Actual output: $something

Expected output: NOK something

------
IA Page:  http://duck.co/ia/view/currency

[2015-08-06 22:01] moollaza commented on #1856
Yup!

[2015-08-06 22:01] #1856 closed

[2015-08-07 12:50] moollaza commented on #2074
@unhammer thanks a lot for the input. I'll pass this to the team for consideration!

[2015-08-07 19:20] abeyang opened #2077 "Timer: visual modifications"
@andrey-p , timer is almost there! Here are several comments to improve it visually and experientially. /cc @chrismorast

First, by default, I think we should set it at 1:00, like so (also note that the outer ring, `.progress`, is a lighter gray, `#eee`):

![image](https://cloud.githubusercontent.com/assets/794084/9143545/f993deb0-3cfb-11e5-9b01-89ea3c71abce.png)

Second, as the timer is going, th

[2015-08-07 22:40] #2064 closed

[2015-08-10 13:35] #2042 closed

[2015-08-10 17:45] bsstoner opened #2083 "Time: No results returned for "New York""
https://duckduckgo.com/?q=time+in+new+york
https://duckduckgo.com/?q=time+in+new+york+city
https://duckduckgo.com/?q=time+in+nyc
https://duckduckgo.com/?q=time+in+new+york%2C+ny

------
IA Page:  http://duck.co/ia/view/time

[2015-08-10 21:19] moollaza opened #2084 "Twitch: Add limit= param to API call, set limit to 20"
By default the Twitch API only returns 10 items. We require 12 items to allow the GridMode button to work but that can be changed. It seems like we're best off pulling in a few more results anyways so let's add `&limit=20` to the API calls for both Twitch Instant Answers.

[2015-08-10 22:17] moollaza opened #2085 "Twitter: Don't show vertical separator when location undefined"
It looks like we're always displaying the vertical separator that goes between the handle and location of the user. We don't need to show it though when there's no location!

Example: https://duckduckgo.com/?q=twitter+testing&t=ffab&ia=social

------
IA Page:  http://duck.co/ia/view/twitter

[2015-08-11 00:35] mattr555 commented on #2077
Woah, this looks really cool (commenting to follow, lmk if you need my help with the old code)

[2015-08-11 12:17] arochedy opened #2086 "Forecast: FR - not working with every city"
Hi,

The weather instant answer is great but for french people it does'nt work every time.

For example :

"meteo paris" works
but "meteo lyon" doesn't work !
("weather lyon works fine !"

---

IA Page:  http://duck.co/ia/view/forecast

[2015-08-11 16:26] #2055 closed

[2015-08-11 19:35] iambibhas commented on #2070
I wonder why it doesn't trigger for `apple watch`?

[2015-08-11 20:49] #2084 closed

[2015-08-11 21:29] moollaza commented on #2086
@arochedy thanks for reporting!

It looks like it's working for me right now... Do you have a region set?
<img width="1437" alt="meteo_lyon_at_duckduckgo" src="https://cloud.githubusercontent.com/assets/873785/9211203/8ece9d94-404e-11e5-86b7-0d9452ad8c6b.png">

[2015-08-11 21:33] moollaza commented on #2070
@iambibhas yup that's what I meant for us to do :+1:  We can make a hash in the Perl and verify the query doesn't match it.

[2015-08-11 23:26] PalmerAL opened #2090 "Quandl HomeValues: doesn't work when query is in the form "home values in [state|zip code]""
If the search term is in the form "home values in [state]", the result shown is for Indiana no matter what state is entered.
Examples:
https://duckduckgo.com/?q=home+values+in+california&ia=homevalues
https://duckduckgo.com/?q=home+values+in+new+york&ia=homevalues

However, the above search terms work if the word "in" is removed.

------
IA Page:  http://duck.co/ia/view/quandl_home_values

[2015-08-12 08:03] ponychicken commented on #1353
Has this been fixed in the meantime?
All the example urls work correctly for me now:
https://duckduckgo.com/?q=weather+network&t=ffab&ia=weather
https://duckduckgo.com/?q=weather+quantum+physics
https://duckduckgo.com/?q=weather+supercalifragilisticexpialidocious+test

[2015-08-12 09:48] arochedy commented on #2086
I try again today : with a region (france ) it doesn't work with paris too !

![image](https://cloud.githubusercontent.com/assets/2261478/9221117/1656f420-40e8-11e5-94c2-3a3e10b9ac9f.png)

without region it doesn't work with "meteo lyon" but work fine for "meteo paris"

![image](https://cloud.githubusercontent.com/assets/2261478/9221107/fabaa8c4-40e7-11e5-9990-6a44a078b245.png)

[2015-08-12 09:51] arochedy commented on #2086
with canada in region it works fine for paris, lyon and marseille (but not with lille or strabourg for example)

[2015-08-12 11:02] andrey-p commented on #2077
Hey @abeyang, I'm moving the discussion to a PR so we can comment on this as I add new bits to it. I'll implement this round of changes shortly.

@mattr555 I've cc'd you there :)

[2015-08-12 11:02] #2077 closed

[2015-08-12 12:38] claudiodangelis opened #2093 "Arch User Repository: undefined parameter in "More at aur.archlinux.org" link"
The "More at aur.archlinux.org" link has an undefined parameter (&arg=undefined). Tested on Firefox and Chrome.

http://aur.archlinux.org/rpc.php?type=search&arg=undefined

![image](https://cloud.githubusercontent.com/assets/941963/9224029/a2a29e4a-40ff-11e5-914a-41b2102fcecb.png)

------
IA Page:  http://duck.co/ia/view/aur

[2015-08-12 19:22] moollaza opened #2096 "Hearthstone: Change `name` to "Games""
We shouldn't be using any brand names in the tabs. This IA (and any others with specific tab names!) need to be generalized so they match one of the IA Page topics (or a similar, general term),

The MTG Spice (recently taken down) should be updated as well, for when it comes back online.

--
IA Pages: https://duck.co/ia/view/hearthstone, https://duck.co/ia/view/mtg

[2015-08-12 19:24] moollaza opened #2097 "MTG: API has gone offline! We need a new data source."
As of this morning the data source,  https://www.mtgdb.info/ website seems to be offline.

I'm not sure if this is permanent, but in case it is, we'll need a new data source/API.

/cc @puskin94

[2015-08-12 19:30] moollaza commented on #2097
It looks like the change may be permanent. The Twitter handle for the site seems to be gone now: https://twitter.com/mtgdb

I found the Repo for the API which has all the original data: https://github.com/planeswalkers/api.mtgdb.info/blob/master/db/dump.zip

We may be able to use this to create another type of IA, e.g Fathead or Longtail + Spice to recreate this.

[2015-08-13 03:06] #2085 closed

[2015-08-13 12:54] bsstoner opened #2099 "Last.fm Artist: reign in triggering"
It's blindly triggering on artist in a lot of places it shouldn't:
https://duckduckgo.com/?q=artist+of+the+year
https://duckduckgo.com/?q=music+artist
https://duckduckgo.com/?q=street+artist

Related to why there were so many empty api responses coming back from last.fm #2098

cc @moollaza @russellholt

------
IA Page:  http://duck.co/ia/view/lastfm_artist

[2015-08-13 12:56] moollaza commented on #2099
We could probably drop the word "artist" as a trigger for now. It seems like it's causing too many false positives.

[2015-08-14 21:05] loganom commented on #2097
According to that repo, yes, it is permanent. This is unfortunate.

https://github.com/planeswalkers/api.mtgdb.info

[2015-08-15 15:20] moollaza commented on #2090
@PalmerAL thanks a lot for reporting!

/cc @brianrisk

[2015-08-15 16:06] #2096 closed

[2015-08-15 20:33] moollaza commented on #2062
Sorry just saw this -- we don't have test keys for any of the API's. We just have the one we use in production.

[2015-08-15 22:05] moollaza commented on #1353
@ponychicken looks like it has :+1:

[2015-08-15 22:05] #1353 closed

[2015-08-17 16:58] chrismorast opened #2106 "Cryptocurrency: Remove ' View All Exchange Rates' link from footer"
The footer link (View All Exchange Rates) needs to be removed since it's redundant with the 'more at...' link

------
IA Page:  http://duck.co/ia/view/cryptocurrency

[2015-08-17 19:45] #2106 closed

[2015-08-17 21:19] moollaza commented on #2086
@arochedy for now I think this will be considered a tolerated bug as we don't really have non-english triggering for Instant Answers yet. If you search "weather lyon" you should get the correct result.

We do plan to internationalize Instant Answers and will make an issue for the team to investigate this further.

![weather_lyon_at_duckduckgo](https://cloud.githubusercontent.com/assets/873785/9316

[2015-08-18 13:17] bsstoner opened #2109 "PeopleInSpace: Images Broken"
![screen shot 2015-08-18 at 9 16 18 am](https://cloud.githubusercontent.com/assets/126358/9330841/e7f144e0-4589-11e5-90c2-e275a5181248.png)

@moollaza

------
IA Page:  http://duck.co/ia/view/people_in_space

[2015-08-18 22:06] slashbang opened #2111 "Images: Brest showing breast"
Searching for Brest results in images of women and breasts. It should return images of Brest in France.

If Brest, France is searched instead it results in correct results.

------
IA Page:  http://duck.co/ia/view/images

[2015-08-19 04:38] #1788 closed

[2015-08-19 06:10] moollaza commented on #2109
@bsstoner they seem to be working for me. Are you still seeing this?

[2015-08-19 06:10] moollaza commented on #2109
![people_in_space_at_duckduckgo](https://cloud.githubusercontent.com/assets/873785/9349695/6ba300a2-4617-11e5-8c95-6801db24e806.png)

[2015-08-19 10:46] bsstoner commented on #2109
:+1: looks good, must have been on their end.

[2015-08-19 10:46] #2109 closed

[2015-08-19 13:28] tagawa commented on #1825
The UI shouldn't rely solely on colour or contrast because of users with colour-blindness, etc. not being able to distinguish it.

[2015-08-19 13:33] tagawa opened #2113 "Geometry: Should have brackets for clarity"
To help users, formulae would be easier to understand if they had brackets/parentheses, e.g.
`V = (4/3)πr^3` instead of  `V = 4/3πr^3`

---

IA Page:  http://duck.co/ia/view/geometry

[2015-08-19 17:52] #2041 closed

[2015-08-21 04:16] MrChrisW commented on #2069
@moollaza The users region setting is provided by the js object `DDG.settings.region` right?

So a second request would need to be made in order to query the API with the users `region` setting?

We can't use the `$loc` function as this gets the users location based on IP, not region setting.

[2015-08-21 04:18] MrChrisW commented on #2090
Thanks @PalmerAL

Resolved by @brianrisk in #2105

https://duckduckgo.com/?q=home+values+in+california&ia=homevalues
https://duckduckgo.com/?q=home+values+in+new+york&ia=homevalues

[2015-08-21 04:18] #2090 closed

[2015-08-21 14:53] moollaza commented on #2069
@MrChrisW whoops, you're totally right, I overlooked that :frowning:

Let me see if we can expose the region setting to the Perl...

[2015-08-21 18:01] moollaza commented on #2093
@claudiodangelis thanks a lot for reporting this!

[2015-08-21 18:01] moollaza commented on #2093
@MrChrisW as always, thanks for fixing it :)

[2015-08-21 18:06] jagtalon opened #2123 "Better triggers for Time"
From https://duck.co/ideas/idea/6271/asking-the-time

"When you say "date" you should be able to get a result, as well as, "what day is it", or "what month is it" or "what year is it".

It's a rare occasion when google has beaten us to it."

![download](https://cloud.githubusercontent.com/assets/81969/9415479/b529c254-480d-11e5-88c9-394e8be33397.png)

[2015-08-24 16:13] mohan08p opened #2126 "BrainyQuote:"
yes, its good,  but we can also add the sections regarding #430

[2015-08-24 16:47] chrismorast opened #2127 "Cryptocurrency: DVC icon broken"
Should be using either the generic icon or the DVC specific (if available in our library)

https://duckduckgo.com/?q=1000+doge&ia=cryptocurrency

![screen shot 2015-08-24 at 9 43 56 am](https://cloud.githubusercontent.com/assets/7061920/9446170/fc49734e-4a44-11e5-9714-0408aebee1f9.png)

------
IA Page:  http://duck.co/ia/view/cryptocurrency

[2015-08-24 21:20] moollaza opened #2128 "Cryptocurrency: JS Error in console `leadingZeroRegex` failing"
I was just testing the query "1000 doge" and noticed we didn't show a result. There's an error in the console: `TypeError: leadingZerosRegex.exec(...) is null`.

Looks like a regex is failing? Let's fix ASAP!

/cc @claytonspinner

-----
IA Page: https://duck.co/ia/view/cryptocurrency

[2015-08-24 22:41] moollaza opened #2129 "News: Results should be sorted by age"
I just realized our news results aren't sorted by age! We should definitely show the most recent results first!

Let's add a `sort_default` block to News.js and sort these results by recency.

------
IA Page:  http://duck.co/ia/view/news

[2015-08-24 23:10] #2093 closed

[2015-08-24 23:52] moollaza commented on #2126
@mohan08p thanks for the input. I'm going to close this as it’s a duplicate of #409. If you'd like, I'd suggest you add a comment over there expressing your interest.

I'm not sure we can get topics to work though because we're using a custom API that brainy quote seems to have made for us. We'll likely need to contact them.

[2015-08-24 23:52] #2126 closed

[2015-08-25 15:49] moollaza opened #2131 "Quandl IAs: Remove `{{url}}` from content.handlebars"
It seems like these IA's have an unnecessary link in the title of the result that simply links back to the page (because there's no defined `url` property.

@brianrisk did/do we have something to link to instead or is removing the links OK?

-----
IA Pages:
https://duck.co/ia/view/quandl_fundamentals
https://duck.co/ia/view/quandl_home_values
https://duck.co/ia/view/quandl_world_bank

[2015-08-25 15:55] jagtalon commented on #2131
:heart:

[2015-08-25 17:33] #2131 closed

[2015-08-26 00:50] MrChrisW commented on #2128
@moollaza I'm unable to reproduce this using the query `1000 doge`
`x` shouldn't be null on [L197](https://github.com/duckduckgo/zeroclickinfo-spice/blob/mrchris/cryptocurrency-hotfix/share/spice/cryptocurrency/cryptocurrency.js#L197) as there's a value passed to it.

[2015-08-27 02:54] moollaza commented on #2069
I've made a task to see if we can expose this to the Perl. For now this task will have to wait.

[2015-08-27 15:59] chrismorast opened #2136 "GoWatchIt: Increase margin-top on footer to 1em"
![screen shot 2015-08-27 at 8 56 08 am](https://cloud.githubusercontent.com/assets/7061920/9525635/e3b57fb0-4c99-11e5-879b-28fe1bcf8401.png)

------
IA Page:  http://duck.co/ia/view/go_watch_it

[2015-08-27 16:04] #2127 closed

[2015-08-27 16:07] moollaza opened #2137 "CSS Cleanup: Remove any ie8 Specific CSS (IE8 no longer supported!)"
Now that we no longer support IE8, we can remove any legacy CSS written for backwards compatibility :)

Looks like there's too much...

[code]

[2015-08-28 20:44] jagtalon commented on #1950
Fixed by @cskksc in #1977

[2015-08-28 20:44] #1950 closed

[2015-08-28 23:42] mattr555 commented on #2137
:tada: :tada: :bangbang:

[2015-08-29 13:01] #2070 closed

[2015-08-29 22:38] xuv opened #2142 "Currency: "1Ƀ" should be recognized also as 1 Bitcoin, 1Btc or 1XBT"
Ƀ, the [bitcoin symbol](http://bitcoinsymbol.org/) is used by a growing part of the Bitcoin community. It certainly works better than the [฿](https://duckduckgo.com/?q=1%E0%B8%BF&ia=currency) which DDG, as expected, recognizes as the Thai Bath symbol.

Since you can type BTC, Bitcoin or XBT and they all get recognized as Bitcoin, seems fair to have the Ƀ. So far, searching for [1Ƀ in $](https://du

[2015-08-30 14:22] altern8tif commented on #2136
Any particular reason why 1em?  Thought 0.5em looks better.

[2015-08-31 14:14] moollaza opened #2145 "Sunrise/Sunset: Add triggering for "when is the sunrise in", "when does the sun rise in", etc"
We should be able to trigger on queries of these forms:

- "when is the sunrise/sunset in ..."
- "when does the sun rise/set in ..."
- "when will the sun rise/set in ..."
- "sun rise/set in ..."

------
IA Page:  http://duck.co/ia/view/sun_rise_set

[2015-08-31 23:21] russellholt opened #2147 "Timer creates a new timer every time the tab shows"
if you query 'timer', you get one timer;
if you then switch to another tab, and then switch back to the timer, you get two timers, etc.

@andrey-p

------
IA Page:  http://duck.co/ia/view/timer

[2015-09-01 20:23] chrismorast commented on #2136
For padding consistency.
![screen shot 2015-09-01 at 1 22 35 pm](https://cloud.githubusercontent.com/assets/7061920/9615400/a24b5cea-50ac-11e5-90fc-c922f1071273.png)

[2015-09-01 20:39] chrismorast commented on #2042
strange, I don't see anything now.

![screen shot 2015-09-01 at 1 38 31 pm](https://cloud.githubusercontent.com/assets/7061920/9615705/c901be40-50ae-11e5-88fa-caa273e62036.png)

[2015-09-02 08:26] airon90 opened #2148 "Implement Wikidata on Wikipedias 0-click info"
By now, (English) Wikipedia 0-click info fetch information on infobox and display a table with those data.

Example: https://beta.duckduckgo.com/?q=roma-bangkok&ia=about

However, on Wikidata information are more precise than on Wikipedia

Example: https://www.wikidata.org/wiki/Q20731348

I think you should adapt the code to obtain those information from Wikidata instead from Wikipedia's infoboxes

[2015-09-06 19:20] benabrahamson commented on #2145
Will this be enough triggers? https://gist.github.com/benabrahamson/aad291669ccb60af83ae

[2015-09-07 17:23] moollaza opened #2156 "CitiBike: Need to normalize dates to standard format and UTC Timezone"
I realized that the date string we get from the CitiBike API (https://www.citibikenyc.com/stations/json) is a non-standard date format which the `new Date()` constructor cannot parse. Also, it's given in EDT instead of UTC, but the string doesn't indicate the timezone, causing further problems.

@marianosimone do you know if we can get CitiBike to give us a proper, UTC formatted string? As well, c

[2015-09-07 17:37] xuv commented on #2156
@marianosimone: Here's the line of code that worked for me to replace the `-` with `/` (on line 90):
```lastCommunication: moment(new Date( (item.lastCommunicationTime).replace(/\-/g,'/') ) ).fromNow()```

[2015-09-08 13:38] moollaza opened #2158 "Twitter: Title link should point to result's Twitter profile"
We need to define a `url` property in the `normalize()` function that should be identical to the `sourceURL` we create. That way clicking the title link will take you to the Twitter profile for the result we're showing, instead of linking back to the current page!

------
IA Page:  http://duck.co/ia/view/twitter

[2015-09-08 14:54] #2129 closed

[2015-09-08 23:36] bradcater opened #2160 "Airlines does not pluralize "Flight""
I searched for "flight pd143" and got "Showing 2 Flight."

![flight_not_pluralized](https://cloud.githubusercontent.com/assets/48050/9750044/cf0348a6-5660-11e5-8462-89e8043da79a.png)

[2015-09-09 08:00] twckr opened #2161 "PeopleInSpace: National flag wrong"
At the moment there is an incorrect national flag shown for cosmonaut Aidyn Aimbetov, who originates from Kazachstan. His nationalitiy is correctly shown on humansinspacerightnow.com but not in the PeopleInSpace-Plugin.

------
IA Page:  http://duck.co/ia/view/people_in_space

[2015-09-09 14:41] tomtclai opened #2165 "When Searching for 2 flights, one flight is repeated twice"
Expected
-----
![screenshot 2015-09-09 07 35 26](https://cloud.githubusercontent.com/assets/6173427/9829165/b2e5412e-58ae-11e5-9071-b3057c43bfc2.png)

Actual
-----
![screenshot 2015-09-09 07 35 26](https://cloud.githubusercontent.com/assets/6173427/9764730/7d808330-56c5-11e5-8765-87391f9197fd.png)

EDIT: I tried reversing the order (2423 first) and see that It's doesn't always repeat the last flig

[2015-09-09 19:52] #2161 closed

[2015-09-10 15:01] moollaza commented on #2042
@chrismorast still happening? Seems to be working for me today

[2015-09-10 16:56] JaegerBombastico opened #2168 "SoundCloud: Sorting by Date Posted?"
Not really a problem, but it would be a good idea if instead of it just randomly throwing up random songs from the soundcloud, if it could sort it all by date posted.

------
IA Page:  http://duck.co/ia/view/sound_cloud

[2015-09-10 22:53] chrismorast commented on #2042
Yup! Looks like it's working now

[2015-09-11 19:38] iambibhas commented on #2160
This will be fixed when #1736 gets merged.

[2015-09-12 00:01] moollaza commented on #2165
@tomtclai thanks for reporting. This IA isn't really meant to take more than one flight number as input, so I believe in all these cases, we're actually ignoring the 2nd flight number. The reason you're seeing two flights is because we've widened the window for all matching flights within 24 hours, that are in-transit and about to leave.

Do you remember what day/time you searched this? I'm assumi

[2015-09-12 00:53] tomtclai commented on #2165
@moollaza The screenshots were taken between Sept 9, 2015, 07:35 and Sept 9, 2015, 7:52

[2015-09-12 12:16] mintsoft opened #2174 "Relative Cost of Living IA"
cc @epik

move of: https://github.com/duckduckgo/zeroclickinfo-goodies/issues/1551

[2015-09-13 21:33] bsstoner opened #2177 "Cryptocurrency: console error causing Images fallback"
https://duckduckgo.com/?q=electrons
<img width="1279" alt="screen shot 2015-09-13 at 5 30 47 pm" src="https://cloud.githubusercontent.com/assets/126358/9839123/8773c0de-5a3d-11e5-8e1e-9eba68e1890f.png">

Why is it even triggering on this query?

------
IA Page:  http://duck.co/ia/view/cryptocurrency

[2015-09-13 21:34] bsstoner commented on #2177
The error is `Uncaught TypeError: Cannot read property 'created' of undefined`

[2015-09-14 10:38] ashishlth opened #2178 "Currency: Live mid-market rates?"
Hi,

I have noticed that the rates used by this currency conversion tool uses previous day's closing rate, rather than the current mid-market rates. Could this be changed? Google responds to current mid market rates.

---

IA Page:  http://duck.co/ia/view/currency

[2015-09-14 11:25] Leetcore opened #2179 "Forecast: Add triggers for other languages"
Hello,

the weather answer should also start if i search "weather" in other languages. Example: "wetter" (Germany).

wetter in stadtname should also work.

Can you make more hotwords?

---

IA Page:  http://duck.co/ia/view/forecast

[2015-09-14 11:25] Leetcore commented on #2179
Title changed

[2015-09-15 02:20] moollaza commented on #2168
@JaegerBombastico the default ordering is actually based on the number of "Likes" the song has according to the API. We don't have it done yet, but we're working to bring filtering options to the UI which will not only show you the default sort, but let you select another sorting option (such as release date, for example) to re-order the results.

[2015-09-15 02:21] moollaza commented on #2168
I think for now popularity is probably the best way to sort results and so I'm marking this as tolerated. I totally agree that users should be able to change the sorting as they like, so hopefully once we have filtering, we can raise this issue again and have someone implement a sort-by-date filter.

[2015-09-15 02:36] moollaza commented on #2165
@tomtclai thanks, it's as I suspected. The first flight hadn't landed yet, and the 2nd was waiting to depart. It's almost impossible to know which flight you're expecting to see in this case though: i.e. are you waiting to check if your friend has landed, or to see if your flight is still on time? so for now we're showing both.

I'm not sure if there's much we can "fix" in this case, but I'm open

[2015-09-15 03:58] tomtclai commented on #2165
@moollaza Oh. I didn't realize the second box was a different flight! I checked out #2000 and see that they want all flights happening today... but here the second box is showing the flight tomorrow, not today.

So, how about only showing flights that's gonna happen today? I didn't compare but I think that's what google does.

[2015-09-15 04:02] samskeller commented on #2158
@moollaza I've submitted a <a href="https://github.com/duckduckgo/zeroclickinfo-spice/pull/2182">pull request</a> to fix this issue!

[2015-09-15 04:10] #2165 closed

[2015-09-15 13:35] #2158 closed

[2015-09-15 19:47] #2050 closed

[2015-09-16 15:41] moollaza commented on #2177
@claytonspinner @MrChrisW -- Care to investigate?

Looks like we need to reign in the triggering a bit here too

[2015-09-16 15:48] moollaza commented on #2178
Hi @ashishlth I was under the impression we were getting mid-market rates, but you correct that we're getting daily rates. I'll have the team investigate switching.

[2015-09-16 15:59] moollaza commented on #2179
Hi @Leetcore , currently we're only using english trigger words for all Instant Answers. We do plan to internationalize the trigger of Instant Answers, but simply adding more triggers in various languages is the best way to do that. I would imagine the code would quickly become bloated with hundreds of words, making it hard to work with.

Ideally we'd like to tokenize our triggers and use our comm

[2015-09-16 16:17] moollaza opened #2183 "BitcoinAddress: QRCode Images not loading"
https://duckduckgo.com/?q=1J6EZsQLTppftPTbqYbbRDYFJMW5Ex3Bqi&ia=bitcoinaddress

Seems like the image URLS aren't working. @biteasy have the URL's changed? Does the code need to be fixed?

------
IA Page:  http://duck.co/ia/view/bitcoin_address

[2015-09-17 15:36] moollaza opened #2184 "Bring back Drinks Spice using http://www.thecocktaildb.com/"
A developer pointed out http://www.thecocktaildb.com/ as a potential source for an Instant Answer.

It looks like it would be a great replacement source for the Drinks Spice which is currently deprecated and in need of a new source.

Anyone interested in updating the Drinks Spice to get it back online!?

It looks like this source could be used for additional Instant Answers as well, such as gettin

[2015-09-17 15:38] moollaza commented on #2184
The drinks Spice was removed here: https://github.com/duckduckgo/zeroclickinfo-spice/pull/2020/files

This could be reverted and updated in a new PR to bring it back, or simply re-created.

[2015-09-17 18:50] jagtalon opened #2185 "Tvmaze: Can't search for "The Walking Dead" episodes"
"Fear the Walking Dead" is coming up instead of "The Walking Dead". Is this a bug or a feature since "The Walking Dead" season just ended?

![screen shot 2015-09-17 at 2 49 07 pm](https://cloud.githubusercontent.com/assets/81969/9942843/522d4498-5d4b-11e5-8d44-b18d97071e45.png)

-----
IA Page: https://duck.co/ia/view/tvmaze_nextepisode

[2015-09-17 20:04] claytonspinner commented on #2177
@moollaza @MrChrisW looking into it.

[2015-09-18 13:38] moollaza commented on #2185
@tvdavid do you know why the singlesearch endpoint is giving us this result over the show with the same name? The regular search endpoint returns the correct show first

[2015-09-18 20:52] jagtalon commented on #2160
@iambibhas :+1:

[2015-09-21 09:42] ToX82 commented on #2179
I was going to ask the same thing when I found this issue. I think that this would be a huge boost to make non english speakers to try and love duckduckgo.

[2015-09-22 02:54] #2137 closed

[2015-09-22 16:09] viluon opened #2196 "XKCD: Make Prev&Next buttons not open in a new window with 'New window' On."
It'd be nice if the Prev & Next buttons wouldn't open another query /in a new tab/ when the setting 'New window' is On (true), in order to make browsing of xkcd comics more comfortable. The Explain link should follow the current behaviour though.

------
IA Page:  http://duck.co/ia/view/xkcd

[2015-09-23 00:39] maxpolk opened #2197 "ColorPicker: disable page-level left/right arrow keys while typing into field"
The left and right arrow keys in color picker are intercepted to move between "Color Picker | Images | Videos | About", rather then move the cursor while inside a text entry field.

This issue is a request to disable the page-level left and right arrow key processing when you are typing into an instant answer text field.

Here is a more detailed explanation.  A problem occurs when you click inside

[2015-09-23 18:09] moollaza commented on #2197
@maxpolk thanks for posting this! I think something has changed because this is affecting all IA's that have inputs, which wasn't the case before.

I'm going to have the team investigate asap!

[2015-09-23 19:20] #2136 closed

[2015-09-25 16:06] miloszmazur opened #2201 "Timer: after switching to another tab, the timer resets each time the tab is shown"
Furthermore, if there's more then one timer present, only the rightmost timer will reset.

------
IA Page:  http://duck.co/ia/view/timer

[2015-09-28 16:24] jagtalon opened #2205 "Cryptocurrency: Apply the built-in `disc` class"
We now have a built-in `disc` class and it was already applied to our current currency spice: https://github.com/duckduckgo/zeroclickinfo-spice/pull/2199. We should also apply it to our cryptocurrency spice.

-----
IA Page: https://duck.co/ia/view/cryptocurrency

[2015-09-28 17:21] bsstoner opened #2207 "Octopart: triggering for "___ specs""
Is there a way to adjust the trigger so it doesn't show for queries like "<product> specs"? These look pretty bad and are probably popular searches:

![screen shot 2015-09-28 at 1 18 23 pm](https://cloud.githubusercontent.com/assets/126358/10142912/7bf8f9ac-65e3-11e5-8d47-841786379510.png)
![screen shot 2015-09-28 at 1 19 55 pm](https://cloud.githubusercontent.com/assets/126358/10142949/a7ad7172-6

[2015-09-28 21:47] Cameleopardus opened #2208 "Location Lat/Lon NaN"
Don't know if this is the correct place for this, but the issue is with spice maps.

searching for lat/lon of a location will return map, with popover where lat/lon is NaN
Info from server is in correct format: "Point","coordinates":[-122.7282,45.5801]}

Example:
https://duckduckgo.com/?q=Portland+oregon+latitude&ia=maps

Screenshot:
http://i.imgur.com/AL00j81.png

[2015-09-29 17:12] xzoky opened #2209 "Quixey: "Android>Apple""
Wow. That's real mature…
![screen shot 2015-09-29 at 10 11 07](https://cloud.githubusercontent.com/assets/339784/10172101/8224ed0e-6692-11e5-88f0-30ab2f2e9213.png)

------
IA Page:  http://duck.co/ia/view/apps

[2015-09-29 18:59] moollaza commented on #2196
@viluon thanks for the suggestion.

I don't believe we currently have a way to fine tune the link behaviour right now but I'll check with the team...

[2015-09-29 20:37] moollaza commented on #2207
Ugh. Relevancy checking should be used to catch these. I think "specs" is a fair trigger, but it should obviously only return results when necessary

[2015-09-30 00:32] MrChrisW commented on #2209
@xzoky Nice catch. This is actually exactly what the [Quixey API](https://duckduckgo.com/js/spice/quixey/testflight/[2004%2C2005%2C2008%2C2015%2C8556073]/999999/2414062669) is returning `developer name = Android>Apple` which is incorrect as the Developer of TestFlight is Apple as per the App page https://itunes.apple.com/us/app/testflight/id899247664?mt=8

We'd need to lodge a report with Quixey t

[2015-09-30 17:06] brianrisk opened #2212 "Recipes triggering for "how to make a small ironing mat""
https://duckduckgo.com/?q=how+to+make+a+small+ironing+mat

[2015-09-30 17:13] #2212 closed

[2015-09-30 17:31] moollaza opened #2213 "GoWatchIt: Code cleanup and refactor"
- [ ] should not call isRelevant directly (we should be using a relevancy block if possible)
- [ ] function getUrl is a one-liner, and only used once - not necessary
- [ ] random variables declared all over the place moved to the top
- [ ] fix everything that says "This probably shouldn't be the way to do it, but it works for now."

Note: Some of this may require internal changes from the DDG Staf

[2015-10-01 03:08] DGMurdockIII opened #2214 "Forecast:"
when i search for weather on  duckduck go it not showing the correct city that i live in I live in   indianapolis, IN not what is show in screenshot http://i.imgur.com/7Gu0xaM.png

------
IA Page:  http://duck.co/ia/view/forecast

[2015-10-01 14:10] cinlloc commented on #1873
Have a new status on this issue? Relative time is already implemented on this so it should be only a matter of adding `ddgsi-clock` class to the result?

[2015-10-01 16:30] #2147 closed

[2015-10-02 17:35] moollaza commented on #2209
@xzoky thanks for pointing this out and @MrChrisW thanks for investigating. I'll pass this on to Quixey, but other than that, there's not too much we can do about this. I've marked it as tolerated and will close this out.

[2015-10-02 17:35] #2209 closed

[2015-10-02 18:44] xzoky commented on #2209
I hope Quixey fixes it. Thanks guys!

[2015-10-05 13:51] moollaza commented on #2214
@DGMurdockIII it seems like Boggstown is quite close to Indianapolis? For these kinds of Instant Answers, we need to infer your location based on an IP that's in the same region as yours, so there's a small margin of error.

We're working on a way to improve this, but for now I'm not sure there's an easy way for us to get your exact location. We're considering an opt-in method of specifying your l

[2015-10-05 13:51] #2214 closed

[2015-10-05 19:14] cathalgarvey opened #2216 "Forecast: Default unit should be °C, not °F"
Fahrenheit is used in very few countries, and the [International System of Units](https://en.wikipedia.org/wiki/International_System_of_Units) is used now in most of the internet-using world; it standardises Kelvin, but Celsius is adopted in common usage and by national and semi-national bodies because of its equivalence and easy-to-understand framing.

Given that both options are permitted by the

[2015-10-05 21:41] moollaza commented on #2208
@Cameleopardus thanks a lot for reporting this! I've made a task for the team to investigate

[2015-10-06 16:29] abeyang commented on #1873
@cinlloc @altern8tif Adding the clock, floating the date to the right, and adding the download icon.

[2015-10-07 20:26] chrismorast opened #2217 "Fix positioning of rating icon in Movies detail pane"
Can we reposition this icon so that it's centered within the line of text? In addition, can we add a bit of padding to give it a little more breathing room?

![screen shot 2015-10-07 at 1 21 48 pm](https://cloud.githubusercontent.com/assets/7061920/10350112/ff2b25d8-6cf6-11e5-8bae-cb0ad5db7d8c.png)

Note: Required changes are highlighted in the image

------
IA Page:  http://duck.co/ia/view/in_the

[2015-10-08 19:38] moollaza commented on #2142
This is a great idea, implementing it isn't simple though because we're using the `Currency_symbols` classifier in our regex to ensure we only match on what are symbols that represent "real" currencies.

Some tinkering will need to be done in order to get this working.

We also have the Cryptocurrency Instant Answer which is made for conversions between most crypto currencies. This trigger could a

[2015-10-08 19:43] moollaza commented on #2148
Thanks a lot for the suggestion. Our Wikipedia results are actually based on a special, internal Fathead Instant Answer. We're constantly scraping Wikipedia and their infoboxes and using that info to produce the Wiki results you see.

We're interested in Wikidata and will continue to investigate it, but for now I don't think this would be considered a very high priority so I'm marking it as tolera

[2015-10-08 20:42] bsstoner opened #2218 "Octopart: JS error"
Seeing this error get thrown periodically, need to guard against it:
[code]

------
IA Page:  http://duck.co/ia/view/octopart

[2015-10-08 20:53] bsstoner commented on #2218
Example: https://duckduckgo.com/?q=specs+for+torque+c146

![screen shot 2015-10-08 at 4 53 08 pm](https://cloud.githubusercontent.com/assets/126358/10379589/156c4cd2-6ddd-11e5-8c3a-c595c1b62090.png)

[2015-10-09 14:06] moollaza commented on #2201
@miloszmazur thanks for reporting this. We've just released several fixes, including the Timer fixes. This looks to be solved. Care to confirm?

[2015-10-09 14:06] #2201 closed

[2015-10-09 14:08] moollaza opened #2219 "Timer: Update progress bar colour for Dark Theme"
We're currently showing a white progress bar on the dark theme which is a little visually jarring. The simplest way fix this would be to add rgba 'fall-forward' colors. E.g. the border color for the progress circle is #eee, so we'd need to update the CSS:

[code]

If the browser supports rgba (most do), then it'll use the rgba color.

It looks like we need to do that for any instances of #eee or #

[2015-10-09 14:10] moollaza commented on #2219
The result should look more like this:

![timer_10_m_at_duckduckgo](https://cloud.githubusercontent.com/assets/873785/10395990/fb91d854-6e6d-11e5-8a40-f7d9bc5f96cf.png)

[2015-10-09 14:38] miloszmazur commented on #2201
Works as intended, confirmed. Thanks!

[2015-10-09 22:52] chrismorast opened #2221 "'UV Index' Query doesn't trigger UV Index IA as Default"
Can we set this to show the UV Index IA to show by default rather than showing the 'About' tab?

------
IA Page:  http://duck.co/ia/view/uv

[2015-10-09 22:58] Airon90 commented on #2148
Thank you very much for your answer! I'm happy to see in the future progress about Wikidata on DuckDuckGo so please keep us informed about that! :)

[2015-10-10 10:57] puzich opened #2223 "InTheaters: Translation"
Is it possible to translate the search string for this instant answer, for people from other countries, like germany oder spain, so that they can use it too?

------
IA Page:  http://duck.co/ia/view/in_theaters

[2015-10-12 05:34] jwalantsoneji opened #2225 "Images: Loads images in Firefox; eats up bandwidth"
Search result page on DDG mobile website on FireFox even if doesn't show the image at first, it does load all images in the back. This is visible when switching tabs, when the window gets small.

Requesting DDG to release ultra-lite version of mobile search page which doesn't load images, vids, news unless clicked on that tab on the search result page.

------
IA Page:  http://duck.co/ia/view/imag

[2015-10-13 12:29] SibuStephen commented on #2218
Please review `#2226`

[2015-10-13 22:01] moollaza commented on #2225
By default we only load the low-res version of the first few images (I think 12?) when the images tab shows by default.

When the images tab is clicked, we lazy-load the first few results in low-res (because you've indicated you want to see images).

Are you suggesting we should only load the first 3 results when the images show by default, and load the res when you click the "Show more" button?

[2015-10-14 18:19] moollaza opened #2228 "Coursebuffet: Should trigger on "Learn X Online""
I just tried a query that didn't trigger this IA, which I was hoping it would.

This IA should trigger on queries like "Learn X Online" and "Online X courses".

E.g. "Learn computer science online", "online computer science courses"

------
IA Page:  http://duck.co/ia/view/coursebuffet

[2015-10-14 20:58] cinlloc commented on #1873
@abeyang Suggested design does not fit actual tile size:
![selection_001](https://cloud.githubusercontent.com/assets/8652709/10497522/9f5a9bc2-72c6-11e5-8389-d8c85f4b789c.png)
Should increase tile width or review data to display (maybe remove "Updated" text?).

[2015-10-16 18:10] andrey-p opened #2233 "AUR third party issues"
It seems the AUR API is having trouble with our callback format, and throws an error if we pass a callback with underscores.

Compare: https://aur.archlinux.org/rpc.php?type=search&arg=foobar&callback=foo and https://aur.archlinux.org/rpc.php?type=search&arg=foobar&callback=foo_bar

Discovered that with our new error logging thingamajig :)

[2015-10-17 17:19] jagtalon commented on #2221
This can be done by adding `signal: 'high'` https://github.com/duckduckgo/zeroclickinfo-spice/search?utf8=%E2%9C%93&q=signal+high&type=Code

[2015-10-20 15:36] jkanarek opened #2235 "Currency: Space between currency symbol and numbers breaks IA triggering"
~~A lot of countries use commas (€ 889,00) rather than decimal points, but this IA doesn't seem to support commas.~~

When a space separates the currency symbol and the digits, this IA doesn't trigger as expected:
- https://yahoo.duckduckgo.com/?q=%E2%82%AC+889%2C00
- https://yahoo.duckduckgo.com/?q=%24+127 (in this case we end up show a movie result, which is bad!)

Let's relax the triggering sli

[2015-10-21 02:38] chrismorast opened #2237 "PeopleInSpace: 'People in space' triggering Q/A IA as default"
![screen shot 2015-10-20 at 6 33 01 pm](https://cloud.githubusercontent.com/assets/7061920/10626255/14520a1a-7762-11e5-86ac-cee82b315c10.png)

------
IA Page:  http://duck.co/ia/view/people_in_space

[2015-10-21 02:49] altern8tif commented on #2237
That seems to work fine for me.

[2015-10-21 09:18] altern8tif commented on #1818
This looks like it's been fixed.  Can the issue be closed?

![screen shot 2015-10-21 at 5 17 31 pm](https://cloud.githubusercontent.com/assets/5793364/10632534/a4917eac-7817-11e5-80c4-525cbb20b523.png)

[2015-10-21 09:37] bsstoner commented on #1818
This is still an issue. It's when the link is `:visited`. We need to fix it internally, will open a task.

[2015-10-21 09:37] #1818 closed

[2015-10-21 11:32] bsstoner opened #2239 "SeatGeek Sports: Bad Example Query"
The example query "Yankees Games" conflicts now with our MLB IA and should be removed because Seat Geek doesn't trigger for that query.

------
IA Page:  http://duck.co/ia/view/seat_geek_sports

[2015-10-21 12:20] bsstoner opened #2240 "Dogo Books: broken and throwing console error"
![screen shot 2015-10-21 at 8 20 10 am](https://cloud.githubusercontent.com/assets/126358/10636260/97fa99da-77cc-11e5-9fbc-ae63523a62f0.png)

------
IA Page:  http://duck.co/ia/view/dogo_books

[2015-10-21 12:21] bsstoner opened #2241 "Arch User Repository: Broken and throwing console errors"
![screen shot 2015-10-21 at 8 17 29 am](https://cloud.githubusercontent.com/assets/126358/10636280/bcbb981e-77cc-11e5-925b-456e65712d14.png)

------
IA Page:  http://duck.co/ia/view/aur

[2015-10-21 13:04] bsstoner opened #2242 "Zanran: Is this down?"
None of the example queries return anything.

------
IA Page:  http://duck.co/ia/view/zanran

[2015-10-21 15:05] moollaza commented on #2242
Hmm the website seems to have gone offline suddenly. It was working last week though!

I can't find any mention of the company shutting down, but it doesn't seem like they've done much of anything since February..

http://www.zanran.com/

[2015-10-21 15:05] moollaza commented on #2242
We can take the IA offline for now and see what happens with the website.

[2015-10-21 15:09] moollaza commented on #2239
Thanks for pointing this out! I've updated the IA Page's example query.

[2015-10-21 15:09] #2239 closed

[2015-10-21 15:19] moollaza commented on #2237
@chrismorast @altern8tif this works properly for me too. @chrismorast are you still having this issue?

We can force the IA to show by setting `signal: "high"` if it persists

[2015-10-21 15:20] #2221 closed

[2015-10-21 15:20] #2219 closed

[2015-10-21 15:22] moollaza commented on #2235
@jkanarek it looks like the issue is actually the space between the `€` and the numbers,  `889,00`

If you remove the space, it works as expected: https://yahoo.duckduckgo.com/?q=%E2%82%AC889%2C00&ia=currency

I'll update this issue to reflect the proper fix.

[2015-10-21 15:52] bsstoner commented on #2242
interesting, yea, let's disable it for now.

[2015-10-22 02:09] #2241 closed

[2015-10-22 22:17] #2184 closed

[2015-10-23 18:31] jagtalon commented on #2242
@moollaza @bsstoner now up. I think we can close this.

[2015-10-23 18:31] #2242 closed

[2015-10-23 18:34] jagtalon commented on #2237
Ran into this problem as well. `signal: "high"` needs to be set.

[2015-10-23 20:06] moollaza commented on #2240
@dogomedia would you be be able to investigate and fix this? Has your API changed?

[2015-10-24 05:01] dogomedia commented on #2240
@moollaza, @bsstoner Thank you for bringing this to our attention.  It looks there was at some point a bug was introduced into the API which affected certain queries.  We have resolved this issue on our end so everything should be working again.

[2015-10-24 05:03] dogomedia commented on #2240
<img width="1770" alt="scary kids books" src="https://cloud.githubusercontent.com/assets/10837292/10708988/e68e301e-79d1-11e5-8141-55d0050787c6.png">

[2015-10-24 07:53] mintsoft commented on #2240
@dogomedia @bsstoner This looks resolved to me

[2015-10-24 08:09] #2240 closed

[2015-10-24 08:10] mintsoft commented on #2240
Thanks for the quick fix @dogomedia !

[2015-10-25 13:34] altern8tif commented on #898
@heytitle @moollaza Is this still being worked on? Wouldn't mind taking it up (together with #1706) to close the issue...

[2015-10-25 21:59] tvdavid commented on #2185
@moollaza Wow, sorry for the late reply, this apparently got buried. Fortunately, this bug has been fixed on our end for quite a while. Let us know if you find any more of these.

[2015-10-26 16:52] moollaza opened #2245 "Timer: Triggering on "countdown.js""
This IA triggers on the query "countdown.js": https://yahoo.duckduckgo.com/?q=countdown.js&ia=timer

We need to make sure we check the query to ensure there is a relevant remainder, and if not, we shouldn't show the IA.

------
IA Page:  http://duck.co/ia/view/timer

[2015-10-26 21:03] moollaza commented on #898
@altern8tif no it's not, please do take it up! We don't have Package names does the CPAN results and it's been driving me crazy. I nearly fixed that myself last week :smile:

[2015-10-26 21:27] moollaza commented on #2240
:+1: Thanks guys

[2015-10-26 22:25] #2062 closed

[2015-10-27 12:51] bsstoner opened #2247 "RubyGems: Not working"
Their API endpoint works: https://rubygems.org/api/v1/search.json?query=rspec

But calls through spice always return no results:
https://duckduckgo.com/?q=rubygems+rspec
https://duckduckgo.com/js/spice/ruby_gems/rspec

cc @moollaza @malbin @russellholt

------
IA Page:  http://duck.co/ia/view/ruby_gems

[2015-10-27 14:47] moollaza commented on #2247
@bsstoner this one has stumped me. Will need further investigation...

[2015-10-27 14:48] moollaza commented on #2247
FWIW the IA works in DuckPAN, so this is an internal problem.

[2015-10-27 16:24] b1ake opened #2248 "Forecast: Expand trigger to include 'forecast'"
Currently, it triggers for 'weather' but not for 'forecast'. Seems like an easy win to expand it. :)

Compare 'weather' vs 'forecast':
https://duckduckgo.com/?q=weather&ia=weather
https://duckduckgo.com/?q=forecast&ia=weather

------
IA Page:  http://duck.co/ia/view/forecast

[2015-10-27 20:51] moollaza commented on #2248
@b1ake We are actually handling the triggers internally for this one because of relevancy issues, but

[2015-10-27 20:51] moollaza commented on #2248
@tommytommytommy is there any reason we can't bring back the forecast trigger?

I think we were worried that it was too ambiguous?

[2015-10-27 22:42] chrismorast commented on #2237
Yes, this is still happening for me @moollaza and @altern8tif

[2015-10-28 10:55] andrey-p commented on #2247
Confirmed, it's internal. Will have a look.

[2015-10-28 11:24] andrey-p commented on #2247
Sorry, I jumped the gun and thought it was an internal frontend issue. It's not IP blocking, otherwise running DuckPAN locally will have led to the same problem. Some kind of metadata issue?

[2015-10-28 17:07] moollaza commented on #2233
@andrey-p thanks!

It looks like we'll need to use `spice wrap_jsonp_callback` to make NGINX wrap the response in a callback

[2015-10-28 17:15] moollaza commented on #2233
@andrey-p my mistake, looks like this was already solved a few days ago: https://github.com/duckduckgo/zeroclickinfo-spice/issues/2233

It will go live with the next release!

[2015-10-28 17:15] #2233 closed

[2015-10-28 17:44] tommytommytommy commented on #2248
This particular IA has a history of overtriggering...taking a look at issues/PRs, we made several rounds of attempts to try to fix it, but all with mixed success. Here are the more recent conversations that I found:

https://github.com/duckduckgo/zeroclickinfo-spice/issues/1170
https://github.com/duckduckgo/zeroclickinfo-spice/pull/1173 (a lot of work trying to reign in triggering for "forecast")

[2015-10-28 19:25] b1ake commented on #2248
@tommytommytommy Gotcha, does that mean that we don't want the IA to trigger for the simple queries, 'weather' and 'forecast'? Neither of those have a geographic location as a substring of the query.

For me as a user, I'd expect 'weather' and 'forecast' to trigger, as well as variations of those with a geographic location (e.g. 'weather in paris'), as well as simple queries like 'weather today' a

[2015-10-28 19:33] tommytommytommy commented on #2248
I think it would be great to have those triggers in, as the current open source trigger simply then attaches the user's approximate location and makes an upstream request. Would be nice to be able to internationalize this somehow too for other languages...

[2015-10-28 23:38] chrismorast opened #2250 "Expatistan: Not triggering at all"
It seems that this IA is not working at all

------
IA Page:  http://duck.co/ia/view/expatistan

[2015-10-29 20:40] moollaza commented on #2185
@tvdavid its no prob, thanks for letting us know it's fixed!

[2015-10-29 20:42] moollaza commented on #2185
https://duckduckgo.com/?q=The+Walking+Dead+next+episode&t=ffab&ia=entertainment

[2015-10-29 20:42] #2185 closed

[2015-10-29 20:56] #2128 closed

[2015-10-29 20:56] moollaza commented on #2128
Seems to be working now!

[2015-10-29 21:00] moollaza commented on #1730
@altern8tif it does trigger in prodution, but it's failing the relevancy check because we're triggering this using our internal "Deep" method. It's determining the location as "new york, new york" which when compared against our relevancy check, fails.

It doesn't trigger in DuckPAN because "New York" isn't in the Capitals.yml file that it uses. We could adjust that file to include other big citie

[2015-10-29 21:01] moollaza commented on #1556
@altern8tif LGTM :+1:

[2015-10-29 21:01] #1556 closed

[2015-10-29 21:05] #1629 closed

[2015-10-30 14:37] moollaza commented on #2223
@puzich we don't currently have a way to translate the user's query, but internationalization of the Instant Answers is on our roadmap and we do plan to allow them to trigger in different languages

[2015-10-30 14:37] #2223 closed

[2015-10-30 14:38] puzich commented on #2223
OK! If you need any help with the german translation, let me know!

[2015-10-30 14:59] #1873 closed

[2015-10-30 18:28] moollaza opened #2253 "Random Words: Title + Template should be different for single word results"
- The title reads `Random Words` instead of `Random Word`
- We don't need to use the list template for a single word. The Text template should work

------
IA Page:  http://duck.co/ia/view/rand_word

[2015-10-30 19:11] moollaza commented on #2223
@puzich sure thing. I suggest you checkout our Community Platform, duck.co. Where you can become a Translation Manager. I'm sure once we start internationalizing things, we'll speak to our TM's first!

[2015-10-31 09:54] codenirvana commented on #2250
It looks like API is removed...

[2015-10-31 18:13] zekiel opened #2255 "IsItUp:"
@mrshu this seems down

------
IA Page:  http://duck.co/ia/view/is_it_up

[2015-10-31 18:34] mrshu commented on #2255
Hmm, the API does not seem to be down:

https://isitup.org/duckduckgo.com.json?callback=ddg

[2015-11-01 05:50] altern8tif commented on #2255
Seems to be working on Duckpan though.

[2015-11-01 13:30] altern8tif commented on #1706
Since the new API allows actual searching of MetaCPan packages, was wondering if it would make more sense to use the Text template group instead.

So that it'll look like somewhat like the Rubygems IA:

![screen shot 2015-11-01 at 9 29 33 pm](https://cloud.githubusercontent.com/assets/5793364/10869139/b8b00c66-80df-11e5-941e-9c166b82832c.png)

[2015-11-02 06:49] codenirvana commented on #2255
@zekiel Issue fixed already : 09487ad08fe93eef9e9a8616be45d6c7dbd07d43
It will be live soon!

[2015-11-02 07:23] altern8tif opened #2258 "Homebrew: API down"
Getting a 502 Bad Gateway error from brewformulas.org's API.

Is there an alternative API that we can tap on for this IA?  [Braumeister](braumeister.org) looks like a good resource but it doesn't seem to have an API.

-----
IA Page: https://duck.co/ia/view/homebrew

[2015-11-02 07:36] altern8tif commented on #1706
On that note, would it make sense to convert all the package manager IAs (ie. npm, homebrew, pypi) into a proper search-based IA as opposed to requiring the exact-matched query as it currently does?

<img width="1214" alt="screen shot 2015-11-02 at 3 34 03 pm" src="https://cloud.githubusercontent.com/assets/5793364/10876389/3cfd44ce-8177-11e5-9ab1-458c38d50a18.png">

@moollaza any thoughts?

[2015-11-02 10:50] altern8tif commented on #898
Having a bit of trouble with the MetaCPAN API... I've got this endpoint but it doesn't seem to filter out the results that don't return a `module`.

[code]
Been using the [MetaCPAN Explorer](https://explorer.metacpan.org/) to get the resultant JSON but I still see results that are not showing the module information.

Anyone care to advise?

[2015-11-02 10:58] altern8tif commented on #2247
@andrey-p @bsstoner @moollaza this seems to be working now... I supposed it was resolved internally?

[2015-11-02 15:50] moollaza commented on #2247
@altern8tif yup I updated the code. We had both `wrap_jsonp_callback` and `&callback=` so we were double-wrapping the API Response!

[2015-11-02 15:50] #2247 closed

[2015-11-02 15:51] moollaza commented on #898
@altern8tif I believe the API is open source on GitHub? Maybe we need to open an issue for them to fix it?

[2015-11-02 22:33] moollaza commented on #1706
The MetaCPAN IA had to function that way because of the API, but I'd love to be able to do a general MetaCPAN search and not have to match the casing perfectly when I search a module name.

For NPM, I think it would be OK to move it to a general search as well. I've grown very familiar to the current implementation though and I may miss it :)

/cc @MrChrisW -- I think you asked this question befor

[2015-11-02 22:36] moollaza commented on #2258
@altern8tif the Repo still looks active: https://github.com/zedtux/brewformulas.org -- there was some activity 9 days ago so I think it's a temporary outage. If not, we can look elsewhere.

/cc @SalGnt any ideas on the status of BrewForumlas.org?

[2015-11-02 22:38] moollaza commented on #2258
I sent them a tweet to see what's up...

[2015-11-02 22:39] #2255 closed

[2015-11-02 22:39] moollaza commented on #2255
@codenirvana is correct :+1:  This will be fixed with next release

[2015-11-02 22:41] #2237 closed

[2015-11-02 22:52] moollaza opened #2261 "PeopleInSpace: Code should be cleaned up"
Looking at the source of this IA, it's silly that we call `Spice.add()` in two places, and define most of the same data in an anonymous object for each call.

We should define an object with the common case (1+ Astronauts in Spce) and conditionally modify the object when there are no astronauts.

This object should be passed to a single `Spice.add()` call

E.g.

[code]

Also, we should be defining

[2015-11-04 06:13] altern8tif commented on #898
@moollaza thanks... I've opened an issue.  Will wait for their reply first then.

[2015-11-04 06:17] altern8tif commented on #2258
@moollaza seems like it's up again.. will go ahead and close this issue then.

[2015-11-04 06:17] #2258 closed

[2015-11-04 16:37] moollaza commented on #2258
:+1:

[2015-11-04 23:52] MrChrisW commented on #1706
@moollaza I remember mentioning this, it would be great to add the functionality to show multiple results provided the API supports it. @altern8tif :+1:

Another idea was to allow switching of the template on an exact-match query, where only a single result is returned.... however I'm not sure this is currently feasible.

[2015-11-04 23:57] MrChrisW commented on #1730
Looks like these queries have been fix:
+ https://duckduckgo.com/?q=time+London (doesn't trigger)
+ https://duckduckgo.com/?q=time+in+Manila (doesn't trigger)

@moollaza Anyway to tweak the relevancy checking in this case to avoid a fail?

@altern8tif @tagawa I'd be interested to see if there are any other queries that fail

[2015-11-05 12:19] altern8tif commented on #689
Should we close this?  Seems to have been resolved already.

[2015-11-05 12:22] altern8tif commented on #1507
Time to close this as well?  Since the IA has been removed.

[2015-11-05 13:23] tagawa opened #2263 "Yoga Asanas: No info box/attribution"
@zachthompson @abeyang

The yoga asanas IA doesn't have the "i" icon to show the info box/developer attribution.
E.g. https://duckduckgo.com/?q=surya+namaskara+a&ia=yogaasanas

------
IA Page:  http://duck.co/ia/view/yoga_asanas

[2015-11-05 14:16] #1507 closed

[2015-11-05 19:36] moollaza commented on #1730
@MrChrisW there are some ways, but the best solutions I've thought of require some internal changes.

An interim "solution" is to hard code these queries to skip relevancy checks, seeing as they're fairly popular.

[2015-11-06 01:40] moollaza opened #2266 "Investigate Switching AQI Spice to Breezometer API for Global support"
http://breezometer.com/api/

Looks like this API is free and might support more than just US Zipcodes. If so we should definitely switch to this API to improve coverage.

-----
IA Page: https://duck.co/ia/view/aqi

/cc @schluchc

[2015-11-06 18:00] schluchc commented on #2266
Hi there

It looks cool, but I don’t think it is free for that use: http://breezometer.com/our-plans/

Cheers,
Christian

[2015-11-08 22:28] chrismorast commented on #2250
Thanks for looking in to this @codenirvana . @moollaza , what are our options?

[2015-11-08 23:41] Xiphoseer opened #2268 "GitHub: Searching for "github @username" displays "Git Repos for %40username""
When searching for e.g. github @duckduckgo, the result contains "Git Repos for %40duckduckgo", which looks kind of ugly.

------
IA Page:  http://duck.co/ia/view/github

[2015-11-09 03:12] strugee opened #2270 ""49.00 € to usd" isn't recognized by Currency.pm"

[2015-11-09 03:18] codenirvana commented on #2270
@strugee Yes, but ```49.00€ to usd``` this is working.

[2015-11-09 11:37] altern8tif commented on #2261
Good to close :smiley:

[2015-11-09 15:35] #2268 closed

[2015-11-09 16:15] moollaza commented on #2270
@strugee @codenirvana a PR was merged recently that fixes this. It will go live soon, with the next release.

[2015-11-09 16:15] #2270 closed

[2015-11-09 16:21] moollaza commented on #2250
Looks like the API is redirecting to HTTPS. We just need to update the code and it will work as expected. I'll fix it

[2015-11-09 17:20] #2250 closed

[2015-11-12 01:56] altern8tif opened #2278 "Similar Sites: Limited Daily Requests for Anonymous API"
API endpoint is giving a 404 response. Seems like the anonymous API only allows a limited number of requests a day.  Perhaps we can request for an API key instead.

More info on their [API](http://www.similarsitesearch.com/api.html).

---

IA Page: https://duck.co/ia/view/similar_sites

[2015-11-12 02:13] moollaza commented on #2278
Hey guys this is known problem. I've reached out a few times to the API maintainer and they haven't responded. I've looked for alternatives and there aren't many. I'm still actively looking.

[2015-11-13 13:34] #2245 closed

[2015-11-14 06:33] jagtalon commented on #2261
@altern8tif thanks!

[2015-11-14 06:33] #2261 closed

[2015-11-14 06:45] jagtalon commented on #1707
Should be fixed!

[2015-11-14 06:45] #1707 closed

[2015-11-14 15:31] #2217 closed

[2015-11-15 00:40] Mailkov commented on #2183
The URL: https://www.biteasy.com/blockchain/addresses/1Biteasym3p5E4soZq8So6NjkjYugEnz2X/qrcode.jpg
works.

The error is:
https://images.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.biteasy.com%2Fblockchain%2Faddresses%2F1Biteasym3p5E4soZq8So6NjkjYugEnz2X%2Fqrcode.jpeg&f=1
Failed to load resource: the server responded with a status of 500 (OK)
500 Internal Server Error

I have one problem to debug on co

[2015-11-15 06:28] altern8tif commented on #2278
Heh this is quite meta... Doing a similar site search on similarsitesearch.com.

@moollaza @MrChrisW Anyway I've discovered this [API](https://developer.similarweb.com/similar_websites_api) from SimilarWeb.  It looks pretty good in that it gives back only 20 results as well as a similarity score, although it doesn't seem like it's free.

Perhaps DDG can get in touch with them to see if they have s

[2015-11-15 06:32] altern8tif commented on #2263
Is this an internal bug?  Have been searching the documentation to see how the info box attribution is derived but it doesn't say.

Amending the `attribution` or `metadata` code in the Perl files don't work...

[2015-11-15 07:39] altern8tif commented on #2228
Was going to suggest that this can be closed.

And I'm assuming that the fix (on [beta.duckduckgo.com](https://beta.duckduckgo.com/?q=computer+science+coursera&ia=onlinecourses)) is still not pushed to production yet?  'cause the original trigger words don't seem to be working on [duckduckgo.com](https://duckduckgo.com/?q=computer%20science%20coursera&ia=onlinecourses).

[2015-11-15 07:49] altern8tif commented on #1859
@zekiel I suppose this can be closed?

[2015-11-15 08:04] altern8tif commented on #1786
@moollaza good to close!

[2015-11-15 09:51] #1859 closed

[2015-11-15 14:59] #2228 closed

[2015-11-15 14:59] moollaza commented on #2228
Yup,  Updates will go live with next release

[2015-11-15 19:47] zachthompson commented on #2263
@moollaza something from the Solr API colliding maybe?  I'm not entirely sure which values are getting pulled in.

[2015-11-16 13:56] tagawa opened #2286 "Timer: Doesn't show time in title bar"
With the recent redesign it seems this has changed. Having the time updated in the title bar would be useful e.g. when running it in a background tab.

---

IA Page:  http://duck.co/ia/view/timer

[2015-11-16 23:08] moollaza commented on #2263
@zachthompson no idea! @jdorweiler any idea why this IA might not be showing an Info link on the SERP?

https://duckduckgo.com/?q=Surya+Namaskara+A&ia=yogaasanas

[2015-11-16 23:22] jdorweiler commented on #2263
Looks fine to me.  I tried with both firefox and chrome.

[2015-11-17 00:15] moollaza commented on #2183
It's not required, but we assume a `description` or `title` will be present.

You can see the template here: https://github.com/duckduckgo/duckduckgo-answerbar-templates/blob/master/item/basic_image_item.handlebars

@Mailkov it looks like this is a DDG problem. If you remove the `images.` subdomain, our image proxy works correctly:

https://duckduckgo.com/iu/?u=https%3A%2F%2Fwww.biteasy.com%2Fbloc

[2015-11-17 00:39] zachthompson commented on #2263
Strange, it's working for me on a variety of browsers and Oses.  @tagawa are you still seeing this?

[2015-11-17 01:16] tagawa commented on #2263
Yes, I only have Ubuntu to hand but on Firefox, Vivaldi and Midori there's no info box/dev attribution displayed:

![yoga-asanas](https://cloud.githubusercontent.com/assets/94173/11199693/543edf06-8d13-11e5-946d-fab0432ecbf8.jpg)

[2015-11-17 07:02] notfoss opened #2288 "Time: Please list the time zone as well"
@MrChrisW

For example, I searched for "sri lanka time zone". It returned the time and date, but not the time zone. It would be great if searching for time or time zone returns the time zone info as well.

------
IA Page:  http://duck.co/ia/view/time

[2015-11-17 08:27] alolis commented on #2183
@moollaza , apologies, just saw your ping. Let me know if you need anything on my side

[2015-11-17 11:50] MrChrisW commented on #2288
@notfoss Thanks for the suggestion!

I agree it would be helpful to show the timezone information within the Time IA. The current design was created with the help of the DuckDuckGo design team, maybe they can assist with this suggestion? @abeyang @moollaza

[2015-11-17 13:54] Mailkov commented on #2183
@moollaza  this is  the terminal output:
[code]

[2015-11-17 14:02] alolis commented on #2183
@Mailkov , can you please try now? I think the problem was on biteasy side after all

[2015-11-17 14:20] Mailkov commented on #2183
@alolis the same error:
[code]

I think the problem is in ddh10
After some tests I can say you that only ddh1, ddh2 and ddh3 return the api key !

[2015-11-17 14:22] alolis commented on #2183
@Mailkov ok, I just checked the DDG api key again and it seems to be valid indeed (with both v1 and v2 API)

[2015-11-17 15:15] moollaza commented on #2183
Thanks for pointing that out -- looks like some of the ddh machines are a little behind and need to be updated.

They should all have the same API key that we use in production, which I confirmed works, so everything should be OK on that front.

I beleive the problem is with our images endpoint, and I've made a task for the team to investigate what's going on there.

title is setted as required.

[2015-11-17 16:46] moollaza commented on #2288
Hmm. I think we could possibly add the UTC offset to to the title?

e.g.

[2015-11-17 16:47] moollaza commented on #2263
@tagawa @zachthompson

It's now working for me. I fiddled with the IA Pages a bit yesterday, I must have done something right?

[2015-11-17 16:48] moollaza commented on #2263
<img width="1442" alt="surya_namaskara_a_at_duckduckgo_and_calendar" src="https://cloud.githubusercontent.com/assets/873785/11217987/0d21c7ce-8d21-11e5-9458-4cd93915da97.png">

[2015-11-17 17:34] notfoss commented on #2288
On 17 November 2015 22:16:08 GMT+05:30, Zaahir Moolla <notifications@github.com> wrote:

Yes, that would be perfect!

[2015-11-17 19:41] mintsoft opened #2290 "Symbolab example is inaccurate"
This should read: `compute integral of x^2 dx`

Moved from: https://github.com/duckduckgo/zeroclickinfo-goodies/issues/1774

cc @Airon90

-----
IA Page: https://duck.co/ia/view/symbolab

[2015-11-17 19:54] moollaza commented on #2183
We've fixed this internally :+1:

[2015-11-17 19:54] #2183 closed

[2015-11-17 19:55] moollaza commented on #2290
Fixed :+1:

https://duck.co/ia/view/symbolab

[2015-11-17 19:55] #2290 closed

[2015-11-17 23:49] tagawa commented on #2263
Yay, looks good to me now. Thank you!

[2015-11-17 23:49] #2263 closed

[2015-11-18 01:09] jagtalon opened #2291 "Riffsy: Increase the number of images?"
Seems that we only show 20 images and it's a bit underwhelming. Increase the limit @moollaza?

[2015-11-18 11:41] Airon90 commented on #2290
Thank you for your answer! Now it's clear the differences between the 4 categories!

[2015-11-18 16:46] halosbe commented on #899
Searching for "costa rica weather" returns "Weather for San José, Uruguay" (should be San José, Costa Rica)

[2015-11-18 17:23] moollaza commented on #2291
@jagtalon I believe it's controlled by the API. @bryanhart would you be able to increase the # of results?

[2015-11-18 20:05] jagtalon commented on #2291
Yeah you can add a `limit=50` or something to the parameters.

[2015-11-18 20:27] #2253 closed

[2015-11-18 22:17] #2291 closed

[2015-11-20 17:27] #2205 closed

[2015-11-20 21:18] soleo commented on #2097
http://mtgjson.com/ could be a good option for reinvent this.

[2015-11-20 21:19] loganom commented on #2097
@soleo thanks for sharing this! I'll take a look when I get a chance.

[2015-11-21 02:14] #1786 closed

[2015-11-21 02:16] moollaza commented on #2278
One step ahead of you :) -- I've already reached out and in touch wit them. They're being a little silly and won't give me the beta access I was promised  (and apparently will only discuss pricing on the phone) so it look l will be speaking with them some time soon.

[2015-11-21 02:19] moollaza commented on #2266
The landing page says it's free for 1000 calls. Let's use that and see how it goes. If someone wants to reach out to them and explain the use case, there's a chance they (like many others) will give us free access because of the prominent "More at" link we will provide, linking back to them.

[2015-11-21 02:21] #689 closed

[2015-11-21 05:18] jagtalon commented on #2286
@tagawa since there can be multiple timer, not sure how it will be properly displayed in the title. Maybe just show if there's one but none if there are multiple ones? @moollaza @abeyang

[2015-11-21 08:17] HarshInvader opened #2298 "SoundCloud: No Volume Control or Skip Ahead."
@jdan
Having online a play-pause feature might not be enough. I many-a-times had the urge to move ahead in the song but when I tried click on the circle ahead, it paused.
And Volume Control won't be that difficult, c'mon!

---

IA Page:  http://duck.co/ia/view/sound_cloud

[2015-11-21 16:20] loganom commented on #2097
@soleo looks like it is simply a json file with all of the card data from every set (14.7MB). I'm not sure if there's really a good API out there at the moment. @moollaza I'm going to presume that this is too large of a data set for us to implement as an instant answer, correct?

[2015-11-23 15:49] moollaza commented on #2097
@loganom ya the JSON endpoint approach really isn't ideal, especially if it’s a massive 14MB file (a large API response is ~500Kb).

If this info isn't expected to change anytime soon, a Fathead could be made, but ideally we need a search endpoint, or an endpoint we can pass a character name to, and only get the info we need back.

[2015-11-23 22:02] #2099 closed

[2015-11-24 09:47] gpestana commented on #2298
Play, pause, skip and volume would be nice features to add. SoundCloud provides those features through their API (https://developers.soundcloud.com/docs/api/html5-widget). I will try to implement these features.

[2015-11-24 13:20] MrChrisW commented on #2298
Thanks for the suggestion @HarshInvader

@gpestana Please reach out to any of the DuckDuckGo community members for assistance or shot an email off to `open@duckduckgo.com`

[2015-11-24 15:01] gpestana commented on #2298
@MrChrisW yep, just got help from @moollaza on Slack!

I dug a bit into this issue and these are my conclusions:

1. We cannot use Sound Cloud's API because it is exposed through their widget thas has to be embedded somehow. This might pose privacy issues (thanks @moollaza for the heads up on this issue);
2. Sound Cloud's IA is rendered with [audio_item.handlebars](https://github.com/duckduckgo/du

[2015-11-24 15:50] moollaza commented on #2298
As @gpestana has mentioned, this functionality isn't currently possible without us doing some internal work to expose the audio player's volume and tracking capabilities to the templates, and then updating the templates to allow for this.

@abeyang @bsstoner what are your thoughts on this?

I like the suggestion but I don't think this is something critical. If it's a simple fix it might be nice to

[2015-11-25 03:03] ghost opened #2303 "Anime: Title should be visible without having to click on the poster"
@iambibhas I think the title should be visible directly in the instant answer. Sometimes, it's not easy to see on the poster or is in Japanese. Having to click all the posters to find the correct title is annoying.

Maybe display the poster as cards, like many other Instant Answers, with the poster on top of the card and the title underneath, with maybe the year as a subtitle ?

---

IA Page:  htt

[2015-11-25 03:08] MrTimscampi opened #2304 "Anime: Support for "currently airing anime""
@iambibhas It would be a cool feature to add a specific search term for "currently airing anime"

Right now, https://duckduckgo.com/?q=currently+airing+anime only reports a "No results found", because no anime is named "currently airing".
Ideally, the instant answer should return a list of the anime currently airing on TV when supplied with "currently airing", not an error message.

------
IA Page

[2015-11-25 05:43] MrTimscampi commented on #2304
This would probably need its own spice. I'll close this and will try to work on this as my first spice.

[2015-11-25 05:43] #2304 closed

[2015-11-25 10:41] MrChrisW opened #2305 "Time query incorrectly triggers Indeed Jobs IA"
Query: [time in hobart](https://duckduckgo.com/?q=time+in+hobart)

Expected: Show current time in Hobart and deep trigger [Time IA](http://duck.co/ia/view/time)

Actual: Displays indeed job IA - Due to deep triggering only

**Screenshot**
![2015-11-25-01-time in hobart at duckduckgo](https://cloud.githubusercontent.com/assets/5282264/11395072/ce90a5be-93a3-11e5-8055-226676dddfa6.png)

------
IA Pa

[2015-11-25 10:44] MrChrisW opened #2306 "Limit Cryptocurrency IA triggering for general queries"
Query: https://duckduckgo.com/?q=1+VPN

Actual: Cryptocurrency IA is triggered and displays rate incorrectly "Vpn%"

Expected: No IA triggered - limit query for Cryptocurrency IA to trigger on conversion to other cryptocurrecies only.

![2015-11-25-02-1 vpn at duckduckgo](https://cloud.githubusercontent.com/assets/5282264/11395140/4334c3a0-93a4-11e5-808d-8ea61276adc1.png)

________
https://duck.co

[2015-11-25 15:23] moollaza commented on #2306
@MrChrisW thanks for reporting

Definitely looks like a bug we should fix!

I'd like to hear other opinions on that. I think its OK to show conversions to other currencies when a user searches `"1 <currency>"` as we handle that the same way for the Currency Spice: https://duckduckgo.com/?q=1+CAD&t=ffab&ia=currency

However when the amount is great (or less) than `1` we only convert it to the curre

[2015-11-25 15:44] moollaza commented on #2305
@MrChrisW thanks -- I've made a task for this internally because this is the result of our internal, "deep" triggering.

[2015-11-26 05:10] MrChrisW commented on #2306
@moollaza Sure I understand that's expected behavior however i think it should be limited in someway to avoid general terms or searches for example the following queries **should** trigger the cryptocurrencies IA, I think that's a little overreaching as these are fairly general terms - again just my opinion.

+ `1 electron`
+ `1 gig`
+ `1 leaf`

Maybe we could limit the `"1 <currency>"` searches t

[2015-11-26 19:49] moollaza commented on #2306
@MrChrisW great point, totally agreed, dictionary terms should be excluded to avoid confusion in those cases.

I think that would be fine, for the dictionary words it seems like if `/s?coin/` is present it should also work:

- 1 electron coin
- 1 leafcoin
- 1 gigcoin

[2015-11-27 14:32] iambibhas commented on #2303
@moollaza is it possible to show title for `movies` template group?

[2015-11-27 14:49] iambibhas commented on #2304
Hummingbird API doesn't have any method to search animes by their airing status. If you know any API that does, we can implement it. For now I am ignoring `currently airing` from the Anime IA. thanks for bringing this up.

[2015-11-27 16:37] MrTimscampi commented on #2304
I believe MyAnimeList has that capability, as AniCharts uses their API and does it.

[2015-11-27 17:02] MrTimscampi commented on #2303
Maybe use the `media` template when there are multiple items ?
Seems like `movies` can only show an image, but `media` can show an image, a title and a rating.

[2015-11-28 22:05] darkestelephant opened #2311 "Cryptocurrency: Limit IA showing with space in between currencies"
@claytonspinner
Query: https://duckduckgo.com/?q=4shared
Displays clearly unrelated cryptocurrency info. I can't see any instances where you would search without a space between currencies
Expected no cryptocurrency information
![image](http://snag.gy/4QVL3.jpg)

------
IA Page:  http://duck.co/ia/view/cryptocurrency

[2015-11-29 02:53] MrChrisW commented on #2306
Additional query from @darkestelephant #2311 `4shared`

[2015-11-29 02:54] MrChrisW commented on #2311
Thanks @darkestelephant ! We'll try and keep track of the issue in #2306 I've added that query `4shared`

[2015-11-29 02:54] #2311 closed

[2015-11-29 02:58] MrChrisW commented on #2306
@moollaza Just to re-cap the decision is to make the following change:

Limit triggering of the query `1 <currency>` for the top 10 cryptocurrencies **unless** the currenccy name has `coin` in it's name, in which case allow the tirgger

Sound right?

[2015-11-29 14:16] iambibhas commented on #2304
Hmm. Anilist looks like a good source. I'll give their API a spin. If their results are good, we can move the spice to their API too. May have to talk to them about how much traffic they can handle.

[2015-11-29 19:01] schluchc commented on #2266
I registered for an API key and had a quick look into the breezometer API. It would easily be possible to do something with it, but the data provided is a bit different from what Airnow provided.

I guess not too many users actually use the AQI IA now, so I wouldn't hesitate changing the data the IA provides. But in case I'm wrong and there is a small user base, I'd prefer to provide the airnow da

[2015-11-30 03:56] tagawa opened #2313 "Launch Library: Add ability to filter by time or country"
E.g. with triggers such as "next rocket launches in Japan" or "upcoming rocket launches in December".

Originally requested on Twitter: https://twitter.com/flashdrive2049/status/671166709110349825

------

IA Page: https://duck.co/ia/view/launch_library

[2015-11-30 16:04] zekiel commented on #2313
//cc original author @globalspin

[2015-11-30 19:59] plasmoctopus commented on #2286
I would just show the timer closest to finish!

[2015-11-30 21:45] moollaza commented on #2286
I think that would be fine, or even simpler, just use the most recently created timer.

[2015-11-30 21:49] plasmoctopus commented on #2286
Then you should be able to (drag&drop) reorder the timers. Then it would make more sense to show the first timer (from left to right).

[2015-12-01 02:58] claytonspinner commented on #2306
@moollaza @MrChrisW Hi guys. Sorry, I was going to look into this issue but then it totally fell off my radar! I can work on this.

I think `"4shared"` is triggered because the current regex accepts a missing space in the search query to allow for typing errors. For example, `"1ltc to bitcoin"` still triggers. I was thinking of changing it to require the space instead, so that only `"1 ltc"` would

[2015-12-01 03:04] MrChrisW commented on #2306
@claytonspinner Hi! No problem :+1:

That sounds like a good fix !

@claytonspinner What are you thoughts on limiting the top 10 cryptocurrencies for queries like `1 <currency>` ?

See @moollaza comments [above](https://github.com/duckduckgo/zeroclickinfo-spice/issues/2306#issuecomment-159985482)

[2015-12-01 04:03] claytonspinner commented on #2306
@MrChrisW

I like it, along with triggering when `"coin"` is included to solve the dictionary word issue.

I was checking up on some of the currencies in the cryptocurrency list and a lot of them seem to be abandoned or no longer actively traded. There's A LOT of the currencies on that list, and I was thinking of ways to trim it down to something more reasonable. Maybe just the top 100 currencies,

[2015-12-01 04:09] MrChrisW commented on #2306
@claytonspinner Cool.

Sounds like a good plan! Feel free to push a PR with the changes to [cryptocurrencylist.txt](https://github.com/duckduckgo/zeroclickinfo-spice/blob/master/share/spice/cryptocurrency/cryptocurrencylist.txt) and we can have a look.

[2015-12-01 17:01] #2218 closed

[2015-12-01 21:24] bsstoner opened #2314 "SublimePackages: Tile icons have alignment issues"
![screen shot 2015-12-01 at 4 19 39 pm](https://cloud.githubusercontent.com/assets/126358/11514715/f64b8792-9847-11e5-8565-3ab31258ff31.png)

---

IA Page:  http://duck.co/ia/view/sublime_packages

[2015-12-01 22:51] globalspin commented on #2313
Great idea. Filtering by date might be the simpler of the two, at least to start. Filtering by launch location is possible, but it might take some work to get from a location like "Japan" to a set of launch locations to filter on.

http://launchlibrary.net/1.1/docs/api.html#launch

I wonder how common these terms might be. If the locations are likely to be on a short list, and dates are likely to

[2015-12-02 00:59] Jedidiah commented on #2208
Has this been fixed? I can't reproduce it.

[2015-12-02 01:02] MrChrisW commented on #2208
@Jedidiah Looks like it's been fixed internally! Will close this off now  :+1:

![2015-12-02-52-portland oregon latitude at duckduckgo](https://cloud.githubusercontent.com/assets/5282264/11519229/59b4006c-98d3-11e5-8f3a-f47a0be515d2.png)

[2015-12-02 01:08] Jedidiah commented on #2177
Has this been fixed? I can't reproduce the error.

[2015-12-02 01:10] MrChrisW commented on #2177
@Jedidiah This will most likely be addressed in #2306 at least the triggering part.

[2015-12-02 01:12] MrChrisW commented on #2314
@bsstoner Can you be more specific as to the alignment issues? Thanks :+1:

[2015-12-02 01:53] Jedidiah commented on #412
I think it's probably happening because we're setting different modes for the two queries https://github.com/duckduckgo/zeroclickinfo-spice/blob/master/share/spice/thesaurus/thesaurus.js#L24-L25

Similar to is set to `sim` and Thesaurus `syn`. I was thinking thesaurus should really show all modes.

[2015-12-02 01:54] Jedidiah commented on #2208
Great :+1:

[2015-12-02 02:01] Jedidiah commented on #2314
The clock icon is not on the baseline?

[2015-12-02 02:23] MrChrisW commented on #2314
@Jedidiah Ahh I see now

![2015-12-02-13-sublimetext package code at duckduckgo](https://cloud.githubusercontent.com/assets/5282264/11520467/b65bbb9c-98de-11e5-94dd-b5ab42ea17f8.png)

[2015-12-02 03:26] bsstoner commented on #2314
Thanks @Jedidiah. Sorry for the lack of details here @MrChrisW. I think the left icon should come down 1px too? Ideally that line at the bottom of the icon should probably align with the bottom of the number.

[2015-12-02 03:33] moollaza commented on #2314
@bsstoner I think we may want to fix this in the global CSS? Other IA's (like Jobs) seem to have the same issue:

https://duckduckgo.com/?q=javascript+jbos&t=ffab&ia=jobs&iai=1
![javascript_jbos_at_duckduckgo](https://cloud.githubusercontent.com/assets/873785/11521581/7f1392bc-987b-11e5-8fa9-acd088404b7e.png)

[2015-12-02 18:07] #2208 closed

[2015-12-02 18:09] moollaza commented on #2306
@MrChrisW yup :+1:

[2015-12-02 23:15] jkirk opened #2315 "Timer: Start automatically if time was given as search query"
If I enter "timer 10 minutes" the timer is set to 10 minutes which is fine. It would be even better if the timer would start automatically if searched for timer with a given time.

______
IA: https://duck.co/ia/view/timer

[2015-12-03 03:32] jagtalon opened #2316 "Riffsy: Loader Animation is not smooth"
https://youtu.be/6BdRYSbaAG0

Looks like the problem is that there are two keyframes named `loader-animate` and they're both doing different things.

<img width="2025" alt="screen_shot_2015-12-02_at_10_27_20_pm" src="https://cloud.githubusercontent.com/assets/81969/11551134/813e68b8-9944-11e5-9f41-7ba325feab39.png">

I suggest renaming the keyframe in Riffsy to something else. This doesn't affect

[2015-12-03 03:40] bsstoner commented on #2316
gah! it's conflicting with the global one we just added, sorry about that. Another option is maybe we could switch over to use the new template helper? I think it should just be `{{{loader 'white'}}}` It will probably require some modification to the existing Riffsy JS/CSS to make it work though...I'm not sure how involved that would be.

[2015-12-03 03:42] bsstoner commented on #2316
Oh, but it's using the built-in image templates, so this wouldn't work. You could call `Handlebars.helpers.loader('white')` directly I guess. Or maybe we should just fix this in the global image templates now and be done with it ;)

[2015-12-03 16:04] jdorweiler opened #2318 "GitHub: result links to an empty repo"
https://duckduckgo.com/?q=github+api+contributor+stats&ia=software
links here https://github.com/ukasik123/Testscript-3

------
IA Page:  http://duck.co/ia/view/github

[2015-12-06 07:23] kandyjet opened #2320 "Maps: Query does not trigger IA"
Hi folks,

khorfakkan map

https://duckduckgo.com/?q=Khor+Fakkan+map
https://duckduckgo.com/?q=khorfakkan+map

Google shows the map while duck does not :(

---

IA Page:  http://duck.co/ia/view/maps_maps

[2015-12-06 13:50] viluon opened #2321 "InTheaters: Should support British spelled trigger words"
@jagtalon

It'd be nice if InTheaters also reacted to queries like "currently in theat**res**". Also, queries like "new movies/films" and "latest movies/films" could be added.

*Update from discussion:* Also "currently in cinemas"`

------
IA Page:  http://duck.co/ia/view/in_theaters

[2015-12-06 22:10] jagtalon commented on #2321
@viluon I think that's a good idea!

[2015-12-06 23:13] bsstoner opened #2323 "GoWatchIt: bad result for "stream star wars online""
1) Why does this show when the only option is Fandango and I was only looking for options to "stream online"?
2) What is up with the `$&` in the Fandango tile?

<img width="1280" alt="screen shot 2015-12-06 at 6 11 00 pm" src="https://cloud.githubusercontent.com/assets/126358/11616260/ed911530-9c44-11e5-913f-363a61347acb.png">

------
IA Page:  http://duck.co/ia/view/go_watch_it

[2015-12-07 11:41] v2px commented on #2315
I think the timer should only start automatically if the search query includes a "start" keyword so you can still preset timers without pausing and then manually resetting them every time.

[2015-12-07 15:57] viluon commented on #2321
@jagtalon Thank you! Also, just realized that British people would rather say "currently in cinemas"... Since I am not a native speaker, I'd recommend someone else to design the possible triggers instead :smiley:

[2015-12-07 17:23] jkirk commented on #2315
That would be fine too. But what about the idea to have the timer paused if the search query includes a "paused" keyword? So you still have preset timers without pausing and then manually resetting them every time AND still have a quick way to have a started timer... JM2C

[2015-12-08 05:17] tagawa opened #2324 "Have I Been Pwned: Add message for zero results (i.e. not comprised)"
@b2ddg

When no results are found, a message should be displayed saying something like "To the best of our knowledge, [someperson@example.com] has not been compromised".
https://duckduckgo.com/?q=someperson%40example.com+pwned

---

IA Page:  http://duck.co/ia/view/pwned

[2015-12-08 05:23] tagawa opened #2325 "Have I Been Pwned: Nothing happens when clicking result item boxes"
@b2ddg

Items in the IA results list look clickable but nothing happens. They should either be given a target link or made unclickable.
https://duckduckgo.com/?q=pwned+test%40example.com&ia=answer&iai=1

------
IA Page:  http://duck.co/ia/view/pwned

[2015-12-08 14:21] gpestana opened #2327 "Feedback for Sentiment Analysis IA (PR #2317)"
The sentiment analysis IA (PR #2317) has now support for overall document analysis and document's entity analysis.

As an example, if we search for 'sentiment analysis of http://paulgraham.com/bias.html', we get the following result:
![In the first iteration] (http://i.imgur.com/99lWpuT.png)

I believe this IA can be helpful when making sense of large texts, for example in research or scholar work

[2015-12-08 16:32] b2ddg commented on #2324
Interesting, there was supposed to be a fallback message displayed when no result was found, https://github.com/duckduckgo/zeroclickinfo-spice/blob/master/lib/DDG/Spice/Pwned.pm#L14. It's possible the update to the duckduckgo repo wasn't released. Thanks for the heads up!

[2015-12-08 16:33] b2ddg commented on #2325
@moollaza Is there a quick way to link out from the tile, or does this need to updated at the template level?

[2015-12-08 17:55] moollaza commented on #2303
Yes it's certainly possible to show the titles. The `movies` group automatically adds the `is-hidden` class to the `tileBody` -- you could overwrite that to add an empty string:

https://github.com/duckduckgo/duckduckgo-answerbar-templates/blob/master/templates.js#L71

[2015-12-08 18:14] #2315 closed

[2015-12-09 02:45] moollaza commented on #2325
Whoops, I thought I added that in. We need to set a `url` property for each `item`.

I think we'll need to use the same `url` for each tile. It should look something like: `https://haveibeenpwned.com/account/<email>`

[2015-12-09 02:54] moollaza commented on #2327
@gpestana I typically leave feedback in the PR, and discuss changes/improvements there. I'll close this and continue over there

[2015-12-09 02:54] #2327 closed

[2015-12-10 06:51] statusred opened #2332 "Forecast: Australian postcodes"
Weather doesn't seem to work with Australian postcodes, but the first search is for willyweather.com.au and it has the correct location.

---

IA Page:  http://duck.co/ia/view/forecast

[2015-12-10 15:35] yegg commented on #2083
I got another report of this just now, FYI.

[2015-12-10 23:37] #2318 closed

[2015-12-13 10:53] altern8tif commented on #2235
This looks like it's good to close... Not sure why Github didn't auto-closed upon PR merge though.

[2015-12-13 11:02] mintsoft commented on #2321
@viluon that's indeed correct. We exclusively refer to 'the movies' as the cinema, theatre is usually reserved for plays, performances et cetera.

[2015-12-13 11:25] 117511 opened #2334 "Images:"
------
IA Page:  http://duck.co/ia/view/images

[2015-12-13 12:44] jagtalon commented on #2321
@mintsoft Oh, I didn't know that! Thanks for the info.

[2015-12-13 23:18] mintsoft commented on #2321
@jagtalon I'm always at your disposal for information about :tea and associated linguistics!

[2015-12-14 14:53] jagtalon commented on #2321
@mintsoft sweet! Ok important question: do you drink :tea: on its own or do you add honey or do you add milk?

[2015-12-14 16:42] moollaza commented on #2334
@117511 hey there, did you mean to add something to this? Was there a bug you wanted to report?

[2015-12-14 17:21] mintsoft commented on #2321
@jagtalon Depends on the type of :tea: of course!

[2015-12-14 20:49] moollaza commented on #2321
@mintsoft @jagtalon Personally:

Mint tea + Honey
Orange Pekoe + Milk

[2015-12-15 04:13] moollaza commented on #2323
@bsstoner I think the lack of results is due to their API showing us results for "The Force Awakens" which isn't released yet, hence the Fandango result. I'm not sure if there's a better way to disambiguate between movies...

@jagtalon can you look into the weird price issue?

[2015-12-15 04:16] moollaza commented on #2320
@kandyjet thanks for reporting this!

I'll have the team investigate this internally...

[2015-12-15 04:46] kandyjet commented on #2320
your welcome :)

[2015-12-15 08:07] mintsoft commented on #2321
@moollaza I'll agree with that; although I do like a good cup of lapsang souchong

[2015-12-15 15:11] jagtalon commented on #2321
@moollaza @mintsoft yeah, uhm, I put milk in all my teas so I think I'm going to show myself out.

[2015-12-15 20:36] moollaza commented on #412
@Jedidiah looking at your example, I agree I think that approach would work well.

I don't like copying Google/Bing/etc but it seems like most of them also so antonyms and other meanings when searching for synonyms or thesaurus

[2015-12-15 21:22] #2316 closed

[2015-12-15 22:15] #2323 closed

[2015-12-15 22:32] #2334 closed

[2015-12-15 22:33] moollaza commented on #2332
@statusred thanks for reporting this. Can you please give us some examples?

[2015-12-15 22:38] moollaza opened #2340 "GoWatchIt: Ensure we cache compiled regex in variables, cleanup code"
We're using several identical regular expressions here that are each being compiled separately. They should all be stored in variables so they're only compiled once which should give a small performance boost.

The code may also need a refactor/reorganizing.

---

IA Page:  http://duck.co/ia/view/go_watch_it

[2015-12-16 00:07] statusred commented on #2332
weather sydney = works
weather 2000 doesn't

Australian postcodes are 4 numbers, the ones ended in '000' are middle of state captial city.

[2015-12-16 18:10] nikitanikitin23 opened #2341 "DuckSay:"
@csytan

------
IA Page:  http://duck.co/ia/view/duck_say

[2015-12-16 19:26] moollaza commented on #2266
Can you expand on that? How is it different?

I wouldn't worry about the current popularity, if this API provides more data, or opens up the IA to more users/queries, we should definitely upgrade it because of the improved experience.

While developing you should use your own API key. You can add it to the env on the command line `KEY=value duckpan server` or by using `duckpan env` to save it loca

[2015-12-16 21:52] anothernewphone opened #2342 "Quixey: Should default to custom `rating_avg` for more accuracy"
The IA for "wolfram alpha mobile app" shows the wrong rating for the WA app.  It shows the apps are rated .5/5, when it should show 4/5.

------
IA Page:  http://duck.co/ia/view/apps

[2015-12-16 21:56] moollaza commented on #2341
@nikitanikitin23 was there an issue you mean to describe? If not please close this.

[2015-12-16 22:04] moollaza commented on #2342
Looks like the API response is actually providing a rating of `0.71 hence the half star.

We could possibly use the `custom.avg_rating` property which seems to be correct and fallback to the `item.rating` when not present.

[2015-12-17 17:36] jorisoverzet commented on #2235
Agree with @altern8tif , this one can be closed and marked as fixed.

[2015-12-17 22:23] #2235 closed

[2015-12-18 08:02] altern8tif commented on #898
Been mucking through the [MetaCPan API](https://github.com/CPAN-API/cpan-api/blob/master/docs/API-docs.md) and trying to see if I can use a single URI to plug into DDG's Spice endpoint (as opposed to using `curl`).  Using the search results without filtering will cause the JSON to return results which don't have module names or abstracts/descriptions – which is not ideal for the user experience.

[2015-12-18 21:45] moollaza opened #2344 "Google Plus Profiles: Titles need consistent height, text overflow needs to be hidden"
This IA is looking pretty bad right now...lots of visual breakage: https://duckduckgo.com/?q=google%2B+duckduckgo&t=ffcm&ia=social&iai=11

The tiles need to have consistent heights and the text needs to be prevented from overflowing its container (see the last tile, with a very long name)

Would any @duckduckgo/community-leaders or @duckduckgo/duckduckhack-mentors be interested in tackling this on

[2015-12-20 09:07] tagawa opened #2345 "PeopleInSpace: UK flag missing"
@elebow

The UK flag icon is not appearing next to Tim Peake's photo.

![people-in-space](https://cloud.githubusercontent.com/assets/94173/11917283/7117b878-a744-11e5-87e7-f0ba2bd030d9.jpg)

------
IA Page:  http://duck.co/ia/view/people_in_space

[2015-12-21 02:01] tagawa opened #2347 "Political Polls: Results don't change with different queries"
@alexander95015

Whatever the search query, the polls displayed are the same, for example [election poll](https://duckduckgo.com/?q=election+poll&ia=polls), [healthcare poll](https://duckduckgo.com/?q=healthcare+poll&ia=polls), [economy poll](https://duckduckgo.com/?q=economy+poll&ia=polls).

------
IA Page:  http://duck.co/ia/view/political_polls

[2015-12-21 02:15] alexander95015 commented on #2347
@tagawa The source doesn't seem to provide a way to search and filter for the query.
(http://elections.huffingtonpost.com/pollster/api)

[2015-12-21 05:00] tagawa commented on #2347
Ah, thanks @alexander95015. I thought they could handle search terms as well but it seems not.

[2015-12-21 05:00] #2347 closed

[2015-12-21 14:29] moollaza commented on #2347
@tagawa @alexander95015 if those queries trigger the IA but don't modify the results, I would consider that a relevancy bug. We should prevent it from triggering on "healthcare poll", "economy poll" etc

[2015-12-21 14:30] alexander95015 commented on #2347
@moollaza That is true. How would we go about making it trigger on something like "opinion poll", "election poll", etc?

[2015-12-21 14:32] moollaza opened #2348 "Political Polls: Triggering needs to be reigned in -- triggers on anything with "poll""
Looks like just about any query containing "poll" is triggering this IA. We definitely need to reign this in!

Examples:
- [poll dance](https://duckduckgo.com/?q=poll+dance&t=ffab&ia=polls)
- [jobs poll](https://duckduckgo.com/?q=jobs+poll&t=ffab&ia=polls)
- [poll poll](https://duckduckgo.com/?q=poll+poll&t=ffab&ia=polls)

/cc @alexander95015

---

IA Page:  http://duck.co/ia/view/political_polls

[2015-12-21 14:49] moollaza commented on #2348
We need to determine a set of phrases we want to trigger this and use then as trigger words, or use a regex in the `handle` to verify that the query matches our expectation.

[2015-12-21 14:50] moollaza commented on #2347
@alexander95015 good question! Checkout my comment here: https://github.com/duckduckgo/zeroclickinfo-spice/issues/2348#issuecomment-166322213

We either need to use an explicit list of phrases and ensure there's no remainder to the query, or add a regex to our existing handle.

[2015-12-21 14:57] alexander95015 commented on #2348
There might be a substantial number of trigger words, like candidate names, election years, states, among other things.

[2015-12-21 15:18] #2345 closed

[2015-12-22 13:07] javathunderman commented on #2344
@moollaza I'll take a look at this one...You're right, seems to be a lot of breakage here.

[2015-12-23 19:55] peterakkies opened #2352 "Airlines: does not respond to lowercase flight code"
Hi everyone,

My apologies is this is not the right way to bring up this issue.

I noticed that the DuckDuckGo flight information only responds to flight codes entered using uppercase letters, e.g. "AC824" but not "ac824". Is this intentional? I imagine many users would use the lowercase.

Regards,
Peter
------
IA Page:  http://duck.co/ia/view/airlines

[2015-12-23 21:30] zekiel opened #2353 "Time: No IA for Gurgaon (India) but source has it"
@MrChrisW

sedition on IRC reported that https://duckduckgo.com/?q=time+in+gurgaon  doesn't show the Time IA. Noting that timeanddate.com have it on their site.

------
IA Page:  http://duck.co/ia/view/time

[2015-12-24 12:47] preemeijer opened #2354 "Sunrise/Sunset: Netherlands or Amsterdam wrong"
@iambibhas

Hello,
@moollaza talked about this ia so I want to test this for myself, so I can tell others about this ia.
It will always give me Amsterdam Island (that is not here)

The following happens if I want to search with the keywords sunrise Netherlands:
![screenshot-sunrise-netherlands](https://cloud.githubusercontent.com/assets/356869/11994766/a2462350-aa44-11e5-8aaa-e20575c70e1b.png)

Th

[2015-12-24 23:26] moollaza commented on #2354
This a problem with our relevancy checking. We need to do a better job of taking the city + country and comparing it to the results from their API.

For some reason they give us Amsterdam in the French Southern Territories as the first result, ahead of Amsterdam in the Netherlands.

[2015-12-25 02:26] marianosimone commented on #2352
I'm not seeing this behaviour. Both https://duckduckgo.com/?q=ua+244 and https://duckduckgo.com/?q=UA+244 seem to work just fine, and neither AC824 nor ac824 find Air Canada flights.

I'm not sure I understand what's going on, but it seems like this IA was disabled https://github.com/duckduckgo/zeroclickinfo-spice/commit/ba91e55271c856a76ac621047805a184cf220e9a (but somehow it still works - presum

[2015-12-25 16:26] navneetzz commented on #2266
@moollaza I have worked with breezometer API before in one of my project
But the details provided by it is not up-to the mark.
Means it only provide accurate details related to Non Asian cities.
But if you wanna work on it I willing to work on this

[2015-12-25 18:25] #2325 closed

[2015-12-26 13:37] davidofferman commented on #2344
I hopped in on this issue, I hope you don't mind @javathunderman. I didn't see any repo's on your profile that were working on this yet.

[2015-12-27 01:59] davidofferman commented on #2348
I was thinking you could make the trigger words include the `topic` values for the Charts API (remove delimiters), along with some predefined values such as voters, elections, presidential, and years.

Then once a request comes in, you can filter the results by using the `topic` that most closely matches the query, which would solve the issue some users reported with the results not changing. If t

[2015-12-27 19:47] javathunderman commented on #2344
no problem! Got a bit busy. :)

[2015-12-28 01:15] marianosimone commented on #1316
These seem to be many different issues into one... Let's see if I can help with them:

1. `custom_id` can be removed from generic searches... Agree with that, and it's simple to do
2. For platform specific queries (e.g. "android data usage app", the `platform_ids` and `custom_id` ARE being sent, and there's a bunch of test verifying that
3. I couldn't find any documentation on the `edition_limit`

[2015-12-28 01:19] tagawa opened #2362 "Forecast: Weather result is for an unrelated city"
As [reported on Twitter](https://twitter.com/hugoroyd/status/680840976584282112), a search for "weather paris" shows the weather for "Saint-Christophe-d'Allier". Happens on both mobile and desktop regardless of whether the region is set.

![forecast-paris-mobile](https://cloud.githubusercontent.com/assets/94173/12012876/599f738a-ad4c-11e5-9679-ce4e8dfd06d1.png)

![forecast-paris-desktop](https://c

[2015-12-28 01:39] marianosimone commented on #2083
Using duckpan, this can be explained because the Time IA only looks into the [capitals.yml](https://github.com/duckduckgo/zeroclickinfo-spice/blob/master/share/spice/time/capitals.yml) file, that doesn't include non-capital cities like NY.

However, in production, other cities that are not in that file (e.g. Melbourne), do get an IA response. Is there any difference in the environments related to

[2015-12-28 10:42] preemeijer commented on #2362
I've tried it myself today, because there is a similar problem for sunset (#2354) and I'm trying similar searches and I get the following (correct) results. Weird stuff.
![weather-france](https://cloud.githubusercontent.com/assets/356869/12017517/f2bfd252-ad57-11e5-88aa-9b20a0149288.png)
![weather-netherlands](https://cloud.githubusercontent.com/assets/356869/12017519/f5e2ee60-ad57-11e5-9494-242e0

[2015-12-28 10:45] preemeijer commented on #2362
When I enable Region most of the results are correct, except when I use the search from above for weather netherlands ... then I get the following back:
![weather-netherlands-region-on](https://cloud.githubusercontent.com/assets/356869/12017545/730bea2c-ad58-11e5-9fd3-cb10485cdc4d.png)

[2015-12-29 11:33] SiemEik opened #2363 "Forecast: Incorrect results for searched location"
Weather Ireland gives you the weather for Dublin Texas :(

------
IA Page:  http://duck.co/ia/view/forecast

[2015-12-29 17:30] anothernewphone opened #2364 "Quixey: Incorrect rating"
Showing incorrect app ratings.  searching for "Sproggiwood" shows 1/2 ratings, instead of 4 1/2 rating.

https://duckduckgo.com/?q=Sproggiwood&t=ffab&ia=apps

------
IA Page:  http://duck.co/ia/view/apps

[2015-12-29 17:48] moollaza commented on #2362
@tagawa I'm unable to reproduce the Paris bug -- are you still seeing that?

@preemeijer the same goes for Netherlands and Amsterdam, I'm getting correct results.

[2015-12-29 19:03] preemeijer commented on #2362
@moollaza yes I still get the same result but only if I set my current region to Netherlands.
If I set my current region to United States there is no problem and I get the right results.

[2015-12-29 19:49] zekiel opened #2365 "GoWatchIt: Incorrect availability for DVD title (API Issue)"
@plexusent  there is an error with this IA source. "Groundhog Day" is not available for streaming but says so from GoWatchIt

![screen shot 2015-12-29 at 2 48 56 pm](https://cloud.githubusercontent.com/assets/1846953/12040980/6bd1002e-ae3b-11e5-83c0-6fa69ebca80a.png)

---

IA Page:  http://duck.co/ia/view/go_watch_it

[2015-12-31 10:51] veeven opened #2366 "PeopleInSpace: Country Flag shown wrongly"
@elebow

Astronaut Tim Peake's country is England. But, in instant answers it shows India flag (or rather, user's region flag). When I turned off my region setting, the flag shows as generic globe icon.

------
IA Page:  http://duck.co/ia/view/people_in_space

[2015-12-31 10:52] veeven commented on #2366
I guess [this change](https://github.com/duckduckgo/zeroclickinfo-spice/commit/6447e8bffbbdd7cd5c9f53e5693d198fadb3bf94) is not live yet.

[2015-12-31 12:13] 1234 opened #2367 "Videos: de romeo"
------
IA Page:  http://duck.co/ia/view/videos

[2016-01-01 14:26] eggpi commented on #899
For what it's worth, I'm seeing what appears to be the same problem when searching for "weather in Dublin". When no region is set, I get an instant answer for Dublin, TX even though I'm on an Irish IP address, which should presumably be enough to resolve the query to Dublin, Ireland. I get no instant answer at all after setting my region to Ireland.

[2016-01-01 21:47] GuiltyDolphin commented on #2362
@moollaza @tagawa I'm getting a similar issue, if I just search for `weather` it gives the correct results for my location - but when I search for something like `weather in {Various English Counties and Cities}` it is giving me the results for American cities of the same name!

[2016-01-02 20:39] #1937 closed

[2016-01-03 12:32] shrikant-joshi opened #2370 "News: Searched for "Top Stories" instead of searching for keyword"
Just tried searching for "Israil Gurung" and then clicked the "News" zero-click info section and got this very interesting set of results:

![bug israilgurungdogozeroclicknews](https://cloud.githubusercontent.com/assets/2922898/12078728/4f80bc5a-b243-11e5-946f-f26b749a17cc.png)

As you can see, the zero-click seems to have searched the source for "Top Stories" instead of searching for the keywords

[2016-01-03 17:18] bsstoner commented on #2306
More examples of triggering issues reported from people on Twitter:

![cqn0wutveaeia9k](https://cloud.githubusercontent.com/assets/126358/12079786/fdfb7ffc-b213-11e5-82aa-8fefe657b652.png)
![cxxhhwbuqaed_3k](https://cloud.githubusercontent.com/assets/126358/12079788/ff2e81da-b213-11e5-8a02-4e2272490572.jpg)

/cc @nilnilnil

[2016-01-04 09:01] MrChrisW commented on #2306
@bsstoner this is fixed in #2369 by @claytonspinner - these queries will not trigger
![zeroclickinfo-spice](https://cloud.githubusercontent.com/assets/5282264/12086388/bf1190a0-b304-11e5-826d-fe74c36bae4d.png)

[2016-01-04 09:07] MrChrisW commented on #2367
Hi @1234 there doesn't seem to be a description included in your issue report. I'll close this for now, feel free to re-open/respond with more information. Thanks

[2016-01-04 09:07] #2367 closed

[2016-01-04 09:23] MrChrisW commented on #2370
Hi @shrikant-joshi thanks for lodging an issue report. I've been able to replicate what you've described, this seems to be internal and expected behavior.

The following happens when you search that term:

+ Dynamically generated JS file `https://duckduckgo.com/d.js?q=Israil%20Gurung` is included on the page. This contains a call to `DDG.duckbar.addDeferred` method specifying the following:

`DDG.

[2016-01-04 09:35] MrChrisW commented on #2365
Hey @zekiel this source says the title should be available http://www.flixlist.co/titles/563104
Can you double check it's not available with your US subscription

[2016-01-04 11:27] bsstoner commented on #2306
Awesome, thank you @claytonspinner @MrChrisW!

[2016-01-04 12:10] MrChrisW commented on #2366
Duplicate of #2345

Hi @veeven, looks like the commit 27517f5 has yet to be included in a [release](https://github.com/duckduckgo/zeroclickinfo-spice/releases)  - this should happen soon, with a new release. Then the changes will be live on DuckDuckGo.com

Thanks!

[2016-01-04 12:10] #2366 closed

[2016-01-04 12:20] MrChrisW commented on #2305
Fixed internally.

[2016-01-04 12:20] #2305 closed

[2016-01-04 12:20] MrChrisW commented on #1730
Other quires that don't trigger

Gurgaon
Hobart
New York
Manila

Reported #2083 & #2353

[2016-01-04 12:21] MrChrisW commented on #2353
Thanks @zekiel added to #1730

[2016-01-04 12:21] #2353 closed

[2016-01-04 12:24] MrChrisW commented on #2083
@marianosimone duckduckgo.com uses deep triggers for the site timeanddate.com appearing in SERP results to trigger/display the IA.

@bsstoner There's a few other queries that are having issues triggering, this is all caused by relevancy checking as the API does return data. We need to have a serious look at getting the Time IA updated to fix these issues. I'll close this now and keep track of thin

[2016-01-04 12:24] #2083 closed

[2016-01-04 12:26] MrChrisW commented on #1976
Closing this now, keeping track of this in #1730 . Thanks @strugee

[2016-01-04 12:26] #1976 closed

[2016-01-04 12:28] #2341 closed

[2016-01-04 12:32] MrChrisW commented on #2352
@peterakkies Closing this now as unable to reproduce, please re-open if you notice the issue again.

@marianosimone

This IA is triggered using "deep triggers" unfortunately this is not well documented. This means the IA is triggered using internal logic based on the returned search results.

[2016-01-04 12:32] #2352 closed

[2016-01-04 12:38] MrChrisW commented on #2288
@notfoss this has been fixed in #2299 and changes will be live on duckduckgo.com soon.

https://duckduckgo.com/?q=sri+lanka+time

Thanks again for reporting this :+1:

[2016-01-04 12:38] #2288 closed

[2016-01-04 12:47] notfoss commented on #2288
Thanks for implementing this. Can't imagine Google listening to the users in such an open manner ;)

[2016-01-04 12:55] MrChrisW commented on #2332
@moollaza This would be an internal issue as the forecast IA is triggered internally.

[2016-01-04 12:58] MrChrisW commented on #2278
@moollaza Any update on the API requests for similarsitesearch.com ?

[2016-01-04 12:58] #2225 closed

[2016-01-04 13:04] MrChrisW commented on #2177
Fixed in #2369

[2016-01-04 13:04] #2177 closed

[2016-01-04 13:09] MrChrisW commented on #1469
Closing as this issue can be dealt with internally.

[2016-01-04 13:09] #1469 closed

[2016-01-04 17:38] SellersEvan opened #2371 "InTheaters: Scrolling view"
@jagtalon

This isn't a bug or a problem, its a suggestion. I think when your mouse is over the instant Answer for stuff like music and movies, when you scroll it should scroll through the bar but only when you hover over that section and when you move it out side the area it scrolls like normal. Also, maybe as an extra when you get to the end of the scroll it will automatically start scrolling do

[2016-01-04 19:12] Darkyenus opened #2372 "Time: 24 hour time"
@MrChrisW

Can you please display time in 24 hour mode for users in countries which use that time? AM/PM for times especially around noon/midnight can get a bit confusing for users which are not used to it.

Thanks!

---

IA Page:  http://duck.co/ia/view/time

[2016-01-04 19:57] #2342 closed

[2016-01-04 19:57] #2364 closed

[2016-01-04 23:52] moollaza commented on #2348
@alexander95015 for now we need to choose a reasonable subset that are likely to occur, or narrow it by required "election poll" as the trigger.

Right now it's way over triggering and showing irrelevant info is a major concern.

@davidofferman thanks for chiming in! Are the list of topics static? Can we put them in a YAML file?

[2016-01-05 08:27] MrChrisW commented on #2372
Hey @Darkyenus, thanks for the suggestion  - We'd love to implement this, maybe even the ability to interactively switch between 24/12 hour times.

I've found it a little difficult to find reliable and accurate information on which continues are 24hrs vs 12hrs.

The following links are useful:

+ https://en.wikipedia.org/wiki/Date_and_time_representation_by_country#Time
+ http://travel.stackexchan

[2016-01-05 11:58] MrChrisW commented on #217
Closing - All queries mentioned now work, assuming due to internal triggering changes.

+ https://duckduckgo.com/?q=426+LH&ia=flights
+ https://duckduckgo.com/?q=LH+426&ia=flights
+ https://duckduckgo.com/?q=Lufthansa+LH+426&ia=flights

Please re-open if any additional flight queries are non functioning.

[2016-01-05 11:58] #217 closed

[2016-01-05 14:33] MrChrisW commented on #220
This issue is being handled in the upstream *isitup.org* repository - See [Support for internationalized domain names #18 ](https://github.com/sjparkinson/isitup.org/pull/18)

[2016-01-05 15:05] #102 closed

[2016-01-05 15:07] MrChrisW commented on #233
This issue is resolved. Tested on all major browsers.

![2016-01-05-32-weather at duckduckgo](https://cloud.githubusercontent.com/assets/5282264/12118389/1d03c582-b401-11e5-9285-379dbc3b418c.png)

https://www.browserstack.com/screenshots/bd23e2d7ee04c120393ef49974a4bcaaa48ba8d9

[2016-01-05 15:07] #233 closed

[2016-01-05 15:30] MrChrisW commented on #773
Closing as unable to reproduce.

Tested with multiple search quires and no duplicate buttons were returned.

Example : https://duckduckgo.com/?q=app+flightaware&ia=apps&iai=FlightAware+Flight+Tracker

Please re-open if able to reproduce this issue,

[2016-01-05 15:30] #773 closed

[2016-01-05 19:19] moollaza commented on #2174
/cc @pardocz

[2016-01-05 19:32] pardocz commented on #2174
I'm looking at it right now. I will probably be able to solve this on my end. I will update with progress soon.

[2016-01-05 19:43] pardocz commented on #2174
I have a fix ready to go.

The matching was overly broad and I was interpreting the 'la' inside 'reLAtive' as the short name of Los Angeles. The matching for city names now only happens on words boundaries (i.e. a whole word has to match).

I'll push it live now unless you guys would prefer to wait for some reason.

[2016-01-05 21:45] moollaza commented on #2174
@pardocz thanks!

@MrChrisW once the API is updated, will your PR still be necessary?

[2016-01-05 21:49] pardocz commented on #2174
The API is updated on my side. Queries like "Relative Cost of Living Paoli, PA" will now return a "NOT FOUND" result.

[2016-01-05 23:06] MrChrisW commented on #2174
Thanks @pardocz awesome!

@moollaza No need for #2375

Closing, fixed upstream by @pardocz

[2016-01-05 23:06] #2174 closed

[2016-01-06 04:05] MrChrisW commented on #99
Fixed in #2373

[2016-01-06 04:05] #99 closed

[2016-01-06 04:16] MrChrisW commented on #1175
Closing as the original queries mentioned by @bsstoner are now working.

+ https://duckduckgo.com/?q=%2410+to+euro
+ https://duckduckgo.com/?q=10+dollars+to+pounds

[2016-01-06 04:16] #1175 closed

[2016-01-06 05:43] MrChrisW commented on #1885
@moollaza Do you still see relevancy issues with the Nutrition IA, if so can you provide some examples, I've attempted to replicate but am unable to.

[2016-01-06 05:52] MrChrisW commented on #2344
Fixed by @davidofferman in #2359 - Thanks again!

[2016-01-06 05:52] #2344 closed

[2016-01-06 06:26] moollaza commented on #2362
@preemeijer it looks like that may have been cached please try https://duckduckgo.com/?q=weather+the+netherlands&t=ffab&ia=weather - with your region set (which I don't think should affect results..)

[2016-01-06 06:56] preemeijer commented on #2362
@moollaza if I try your link I indeed get Soest in the Netherlands (not Amsterdam) but if I search for weather netherlands I get Weather for St John's, NL.
I don't have any history in my browser.

When I copy/paste this Weather for St John's, NL I get Weather for St John, IN

[2016-01-06 11:07] bsstoner commented on #1175
:+1:

[2016-01-06 18:27] javathunderman commented on #99
@MrChrisW nice :+1:

[2016-01-06 20:26] moollaza opened #2380 "Timer: Shouldn't auto-start timer when the query is `timer`"
Seeing as the user hasn't specified a time for the timer, it's unexpected that it would start a 1 minute countdown.

We can still suggest a time span (maybe something a little longer, like 10 min or 3 mins would be ideal?), but we shouldn't autostart a count-down unless they specify a time.

------
IA Page:  http://duck.co/ia/view/timer

[2016-01-07 00:27] moollaza commented on #1242
Looks to be fixed

[2016-01-07 00:27] #1242 closed

[2016-01-07 00:28] moollaza commented on #1234
API seems to be working correctly now!

[2016-01-07 00:28] #1234 closed

[2016-01-07 00:33] moollaza commented on #772
Fixed! Templates now have reduced image/font sizes it seems.

[2016-01-07 00:33] #772 closed

[2016-01-07 00:36] moollaza commented on #1316
@marianosimone I don't recall what the `edition_limit` does exactly either. I believe Quixey's API docs are not available online either, but they had told me we should make these changes.

There's already a bunch of code in the Perl that does this. We basically check if any word in the query is the name of a platform :+1:

[2016-01-07 11:36] davidofferman opened #2385 "LeakDB - API is shutting down"
Hello,
The API (and service) for LeakDB is shutting down at the end of January 2016. Since we already have an alternative AI called "Pwned", which I believe is almost the same service (other than password search), we could probably safely remove LeakDB from the IA's.

Also it seems that the LeakDB API isn't even working properly at the moment. I believe the API takes too long and DuckDuckGo just t

[2016-01-07 19:13] russellholt opened #2386 "Geometry: expand trigger space to cover more common queries"
let's add "area of" and "perimeter of" and similar terms to expand the trigger space.

the query "area of a square" should definitely trigger this. it seems to me that "geometry square" is a fairly unlikely query when wondering about the area.

---

IA Page:  http://duck.co/ia/view/geometry

[2016-01-08 12:08] kewde opened #2389 "No PGP keys for e-mail?"
Hi,

I'd like to propose the usage of PGP encryption for the email addresses such as:
quackslack@duckduckgo.com
merch@duckduckgo.com
And others..

DuckDuckGo is a search engine loved by people who care about their privacy, yet no PGP for e-mail? :'(

[2016-01-08 14:36] GuiltyDolphin commented on #1683
@moollaza Why is this still open? It looks like [This PR](https://github.com/duckduckgo/zeroclickinfo-spice/pull/1678) fixes it.

[2016-01-08 21:23] moollaza opened #2391 "Wikinews: CSS needs to be namespaced"
Currently the CSS classes target `.tile--c` which will modify all Instant Answers tiles that are displaying.

The CSS rules must be prefaced with `.tile--wikinews` so it only affects this IA's tiles

/cc @iambibhas

------
IA Page:  http://duck.co/ia/view/wikinews

[2016-01-09 00:18] moollaza opened #2393 "Indeed Jobs: Need to provide empty string for subtitle to ensure consistent tile heights"
Some results don't have defined values for the subtitle, causing the tile heights to differ.

We need to pass along an empty string: ` ` as a fallback so that the template create a subtitle div which will ensure all the tiles have the same height.

![perl_jobs_at_duckduckgo](https://cloud.githubusercontent.com/assets/873785/12212815/88573c3c-b63c-11e5-9652-4ef78b6a40d8.png)

------
IA Page:  http:

[2016-01-09 02:08] MrChrisW commented on #2389
@kewde Completely agree! I've requested this before. The best place to discuss this request is on the duck.co community as it doesn't relate to the Instant Answer development - https://duck.co/forum/general

[2016-01-09 02:08] #2389 closed

[2016-01-09 03:28] moollaza commented on #2385
@davidofferman thanks for letting us know!

@MrChrisW has been awesome enough to remove it for you :+1:

[2016-01-09 11:56] davidofferman commented on #2393
I was thinking we should modify the design slightly for this IA. Since a lot of terms for careers are long, having a `wide` tile instead of a normal width tilemay look nicer.

Also changing the `tileTitle` to be `1line` instead of `2line` would get rid of the extra white space space between the job title and the company name. In your screenshot, look at the tile for "DB2 DBA" and "software archite

[2016-01-09 20:17] marianosimone commented on #1554
Would be nice to have an updated list of pending IAs that need migration (or close this issue if there are no more ;))

From the current list, both `game_info` and [guidebox](https://github.com/duckduckgo/zeroclickinfo-spice/pull/2030) seem to have been deleted

[2016-01-09 20:23] #2393 closed

[2016-01-09 20:25] jagtalon commented on #2386
This does trigger on things like "area of a square", but it's not ideal because you'd still need "geometry":

https://duckduckgo.com/?q=geometry+area+of+rectangle&ia=geometry

[2016-01-11 08:16] MrChrisW commented on #1554
@marianosimone Updated the list.

Quick search of the repository https://github.com/duckduckgo/zeroclickinfo-spice/search?utf8=%E2%9C%93&q=getDay the following IA's probably need updating.

[2016-01-11 13:18] mintsoft opened #2398 "Currency.pm: Triggering"
https://github.com/duckduckgo/duckduckgo/issues/171

[2016-01-11 14:27] MrChrisW commented on #2380
Fixed in #2381 by @davidofferman

[2016-01-11 14:27] #2380 closed

[2016-01-11 14:30] MrChrisW commented on #2363
@SiemEik Thanks for reporting this issue. There are currently a few known relevancy issues internally with the forecast instant answer, these are being investigated. Hopefully relevancy will improve over time with further development.

[2016-01-11 14:37] MrChrisW commented on #2365
Confirmed this is an external API issue. GoWatchIt listed this title as available on-demanding/streaming when it's DVD online.

See:
http://gowatchit.com/movies/groundhog-day-30385
![2016-01-11-30-watch groundhog day online and on dvd _ gowatchit](https://cloud.githubusercontent.com/assets/5282264/12236291/dfc19c64-b8b3-11e5-8a39-b562b187c1ea.png)

[2016-01-11 15:03] #2391 closed

[2016-01-11 15:34] #2398 closed

[2016-01-11 16:25] #2306 closed

[2016-01-11 19:46] wolfbeast opened #2400 "Statista: Update based on paywalled content policy"
@statista

Using the instant answer on DDG, Statista will provide only a couple statistics, and after that all statistics results are marked as "premium exclusive", even the ones looked up before and retrieved. This is bad practice and just serves to funnel DDG users into creating accounts and becoming paid members.

Please reconsider this IA

------
IA Page:  http://duck.co/ia/view/statista

[2016-01-11 23:07] moollaza commented on #1554
@marianosimone thanks for pointing that out! I've removed GameInfo

@MrChrisW thanks for cleaning up as well!

[2016-01-11 23:08] #2385 closed

[2016-01-11 23:23] #2207 closed

[2016-01-11 23:53] moollaza commented on #2372
@MrChrisW @Darkyenus if we trust Moment.js, we could use their Locale support. It seems to change to 24hr time for certain locales.

http://momentjs.com/ -- If you go here and click some of the buttons at the bottom (e.g. Ireland) it switches to 24hour. I'm not sure how to just request the time in the localized format though...

[2016-01-11 23:54] moollaza commented on #2372
Read the docs, I think `moment.format('LT') would do it

[2016-01-11 23:57] moollaza commented on #2278
I've messaged the website maintainer 3 times now, using the form on the website, still no response...

I haven't been able to actually get any useful information from SimilarWeb either, they're forcing me to do a phone call in order to get demo access to the API, which is ridiculous. Also I doubt they'll give us free access. We may have to kill this IA for now :frowning:

[2016-01-12 00:03] #2036 closed

[2016-01-12 00:03] moollaza commented on #2036
IA has been removed

[2016-01-12 00:03] moollaza commented on #1578
Closing. IA has been removed.

[2016-01-12 00:03] #1578 closed

[2016-01-12 00:13] moollaza commented on #2370
@MrChrisW good question! I believe you're correct, but I think @tommytommytommy would know best...

[2016-01-12 00:16] tommytommytommy commented on #2370
@MrChrisW @moollaza The description is spot on...I would add more detail, but I don't think that there's anything left to add.

[2016-01-12 13:50] MrChrisW commented on #2372
@moollaza First we need to convert the Time spice to use moment.js! [#1554](https://github.com/duckduckgo/zeroclickinfo-spice/issues/1554#issuecomment-75188309) - I'll try and start this during the week.

[2016-01-12 17:29] #2321 closed

[2016-01-12 21:07] farmazon3000 commented on #2266
This is way better than breezo: http://aqicn.org

[2016-01-12 21:12] moollaza commented on #2266
@navneetzz thanks for the info! Do you know of any better solutions? Right now the current source only has US data, so Breezometer seemed much better as it has data for several countries.

@farmazon3000 thanks as well, does aqicn have an api? I don't see any mention of one...

[2016-01-13 01:14] MrChrisW opened #2404 "Time: UTC offset of 00:00 is not displayed"
![2016-01-13-51-ireland time at duckduckgo](https://cloud.githubusercontent.com/assets/5282264/12282010/ca04374c-b9d5-11e5-9d2d-09e5e7169c4a.png)

Due to line 101 time.js - https://github.com/duckduckgo/zeroclickinfo-spice/blob/master/share/spice/time/time.js#L101

`offset: chosen.time.timezone.offset.replace(/0|:/g, ""),`

https://duck.co/ia/view/time

[2016-01-13 04:23] navneetzz commented on #2266
@moollaza to my knowledge Breezometer is best for current situation.No, other API provider has this much accurate details.

[2016-01-14 02:09] #2404 closed

[2016-01-14 19:57] moollaza commented on #2400
@wolfbeast I'm not sure I follow, can you please clarify with an example?

You should be able to view all "free" statistics (marked in the results), as many times as you'd like. However, the reports marked as "premium" do require an account to view them.

Are you saying you're unable to view all the free content? or that there is too much "premium" content?

[2016-01-15 02:34] wolfbeast commented on #2400
I'm saying that I ran across this instant answer doing a search with the keyword "statistics" in my search terms. I used it, it sent me to statista when clicking the answer for more details, and it all came up without a mention of premium. Since there were more hits to my search terms that were relevant, I tried calling up more, and after like 2 or 3, they locked their statistics down with a "this

[2016-01-15 02:39] mawajdak opened #2413 "Images:"
------
IA Page:  http://duck.co/ia/view/images

[2016-01-15 05:02] altern8tif commented on #2400
@wolfbeast I don't think they "lock down" your access to free stats after a number of results.  Their service is that some basic stats are provided for free and that information is reflected in the Spice results with a Premium or Free indicator.  It just so happens that web browser statistics don't fall under their free stats cateogry.

![screen shot 2016-01-15 at 12 55 55 pm](https://cloud.github

[2016-01-15 11:50] wolfbeast commented on #2400
OK, I see the point now it's pointed out to me. This means that in my initial search I was given access to a premium result which was subsequently locked down. This is hardly better than popping up a paywall prompt immediately.

So, you're OK with an IA which takes up the result screen for "premium" results that come at a price of $49/month, when doing a simple search for e.g. "maxthon net statist

[2016-01-15 17:37] zekiel commented on #2400
@wolfbeast  There is no right or wrong answer --- this is an open source community and so anyone can suggest (or make) changes according to the guidelines of the project. The idea is that every Instant Answer should use the best source possible and that may be different on a per-query basis.

This IA is not a promotion -- it is providing useful information in many cases. That does not mean, howeve

[2016-01-15 21:47] wolfbeast commented on #2400
I'm sorry but this IA is most definitely a promotion as it ceases to work after a few "demo" results. There is most definitely a right or wrong answer here. Letting a commercial service provider ride common search terms to get 93% of their presented results lead to a paywall/funnel in my book is wrong.

This has nothing to do with Community code or Open Source; it has everything to do with vetting

[2016-01-17 16:45] zekiel commented on #2400
@wolfbeast we are taking this to heart and want to understand exactly where the discrepancy is so we're answering (or investigating) the right thing.

Is your issue with the Paid/Premium results showing at all? I want to make sure that we're not talking relevancy vs. policy. (i.e. if the Statista IA were limited to only showing free content -- does that change the situation?)
*In cases like [app s

[2016-01-17 18:49] wolfbeast commented on #2400
@zekiel thanks for taking this as serious as it is. I do think this is a matter of policy, not relevancy.

If e.g. Statista were to only show immediately accessible (free) relevant answers, then there would be absolutely no problem. See below.

From a user's point of view, premium instant answers are bad:
- They use DDG to search for relevant results. DDG should provide them with answers if the se

[2016-01-17 23:15] jagtalon commented on #2413
Hey, @mawajdak what is the problem with the Images IA?

[2016-01-17 23:20] jagtalon commented on #2365
@zekiel @MrChrisW maybe it's not _entirely_ false. If you look at Moreflix, it is available on Netflix, but in other countries: http://www.moreflicks.com/titles/movies_groundhog-day_1993

I wonder if it's possible to get that kind of data from Gowatchit CC @moollaza

[2016-01-17 23:20] jagtalon commented on #2365
<img width="1136" alt="screen shot 2016-01-17 at 6 18 53 pm" src="https://cloud.githubusercontent.com/assets/81969/12380693/f9896e46-bd46-11e5-9769-f266acc71de2.png">

[2016-01-17 23:34] jagtalon commented on #2286
One that's closest to finish seems like it's the best solution!

[2016-01-18 19:07] jagtalon opened #2419 "Nutrition: Triggers on "count calories""
"count calories" shouldn't show this IA because we're not specifying any food:

<img width="837" alt="screen shot 2016-01-18 at 2 06 37 pm" src="https://cloud.githubusercontent.com/assets/81969/12400220/c7f311b0-bdec-11e5-8be6-94ebaf3e0678.png">

[2016-01-18 23:40] moollaza opened #2420 "SeatGeek Events (Artist): Add "event" and "events" as `end` trigger"
We should be able to trigger this Instant Answer on queries like "tycho events".

------
IA Page:  http://duck.co/ia/view/seat_geek_events_by_artist

[2016-01-19 14:58] zekiel commented on #2365
good point @jagtalon

@MrChrisW  thanks for the additional help.

flags would be helpful if so :)

[2016-01-19 15:08] moollaza commented on #2348
Hey guys anyone interested in fixing this? Aside from the broad triggering, I didn't realize before that we're not running any relevancy check against the results and the query.

This means this IA is **way** too broad because it's surfacing the same results for any query that mentions "polls" -- even if they're not political: https://duckduckgo.com/?q=basketball+polls&t=ffab&ia=polls. We need to

[2016-01-19 22:05] #2145 closed

[2016-01-20 00:02] davidofferman commented on #2348
Hi,
Is there any way we can store the API result on DuckDuckGo's servers (update on first request of the day) and then have the spice itself return a partial result of the actual data? The topics that are available are not the greatest at filtering data, and there is no good way to get the new topics that will be added in the future.

I would like to be able to filter charts by candidates names, y

[2016-01-20 03:24] zekiel commented on #2400
Thanks for sticking with us @wolfbeast. We're evaluating necessary updates to the policy and hope to get back to this thread shortly.

[2016-01-20 13:25] MrChrisW commented on #2372
@moollaza Looks like moment.js will default to the English locate unless specified - see http://stackoverflow.com/questions/25725882/locale-detection-with-moment-js

Need to supply moment with the users locate.

[2016-01-20 13:26] #2413 closed

[2016-01-20 13:29] MrChrisW commented on #2419
Don't think the wording length should extend past the dropdown symbol... looks a little strange

![2016-01-20-44-count calories at duckduckgo](https://cloud.githubusercontent.com/assets/5282264/12450150/cee9b312-bfbc-11e5-954b-9af66ff818ae.png)

[2016-01-20 20:31] moollaza commented on #2348
@davidofferman unfortunately not, we've never needed, or done something like that. Typically we just use API's that do all the heavy lifting for us :)

That would definitely be awesome...

Exactly. It seems like with the current capabilities of the IA we're going to have to greatly reduce its query space to more generic queries that are well served by the API topics.

However, I think we should al

[2016-01-20 21:00] moollaza opened #2426 "Location Sunrise/Sunset: Should only trigger and return a result when a place is specified in the query"
Right now the Spice and Goodie have the chance to trigger on the same query. The Goodie should _only_ trigger when the query contains no place, and the Spice should _only_ trigger when this **is** a place in the query.

/cc @iambibhas

------
IA Page:  http://duck.co/ia/view/sun_rise_set

[2016-01-21 00:45] sjparkinson commented on #220
Thanks to @MrChrisW internationalized domain names are now supported:

https://isitup.org/f%C3%B8tex.dk.json?callback=ddg_spice_is_it_up

![image](https://cloud.githubusercontent.com/assets/51677/12468050/4062ed7c-bfd8-11e5-8595-77e372684a7d.png)

[2016-01-21 12:14] tagawa opened #2429 "Timer: No "i" infobox button"
The `i` icon to bring up the infobox is not visible: https://duckduckgo.com/?q=timer&ia=timer

---
https://duck.co/ia/view/timer

[2016-01-21 12:55] MrChrisW commented on #220
@sjparkinson Thanks for providing an awesome API :smiley:

@moollaza It looks like the IA is disabled on your side - see https://duckduckgo.com/js/spice/is_it_up/duckduckgo.com

This is correct, the IA fails to parse the IDN correctly. I'll be investigating this shortly...

[2016-01-21 16:41] moollaza commented on #2429
Looks like the metadata was a little broken. I've fixed it and this should go live with the next deploy

[2016-01-21 16:50] zekiel commented on #2400
We have adjusted our IA policy based on discussions in this thread and we're working with Statista to update their IA accordingly.

@wolfbeast  @altern8tif  thank you both for the help and patience. If you'd like to follow the updates or need more clarity, we'll be using this Issue to manage the statista adjustments and I'd be happy to discuss the policy changes in detail. I've added them to the s

[2016-01-22 15:37] moollaza opened #2433 "Spice Test: Reorganize under subfolders to mimic /lib"
Some of our Perl modules live in subdirectories. However, almost none of tests for those modules live in corresponding subdirectories.

We recently updated DuckPAN and the `duckpan new` command to now create test files under the same sub-directories as their related Perl modules:

For example `duckpan new Foo::Bar` will create `/lib/DDG/Spice/Foo/Bar.pm` and `t/Foo/Bar.t`

This way the tests are l

[2016-01-22 18:29] GuiltyDolphin commented on #2433
@moollaza I agree that there should be consistency and perhaps we should move the tests to these folders.

I've been working on this locally but I think I need to send a fix to duckpan before we perform this (tests aren't running for directories).

[2016-01-22 22:27] sekhavati commented on #1554
I was going to take a look at the SeatGeek IAs that were highlighted in the search MrChrisW posted above but none of them seem to be working for me. Do they work for anyone else?

I've done a little debugging of the [SeatGeek Nearby Concerts](https://duck.co/ia/view/seat_geek_events_near_me) IA and it looks to me as though the triggers on the back-end are firing but the JavaScript callback isn't r

[2016-01-22 22:56] estebanz01 opened #2436 "Forecast: Use word in different languages"
Hey ! I want to use `clima en` or `météo à` or other equivalent word to `weather`. I can make a simple change in the pm files, but I don't know if I have to fork the whole project. Anyway, it will be a nice feature to have :)

------
IA Page:  http://duck.co/ia/view/forecast

[2016-01-22 23:01] estebanz01 commented on #2436
This is a duplicated issue of https://github.com/duckduckgo/zeroclickinfo-spice/issues/2179 sorry. Closed.

[2016-01-22 23:01] #2436 closed

[2016-01-22 23:06] estebanz01 commented on #2216
If I search `weather in [myCity]` in DDG for Android, I can see the results in Celsius. I guess it has to be with the location, isn't ?

[2016-01-23 08:22] MrChrisW commented on #2216
@estebanz01 @cathalgarvey Currently the units that the Forecast IA uses is based on what's returned by the forecast.io API. You can see this on [L15 - forecast.js](https://github.com/duckduckgo/zeroclickinfo-spice/blob/master/share/spice/forecast/forecast.js#L15)

Basically it's using the system of measurement for the **searched location not the users locations.**

Example API responses - see flag

[2016-01-25 07:55] cjs-cynic-net opened #2439 "NPM: add link for `git://github.com` URLs in Repository package information"
@remixz

The result of a DDG search for an npm module, e.g., ["npm tape"](https://duckduckgo.com/?q=npm+tape) returns a useful infobox at the right, generated from the `package.json` file.

When the URL for the repository, as specified in that file, is something like `git://github.com/substack/tape.git`, it's not a clickable link. (For this particular example, the "Source" field link, starting wit

[2016-01-25 10:21] extempl opened #2440 "A bit strange results for query"
Tried to search more info about https://developers.google.com/structured-data/actions/watch-movies:
https://duckduckgo.com/?q=knowledge+panel+movie+card+watch+google, but instead received multiple links to main pages of Google services.

[2016-01-25 14:37] MrChrisW commented on #2440
@extempl Thanks for taking the time to report an issue with the search results. As this doesn't have anything to do with the DuckDuckGo spice instant answers I'll close this issue.

The best place to report these types of problems would be https://duckduckgo.com/feedback

[2016-01-25 14:37] #2440 closed

[2016-01-25 14:51] MrChrisW commented on #2439
Hi @cjs-cynic-net thanks for your suggestion!

The reason the repository URL isn't changed is because it's a link to the "repository" which can be used in version control software. The infobox already contains a link to the projects homepage and in many cases this is a link to the github project page.

Like with the "npm tape" search
![2016-01-25-11-npm tape at duckduckgo](https://cloud.githubuser

[2016-01-25 17:22] cathalgarvey commented on #2216
Huh, perhaps I was out of the country at the time? I thought I was in Ireland, but maybe I'm mis-remembering.

Good to hear that the system defaults to sane units by location, anyway. Thanks!

[2016-01-25 19:38] kranthic opened #2442 "Images:"
![screen shot 2016-01-25 at 11 39 08 am](https://cloud.githubusercontent.com/assets/4584160/12562166/86ab9490-c358-11e5-83c3-ac3ca01bb9ff.png)
searching for 202 754 8440 phone number is showing explicit images

------
IA Page:  http://duck.co/ia/view/images

[2016-01-26 00:27] moollaza commented on #2216
@cathalgarvey @estebanz01 by the way, you can also set you preferred units in the DDG settings and then we'll default to that when set ;)

[2016-01-26 02:41] MrChrisW commented on #2216
No problem! As @moollaza said you can also change your default units in the [DDG Settings]( https://duckduckgo.com/settings) page.Thanks again for taking the time to respond and log an issue, it's what helps make DDG better! :+1:

[2016-01-26 02:41] #2216 closed

[2016-01-26 04:38] tebicap opened #2443 "News:"
can you add "NOTICIAS" keyword in addition to "NEWS" for support spanish speakers? :)
------
IA Page:  http://duck.co/ia/view/news

[2016-01-26 18:14] moollaza commented on #898
@altern8tif sorry for the delay -- depending on how the API works, if we can get a list of package names that are relevant to a query, we could load additional info as the tile renders using a 2nd endpoint -- would that make things easier?

[2016-01-26 18:27] moollaza commented on #1554
@sekhavati thanks for reporting this! It looks like they've switched their API to always redirect to HTTPS and so we need to update the Perl to reflect that, for each of the SeatGeek IAs. Would you like to do that?

[2016-01-26 21:42] sekhavati commented on #1554
@moollaza Sure, I can take a look. What's the normal protocol, would you like to file an issue first?

[2016-01-26 21:44] sekhavati commented on #412
I'd be happy to take a look at this if nobody else already is?

[2016-01-27 22:46] moollaza commented on #2442
@kranthic thanks for this, we're removing the images.

[2016-01-27 22:46] #2442 closed

[2016-01-28 19:02] zachthompson opened #2448 "Yoga Asanas: Fake Issue"
Wanted to try this from duck.co.
------
IA Page:  http://duck.co/ia/view/yoga_asanas

[2016-01-28 20:39] #2448 closed

[2016-01-30 07:35] swapagarwal opened #2451 "Whois: No "i" icon is displayed"
@MrChrisW @b1ake

The ```i``` icon that brings up the infobox is not visible.

Sample query: https://duckduckgo.com/?q=who+owns+duckduckgo.com&ia=whois

------
IA Page:  http://duck.co/ia/view/whois

[2016-01-30 07:38] MrChrisW commented on #2451
Thanks for reporting this. Issue with metadata.

[2016-01-30 20:08] peterashwell opened #2453 "Cryptocurrency: Common query '<coin name> price' is not matched"
@claytonspinner

It's odd that probably a very common query is not matched e.g. 'btc price', or 'eth price'. What happens is that the zanran patterns pick it up first. This is probably true for a lot of suffixes as the zanran list is massive.

It also doesn't return any results... it would be nice if it did that at least. Perhaps disable zanran altogether, what does it really do?

The cryptocurren

[2016-01-30 22:56] moollaza commented on #1554
@sekhavati I wouldn't say it's required but if you'd like to, that's perfectly fine.

[2016-01-31 01:25] vCillusion opened #2454 "Dictionary Definition: Sync up with Pronounce Command"
When we search **Pronounce say**
 Dictionary defines _"pronounce"_.

------
IA Page:  http://duck.co/ia/view/dictionary_definition

[2016-01-31 06:43] #2439 closed

[2016-02-01 04:23] vCillusion opened #2460 "Timer: Extend the trigger words"
@mattr555

Let it trigger on "start timer", "start countdown timer", "start timer with 5 minutes", and "online countdown timer alarm"

------
IA Page:  http://duck.co/ia/view/timer

[2016-02-01 04:48] pecey opened #2461 "Whois : Not working with xyz domains"
`whois edgx.xyz` doesnt return a result, while it is registered.

https://who.is/whois/edgx.xyz

IA : https://duck.co/ia/view/whois

[2016-02-01 05:29] gautamkrishnar commented on #2461
it may have whoisguard enabled

[2016-02-01 06:23] altern8tif commented on #2461
API seems to be working fine.  I'm getting a result...

<img width="765" alt="screen shot 2016-02-01 at 2 22 51 pm" src="https://cloud.githubusercontent.com/assets/5793364/12710217/568e7902-c8ef-11e5-968a-b597c748472a.png">

[2016-02-01 06:32] swapagarwal commented on #2461
@altern8tif I'm getting the expected result for `edgx.xyz` but not for `edge.xyz`
Can you check?

[2016-02-01 06:41] altern8tif commented on #2461
Strangely it's not working for `edge.xyz`.

But the API seems to be returning a [JSON result](https://www.whoisxmlapi.com/?domainName=edge.xyz&outputFormat=json)...

[2016-02-01 07:52] pecey commented on #2461
![screenshot from 2016-02-01 13-22-28](https://cloud.githubusercontent.com/assets/11463842/12711551/e1c4584c-c8e6-11e5-9825-bb2fe9ead7b6.png)

It doesn't work for me.

[2016-02-01 16:41] moollaza commented on #2454
@vCillusion the Forvo Instant Answer is being revived in #2444 -- it will trigger on the word "pronounce" and provide the audio for the word pronunciation :+1:

[2016-02-01 16:45] moollaza opened #2462 "ExpandURL:"
Looks like this IA isn't working correctly anymore. There seems to be API responses coming back but the tab is not showing!

Anyone interested in investigating further?
/cc @duckduckgo/instant-answer-maintainers

------
IA Page:  http://duck.co/ia/view/expand_url

[2016-02-01 16:48] Mailkov commented on #2462
@moollaza I'll work on this

[2016-02-01 17:19] moollaza commented on #2462
@Mailkov thanks! :+1:

[2016-02-01 17:31] GuiltyDolphin opened #2463 "Port non-API Spice to Goodies"
Goodies can support JS too! Any Spice that doesn't require API calls should be ported to Goodies, if you're interested, please follow the Guidelines below.
## Guidelines
### Choosing a Spice
1. **Pick an available Spice from the `Relevant Spices` list** (if you have mentioned that you would like to port a Spice, but can no longer do so for any reason, please let me know so I can make it clearly av

[2016-02-01 17:32] Adman commented on #2462
@moollaza fixed https://github.com/duckduckgo/zeroclickinfo-spice/pull/2464

[2016-02-01 17:35] GuiltyDolphin commented on #2463
If you spot a Spice that should (or shouldn't) be on this list, please let me know!

[2016-02-02 02:54] altern8tif opened #2467 "Whois Spice: JS Error causing nothing to be displayed for valid domains"
Suggestion to show "_domain name is available_" when whois query returns `null`.

---

IA Page:  http://duck.co/ia/view/whois

[2016-02-02 22:00] chrismorast opened #2469 "InTheaters: rotton tomatoes icon displaying double the size on retina screens"
@jagtalon

On retina screens the rotten tomatoes icon is twice the size it should be.

Non-retina (correct)
![screen shot 2016-02-02 at 1 57 35 pm](https://cloud.githubusercontent.com/assets/7061920/12765816/40b39452-c9b5-11e5-9370-d5048331ff32.png)

Retina (Incorrect)
![screen shot 2016-02-02 at 1 58 52 pm](https://cloud.githubusercontent.com/assets/7061920/12765824/4a4db434-c9b5-11e5-848e-8f6b00

[2016-02-02 22:20] chrismorast opened #2470 "InTheaters: Update detail pane layout"
@jagtalon

Seems that we've had a regression in the layout of the movie information in the detail pane.
Anyone out there open to updating this?

Currently in production:
![screen shot 2016-02-02 at 2 11 54 pm](https://cloud.githubusercontent.com/assets/7061920/12766154/1c9c09a8-c9b7-11e5-876e-f4b232fb08b7.png)

Intended layout:
![screen shot 2016-02-02 at 2 10 46 pm](https://cloud.githubuserconten

[2016-02-03 05:02] pecey commented on #2072
@moollaza Is this still open?

[2016-02-03 05:03] pecey commented on #2451
Infobox is visible to me.

[2016-02-03 05:52] gabhi commented on #2461
Looks like it is working for me

[2016-02-03 06:57] altern8tif commented on #2461
Hmmm it also works for me now...

@moollaza seems like it's quite intermittent.  How can we tell if it's caused by the API or DDG itself?  Doesn't bode well for user experience if we can't predict when it will work...

[2016-02-03 14:51] Dasrakel opened #2473 "Riffsy: Restrict character matching to Emoji only"
Gifs that match Emoji zeroclick doesn't just match Emoji, but other high unicode characters as well. It should restrict it to only match the appropriate range of characters.

------
IA Page:  http://duck.co/ia/view/riffsy
Maintainer: @bryanhart

[2016-02-03 17:05] moollaza commented on #2461
@altern8tif I suspect it’s the whois API being slow. I've seen it act up a couple times recently but didn't think much of it. We may need to increase the timeout if the API is taking too long to return, or have them speed things up!

Your should see a call in the network tab of dev tools from DDG to their API. If the response is an empty function call, then we didn't get any JSON from them. By def

[2016-02-03 17:16] moollaza commented on #2461
Yup I just tried `abc.xyz` and the response initially 404'd then worked, taking 5100ms. I think the call is timing out. Will speak to the team...

[2016-02-03 17:36] moollaza commented on #2451
@swapagarwal @pecey looks like I fixed it :+1:

[2016-02-03 17:36] #2451 closed

[2016-02-03 18:42] moollaza commented on #2072
@pecey yes! It was never fixed

[2016-02-03 19:10] moollaza commented on #2469
@duckduckgo/instant-answer-maintainers -- anyone interested in investigating this? I suspect it's a CSS issue...

[2016-02-04 00:00] simbs commented on #2469
@chrismorast @moollaza [the CSS](https://github.com/duckduckgo/zeroclickinfo-spice/blob/master/share/spice/in_theaters/in_theaters.css#L1-L5) doesn't specify the size of the icon, so it's just displaying the larger image that is served for retina displays. Setting `max-width: 26px;` , the same size as the normal icon, should do.

[2016-02-04 16:07] moollaza commented on #2400
Fixed a little while ago :+1:

[2016-02-04 16:07] #2400 closed

[2016-02-04 16:22] #2469 closed

[2016-02-05 19:10] pnpninja commented on #2461
Works fine. Checked as of 7 Feb

[2016-02-05 20:07] moollaza commented on #2461
I've updated the timeout value for the endpoint. Set it to 5200ms which is hopefully enough. I can bumb it to 5500 if needed.

[2016-02-05 20:11] moollaza commented on #2461
I don't believe the change has gone live yet, I'm still experiencing problems when trying domains that haven't been searched (and cached) yet.

[2016-02-06 12:25] sekhavati commented on #2197
I can't reproduce this issue. Has it already been fixed?

[2016-02-06 13:16] sekhavati commented on #1864
The Zodiac IA has been converted by [this PR](https://github.com/duckduckgo/zeroclickinfo-goodies/pull/1821). Hence it appears there is no more work to be done for this issue.

[2016-02-06 13:29] sekhavati opened #2480 "Recipes: Triggers when you search for Duck Duck Hack"
Searching for "Duck Duck Hack" in DDG triggers this IA.

------
IA Page:  http://duck.co/ia/view/recipes

[2016-02-08 11:30] jagtalon commented on #2473
Thank you @Dasrakel!

[2016-02-08 11:32] jagtalon commented on #2480
@sekhavati that is rather odd--thanks for reporting this odd bug! Also, this doesn't sound like an appetizing meal ...

[2016-02-08 11:36] jagtalon commented on #2470
Thanks, @chrismorast!

[2016-02-08 11:51] jagtalon commented on #2467
Hey, @altern8tif! It seems to already do something to that effect:

![screen shot 2016-02-08 at 6 49 45 am](https://cloud.githubusercontent.com/assets/81969/12885006/3ff47e80-ce30-11e5-8d60-b698d7b7bf34.png)

Was that what you were looking for or something different?

[2016-02-08 11:52] jagtalon commented on #2463
@GuiltyDolphin this is really useful! :heart: :heart: :heart:

[2016-02-08 11:56] jagtalon commented on #2462
Fixed in https://github.com/duckduckgo/zeroclickinfo-spice/pull/2464. Thanks, @Adman!

[2016-02-08 11:56] #2462 closed

[2016-02-08 11:58] jagtalon commented on #2461
@moollaza thanks! Looks like this is working already!

[2016-02-08 11:58] #2461 closed

[2016-02-08 12:03] jagtalon commented on #2460
Thanks, @vCillusion this is useful!

[2016-02-08 12:09] jagtalon commented on #2453
@peterashwell good catch!

[2016-02-08 13:53] #2426 closed

[2016-02-08 13:55] #2480 closed

[2016-02-08 14:25] #2420 closed

[2016-02-08 14:32] GuiltyDolphin commented on #2463
@jagtalon I'll kick this off by porting `Timer` as an example.

[2016-02-08 14:52] altern8tif commented on #2467
The results for the whois spice seems to produce very weird results.  It works for some domains but not for others.

Not sure if it's related to #2461.

Examples:
![screen shot 2016-02-08 at 10 44 37 pm](https://cloud.githubusercontent.com/assets/5793364/12888610/fb9b9cd8-ceb5-11e5-8c19-628623fdbdf6.png)
![screen shot 2016-02-08 at 10 44 49 pm](https://cloud.githubusercontent.com/assets/5793364/12

[2016-02-08 15:07] jagtalon commented on #2463
@GuiltyDolphin yeaaaaaa

[2016-02-08 18:28] GuiltyDolphin commented on #2429
@moollaza @tagawa Looks fixed to me. https://duckduckgo.com/?q=timer&ia=timer

[2016-02-08 18:29] GuiltyDolphin commented on #2460
@jagtalon Resolved in #2459.

[2016-02-08 18:39] GuiltyDolphin commented on #2443
@tebicap At the moment we [do not accept](http://docs.duckduckhack.com/backend-reference/triggers-handle-functions.html#triggers-in-multiple-languages) non-English languages in triggers (there would be too much duplication and inconsistency). Hopefully this will be sorted globally at some point.

[2016-02-09 02:12] claytonspinner commented on #2453
@peterashwell Thanks for finding this. I'll make the change.

[2016-02-09 09:28] tagawa commented on #2429
Oh yes, thanks.

[2016-02-09 09:28] #2429 closed

[2016-02-09 19:03] #2460 closed

[2016-02-09 20:20] sekhavati commented on #2113
@tagawa How about we take this idea one step further and use something like [MathJax](https://www.mathjax.org/)?

Here's an example using the formula you mentioned: https://jsfiddle.net/fm80d907/3/

[2016-02-09 21:07] sekhavati opened #2492 "Geometry: Diagrams should have labels"
The shape diagrams this IA draws don't have labels. They ought to help qualify the formula variables. For example, when you search for ["geometry circle"](https://duckduckgo.com/?q=geometry+circle&ia=geometry) the diagram should depict the variable `r` as relating to the radius of the circle like this: https://jsfiddle.net/yt6nw2vk/

---

IA Page:  http://duck.co/ia/view/geometry

[2016-02-10 12:34] MrChrisW commented on #2492
@sekhavati Thanks! @pixunil do you have any thoughts on this improvement?

[2016-02-10 12:37] MrChrisW commented on #2443
Closing this now. Tnx for the quick response @GuiltyDolphin :smiley:

@tebicap You can keep up-to-date with any changes that happen with non-english language triggers on https://duck.co/blog or follow https://twitter.com/duckduckgo

Gracias!

[2016-02-10 12:37] #2443 closed

[2016-02-10 12:39] yash14123 commented on #2492
I would like to take this up. Can you guide me a bit for this?

[2016-02-10 14:03] altern8tif commented on #2492
@MrChrisW Something like [this](http://www.wolframalpha.com/input/?i=area+of+a+circle) would be pretty awesome...

![screen shot 2016-02-10 at 10 02 25 pm](https://cloud.githubusercontent.com/assets/5793364/12949314/11c86328-d042-11e5-851b-9c37c046291e.png)

[2016-02-10 15:25] moollaza opened #2495 "SublimePackages: Triggering for "sublime text alternatives""
https://duckduckgo.com/?q=sublime+text+alternatives+for+linux&ia=software

We shouldn't be triggering/showing a result for queries like `sublime text alternatives ...`

------
IA Page:  http://duck.co/ia/view/sublime_packages

[2016-02-10 18:38] samskeller commented on #2495
I'll take a stab at this one

[2016-02-10 18:41] pnpninja commented on #2495
I've done it. PR #2496

[2016-02-10 21:12] ajainy opened #2497 "Sales Tax: Use new API, display tax range"
@MrChrisW @javathunderman

As guided, I have created this issue, to replace implementation of existing implementation.
New implementation will have

- Sales tax range for a state. Generally net sales tax can vary between different addresses.

------
IA Page:  http://duck.co/ia/view/sales_tax

[2016-02-10 23:19] #2495 closed

[2016-02-11 14:44] moollaza opened #2499 "IsItUp: Should not trigger on "is it up", "is it down", "is site down""
We should ignore these specific queries. We may also want to put a minimum character count (5?) for candidate domains that don't have a TLD (i.e. missing ".com"). This would allow "is facebook down" but prevent "is it down".

------
IA Page:  http://duck.co/ia/view/is_it_up

[2016-02-11 16:04] MrChrisW commented on #2497
@ajainy Closing this as discussion can continue in your PR #2498

[2016-02-11 16:04] #2497 closed

[2016-02-12 05:41] moollaza commented on #2467
@altern8tif good catch! It looks like there are JavaScript errors causing nothing to display in those cases.

We now supress the errors from showing in the console, but you can see them in the network tab:
![network_-_whois_randomname_io_at_duckduckgo](https://cloud.githubusercontent.com/assets/873785/12999815/463e48ae-d121-11e5-8ea0-8ce66170069e.png)

looks like there's an undef property/objects

[2016-02-12 05:42] moollaza commented on #2473
@Dasrakel would you care to fix it?

[2016-02-12 05:44] moollaza commented on #2197
@sekhavati yes I believe so!

[2016-02-12 05:44] #2197 closed

[2016-02-12 05:45] #1864 closed

[2016-02-12 05:47] moollaza commented on #1683
@GuiltyDolphin there's another issue somewhere...we had to take this IA offline because we can't determine the user's hemisphere very easily, which affects the results. We were basically showing wrong info for everyone in the southern hemisphere

[2016-02-12 05:47] moollaza commented on #1885
@MrChrisW I think we're OK for now. If more are found we can deal with them then.

[2016-02-12 05:48] #1885 closed

[2016-02-12 05:50] moollaza commented on #220
@MrChrisW FWIW the IA is back online -- we had an NGINX bug that has now been fixed...

[2016-02-12 05:55] moollaza commented on #2492
@sekhavati it's not initially very obvious but if you hover over the elements on the left, the diagram changes colour to indicate what part of the given element.

e.g. hovering over radius highlights the border.

We should probably provide some instruction or a stronger hint. We may still want/need labels though

[2016-02-12 08:00] tagawa commented on #2113
Good idea. I still think brackets should be added here in the meantime, but have made a separate feature request for MathJax: https://github.com/duckduckgo/duckduckgo/issues/176

[2016-02-12 11:06] jagtalon commented on #2473
Something like this would be perfect: https://github.com/twitter/twemoji/blob/gh-pages/twemoji.js#L236

[2016-02-12 11:16] Dasrakel commented on #2473
Yes, I would, should learn how to contribute to something like this eventually anyway.

[2016-02-12 12:06] petacat opened #2503 "Places: Link to OpenStreetMap under the yelp link?"
Can we get a link to OpenStreetMap under the yelp link?

------
IA Page:  http://duck.co/ia/view/maps_places

[2016-02-12 12:30] bsstoner opened #2504 "InTheaters: Firing off a lot of http requests when scrolling the carousel"
Some of these are valid images it's loading, but then there's a ton of extra requests for some reason. Something seems wrong:

<img width="663" alt="screen shot 2016-02-12 at 7 29 27 am" src="https://cloud.githubusercontent.com/assets/126358/13006938/6eb782f8-d15a-11e5-9029-63be97caade8.png">

@jagtalon

------
IA Page:  http://duck.co/ia/view/in_theaters

[2016-02-12 14:48] jagtalon commented on #2504
@bsstoner the issue was with the images being deprecated by RT, so we had to find an alternative source. What we're doing is RT's results combined with TMDB's images.

The issue can be found in https://github.com/duckduckgo/zeroclickinfo-spice/issues/1647

The fix was https://github.com/duckduckgo/zeroclickinfo-spice/pull/1840

[2016-02-12 14:49] jagtalon commented on #2504
@bsstoner there is an internal discussion about alternatives (read: business-y stuff)--we can move this discussion there.

[2016-02-12 14:49] #2504 closed

[2016-02-12 15:42] bsstoner commented on #2504
:+1: thanks

[2016-02-13 14:20] sekhavati commented on #2467
There seem to be a couple of issues here. #2507 fixes what @moollaza highlighted. However having resolved that we still end up not displaying a message to say the domain is available. This looks to be because of [this line of code](https://github.com/duckduckgo/zeroclickinfo-spice/blob/master/share/spice/whois/whois.js#L122) in combination with the data returned. For the domains mentioned above th

[2016-02-14 18:12] pnpninja opened #2508 "TVMaze Next Episode: Improvement by showing time zone"
@tvdavid

![bug](http://i.imgur.com/arR6ffP.png)

The timezone of when it is released isn't displayed. Can it be displayed?

---

IA Page:  http://duck.co/ia/view/tvmaze_nextepisode

[2016-02-15 16:38] moollaza commented on #2508
@pnpninja looks like the image you posted didn't work. Also, please be sure to add a link to the IA Page so that the issue is connected to the IA!

[2016-02-15 16:39] moollaza commented on #2508
If you click the `i` icon beside and Instant Answer and visit its Instant Answer page, there will be a "Create Issue" button that will automatically fill in the link for you ;)

[2016-02-15 16:46] moollaza opened #2510 "Forecast: Add % humidity to answer"
This was a suggestion sent over email.

It looks like we have the information available to us through the API already :)

Would anyone else find this useful?

------
IA Page:  http://duck.co/ia/view/forecast

[2016-02-15 16:54] AnthonyNeace commented on #2510
It would be helpful for people looking to get an impression of what it will actually feel like outside.  An 80°F day at 0% humidity would feel quite pleasant, where the same day at 100% humidity would be oppressive.

[2016-02-15 20:48] sekhavati opened #2511 "Specify version in requests made to timeanddate.com API"
IAs that use the timeanddate.com API don't include a version number with their requests. The [documentation](http://services.timeanddate.com/api/doc/v2/ch02s01.html) suggests it should always be specified. As a consequence results being returned from our API calls have the following warning in the JSON:

`"warnings":["Please specify request version, defaulting to version 1."]`

Here's a list of IA

[2016-02-17 04:36] pnpninja commented on #2508
@moollaza : I added the details and the image now works..

[2016-02-17 15:25] moollaza opened #2512 "GitHub: Should not trigger on the query "GitHub""
https://duckduckgo.com/?q=github -- this is a very generic query, we shouldn't be showing GitHub repositories for this.

------
IA Page:  http://duck.co/ia/view/github

[2016-02-17 15:27] moollaza opened #2513 "GitHub Status: Should not show a result for the query "github""
https://duckduckgo.com/?q=github -- we should not show a result when the query is just "github".

---

IA Page:  http://duck.co/ia/view/github_status

/cc @Feral2k

[2016-02-17 15:38] moollaza opened #2514 "RedditSubSearch: Reign in triggering, remove "r" trigger, require slashes: "/r/""
There are many queries that begin with "r " which are not searches for a subreddit leading to irrelevant  results. e.g. https://duckduckgo.com/?q=R+regex

Autocomplete suggests several more which will trigger the Reddit IA and likely show something unexpected, many of these are related to the programming language, "R". Let's make sure the query has slashes, which very clearly indicate it’s a searc

[2016-02-17 20:33] moollaza commented on #2508
@pnpninja image still doesn't work for me..

[2016-02-17 20:34] moollaza commented on #2508
![tvmaze_next_episode__improvement_by_showing_time_zone_ _issue__2508_ _duckduckgo_zeroclickinfo-spice](https://cloud.githubusercontent.com/assets/873785/13123775/e33e37a4-d58b-11e5-84b1-67d0e7b5002f.png)

[2016-02-18 07:48] pnpninja commented on #2508
@moollaza I just dragged it and dropped it into the comment box in Github.. However, i uploaded it on imgur and put that link (probably big link is causing error) .

[2016-02-18 13:21] Sayanc93 commented on #2513
Hey @moollaza if you see the perl file they return none if the query is just github. Not clear on the issue. FYI I can take this up.

[2016-02-18 13:53] swapagarwal opened #2518 "Github: Show more info in results"
GitHub provides the following data as well in their search results:
- Language
- Number of Forks

Should we include it too?

IA Page: https://duck.co/ia/view/github

[2016-02-18 14:36] moollaza commented on #2518
@swapagarwal I think the language could be useful. I would really like to see the stargazers count which I find more useful than the forks count

[2016-02-18 15:10] swapagarwal commented on #2518
Yes, the timestamp indeed provides an insight into the repo's activity.
Using fork count as an indicator is subjective.
I'll go ahead and add the language then! Should I include fork count too?

[2016-02-18 16:22] pnpninja commented on #2508
ping @moollaza . is the image visible now?

[2016-02-18 16:48] yash14123 commented on #2513
@Sayanc93 can I take this up? I see you have already done quite a few low hanging ones already.
I am fairly new and starting with this might help me. :)

[2016-02-18 16:53] yash14123 commented on #2068
Is this fixed or still open?

[2016-02-18 17:11] moollaza commented on #2518
You can go ahead and include it. I'll have the design team review your PR and they can suggest any changes

[2016-02-18 17:16] moollaza commented on #2513
@Sayanc93 the Perl looks wrong.

We should have:

[code]

This defines two triggers and checks that the query is identical to the trigger. It returns `''` which makes an API call.

[2016-02-18 17:35] swapagarwal commented on #2518
Okay, I have included it. However, the fork icon needs to be present in order to render nicely..

[2016-02-18 17:40] yash14123 commented on #2463
I would like to take up FlashVersion. :)

[2016-02-18 18:08] GuiltyDolphin commented on #2463
@yash14123 Sure thing!

Remember to reference this issue in both PR's (and a reference to the other PR in each) when you're ready! :)

[2016-02-18 19:41] moollaza commented on #2503
@petacat we're working on something along these lines...

[2016-02-18 19:43] petacat commented on #2503
Nice to here that.

[2016-02-19 18:28] swapagarwal commented on #2518
Done!

[2016-02-19 18:48] #2514 closed

[2016-02-21 11:10] Sayanc93 commented on #1573
hey i think movies trigger the InTheatres spice..adding movies to the trigger text might conflict with that spice

[2016-02-21 15:09] Co2p opened #2527 "Currency: Local currency if Region is ON"
The currency should change to the active region when it is switched on.
In the screenshot currency should change from EUR to SEK

![capture](https://cloud.githubusercontent.com/assets/6750851/13203300/58763838-d8b5-11e5-8c3c-0e011f021b9d.PNG)
------
IA Page:  http://duck.co/ia/view/currency

[2016-02-22 11:34] #2123 closed

[2016-02-22 12:11] #2453 closed

[2016-02-22 12:24] jagtalon opened #2528 "DogoNews: Footer breaks on smaller screens"
<img width="540" alt="screen shot 2016-02-22 at 7 21 40 am" src="https://cloud.githubusercontent.com/assets/81969/13218067/08006a1a-d935-11e5-9355-dc52601ad2aa.png">

Reducing the number of characters to, say, 10 should do the trick (see highlighted line):

<img width="719" alt="screen shot 2016-02-22 at 7 22 39 am" src="https://cloud.githubusercontent.com/assets/81969/13218098/342725ca-d935-11e5-

[2016-02-22 13:04] #2419 closed

[2016-02-22 15:48] CruiseDevice commented on #2528
Will replacing 10 in place of 15 work?

[2016-02-22 17:28] bbraithwaite opened #2530 "Recipes: triggering on `recipes.com`"
For queries such as recipe.com, the IA triggers and the message is 'Recipes for .com'. Perhaps the triggering needs to be tweaked?

https://duckduckgo.com/?q=recipe.com&ia=recipes

------
IA Page:  http://duck.co/ia/view/recipes

[2016-02-24 15:18] moollaza opened #2533 "Currency: triggers on "mars" because of `m` prefix + `ars` symbol"
It looks like we have a regex that checks for `million` but also `m`. As well, `ars` is a currency name.

So together, `mars` looks like a valid trigger. This also happens for `musd` for example.

I think if the trigger contains `million` or `m` it should also have a number, or we may want to whitelist the phrase `mars`.

@laouji @MrChrisW, what are your thoughts?

------
IA Page:  http://duck.co/

[2016-02-24 16:36] laouji commented on #2533
The space between the number and the currency is currently optional, which is why this triggers.

I think it would be reasonable to make the space mandatory so that `1m ars` will trigger but not `1 mars` or '1mars`.

[2016-02-24 21:08] sekhavati commented on #2530
@bbraithwaite I agree that the IA looks to be misbehaving. You may be under the false impression that I developed this IA as this is what the info box suggests. In reality I'm a contributor towards it who fixed an unrelated bug recently.

[2016-02-24 21:14] sekhavati commented on #2530
@bbraithwaite At the moment I'm developing another IA which my spare time is going towards. Afterwards I'll try make some time to investigate this further.

[2016-02-24 21:19] bbraithwaite commented on #2530
@sekhavati Your handle was pre-populated when I clicked the link to create the issue, I'm not delegating to you directly to fix! I will remove your handle from the description, so that others can pick up in the meantime if they wish to do so.

[2016-02-25 14:01] moollaza commented on #2511
@sekhavati thanks for pointing this out. If it's been defaulting to V1 then I think we should continue to use it. Do you know what the difference is with V2?

[2016-02-25 20:38] #319 closed

[2016-02-25 20:38] #127 closed

[2016-02-25 20:39] #259 closed

[2016-02-25 20:39] #817 closed

[2016-02-25 20:41] #2072 closed

[2016-02-25 20:43] moollaza commented on #1573
@Sayanc93 triggers are allowed to overlap. These are two different IAs that don't provide the same kinds of answers so it should be OK.

[2016-02-25 20:44] #2454 closed

[2016-02-25 20:49] moollaza commented on #2533
@laouji I agree :+1:

[2016-02-26 02:40] heycam opened #2537 "Forecast: searching for Taipei weather shows Beinwil, Switzerland weather"
@himanshu0113

When I search "taipei weather" I am shown the weather for Beinwil, Switzerland.

------
IA Page:  http://duck.co/ia/view/forecast

[2016-02-26 02:41] heycam commented on #2537
![weather](https://cloud.githubusercontent.com/assets/1484434/13341633/950c3194-dc8e-11e5-97df-d15362ba1c71.png)

[2016-02-26 19:23] #2528 closed

[2016-02-26 22:12] moollaza commented on #2537
@heycam thanks for reporting. Can you send me a picture of your results? Do you have any location boost on?

I see the expected results but I suspect you're seeing something else because of the organic results and our "Deep" trigger...

![taipei_weather_at_duckduckgo](https://cloud.githubusercontent.com/assets/873785/13366877/112120ce-dcac-11e5-9732-e4e69b609ebd.png)

[2016-02-27 00:49] heycam commented on #2537
Here's a screen shot of the entire results page in my usual browser:

![weather1](https://cloud.githubusercontent.com/assets/1484434/13369352/cc30b03c-dd47-11e5-9a35-d452f562a425.png)

In a private browsing window (with the region option turned off):

![weather2](https://cloud.githubusercontent.com/assets/1484434/13369361/e4420af4-dd47-11e5-913d-22fe3b3c3755.png)

In a private browsing window (wit

[2016-02-27 05:47] kwaping commented on #2533
This isn't entirely user-friendly, but technically "1m" in finance generally refers to 1 mille, or 1000. One million is generally referred to as 1MM. Not sure if forcing that convention would delight DDG users, though. It would definitely fix this issue though.

[2016-02-27 05:53] kwaping commented on #2510
Humidity is very important for people living in certain areas. :+1: this suggestion.

[2016-02-27 09:54] GuiltyDolphin commented on #2512
Fixed in #2516

[2016-02-27 09:54] #2512 closed

[2016-02-27 19:03] sekhavati commented on #2511
@moollaza see below

[2016-03-01 15:23] moollaza opened #2543 "Arch User Repository: Instant Answer broken, API URL has changed and needs update"
Need to update the `spice to` to match the new URL format: `https://aur.archlinux.org/rpc/?v=5&type=search&arg=$1`

------
IA Page:  http://duck.co/ia/view/aur

/cc @natebrune

[2016-03-01 17:26] moollaza commented on #2533
@kwaping that’s a good point! It looks like a PR was already made but would you like to add support for `MM` and any other triggers after it's merged?

[2016-03-01 23:45] skeuomorf opened #2545 "Time: Display time based on timezones"
@MrChrisW Currently, queries like "time EST" won't trigger the time IA, which I think might be useful. If this is implemented, it'd be very cool if there were support for queries like "time Cairo to EST" which will display the current time in both Cairo and EST.

------
IA Page:  http://duck.co/ia/view/time

[2016-03-02 00:09] MrChrisW commented on #2545
@skeuomorf Thanks for the suggestion. This is definitely a feature that would be great to implement.

While the upstream API (TimeandDate) does offer [time convert](services.timeanddate.com/api/services/converttime.html) functionality - It's a little difficult for the IA to convert a timezone "name" to a location ID which is accepted by the API. We do this manually at the moment https://github.com

[2016-03-02 18:55] moollaza opened #2547 "Dogo News: Increase snippet length OR decrease tile height"
There's a lot of blank space at the bottom of the tiles for this IA.

We should increase the snippet text length to fill out the space or reduce the tile height.

------
IA Page:  http://duck.co/ia/view/dogo_news
/cc @dogomedia @anuragaryan

[2016-03-02 20:50] moollaza opened #2548 "Coderwall: IA Broken, API Response Format Changed?"
This IA is currently not working and there is a console error.

The Safari debugger suggests that the `$.each()` loop over `item.accounts` isn't working.

It looks like the API response format has actually changed and now the code needs to be updated

------
IA Page:  http://duck.co/ia/view/coderwall
/cc @motersen

[2016-03-02 21:16] moollaza opened #2549 "InEveryLang: Website and API Offline. Remove IA from Repo"
@josephwegner it looks like the website is offline? Is this permanent?

http://www.ineverylang.com/

If so would you mind removing the code, or updating the IA to use a new source?

---

IA Page:  http://duck.co/ia/view/in_every_lang
Maintainer: @josephwegner

[2016-03-02 21:22] moollaza opened #2550 "ProductHunt: Update `id` in code to: `product_hunt` so we follow DDG Naming Scheme"
This ID is causing some problems because it doesn't fit the standard naming scheme for IDs.

We need to updated the code to reference `product_hunt`. Once a PR has been made I (@moollaza) will update the IA Page to follow suite.

------
IA Page:  http://duck.co/ia/view/product_hunt
/cc @sevastos @MrChrisW

[2016-03-02 22:28] moollaza opened #2552 "Transit NJT: API Broken?"
The API is returning HTTP 500 errors for API calls: http://njt-api.appspot.com/njt/times/metropark/new-york-penn

@mattr555 any idea what's going on?

------
IA Page:  http://duck.co/ia/view/transit_njt

[2016-03-03 00:44] #2550 closed

[2016-03-03 16:48] #2547 closed

[2016-03-03 17:36] moollaza commented on #2543
@NateBrune thanks :+1:

[2016-03-03 17:37] moollaza commented on #2543
@NateBrune I see it's working again. Did you fix on the API side?

[2016-03-03 18:00] moollaza commented on #2266
@navneetzz sounds like it's our best choice then -- would you still like to work on this or shall we open it up to the community?

[2016-03-03 18:05] navneetzz commented on #2266
@moollaza I would like to work on that.

[2016-03-03 21:43] #1706 closed

[2016-03-03 21:57] #1140 closed

[2016-03-03 22:04] moollaza commented on #992
I just realized that for all but one of these "Dynamic" Comics the Instant Answer looks is broken:

- [1037](https://duckduckgo.com?q=kxcd+1037)
- [1190](https://duckduckgo.com?q=kxcd+1190)
- [1193](https://duckduckgo.com?q=kxcd+1193)
- [1335](https://duckduckgo.com?q=kxcd+1335) (image renders, but it’s a static PNG)
- [1446](https://duckduckgo.com?q=kxcd+1446)
- [1608](https://duckduckgo.com?q=kx

[2016-03-03 22:10] moollaza commented on #1330
IA Has

[2016-03-03 22:10] #1330 closed

[2016-03-03 22:10] #1508 closed

[2016-03-03 22:13] #1509 closed

[2016-03-03 22:14] #1579 closed

[2016-03-03 22:15] #1598 closed

[2016-03-03 22:15] moollaza commented on #1598
IE 8 no longer supported...

[2016-03-03 22:17] #1585 closed

[2016-03-03 22:18] moollaza commented on #939
IE 8 no longer supported..

[2016-03-03 22:18] #939 closed

[2016-03-03 22:23] #870 closed

[2016-03-03 22:24] #815 closed

[2016-03-03 22:25] #761 closed

[2016-03-03 22:25] moollaza commented on #708
This uses a map now...

[2016-03-03 22:25] #708 closed

[2016-03-03 22:26] moollaza commented on #881
This now exists...

[2016-03-03 22:26] #881 closed

[2016-03-03 23:22] moollaza commented on #2537
@heycam thanks for the update -- out of curiosity, if you try a differ form of the query: "weather taipei" does it correct the Switzerland result?

I'm wondering if somehow the bad results was cached..

[2016-03-03 23:39] #2511 closed

[2016-03-04 00:41] NateBrune commented on #2543
I emailed them and asked them to add support for backwards compatibility. Some package managers where broken too. I guess they fixed it.

[2016-03-04 04:01] heycam commented on #2537
I can't test from my usual location since I'm in Taipei currently. :) But I can test again when I'm home in a couple of weeks.

[2016-03-04 08:35] schluchc commented on #2266
Sorry guys for being irresponsible the last few months here. I switched to a new job and just didn't find any time recently. Unfortunately, this will also not change very soon, so please feel free to continue with this IA as you wish. I hope I will find time again later to continue doing something with duckduckgo.

[2016-03-05 03:50] moollaza commented on #2543
Yes it does! Thanks for emailing them!

[2016-03-05 03:50] #2543 closed

[2016-03-06 21:14] gabhi commented on #1421
@moollaza I would like to work on this issue.

[2016-03-07 10:21] altern8tif commented on #2513
@theaverageguy did you open a pull request for this?  Looks like you've only pushed to your forked zeroclickinfo-spice repo instead of [duckduckgo/zeroclickinfo-spice](https://github.com/duckduckgo/zeroclickinfo-spice)...

[2016-03-07 21:28] xaviervalarino opened #2558 "Design proposal for Insant Answer Tides"
I would like to create a tide chart as an enhancement for [tides](https://duck.co/ia/view/tides).

My idea is to take the response data and use it to create an SVG path. I would then pass it as an unescaped string to a custom sub-template.

@moollaza mentioned that support for [Chart.js](http://www.chartjs.org/) was recently added, which would probably take a lot of the work out of creating the si

[2016-03-07 21:44] moollaza commented on #2558
@abeyang would like your input here please!

@xaviervalarino at one point we allowed a custom template to be used for the infobox -- AFAIK that functionality no longer exists.

Technically we could just create the chart and add it to the page via JS and create a CSS file to style it correctly. I imagine that approach would break on mobile though -- we would need a lot better handling of the UI. Th

[2016-03-07 22:37] moollaza opened #2559 "Remove Perl Metadata from Remaining Spices"
We've remove most Perl metadata (example queries, attributions, categories, etc) and will eventually deprecate the Perl functionality.

A few Spice still have Metadata that needs to be removed:

- [ ] lib/DDG/Spice/Coupons.pm
- [ ] lib/DDG/Spice/LaunchLibrary.pm
- [ ] lib/DDG/Spice/PoliticalPolls.pm
- [ ] lib/DDG/Spice/Pwned.pm
- [ ] lib/DDG/Spice/RenegoJobSearch.pm
- [ ] lib/DDG/Spice/Riffsy.pm
-

[2016-03-07 22:47] sekhavati commented on #1802
@moollaza I've been giving this some thought and I think there’s a simpler way to approach this.

We could request the current UTC time from the API, then in JavaScript using moment.js we apply an appropriate offset depending on the time zone requested. This would mean client side we'd have a mapping between `Time Zone => Offset from UTC`, similar to the information listed [here](http://www.timean

[2016-03-07 23:38] moollaza commented on #1802
@sekhavati thanks a lot for looking into this! It sounds like your approach will work. I think disambiguating will be necessary but it seems like the ISO standard sets IST as the time zone for India?

[2016-03-08 00:25] moollaza commented on #2266
@schluchc thanks for the update and congrats on the new job!

@navneetzz looks like you're good to go!

@schluchc I look forward to your next PR :+1:

[2016-03-08 17:49] gvanwaelvelde commented on #1529
I've submitted a fix.
https://github.com/duckduckgo/zeroclickinfo-spice/pull/2561

[2016-03-08 23:21] bsstoner commented on #1529
Sorry, my fault for missing this comment thread initially. We're going to fix the triggering issues here internally. Thanks everyone for raising the issue and pushing the discussion forward.

[2016-03-09 01:14] gabhi commented on #1421
@moollaza do you which API can i use to get the results?

[2016-03-09 02:51] MrChrisW commented on #1421
@gabhi You will be able to use the existing XE.com API which is included in the currency IA. See https://github.com/duckduckgo/zeroclickinfo-spice/blob/master/lib/DDG/Spice/Currency.pm#L38

[2016-03-09 03:07] gabhi commented on #1421
Thanks @mrchrisw

[2016-03-09 17:23] #2559 closed

[2016-03-09 20:09] mattr555 commented on #2558
Commenting to follow -- @xaviervalarino first got in contact with me. Looks great so far, a graph view is something I've always wanted for this spice :+1:

[2016-03-09 20:43] xaviervalarino commented on #2558
@abeyang _if_ this sort of thing requires using a custom base template, I could come up with a better design for the data set. I am not particularly married to the concept mockup above, since it was mainly an attempt to base a design off of existing sub-templates.

One idea that comes to mind, since the data set includes the tidal highs and lows for the next three days, would be to have series of

[2016-03-10 03:31] gabhi commented on #1421
@moollaza @MrChrisW I created a pull request https://github.com/duckduckgo/zeroclickinfo-spice/pull/2564. Can you please have a look at it?

[2016-03-10 06:25] vikashvverma commented on #2549
@moollaza I can work on this, if nobody is working on this.

[2016-03-10 11:18] #2533 closed

[2016-03-10 11:22] GuiltyDolphin commented on #2533
@kwaping Still interested in adding the additional triggers? It'd be a great addition.

[2016-03-10 14:45] kwaping commented on #2533
Sure! Thanks for the reminder.

[2016-03-10 23:05] xaviervalarino commented on #2548
It looks like Coderwall flattened the API response, taking everything out of the `accounts` object. Luckily each key has the same name.

The description data also had to be massaged a little bit, as it now has links to other sites (LinkedIn, BitBucket, StackOverflow, etc.) in the string. I tested a simple split().shift() with a few usernames, and it seems to work.

Here is my diff: https://github.

[2016-03-11 02:36] xaviervalarino commented on #2548
After creating an account on Coderwall, I now have a better idea what is going on with the descriptions.
Coderwall allows markdown in their _about_ section, so people are using it to add links.

![example-of-unparsed-md-links](https://cloud.githubusercontent.com/assets/4262486/13691528/6a72d3ec-e6ee-11e5-9a62-aee1d2ad6414.png)

I personally think this looks really bad. So here are two proposed sol

[2016-03-11 10:06] xaviervalarino commented on #2548
I have have created a custom handlebars helper to parse the markdown and pass it to a custom subtemplate in `content`. It relies heavily on regular expressions:
[code]
@moollaza Should I submit a pull request?

[2016-03-11 14:19] swapagarwal commented on #2473
Can you give an example of a false triggering, i.e. a query on which ddg is showing gifs but is not an emoji?

[2016-03-11 15:19] moollaza commented on #2549
@vikashvverma thanks -- I'm going to take the IA offline for now as it's not working. You're welcome to investigate if any alternatives exist. I'd like to wait for some input from @josephwegner before we making any changes to the code though.

[2016-03-11 16:19] moollaza commented on #2548
@xaviervalarino Thanks for looking into this!

Hmm, that's really annoying, especially considering that Coderwall already had a place for you to provide social links, which we detecting and putting into the subtitle.

@xaviervalarino I think we may have to go with your approach, but I don't like the idea of injecting links into the description...

[2016-03-11 16:26] altern8tif opened #2567 "Use Moment-Timezone for Time (and other related) Spices"
I was browsing through [momentjs-timezone](http://momentjs.com/timezone/) recently and thought that it might actually be possible to replace the [Time](https://duck.co/ia/view/time) Spice.

Not to mention, it could also address other IAs such as #2508, #2545, #2156, #1802 or where timezones or daylight savings were not previously considered.

Any thoughts?

---

IA Page: https://duck.co/ia/view/ti

[2016-03-11 17:26] #1679 closed

[2016-03-11 17:57] moollaza opened #2569 "Equaldex: Broken in Production. Likely Internal issue"
Not working on live site, API response isn't coming through our NGINX endpoint.

Seems to be an internal issue though, I confirmed the API is up and works in DuckPAN

------
IA Page:  http://duck.co/ia/view/equaldex
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @MrChrisW

/cc @kablamo

[2016-03-11 17:58] zachthompson commented on #2567
@MrChrisW is the maintainer for time.

[2016-03-11 18:07] moollaza commented on #2569
After `curl`ing the API I noticed that the domain is now redirecting from http://equaldex.com to `http://www.equaldex.com` -- this is likely the issue!

[2016-03-11 18:32] moollaza commented on #2567
I believe @MrChrisW and I spoke somewhere about this on GitHub, I don't recall if any decisions were made.

It seems like it could potentially replace several Time-related Spice/Goodies. I'm a little concerned with the size of the lib though -- how much would this increase the payload on the page?

[2016-03-11 18:33] moollaza commented on #2473
I don't believe we're showing incorrect results, but we're still firing off a useless API call, and when we trigger IA's the display system assumes we're going to show that IA, so if we can prevent making useless API calls, we definitely should!

[2016-03-11 18:47] moollaza commented on #2569
Confirmed updating the URL fixes this. https://moollaza.duckduckgo.com/?q=lgbt+rights+in+china&ia=equaldex

Will make a PR

[2016-03-11 20:22] jagtalon opened #2571 "Last.fm: Require description before displaying"
It should bail if it's missing a description. It's to prevent things like this:

https://duckduckgo.com/?q=store+dj&ia=music

<img width="850" alt="screen shot 2016-03-11 at 3 21 46 pm" src="https://cloud.githubusercontent.com/assets/81969/13714502/fcf9988c-e79c-11e5-833a-fed3e556804c.png">

---
https://duck.co/ia/view/lastfm_artist

[2016-03-11 20:24] jagtalon opened #2572 "Last.fm: "dj" trigger word fails in some cases"
Namely "DJ Khaled":

<img width="872" alt="screen shot 2016-03-11 at 3 23 23 pm" src="https://cloud.githubusercontent.com/assets/81969/13714548/378f98fc-e79d-11e5-9148-6ac2b7e09220.png">

It's giving us the wrong person. Either don't remove "dj" to the query that's sent to Last.fm or don't trigger on "dj" at all

---
https://duck.co/ia/view/lastfm_artist

[2016-03-11 22:16] Dasrakel commented on #2473
Some examples:

"語" (Japanese glyph for "language")
"Ф" (Cyrillic letter "Ef")
"𓆣" (Egyptian hieroglyph "beetle")
"Σ" (Greek capital letter sigma)

I do think the results are actually _wrong_. But you can blame Giphy if you want.
Giphy shows the identical results all for things it can't match: walrus, Steve Carell, toddler, spongebob, every time.

[2016-03-12 00:31] MrChrisW commented on #2569
Fixed in #2570

[2016-03-12 00:31] #2569 closed

[2016-03-12 00:44] MrChrisW commented on #1802
@moollaza Unfortunately not..

https://en.m.wikipedia.org/wiki/Time_zone

[2016-03-12 09:10] MrChrisW commented on #2567
@altern8tif Can we clarify the suggestion of replacing the Time IA with moment timezone.

Do you mean instead of requesting a specific location from the TimeAndData API we only pull the current UTC time and use moment timezone to convert to the relevant zone based on the user query?

[2016-03-12 09:14] MrChrisW commented on #2545
Hey @skeuomorf I'm closing this now as the issue is covered under https://github.com/duckduckgo/zeroclickinfo-spice/issues/1802

Feel free to lodge a new issue if you find anything else that could do with improving! Thanks

[2016-03-12 09:14] #2545 closed

[2016-03-12 14:39] mintsoft opened #2574 "PeopleInSpace: Add rank"
Quoted: @vikashvverma

I think we can add designation such as Commander as well to IA. This is readily available at data source http://www.howmanypeopleareinspacerightnow.com/

Moved from: https://github.com/duckduckgo/zeroclickinfo-goodies/issues/2736

---

IA Page:  http://duck.co/ia/view/people_in_space
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @elebow

[2016-03-12 15:43] platschi opened #2575 "Forecast: Mexican cities completely mixed up"
When searching various Mexican cities for weather data, DDG shows me completely different data for random other cities in the country which are far away from the originally searched location.

Example searches: `weather in Cancún`, `weather in Cozumel`, `weather in Tulum`, `weather in Acapulco`

------
IA Page:  http://duck.co/ia/view/forecast
[Maintainer](http://docs.duckduckhack.com/maintaining/

[2016-03-12 18:17] moollaza commented on #1802
@MrChrisW @sekhavati it looks like Google does handle those ambiguous abbreviations -- I'm not sure how they've decided but they use Indian Standard Time for IST and Ecuador for ECT.

My first query for ECT was actually corrected to CET though, and I had to specify I wanted results for ECT.

I think if we display the results for all 3 in those ambiguous cases it would be fine.

![5pm_ist_to_est_-_

[2016-03-12 19:44] elebow commented on #2574
Looks easy enough. @vikashvverma, were you going to make a PR? I can do it, otherwise.

[2016-03-12 19:47] vikashvverma commented on #2574
@elebow I want to try.

[2016-03-12 20:12] himanshu0113 commented on #2575
Thankyou @platschi for the information.

@moollaza I checked Forecast.io and the site itself is giving diffrent results for the mexican cities. Probably the the query sending the city name in the API call is also not working correctly. I am not very sure on how to proceed. Any help?

[2016-03-13 00:28] marianosimone commented on #1847
@jagtalon this query and all variants I tried worked without issues

- https://duckduckgo.com/?q=%24500+to+php
- https://duckduckgo.com/?q=500%24+to+php
- https://duckduckgo.com/?q=500+%24+to+php

maybe this ticket can be closed ;)

[2016-03-13 01:48] marianosimone commented on #1305
@jagtalon `strip_html` is NOT supposed to unescape html entities, so I think that what we are missing is a call to some kind of `unescape` (e.g. underscore's [unescape](http://underscorejs.org/#unescape))

I (think I) remember underscore being one of the available packages, but I couldn't find any reference to it.

[2016-03-13 08:45] skeuomorf commented on #2545
Fantastic, thanks for your work!

[2016-03-13 10:36] GuiltyDolphin commented on #1847
@marianosimone @jagtalon Yeah, I've tried this out and it seems to be working fine. Re-open if it is still an issue.

[2016-03-13 10:36] #1847 closed

[2016-03-13 14:07] MrChrisW commented on #1802
@moollaza Thanks for doing some research and clarifying the best way to proceed. I'll work on pushing up these improvements shortly.

Do you have any suggestions (design wise) for displaying 3 separate times?

[2016-03-13 18:40] altern8tif commented on #2567
@MrChrisW yup... Seeing as we already have the timezone information in `capitals.yml`, we should be able to plug it into moment-timezone to output the time based on the user query.

Not sure if there are any benefits from turning it into a Goodie vs a Spice?  Or maybe it's a case of "_if it ain't broke, don't fix it_"?

I think the more immediate benefit would be as per the discussion in #1802...

[2016-03-14 12:46] yegg opened #2577 "Zanran: Weird Characters (encoding?)"
On a search for 'US Corporate Tax Rates' (see attached), the first result has some strange characters that look like some kind of encoding error.

![us corproate tax rates](https://cloud.githubusercontent.com/assets/127263/13744851/10756dc0-e9c1-11e5-822c-5ce224f67946.png)

------
IA Page:  http://duck.co/ia/view/zanran
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @taw

[2016-03-14 12:47] yegg opened #2578 "Zanran: 'US Corporate Tax Rates' triggers on weak relevance"
The results for 'US Corporate Tax Rates' (see attached) seem worse than the links, and so arguably this shouldn't pass relevancy checks.

![us corproate tax rates](https://cloud.githubusercontent.com/assets/127263/13744888/47663db4-e9c1-11e5-8e0a-346d636351f6.png)

------
IA Page:  http://duck.co/ia/view/zanran
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @taw

[2016-03-14 13:06] yegg opened #2579 "Air Quality Index: Overtake About"
I think this may need internal help, but it seems like it makes sense for when you just type in 'air quality' it would overtake the About tab, and show you your local air quality (like weather does).

------
IA Page:  http://duck.co/ia/view/aqi
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @schluchc

[2016-03-14 13:07] yegg opened #2580 "Air Quality Index: City Names"
Is it possible to show answers for queries like 'air quality las vegas'? I know our internal location API can detect something like 'las vegas,' and I think returns a lat/long but unclear of a zip code, which I think you need in this case. If not, perhaps we can also send back the zip code.

---

IA Page:  http://duck.co/ia/view/aqi
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.

[2016-03-14 13:09] yegg opened #2581 "Advanced Calculator: integrate 3x"
It seems like we should also be triggering on things like:

integrate 3x
integral 3x
derivative 3x

etc.

---

IA Page:  http://duck.co/ia/view/symbolab
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @levaly

[2016-03-14 13:12] yegg opened #2582 "Astrobin Apod: Trigger on APOD"
It seems like users of the site also know it as APOD -- should it trigger on that as well (and overtake About)?

------
IA Page:  http://duck.co/ia/view/apod
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @killerfish

[2016-03-14 13:15] yegg opened #2583 "BrainyQuote: Feynman"
Why doesn't 'quote feynman' or 'feynman quotes' seem to return results?

---

IA Page:  http://duck.co/ia/view/brainy_quote
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @mintsoft

[2016-03-14 13:24] mintsoft commented on #2583
@moollaza @yegg I'm not sure why I'm the maintainer for this; I don't think I wrote it!

However it looks like an issue with the API:
http://www.brainyquote.com/api/ddg?q=feynman returns an error

[2016-03-14 13:27] mintsoft commented on #2583
Looking at the history, it looks like this seems to predate the git history; so I'm happy to be the maintainer for it if someone is needed.

[2016-03-14 13:30] mintsoft commented on #2583
[code]

[2016-03-14 13:32] mintsoft commented on #2583
I've emailed the guys who run the API and referenced this, I've cc'd @moollaza in too

[2016-03-14 15:20] moollaza commented on #2581
Currently we have the triggering of this IA limited to `solve`, `compute` and `calculate`. I think we should be fine with adding `integrate` as a trigger. @levaly we'll also need to update the regex in the `handle` accordingly!

[2016-03-14 15:28] moollaza commented on #2575
Part of the problem seems to be coming from the city we're sending the query -- right now this Instant Answer uses our internal "deep" triggering which leverages the organic links to determine a location for the API. In the case of `Cancun` we're sending `cancun mexico mx` -- the `mx` seems to alter the city and causes incorrect information.

Their API doesn't seem to have specific information for

[2016-03-14 17:58] fzzr- opened #2584 "Bitcoin Addresses, Blocks : missed focus"
![ddg btc issue mov opt](https://cloud.githubusercontent.com/assets/888526/13754244/522d37fa-ea27-11e5-8626-7779aea780ee.gif)

------
IA Page:  http://duck.co/ia/view/bitcoin
[Maintainer](http://docs.duckduckhack.com/maintaining/guidelines.html): @jmg

[2016-03-14 22:45] moollaza commented on #2579
@yegg it should work that way now? That's how it's implemented: https://github.com/duckduckgo/zeroclickinfo-spice/blob/master/lib/DDG/Spice/Aqi.pm#L27. This API is US only though so it only works with US Zip Codes

We should be able to force it to replace the `About` tab by adding `signal: "high"` to the top-level object

[2016-03-14 23:11] yegg commented on #2579
Yeah I saw that and it is cool. I meant it would be better if it showed automatically. Trying a high signal in that case seems like a good idea.

[2016-03-15 02:46] vikashvverma opened #2585 "AlternativeTo: wanna be Maintainer"
IA Page:  http://duck.co/ia/view/alternative_to

[2016-03-15 10:26] zachthompson commented on #2585
Thank you.

[2016-03-15 10:26] #2585 closed

[2016-03-15 16:26] moollaza commented on #2577
The broken text is coming straight from the API. @taw this looks like a bug on your end?
![https___duckduckgo_com_js_spice_zanran_us_corporate_tax_rates](https://cloud.githubusercontent.com/assets/873785/13785247/2da4b1b0-eaa9-11e5-8918-58255f05230f.png)

[2016-03-15 16:29] taw commented on #2577
Jon,

That's presumably just error in the data, aren't site names are coming from
some spreadsheet with manual overrides or something like that?
It's been a while, so I might be misremembering.

On 15 March 2016 at 16:26, Zaahir Moolla <notifications@github.com> wrote:

[2016-03-15 18:03] moollaza commented on #1802
I think we can use our list template to show the timezones + times for each:

**IST**
 Timezones
<table>
<tr><td>India Standard Time</td><td>4:00PM</td></tr>
<tr><td>Irish Standard Time</td><td>5:00PM</td></tr>
<tr><td>Israel Standard Time</td><td>6:00PM</td></tr>
</table>

[2016-03-15 18:03] moollaza commented on #1802
Something like that^

[2016-03-15 18:30] moollaza commented on #2473
@Dasrakel thanks for point those out! I didn't realize their API was actually providing results for those. In that case this is definitely a higher priority and needs to be addressed ASAP. Those are definitely irrelevant results.

[2016-03-15 18:35] moollaza commented on #2584
This looks really bad -- Updating priority to High.

@fzzr- can you give us some example queries please?

/cc @MrChrisW -- I know you worked on this IA recently

[2016-03-15 18:53] fzzr- commented on #2584
To demonstrate the issue I used the query from the [example](https://duck.co/ia/view/bitcoin):

For example follow the first link in that page ⇒ `https://duckduckgo.com/?q=1A1zP1eP5QGefi2DMPTfTL5SLmv7DivfNa&ia=currency`.

I get this issue sometimes. [screen shot 2016-03-15 at 21 50 36](https://cloud.githubusercontent.com/assets/888526/13790200/4ede279a-eaf8-11e5-9f22-c72d6ae7fc2d.png)

[2016-03-15 19:41] GuiltyDolphin commented on #2584
@fzzr- I'm not able to replicate this? It sometimes takes a second to appear, but it is definitely showing.

[2016-03-15 21:03] xaviervalarino commented on #2548
@moollaza I see what you are saying about Coderwall injecting links into the description. I think people are mainly using this field for social links because there coderwall only has inputs for Github and Twitter on in account config.

I created another handlebars helper that strips out the markdown:
[code]
And also added some a RegEx function to `normalize` that to pulls in any social links, alth